In [1]:
import pandas as pd

In [2]:
website_skill = pd.read_csv('../../static/csv/website_skill.csv')
website_skill.head()

   id                            skill
0   1                    data analysis
1   2             usability evaluation
2   3                     load testing
3   4             software integration
4   5  sql (structured query language)

In [4]:
nakuri_skill = pd.read_csv('../../static/csv/skills_df.csv')
nakuri_skill.head()

                    0
0    business analyst
1   business analysis
2                 sql
3          analytical
4  project management

In [6]:
# make website_skill to list
website_skill_list = website_skill['skill'].tolist()
# make nakuri_skill to list
nakuri_skill_list = nakuri_skill['0'].tolist()

In [12]:
# count the number of skills in website_skill_list
website_skill_count = len(website_skill_list)
# count the number of skills in nakuri_skill_list
nakuri_skill_count = len(nakuri_skill_list)

# display
print(website_skill_count)
print(nakuri_skill_count)

209
358

In [8]:
# get website_skill where it is not in nakuri_skill
website_skill_not_in_nakuri = [skill for skill in website_skill_list if skill not in nakuri_skill_list]
# get nakuri_skill where it is not in website_skill
nakuri_skill_not_in_website = [skill for skill in nakuri_skill_list if skill not in website_skill_list]

In [11]:
# count
print(len(website_skill_not_in_nakuri))
print(len(nakuri_skill_not_in_website))

166
315

In [13]:
# get same skills
same_skill = [skill for skill in website_skill_list if skill in nakuri_skill_list]
print(len(same_skill))

43