In [1]:
import pandas as pd
import numpy as np

In [16]:
acad_subject = pd.read_csv('../../static/csv/acad_subject.csv')
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"['problem-solving', 'programming', 'algorithms']"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"['programming', 'coding', 'software development']"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"['advanced programming', 'software development..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"['mathematics', 'data structures', 'computer s..."
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"['modeling', 'simulation', 'analysis']"

In [17]:
website_skill = pd.read_csv('../../static/csv/website_skill.csv')
website_skill.head()

   id                                  skill
0   1                   Software Integration
1   2                    Database Management
2   3  DRY (Don't Repeat Yourself) Principle
3   4                 Mobile App Development
4   5                   Usability Evaluation

In [19]:
import ast
# Convert the string representation of lists into actual lists
acad_subject['skill_list'] = acad_subject['skill_list'].apply(ast.literal_eval)
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]"

In [20]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skill_list in acad_subject['skill_list'] for skill in skill_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

['problem-solving', 'programming', 'algorithms', 'programming', 'coding', 'software development', 'advanced programming', 'software development', 'algorithms', 'mathematics', 'data structures', 'computer science', 'modeling', 'simulation', 'analysis', 'data structures', 'algorithms', 'optimization', 'advanced mathematics', 'computer science', 'data analysis', 'object-oriented design', 'software development', 'coding', 'digital circuits', 'logic design', 'electronics', 'algorithm design', 'problem-solving', 'complexity analysis', 'data management', 'information organization', 'databases', 'operating systems', 'system administration', 'computer architecture', 'technical communication', 'documentation', 'presentation skills', 'research methods', 'data analysis', 'research planning', 'software development', 'emerging technologies', 'application design', 'computer architecture', 'assembly language', 'hardware', 'formal languages', 'automata theory', 'language theory', 'programming languages', 'language design', 'syntax', 'user experience', 'interface design', 'usability', 'information security', 'cybersecurity', 'data protection', 'software engineering', 'project management', 'software development', 'web development', 'front-end', 'back-end', 'web design', 'research writing', 'thesis development', 'research methodology', 'artificial intelligence', 'machine learning', 'AI foundations', 'networking', 'data communication', 'network protocols', 'research writing', 'thesis development', 'research methodology', 'advanced software engineering', 'software development', 'project management', 'professional ethics', 'ethical decision-making', 'computing ethics', 'social issues', 'professional development', 'IT industry', 'structured programming', 'problem-solving', 'coding', 'network administration', 'network management', 'IT infrastructure', 'quantitative analysis', 'modeling', 'simulation', 'integrative programming', 'technology integration', 'coding', 'system integration', 'architecture design', 'engineering', 'multimedia technologies', 'design', 'multimedia content creation', 'database management', 'administration', 'SQL', 'management principles', 'organizational management', 'leadership', 'entrepreneurship', 'technology business', 'innovation', 'systems analysis', 'solution design', 'system architecture', 'application development', 'emerging technologies', 'software design', 'advanced information security', 'cybersecurity', 'data protection', 'system administration', 'IT support', 'maintenance', 'social issues', 'professional development', 'IT industry']

In [21]:
# get unique skills
unique_skills = list(set(all_skills))
print(unique_skills)
# count the number of unique skills
print(len(unique_skills))

['application design', 'hardware', 'algorithms', 'language design', 'IT industry', 'structured programming', 'thesis development', 'architecture design', 'entrepreneurship', 'IT infrastructure', 'application development', 'technology business', 'usability', 'user experience', 'artificial intelligence', 'SQL', 'analysis', 'programming languages', 'research methodology', 'design', 'AI foundations', 'web development', 'advanced information security', 'data management', 'mathematics', 'networking', 'network protocols', 'modeling', 'engineering', 'presentation skills', 'formal languages', 'cybersecurity', 'optimization', 'programming', 'IT support', 'coding', 'network administration', 'social issues', 'computer science', 'solution design', 'interface design', 'data protection', 'professional ethics', 'advanced software engineering', 'data structures', 'web design', 'documentation', 'system architecture', 'advanced mathematics', 'object-oriented design', 'assembly language', 'algorithm design', 'back-end', 'professional development', 'information organization', 'data communication', 'multimedia technologies', 'automata theory', 'integrative programming', 'software development', 'research methods', 'software design', 'management principles', 'project management', 'maintenance', 'innovation', 'administration', 'front-end', 'database management', 'machine learning', 'data analysis', 'ethical decision-making', 'syntax', 'technical communication', 'software engineering', 'complexity analysis', 'quantitative analysis', 'digital circuits', 'emerging technologies', 'multimedia content creation', 'language theory', 'advanced programming', 'computing ethics', 'problem-solving', 'operating systems', 'databases', 'organizational management', 'network management', 'electronics', 'logic design', 'leadership', 'computer architecture', 'information security', 'system integration', 'research writing', 'simulation', 'technology integration', 'systems analysis', 'system administration', 'research planning']
100

In [22]:
# on website_skill, contain the skill into a list
# get the skill value of all rows in the 'skill' column
all__existing_skills = website_skill['skill'].values
all__existing_skills

array(['Software Integration', 'Database Management',
       "DRY (Don't Repeat Yourself) Principle", 'Mobile App Development',
       'Usability Evaluation', 'Software Testing',
       'Product Documentation', 'Web Services', 'Design Principles',
       'Feature Prioritization', 'Authorization', 'User Testing',
       'Data Visualization', 'Consistency in Design', 'Wireframing',
       'Product Strategy', 'Customer Feedback', 'Data Preprocessing',
       'Version Control', 'Code Quality', 'Color Theory',
       'Access Control', 'Product Development',
       'Software Development Principles', 'Scrum', 'Product Management',
       'Product Roadmap', 'Color Schemes', 'Identity Verification',
       'MVP (Minimum Viable Product)', 'Android Development', 'Median',
       'Java Programming', 'Design Tools', 'Security Principles',
       'Unit Testing', 'User Experience Testing', 'Complementary Colors',
       'Data Analysis', 'Product Goals', 'Code Reusability', 'Statistics',
       'Load Testing', 'User-Centered Design', 'Authentication',
       'User Interface Design', 'Data Dashboards', 'Product Manager',
       'Defect Detection', 'Performance Testing',
       'SQL (Structured Query Language)', 'Usability Testing',
       'Regression Testing', 'Source Code Management',
       'API (Application Programming Interface)', 'Database Querying',
       'Agile Methodology', 'Quality Assurance', 'Iterative Development',
       'Data Cleaning', 'Prototyping', 'Product Launch', 'Tableau',
       'Testing Changes', 'UI/UX Design Software', 'Product Planning',
       'Collaborative Development', 'Data Analytics'], dtype=object)

In [24]:
# array to list
all__existing_skills = all__existing_skills.tolist()

In [25]:
# append unique skills to the list of existing skills
all__existing_skills.extend(unique_skills)

# count the number of unique skills
print(len(all__existing_skills))

168

In [31]:
# lower case all skills
all__existing_skills = [skill.lower() for skill in all__existing_skills]

# remove duplicates
all__existing_skills = list(set(all__existing_skills))

In [32]:
print(len(all__existing_skills))

166

In [33]:
# now it a dataframe
website_skill = pd.DataFrame(all__existing_skills, columns=['skill'])
# add a column 'skill_id' with values from 1 to the number of rows
website_skill['id'] = website_skill.index + 1
# reoder the columns
website_skill = website_skill[['id', 'skill']]
website_skill.head()

   id                    skill
0   1              it industry
1   2       application design
2   3                 hardware
3   4  user experience testing
4   5               algorithms

In [34]:
skill_mapping = website_skill.set_index('skill')['id'].to_dict()

In [35]:
skill_mapping

{'it industry': 1,
 'application design': 2,
 'hardware': 3,
 'user experience testing': 4,
 'algorithms': 5,
 'language design': 6,
 'product development': 7,
 'structured programming': 8,
 'usability evaluation': 9,
 'user testing': 10,
 'product planning': 11,
 'thesis development': 12,
 'architecture design': 13,
 'entrepreneurship': 14,
 'application development': 15,
 'code reusability': 16,
 'technology business': 17,
 'usability': 18,
 'user experience': 19,
 'artificial intelligence': 20,
 'design principles': 21,
 'analysis': 22,
 'programming languages': 23,
 'research methodology': 24,
 'design': 25,
 'color theory': 26,
 'web development': 27,
 'advanced information security': 28,
 'data management': 29,
 'mathematics': 30,
 'networking': 31,
 'network protocols': 32,
 'modeling': 33,
 'engineering': 34,
 'wireframing': 35,
 'presentation skills': 36,
 'formal languages': 37,
 'cybersecurity': 38,
 'collaborative development': 39,
 'data preprocessing': 40,
 'software development principles': 41,
 'optimization': 42,
 'user interface design': 43,
 'programming': 44,
 'coding': 45,
 'network administration': 46,
 'version control': 47,
 'design tools': 48,
 'sql (structured query language)': 49,
 'social issues': 50,
 "dry (don't repeat yourself) principle": 51,
 'android development': 52,
 'identity verification': 53,
 'computer science': 54,
 'solution design': 55,
 'product documentation': 56,
 'performance testing': 57,
 'interface design': 58,
 'it infrastructure': 59,
 'data protection': 60,
 'professional ethics': 61,
 'software integration': 62,
 'advanced software engineering': 63,
 'median': 64,
 'security principles': 65,
 'java programming': 66,
 'complementary colors': 67,
 'data structures': 68,
 'web design': 69,
 'documentation': 70,
 'system architecture': 71,
 'product goals': 72,
 'advanced mathematics': 73,
 'object-oriented design': 74,
 'assembly language': 75,
 'algorithm design': 76,
 'back-end': 77,
 'professional development': 78,
 'information organization': 79,
 'web services': 80,
 'software testing': 81,
 'data communication': 82,
 'multimedia technologies': 83,
 'automata theory': 84,
 'data dashboards': 85,
 'integrative programming': 86,
 'software development': 87,
 'research methods': 88,
 'regression testing': 89,
 'software design': 90,
 'access control': 91,
 'data analytics': 92,
 'management principles': 93,
 'project management': 94,
 'mobile app development': 95,
 'prototyping': 96,
 'load testing': 97,
 'ui/ux design software': 98,
 'user-centered design': 99,
 'ai foundations': 100,
 'maintenance': 101,
 'innovation': 102,
 'color schemes': 103,
 'agile methodology': 104,
 'product roadmap': 105,
 'research planning': 106,
 'administration': 107,
 'front-end': 108,
 'code quality': 109,
 'database management': 110,
 'unit testing': 111,
 'machine learning': 112,
 'data analysis': 113,
 'ethical decision-making': 114,
 'iterative development': 115,
 'authentication': 116,
 'syntax': 117,
 'technical communication': 118,
 'source code management': 119,
 'testing changes': 120,
 'customer feedback': 121,
 'software engineering': 122,
 'complexity analysis': 123,
 'sql': 124,
 'quantitative analysis': 125,
 'digital circuits': 126,
 'emerging technologies': 127,
 'product strategy': 128,
 'multimedia content creation': 129,
 'language theory': 130,
 'product launch': 131,
 'scrum': 132,
 'advanced programming': 133,
 'product manager': 134,
 'computing ethics': 135,
 'defect detection': 136,
 'problem-solving': 137,
 'operating systems': 138,
 'data visualization': 139,
 'databases': 140,
 'data cleaning': 141,
 'authorization': 142,
 'organizational management': 143,
 'statistics': 144,
 'network management': 145,
 'electronics': 146,
 'tableau': 147,
 'product management': 148,
 'quality assurance': 149,
 'logic design': 150,
 'usability testing': 151,
 'consistency in design': 152,
 'leadership': 153,
 'computer architecture': 154,
 'api (application programming interface)': 155,
 'information security': 156,
 'system integration': 157,
 'it support': 158,
 'research writing': 159,
 'simulation': 160,
 'technology integration': 161,
 'feature prioritization': 162,
 'systems analysis': 163,
 'system administration': 164,
 'mvp (minimum viable product)': 165,
 'database querying': 166}

In [37]:
# on acad_subject, "skill_list" column, make it all lower case
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [skill.lower() for skill in x])

In [38]:
# apply the skill mapping to acad_subject
acad_subject['skill_id'] = acad_subject['skill_list'].apply(lambda x: [skill_mapping[skill] for skill in x])
acad_subject.head()

,id,subject_name,description,skill_list,skill_id
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]","[137, 44, 5]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]","[44, 45, 87]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a...","[133, 87, 5]"
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]","[30, 68, 54]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]","[33, 160, 22]"

In [41]:
subject_skill = acad_subject.explode('skill_id')
# get only question_id and skills_list
subject_skill = subject_skill[['id', 'skill_id']]
subject_skill

    id skill_id
0    1      137
0    1       44
0    1        5
1    2       44
1    2       45
..  ..      ...
41  42      158
41  42      101
42  43       50
42  43       78
42  43        1

[130 rows x 2 columns]

In [42]:
subject_skill = subject_skill.rename(columns={'id': 'subject_id', 'skill_id': 'skill_id'})

# add id 
subject_skill['id'] = subject_skill.index + 1
# reoder the columns
subject_skill = subject_skill[['id', 'subject_id', 'skill_id']]
subject_skill.head()

   id  subject_id skill_id
0   1           1      137
0   1           1       44
0   1           1        5
1   2           2       44
1   2           2       45

In [43]:
# save to csv
subject_skill.to_csv('../../static/csv/acad_subject_skill.csv', index=False)

In [44]:
acad_subject.head()

,id,subject_name,description,skill_list,skill_id
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]","[137, 44, 5]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]","[44, 45, 87]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a...","[133, 87, 5]"
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]","[30, 68, 54]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]","[33, 160, 22]"

In [45]:
# get only the id, subject_name, and description columns
acad_subject = acad_subject[['id', 'subject_name', 'description']]

# save to csv
acad_subject.to_csv('../../static/csv/acad_subject.csv', index=False)

In [46]:
# save website_skill to csv
website_skill.to_csv('../../static/csv/website_skill.csv', index=False)