In [3]:
import pandas as pd
import numpy as np

In [4]:
acad_subject = pd.read_csv('../../static/csv/subject_.csv')
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"['problem-solving', 'programming', 'algorithms']"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"['programming', 'coding', 'software development']"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"['advanced programming', 'software development..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"['mathematics', 'data structures', 'computer s..."
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"['modeling', 'simulation', 'analysis']"

In [37]:
website_skill = pd.read_csv('../../static/csv/skill_1.csv')
website_skill.tail()

    id                                  skill
63  64                     regression testing
64  65                         authentication
65  66                           color theory
66  67  dry (don't repeat yourself) principle
67  68                            wireframing

In [6]:
import ast
# Convert the string representation of lists into actual lists
acad_subject['skill_list'] = acad_subject['skill_list'].apply(ast.literal_eval)
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]"

In [46]:
# on the column skill_list make it to lower case
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [y.lower() for y in x])
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]"

In [47]:
# save to csv
acad_subject.to_csv('../../static/csv/subject_.csv', index=False)

In [29]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skill_list in acad_subject['skill_list'] for skill in skill_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

['problem-solving', 'programming', 'algorithms', 'programming', 'coding', 'software development', 'advanced programming', 'software development', 'algorithms', 'mathematics', 'data structures', 'computer science', 'modeling', 'simulation', 'analysis', 'data structures', 'algorithms', 'optimization', 'advanced mathematics', 'computer science', 'data analysis', 'object-oriented design', 'software development', 'coding', 'digital circuits', 'logic design', 'electronics', 'algorithm design', 'problem-solving', 'complexity analysis', 'data management', 'information organization', 'databases', 'operating systems', 'system administration', 'computer architecture', 'technical communication', 'documentation', 'presentation skills', 'research methods', 'data analysis', 'research planning', 'software development', 'emerging technologies', 'application design', 'computer architecture', 'assembly language', 'hardware', 'formal languages', 'automata theory', 'language theory', 'programming languages', 'language design', 'syntax', 'user experience', 'interface design', 'usability', 'information security', 'cybersecurity', 'data protection', 'software engineering', 'project management', 'software development', 'web development', 'front-end', 'back-end', 'web design', 'research writing', 'thesis development', 'research methodology', 'artificial intelligence', 'machine learning', 'ai foundations', 'networking', 'data communication', 'network protocols', 'research writing', 'thesis development', 'research methodology', 'advanced software engineering', 'software development', 'project management', 'professional ethics', 'ethical decision-making', 'computing ethics', 'social issues', 'professional development', 'it industry', 'structured programming', 'problem-solving', 'coding', 'network administration', 'network management', 'it infrastructure', 'quantitative analysis', 'modeling', 'simulation', 'integrative programming', 'technology integration', 'coding', 'system integration', 'architecture design', 'engineering', 'multimedia technologies', 'design', 'multimedia content creation', 'database management', 'administration', 'sql', 'management principles', 'organizational management', 'leadership', 'entrepreneurship', 'technology business', 'innovation', 'systems analysis', 'solution design', 'system architecture', 'application development', 'emerging technologies', 'software design', 'advanced information security', 'cybersecurity', 'data protection', 'system administration', 'it support', 'maintenance', 'social issues', 'professional development', 'it industry']

In [31]:
# get unique skills
unique_skills = list(set(all_skills))
print(unique_skills)
# count the number of unique skills
print(len(unique_skills))

['advanced programming', 'algorithms', 'application design', 'network protocols', 'maintenance', 'design', 'engineering', 'electronics', 'language theory', 'leadership', 'technology integration', 'solution design', 'data structures', 'organizational management', 'it infrastructure', 'system integration', 'data analysis', 'system architecture', 'presentation skills', 'advanced software engineering', 'automata theory', 'syntax', 'ethical decision-making', 'operating systems', 'analysis', 'quantitative analysis', 'software design', 'web development', 'algorithm design', 'sql', 'structured programming', 'network administration', 'advanced information security', 'application development', 'research planning', 'formal languages', 'digital circuits', 'information security', 'coding', 'modeling', 'language design', 'advanced mathematics', 'networking', 'back-end', 'technical communication', 'emerging technologies', 'research methodology', 'machine learning', 'data protection', 'systems analysis', 'entrepreneurship', 'research writing', 'data communication', 'mathematics', 'management principles', 'computer architecture', 'architecture design', 'professional development', 'network management', 'multimedia content creation', 'data management', 'administration', 'cybersecurity', 'programming', 'software engineering', 'programming languages', 'web design', 'computing ethics', 'documentation', 'multimedia technologies', 'it support', 'computer science', 'social issues', 'complexity analysis', 'research methods', 'project management', 'logic design', 'usability', 'thesis development', 'artificial intelligence', 'optimization', 'innovation', 'ai foundations', 'object-oriented design', 'it industry', 'problem-solving', 'databases', 'software development', 'database management', 'professional ethics', 'interface design', 'user experience', 'technology business', 'front-end', 'hardware', 'system administration', 'assembly language', 'information organization', 'integrative programming', 'simulation']
100

the previous wrong not going to use anymore because it made the orders messed up

so instead i will be adding the new skills on the bottom, but also making sure that there are no duplicates

In [14]:
# on website_skill, contain the skill into a list
# get the skill value of all rows in the 'skill' column
all__existing_skills = website_skill['skill'].values

In [10]:
# array to list
all__existing_skills = all__existing_skills.tolist()

In [15]:
# # append unique skills to the list of existing skills
# all__existing_skills.extend(unique_skills)

# # count the number of unique skills
# print(len(all__existing_skills))

In [32]:
# remove skills from unique_skills if its on all__existing_skills
unique_skills = [skill for skill in unique_skills if skill not in all__existing_skills]

print(len(unique_skills))

98

In [38]:
# make the unique_skills into a dataframe
unique_skills = pd.DataFrame(unique_skills, columns=['skill'])
unique_skills.head()

                  skill
0  advanced programming
1            algorithms
2    application design
3     network protocols
4           maintenance

In [40]:
# from website_skill get last id
last_id = website_skill['id'].iloc[-1]
print(last_id)

68

In [41]:
# add column id to unique_skills
unique_skills['id'] = unique_skills.index + last_id + 1
unique_skills.head()

                  skill  id
0  advanced programming  69
1            algorithms  70
2    application design  71
3     network protocols  72
4           maintenance  73

In [42]:
# reoder the columns
unique_skills = unique_skills[['id', 'skill']]

In [44]:
# add the new skills to the website_skill
website_skill = pd.concat([website_skill, unique_skills], axis=0)
website_skill.tail()

     id                     skill
93  162     system administration
94  163         assembly language
95  164  information organization
96  165   integrative programming
97  166                simulation

In [45]:
# save to csv
website_skill.to_csv('../../static/csv/skill_2.csv', index=False)

In [24]:
skill_mapping = website_skill.set_index('skill')['id'].to_dict()

In [25]:
skill_mapping

{'data analysis': 1,
 'usability evaluation': 2,
 'load testing': 3,
 'software integration': 4,
 'sql (structured query language)': 5,
 'color schemes': 6,
 'authorization': 7,
 'data preprocessing': 8,
 'usability testing': 9,
 'tableau': 10,
 'database management': 11,
 'data analytics': 12,
 'mobile app development': 13,
 'scrum': 14,
 'security principles': 15,
 'code reusability': 16,
 'performance testing': 17,
 'product development': 18,
 'version control': 19,
 'defect detection': 20,
 'user interface design': 21,
 'data cleaning': 22,
 'database querying': 23,
 'api (application programming interface)': 24,
 'product strategy': 25,
 'product goals': 26,
 'collaborative development': 27,
 'source code management': 28,
 'product management': 29,
 'java programming': 30,
 'design principles': 31,
 'testing changes': 32,
 'unit testing': 33,
 'product planning': 34,
 'product manager': 35,
 'statistics': 36,
 'data dashboards': 37,
 'product roadmap': 38,
 'quality assurance': 39,
 'product launch': 40,
 'identity verification': 41,
 'agile methodology': 42,
 'android development': 43,
 'access control': 44,
 'feature prioritization': 45,
 'design tools': 46,
 'customer feedback': 47,
 'mvp (minimum viable product)': 48,
 'web services': 49,
 'prototyping': 50,
 'ui/ux design software': 51,
 'software development principles': 52,
 'user experience testing': 53,
 'complementary colors': 54,
 'data visualization': 55,
 'user-centered design': 56,
 'software testing': 57,
 'code quality': 58,
 'iterative development': 59,
 'user testing': 60,
 'median': 61,
 'consistency in design': 62,
 'product documentation': 63,
 'regression testing': 64,
 'authentication': 65,
 'color theory': 66,
 "dry (don't repeat yourself) principle": 67,
 'wireframing': 68,
 'advanced programming': 69,
 'algorithms': 70,
 'application design': 71,
 'network protocols': 72,
 'maintenance': 73,
 'design': 74,
 'engineering': 75,
 'electronics': 76,
 'language theory': 77,
 'leadership': 78,
 'technology integration': 79,
 'solution design': 80,
 'data structures': 81,
 'organizational management': 82,
 'system integration': 83,
 'system architecture': 84,
 'presentation skills': 85,
 'advanced software engineering': 86,
 'automata theory': 87,
 'syntax': 88,
 'ethical decision-making': 89,
 'operating systems': 90,
 'analysis': 91,
 'quantitative analysis': 92,
 'software design': 93,
 'web development': 94,
 'algorithm design': 95,
 'structured programming': 96,
 'network administration': 97,
 'advanced information security': 98,
 'application development': 99,
 'IT support': 100,
 'research planning': 101,
 'formal languages': 102,
 'digital circuits': 103,
 'information security': 104,
 'coding': 105,
 'modeling': 106,
 'language design': 107,
 'advanced mathematics': 108,
 'networking': 109,
 'AI foundations': 110,
 'back-end': 111,
 'technical communication': 112,
 'SQL': 113,
 'emerging technologies': 114,
 'research methodology': 115,
 'machine learning': 116,
 'data protection': 117,
 'systems analysis': 118,
 'entrepreneurship': 119,
 'IT infrastructure': 120,
 'research writing': 121,
 'data communication': 122,
 'mathematics': 123,
 'management principles': 124,
 'computer architecture': 125,
 'architecture design': 126,
 'professional development': 127,
 'network management': 128,
 'multimedia content creation': 129,
 'data management': 130,
 'administration': 131,
 'cybersecurity': 132,
 'programming': 133,
 'software engineering': 134,
 'programming languages': 135,
 'web design': 136,
 'computing ethics': 137,
 'documentation': 138,
 'multimedia technologies': 139,
 'computer science': 140,
 'social issues': 141,
 'complexity analysis': 142,
 'research methods': 143,
 'project management': 144,
 'logic design': 145,
 'usability': 146,
 'thesis development': 147,
 'artificial intelligence': 148,
 'optimization': 149,
 'IT industry': 150,
 'innovation': 151,
 'object-oriented design': 152,
 'problem-solving': 153,
 'databases': 154,
 'software development': 155,
 'professional ethics': 156,
 'interface design': 157,
 'user experience': 158,
 'technology business': 159,
 'front-end': 160,
 'hardware': 161,
 'system administration': 162,
 'assembly language': 163,
 'information organization': 164,
 'integrative programming': 165,
 'simulation': 166}

In [26]:
# on acad_subject, "skill_list" column, make it all lower case
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [skill.lower() for skill in x])

In [27]:
# apply the skill mapping to acad_subject
acad_subject['skill_id'] = acad_subject['skill_list'].apply(lambda x: [skill_mapping[skill] for skill in x])
acad_subject.head()

KeyError: 'ai foundations'

In [41]:
subject_skill = acad_subject.explode('skill_id')
# get only question_id and skills_list
subject_skill = subject_skill[['id', 'skill_id']]
subject_skill

    id skill_id
0    1      137
0    1       44
0    1        5
1    2       44
1    2       45
..  ..      ...
41  42      158
41  42      101
42  43       50
42  43       78
42  43        1

[130 rows x 2 columns]

In [42]:
subject_skill = subject_skill.rename(columns={'id': 'subject_id', 'skill_id': 'skill_id'})

# add id 
subject_skill['id'] = subject_skill.index + 1
# reoder the columns
subject_skill = subject_skill[['id', 'subject_id', 'skill_id']]
subject_skill.head()

   id  subject_id skill_id
0   1           1      137
0   1           1       44
0   1           1        5
1   2           2       44
1   2           2       45

In [43]:
# save to csv
subject_skill.to_csv('../../static/csv/acad_subject_skill.csv', index=False)

In [44]:
acad_subject.head()

,id,subject_name,description,skill_list,skill_id
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]","[137, 44, 5]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]","[44, 45, 87]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a...","[133, 87, 5]"
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]","[30, 68, 54]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]","[33, 160, 22]"

In [45]:
# get only the id, subject_name, and description columns
acad_subject = acad_subject[['id', 'subject_name', 'description']]

# save to csv
acad_subject.to_csv('../../static/csv/acad_subject.csv', index=False)

In [46]:
# save website_skill to csv
website_skill.to_csv('../../static/csv/website_skill.csv', index=False)

In [3]:
# load acad_subject_skills.csv
subject_skill = pd.read_csv('../../static/csv/acad_subject_skills.csv')
subject_skill.head()

   id  subject_id  skill_id
0   1           1       137
1   1           1        44
2   1           1         5
3   2           2        44
4   2           2        45

In [4]:
# delete column id
del subject_skill['id']
# create id column, starint from 1
subject_skill['id'] = subject_skill.index + 1
# reorder the columns
subject_skill = subject_skill[['id', 'subject_id', 'skill_id']]
subject_skill.head()

   id  subject_id  skill_id
0   1           1       137
1   2           1        44
2   3           1         5
3   4           2        44
4   5           2        45

In [6]:
# save csv
subject_skill.to_csv('../../static/csv/acad_subject_skills.csv', index=False)