In [1]:
import pandas as pd
import ast

In [2]:
# load_csv
# load csv
test = pd.read_csv('../../static/csv/test_4.csv')
specialization = pd.read_csv('../../static/csv/specialization5_.csv')
subject = pd.read_csv('../../static/csv/subject_field.csv')

In [8]:
# rename skills_list to skill_list
test = test.rename(columns={'skills_list': 'skill_list'})
test.sample(1)

,question_id,question,description,options,correct_option,field_id,skill_list
32,33,"What is a code review, and why is it important...",Describe the process and significance of code ...,"[""Systematic examination of code by peers"", ""I...",0,1,"[""Code Review"",""Software Development"",""Collabo..."

In [9]:
def clean_df(df):
    df = df.dropna()
    df = df.reset_index(drop=True)
    # apply ast.literal_eval to convert string to list
    df['skill_list'] = df['skill_list'].apply(ast.literal_eval)
    # lower case all skills
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.lower() for y in x])
    # remove - 
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.replace('-', ' ') for y in x])
    # remove skill
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.replace('skill', '') for y in x])
    # remove skills
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.replace('skills', '') for y in x])
    # strip
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.strip() for y in x])
    # remove empty ''
    df['skill_list'] = df['skill_list'].apply(lambda x: [y for y in x if y != ''])
    # remove blanks
    df['skill_list'] = df['skill_list'].apply(lambda x: [y for y in x if y != ' '])
    # remove nan
    df['skill_list'] = df['skill_list'].apply(lambda x: [y for y in x if y != 'nan'])

    return df

In [10]:
test = clean_df(test)
specialization = clean_df(specialization)
subject = clean_df(subject)

In [11]:
# create a dataframe with field_id 1-6, and skill_list of list
field_id = [1, 2, 3, 4, 5, 6]
field_skills = pd.DataFrame({'field_id': field_id,
                             'skill_list': [[] for _ in range(len(field_id))]})
field_skills

   field_id skill_list
0         1         []
1         2         []
2         3         []
3         4         []
4         5         []
5         6         []

In [17]:
# group by field_id
test_grouped = test.groupby('field_id')['skill_list'].agg(sum).reset_index()
print(test_grouped)
specialization_grouped = specialization.groupby('field_id')['skill_list'].agg(sum).reset_index()
specialization_grouped = specialization_grouped[specialization_grouped['field_id'] <= 6]
specialization_grouped = specialization_grouped[specialization_grouped['field_id'] >= 1]
print(specialization_grouped)
subject_grouped = subject.groupby('field_id')['skill_list'].agg(sum).reset_index()
print(subject_grouped)

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...
   field_id                                         skill_list
1         1  [html, css, javascript, web design, responsive...
2         2  [business intelligence tools, tableau, power b...
3         3  [user interface design, wireframing, prototypi...
4         4  [product management, roadmap planning, agile m...
5         5  [performance improvement, supply chain managem...
6         6  [cybersecurity principles, security tools, fir...
   field_id                                         skill_list
0         1  [problem solving, programming, algorithms, pro...
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [20]:
# combine all 3 dataframes to field_skills
field_skills['skill_list'] = test_grouped['skill_list'].apply(lambda x: x * 5) + specialization_grouped['skill_list'] + subject_grouped['skill_list'].apply(lambda x: x * 5)

In [22]:
field_1_skills = test_grouped[test_grouped['field_id'] == 1]['skill_list'].values[0] * 5 + specialization_grouped[specialization_grouped['field_id'] == 1]['skill_list'].values[0] + subject_grouped[subject_grouped['field_id'] == 1]['skill_list'].values[0] * 5
len(field_1_skills)

11888

In [25]:
field_skills

   field_id                                         skill_list
0         1                                                NaN
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [27]:
# assign field_1_skills to field_skills
field_skills['skill_list'][0] = field_1_skills
field_skills

C:\Users\aky\AppData\Local\Temp\ipykernel_4692\3148094681.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field_skills['skill_list'][0] = field_1_skills

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [28]:
field_skills_copy = field_skills.copy()
field_skills_copy

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [29]:
# save to csv
field_skills_copy.to_csv('../../static/csv/field_skills_10.csv', index=False)

In [30]:
# load csv
field_skills_10 = pd.read_csv('../../static/csv/field_skills_10.csv')
field_skills_10

   field_id                                         skill_list
0         1  ['version control', 'source code management', ...
1         2  ['data cleaning', 'data preprocessing', 'data ...
2         3  ['design principles', 'consistency in design',...
3         4  ['product roadmap', 'product planning', 'produ...
4         5  ['regression testing', 'software testing', 'te...
5         6  ['identity verification', 'authentication', 'a...

# Sparse Matrix

In [34]:
import ast
# apply ast.literal_eval to convert string to list
field_skills_10['skill_list'] = field_skills_10['skill_list'].apply(ast.literal_eval)
field_skills_10

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [35]:
# combine skill_list to one list
all_skills = []
for i in range(len(field_skills_10)):
    all_skills += field_skills_10['skill_list'][i]

# unique
all_skills = list(set(all_skills))
len(all_skills)

3711

In [37]:
# sample list
all_skills[:10]

['ethical data use',
 'defect tracking tool',
 'sanity testing',
 'quantitative analysis',
 'c++',
 'integration testing',
 'ip',
 'object   oriented programming',
 'sap mdm',
 'symfony']

In [47]:
# create a dataframe where columns are field_id and all_skills
field_skills_df = pd.DataFrame(columns=['field_id'] + all_skills)
field_skills_df

Empty DataFrame
Columns: [field_id, ethical data use, defect tracking tool, sanity testing, quantitative analysis, c++, integration testing, ip, object   oriented programming, sap mdm, symfony, doctor, sql programming, technical architect, test plan, account security, *big data, solr, team facilitation, dmx, mis, production support, creative, algorithmic trading, hedge fund, process management, languages, grid, process orientation, frd, microbiology, software installation, admin studio, cm, hbase, statistical modeling, internship, solution manager, content analysis, oracle form, cms, protocol stack, software licensing, angular, time series analysis, revenue assurance, unix, front end engineer/web developer, core java, data migration, log4j, watson implementation, user acceptance, visual basic.net, dme, pharmacy, sqa, continuous integration and delivery (ci/cd), excel, online marketing, media management, designer, project portfolio management, srs, gst, redhat linux, api testing, sap pre   sales, link building, maintaining, product marketing, exploratory testing, data research, test scripts, xamarin, collections, public sector, business continuity management, basis administration, application security testing, winrunner, om, quantitative, automation testing, ui design, peoplecode, arima, advanced analytics, web performance optimization, teaching, project governance, e commerce, market analysis, mvc developer, adobe experience manager, multithread, client relationship, device protection, codeigniter, my sql, ...]
Index: []

[0 rows x 3712 columns]

In [48]:
# Your existing code
for i in range(len(field_skills_10)):
    field_id = field_skills_10['field_id'][i]
    skill_list = field_skills_10['skill_list'][i]
    # create a dictionary with all_skills as keys and 0 as values
    skill_dict = dict.fromkeys(all_skills, 0)
    # update skill_dict with skill_list
    for skill in skill_list:
        skill_dict[skill] += 1
    # append skill_dict to field_skills_df
    temp_df = pd.DataFrame({'field_id': [field_id], **skill_dict})
    field_skills_df = pd.concat([field_skills_df, temp_df], ignore_index=True)

field_skills_df

,field_id,ethical data use,defect tracking tool,sanity testing,quantitative analysis,c++,integration testing,ip,object oriented programming,sap mdm,...,ivr,ms excel,resource planning,system analyst,git,international clients,smsc,quality engineering,sap ewm,database design
0,1,0,0,0,0,51,3,1,1,0,...,0,0,0,0,68,3,0,1,0,13
1,2,5,0,0,5,51,3,1,1,0,...,0,0,0,0,58,3,0,1,0,13
2,3,0,0,1,1,9,2,0,0,0,...,1,0,0,2,5,0,1,0,0,11
3,4,0,0,0,0,5,2,0,0,0,...,0,0,0,0,8,0,0,0,0,0
4,5,0,0,0,0,24,5,4,0,1,...,2,1,3,0,14,3,0,0,1,8
5,6,0,2,3,0,6,7,2,0,0,...,0,0,0,0,6,0,0,1,0,0

The choice of normalization or scaling method depends on the context and the specific requirements of your data analysis or machine learning task.

1. MinMaxScaler: This method scales the data to a fixed range, usually 0 to 1. It's a good choice when you need to maintain the relative distances between the data points, and it's less affected by outliers.

2. Dividing by the sum: This method can be useful when you want to convert counts into proportions or probabilities. However, it doesn't handle differences in scale between different features.

3. TF-IDF: This method is typically used in text analysis to weigh the importance of different words in a document. It's not usually used for general numeric data scaling.

4. StandardScaler (Z-score normalization): This method standardizes features by removing the mean and scaling to unit variance. It's a good choice when your data has a Gaussian (normal) distribution.

In an Ontology-Based Recommendation system, the data often includes categorical variables (like tags, categories, etc.) and sometimes numerical variables (like ratings, timestamps, etc.). The choice of normalization technique depends on the nature of these variables.

1. For categorical variables: One-hot encoding or Binary encoding can be useful. One-hot encoding creates a binary column for each category and is suitable when the categorical variable has a limited number of distinct values. Binary encoding, on the other hand, converts each integer to binary digits where each binary digit gets one column. It's suitable when the categorical variable has a large number of distinct values.
2. For numerical variables: MinMaxScaler or StandardScaler from sklearn.preprocessing can be used. MinMaxScaler scales the data to a fixed range (0 to 1), which is useful when you need to maintain the relative distances between data points. StandardScaler standardizes features by removing the mean and scaling to unit variance, which is useful when your data has a Gaussian (normal) distribution.
3. TF-IDF: If your system involves text data (like tags, descriptions, etc.), you might want to consider using TF-IDF (Term Frequency-Inverse Document Frequency). This technique can highlight the words that are more interesting, i.e., frequent in a document but not across documents.

Remember, the choice of normalization technique depends on your specific use case and the nature of your data.

Next steps:

Analyze the nature of your data.
Choose the appropriate normalization technique based on these considerations.
Implement the normalization technique in your recommendation system.

In [50]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.3.2-cp38-cp38-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\aky\appdata\local\programs\python\python38\datasci\lib\site-packages (from scikit-learn) (1.24.4)
Collecting scipy>=1.5.0 (from scikit-learn)
  Downloading scipy-1.10.1-cp38-cp38-win_amd64.whl (42.2 MB)
     ---------------------------------------- 0.0/42.2 MB ? eta -:--:--
     - -------------------------------------- 1.1/42.2 MB 16.7 MB/s eta 0:00:03
     -- ------------------------------------- 2.8/42.2 MB 25.0 MB/s eta 0:00:02
     --- ------------------------------------ 4.2/42.2 MB 24.3 MB/s eta 0:00:02
     --- ------------------------------------ 4.2/42.2 MB 24.3 MB/s eta 0:00:02
     ---- ----------------------------------- 4.2/42.2 MB 14.2 MB/s eta 0:00:03
     ----- ---------------------------------- 5.5/42.2 MB 16.0 MB/s eta 0:00:03
     ----- ---------------------------------- 6.3/42.2 MB 17.4 MB/s eta 0:00:03
     ----- ---------------------------------- 6.3/42.2 MB 17.4 MB/s eta 0:00:03
     ----- ---------------------------------- 6.3/42.2 MB 17.4 MB/s eta 0:00:03
     ------ --------------------------------- 6.9/42.2 MB 11.3 MB/s eta 0:00:04
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     -------- ------------------------------- 8.4/42.2 MB 5.8 MB/s eta 0:00:06
     -------- ------------------------------- 9.4/42.2 MB 6.3 MB/s eta 0:00:06
     -------- ------------------------------- 9.4/42.2 MB 6.3 MB/s eta 0:00:06
     -------- ------------------------------- 9.4/42.2 MB 6.3 MB/s eta 0:00:06
     -------- ------------------------------- 9.4/42.2 MB 6.3 MB/s eta 0:00:06
     --------- ------------------------------ 9.6/42.2 MB 5.6 MB/s eta 0:00:06
     ---------- ----------------------------- 11.2/42.2 MB 6.0 MB/s eta 0:00:06
     ----------- ---------------------------- 12.5/42.2 MB 5.8 MB/s eta 0:00:06
     ------------ --------------------------- 13.6/42.2 MB 6.0 MB/s eta 0:00:05
     ------------ --------------------------- 13.6/42.2 MB 6.0 MB/s eta 0:00:05
     ------------ --------------------------- 13.6/42.2 MB 6.0 MB/s eta 0:00:05
     ------------ --------------------------- 13.6/42.2 MB 6.0 MB/s eta 0:00:05
     -------------- ------------------------- 14.9/42.2 MB 5.8 MB/s eta 0:00:05
     --------------- ------------------------ 16.0/42.2 MB 5.7 MB/s eta 0:00:05
     ----------------- ---------------------- 18.1/42.2 MB 6.5 MB/s eta 0:00:04
     ----------------- --------------------- 18.8/42.2 MB 12.4 MB/s eta 0:00:02
     ------------------ --------------------- 19.2/42.2 MB 8.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 2.7 MB/s eta 0:00:09
     -------------------- ------------------- 21.6/42.2 MB 2.7 MB/s eta 0:00:08
     --------------------- ------------------ 22.7/42.2 MB 2.6 MB/s eta 0:00:08
     --------------------- ------------------ 23.1/42.2 MB 2.6 MB/s eta 0:00:08
     --------------------- ------------------ 23.1/42.2 MB 2.6 MB/s eta 0:00:08
     --------------------- ------------------ 23.1/42.2 MB 2.6 MB/s eta 0:00:08
     ---------------------- ----------------- 24.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 25.8/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------- -------------- 26.8/42.2 MB 1.9 MB/s eta 0:00:09
     -------------------------- ------------- 28.3/42.2 MB 1.9 MB/s eta 0:00:08
     --------------------------- ------------ 28.9/42.2 MB 1.9 MB/s eta 0:00:07
     ---------------------------- ----------- 30.3/42.2 MB 3.3 MB/s eta 0:00:04
     ---------------------------- ----------- 30.4/42.2 MB 3.1 MB/s eta 0:00:04
     ----------------------------- ---------- 31.4/42.2 MB 4.2 MB/s eta 0:00:03
     ------------------------------- -------- 33.0/42.2 MB 4.2 MB/s eta 0:00:03
     --------------------------------- ------ 34.8/42.2 MB 4.4 MB/s eta 0:00:02
     ---------------------------------- ----- 36.4/42.2 MB 4.3 MB/s eta 0:00:02
     ----------------------------------- --- 38.5/42.2 MB 11.3 MB/s eta 0:00:01
     ------------------------------------ -- 40.0/42.2 MB 11.9 MB/s eta 0:00:01
     --------------------------------------  41.6/42.2 MB 21.1 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------- 42.2/42.2 MB 10.1 MB/s eta 0:00:00
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.3.2-cp38-cp38-win_amd64.whl (9.3 MB)
   ---------------------------------------- 0.0/9.3 MB ? eta -:--:--
   --- ------------------------------------ 0.9/9.3 MB 19.0 MB/s eta 0:00:01
   ---- ----------------------------------- 1.0/9.3 MB 16.1 MB/s eta 0:00:01
   ---- ----------------------------------- 1.0/9.3 MB 16.1 MB/s eta 0:00:01
   ---------- ----------------------------- 2.5/9.3 MB 11.2 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.8 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.6 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.6 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.6 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.6 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.6 MB/s eta 0:00:01
   ------------------ --------------------- 4.2/9.3 MB 6.7 MB/s eta 0:00:01
   ------------------------ --------------- 5.6/9.3 MB 8.4 MB/s eta 0:00:01
   ----------------------------- ---------- 6.9/9.3 MB 9.9 MB/s eta 0:00:01
   ------------------------------------ --- 8.4/9.3 MB 10.9 MB/s eta 0:00:01
   ---------------------------------------  9.3/9.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------  9.3/9.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------  9.3/9.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------- 9.3/9.3 MB 10.2 MB/s eta 0:00:00
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   ---------------------------------------- 302.2/302.2 kB 9.4 MB/s eta 0:00:00
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 scipy-1.10.1 threadpoolctl-3.2.0

In [51]:
from sklearn.preprocessing import MinMaxScaler

# Assuming field_skills_df is your DataFrame and 'field_id' is not to be normalized
features_to_normalize = [column for column in field_skills_df.columns if column != 'field_id']

scaler = MinMaxScaler()
field_skills_df[features_to_normalize] = scaler.fit_transform(field_skills_df[features_to_normalize])
field_skills_df

,field_id,ethical data use,defect tracking tool,sanity testing,quantitative analysis,c++,integration testing,ip,object oriented programming,sap mdm,...,ivr,ms excel,resource planning,system analyst,git,international clients,smsc,quality engineering,sap ewm,database design
0,1,0.0,0.0,0.000000,0.0,1.000000,0.2,0.25,1.0,0.0,...,0.0,0.0,0.0,0.0,1.000000,1.0,0.0,1.0,0.0,1.000000
1,2,1.0,0.0,0.000000,1.0,1.000000,0.2,0.25,1.0,0.0,...,0.0,0.0,0.0,0.0,0.841270,1.0,0.0,1.0,0.0,1.000000
2,3,0.0,0.0,0.333333,0.2,0.086957,0.0,0.00,0.0,0.0,...,0.5,0.0,0.0,1.0,0.000000,0.0,1.0,0.0,0.0,0.846154
3,4,0.0,0.0,0.000000,0.0,0.000000,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.047619,0.0,0.0,0.0,0.0,0.000000
4,5,0.0,0.0,0.000000,0.0,0.413043,0.6,1.00,0.0,1.0,...,1.0,1.0,1.0,0.0,0.142857,1.0,0.0,0.0,1.0,0.615385
5,6,0.0,1.0,1.000000,0.0,0.021739,1.0,0.50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.015873,0.0,0.0,1.0,0.0,0.000000

In [52]:
# save to csv
field_skills_df.to_csv('../../static/csv/normalized_field_skills.csv', index=False)