In [2]:
import pandas as pd
import ast

In [37]:
# load_csv
# load csv
test = pd.read_csv('../../static/csv/test_5.csv')
specialization = pd.read_csv('../../static/csv/specialization5_1.csv')
subject = pd.read_csv('../../static/csv/subject_field.csv')

In [38]:
subject

,id,subject_name,description,field_id,skill1,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,1,"'problem solving', 'programming', 'algorithms'","['problem solving', 'programming', 'algorithms']"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,1,"'programming', 'coding', 'software development'","['programming', 'coding', 'software development']"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,1,"'advanced programming', 'software development'...","['advanced programming', 'software development..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,1,"'mathematics', 'data structures', 'computer sc...","['mathematics', 'data structures', 'computer s..."
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,1,"'modeling', 'simulation', 'analysis'","['modeling', 'simulation', 'analysis']"
5,6,Data Structures and Algorithms,Data Structures and Algorithms delve into orga...,1,"'data structures', 'algorithms', 'optimization'","['data structures', 'algorithms', 'optimization']"
6,7,Discrete Structures 2,Discrete Structures 2 continues the exploratio...,1,"'advanced mathematics', 'computer science', 'd...","['advanced mathematics', 'computer science', '..."
7,8,Object Oriented Programming,Object-Oriented Programming introduces student...,1,"'object oriented design', 'software developmen...","['object oriented design', 'software developme..."
8,9,Logic Design and Digital Computer Circuits,Logic Design and Digital Computer Circuits cov...,1,"'digital circuits', 'logic design', 'electronics'","['digital circuits', 'logic design', 'electron..."
9,10,Design and Analysis of Algorithms,Design and Analysis of Algorithms focuses on t...,1,"'algorithm design', 'problem solving', 'comple...","['algorithm design', 'problem solving', 'compl..."
10,11,Information Management,Information Management explores strategies for...,4,"'data management', 'information organization',...","['data management', 'information organization'..."
11,12,Operating Systems,Operating Systems covers the fundamental conce...,6,"'operating systems', 'system administration', ...","['operating systems', 'system administration',..."
12,13,Technical Documentation and Presentation Skill...,Technical Documentation and Presentation Skill...,4,"'technical communication', 'documentation', 'p...","['technical communication', 'documentation', '..."
13,14,Fundamentals of Research,Fundamentals of Research introduces students t...,4,"'research methods', 'data analysis', 'research...","['research methods', 'data analysis', 'researc..."
14,15,Application Development and Emerging Technologies,Application Development and Emerging Technolog...,4,"'software development', 'emerging technologies...","['software development', 'emerging technologie..."
15,16,Computer Organization and Assembly Language,Computer Organization and Assembly Language de...,1,"'computer architecture', 'assembly language', ...","['computer architecture', 'assembly language',..."
16,17,Automata and Language Theory,Automata and Language Theory explores formal l...,2,"'formal languages', 'automata theory', 'langua...","['formal languages', 'automata theory', 'langu..."
17,18,Principles of Programming Languages,Principles of Programming Languages introduces...,1,"'programming languages', 'language design', 's...","['programming languages', 'language design', '..."
18,19,Human Computer Interaction,Human-Computer Interaction focuses on user exp...,3,"'user experience', 'interface design', 'usabil...","['user experience', 'interface design', 'usabi..."
19,20,Information Assurance and Security,Information Assurance and Security covers stra...,5,"'information security', 'cybersecurity', 'data...","['information security', 'cybersecurity', 'dat..."
20,21,Software Engineering 1,Software Engineering 1 introduces the principl...,4,"'software engineering', 'project management', ...","['software engineering', 'project management',..."
21,22,Web Development,"Web Development focuses on web technologies, f...",3,"'web development', 'front end', 'back end', 'w...","['web development', 'front end', 'back end', '..."
22,23,CS Thesis Writing 1,CS Thesis Writing 1 is a course that guides st...,4,"'research writing', 'thesis development', 'res...","['research writing', 'thesis development', 're..."
23,24,Introduction to Artificial Intelligence,Introduction to Artificial Intelligence explor...,2,"'artificial intelligence', 'machine learning',...","['artificial intelligence', 'machine learning'..."
24,25,Data Communications and Networking,Data Communications and Networking covers netw...,6,"'networking', 'data communication', 'network p...","['networking', 'data communication', 'network ..."
25,26,CS Thesis Writing 2,CS Thesis Writing 2 continues to support stude...,4,"'research writing', 'thesis development', 'res...","['research writing', 'thesis development', 're..."
26,27,Software Engineering 2,Software Engineering 2 builds upon the princip...,1,"'advanced software engineering', 'software dev...","['advanced software engineering', 'software de..."
27,28,Professional Ethics for Computer Scientist,Professional Ethics for Computer Scientists ex...,4,"'professional ethics', 'ethical decision makin...","['professional ethics', 'ethical decision maki..."
28,29,IT Social and Professional Issues,IT Social and Professional Issues examines soc...,4,"'social issues', 'professional development', '...","['social issues', 'professional development', ..."
29,30,Programming 3 (Structured Programming),Programming 3 (Structured Programming) covers ...,1,"'structured programming', 'problem solving', '...","['structured programming', 'problem solving', ..."
30,31,Network Administration,Network Administration focuses on network mana...,6,"'network administration', 'network management'...","['network administration', 'network management..."
31,32,Quantitative Methods with Modeling and Simulation,Quantitative Methods with Modeling and Simulat...,2,"'quantitative analysis', 'modeling', 'simulation'","['quantitative analysis', 'modeling', 'simulat..."
32,33,Integrative Programming and Technology,Integrative Programming and Technology combine...,1,"'integrative programming', 'technology integra...","['integrative programming', 'technology integr..."
33,34,System Integration and Architecture 1,System Integration and Architecture 1 explores...,5,"'system integration', 'architecture design', '...","['system integration', 'architecture design', ..."
34,35,Multimedia,"Multimedia focuses on multimedia technologies,...",3,"'multimedia technologies', 'design', 'multimed...","['multimedia technologies', 'design', 'multime..."
35,36,Database Administration,Database Administration covers database manage...,6,"'database management', 'administration', 'sql'","['database management', 'administration', 'sql']"
36,37,Principles of Management and Organization,Principles of Management and Organization intr...,4,"'management principles', 'organizational manag...","['management principles', 'organizational mana..."
37,38,Technopreneurship,Technopreneurship explores entrepreneurship in...,4,"'entrepreneurship', 'technology business', 'in...","['entrepreneurship', 'technology business', 'i..."
38,39,Systems Analysis and Design,Systems Analysis and Design focuses on analyzi...,2,"'systems analysis', 'solution design', 'system...","['systems analysis', 'solution design', 'syste..."
39,40,Applications Development and Emerging Technolo...,Applications Development and Emerging Technolo...,1,"'application development', 'emerging technolog...","['application development', 'emerging technolo..."
40,41,Information Assurance and Security 2,Information Assurance and Security 2 builds up...,6,"'advanced information security', 'cybersecurit...","['advanced information security', 'cybersecuri..."
41,42,Systems Administration and Maintenance,Systems Administration and Maintenance covers ...,6,"'system administration', 'it support', 'mainte...","['system administration', 'it support', 'maint..."
42,43,Social and Professional Issues in IT,Social and Professional Issues in IT explores ...,4,"'social issues', 'professional development', '...","['social issues', 'professional development', ..."

In [39]:
# rename skills_list to skill_list
test = test.rename(columns={'skills_list': 'skill_list'})
test.sample(1)

,question_id,question,description,options,skill_list,correct_option,field_id
69,70,Explain the concept of A/B testing in product ...,Define A/B testing and describe its role in ev...,"[""A method of comparing two versions to determ...","[""A/B Testing"",""Product Development"",""User Exp...",0,4

In [40]:
def clean_df(df):
    df = df.dropna()
    df = df.reset_index(drop=True)
    # apply ast.literal_eval to convert string to list
    df['skill_list'] = df['skill_list'].apply(ast.literal_eval)
    # lower case all skills
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.lower() for y in x])
    # remove - 
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.replace('-', ' ') for y in x])
    # remove skill
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.replace('skill', '') for y in x])
    # remove skills
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.replace('skills', '') for y in x])
    # strip
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.strip() for y in x])
    # remove empty ''
    df['skill_list'] = df['skill_list'].apply(lambda x: [y for y in x if y != ''])
    # remove blanks
    df['skill_list'] = df['skill_list'].apply(lambda x: [y for y in x if y != ' '])
    # remove nan
    df['skill_list'] = df['skill_list'].apply(lambda x: [y for y in x if y != 'nan'])

    return df

In [41]:
test = clean_df(test)
specialization = clean_df(specialization)
subject = clean_df(subject)

In [42]:
# create a dataframe with field_id 1-6, and skill_list of list
field_id = [1, 2, 3, 4, 5, 6]
field_skills = pd.DataFrame({'field_id': field_id,
                             'skill_list': [[] for _ in range(len(field_id))]})
field_skills

   field_id skill_list
0         1         []
1         2         []
2         3         []
3         4         []
4         5         []
5         6         []

In [43]:
# group by field_id
test_grouped = test.groupby('field_id')['skill_list'].agg(sum).reset_index()
print(test_grouped)
specialization_grouped = specialization.groupby('field_id')['skill_list'].agg(sum).reset_index()
specialization_grouped = specialization_grouped[specialization_grouped['field_id'] <= 6]
specialization_grouped = specialization_grouped[specialization_grouped['field_id'] >= 1]
print(specialization_grouped)
subject_grouped = subject.groupby('field_id')['skill_list'].agg(sum).reset_index()
print(subject_grouped)

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product management, product manager, feature ...
4         5  [software testing, quality assurance, defect d...
5         6  [data security, encryption, data masking, mask...
   field_id                                         skill_list
1         1  [html, css, javascript, web design, responsive...
2         2  [business intelligence tools, tableau, power b...
3         3  [user interface design, wireframing, prototypi...
4         4  [product management, roadmap planning, agile m...
5         5  [performance improvement, supply chain managem...
6         6  [cybersecurity principles, security tools, fir...
   field_id                                         skill_list
0         1  [problem solving, programming, algorithms, pro...
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [44]:
# combine all 3 dataframes
field_skills['skill_list'] = test_grouped['skill_list'] + subject_grouped['skill_list']
field_skills

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product management, product manager, feature ...
4         5  [software testing, quality assurance, defect d...
5         6  [data security, encryption, data masking, mask...

In [45]:
# save to csv
field_skills.to_csv('../../static/csv/field_skills_mini.csv', index=False)

In [43]:
# combine all 3 dataframes to field_skills
field_skills['skill_list'] = test_grouped['skill_list'].apply(lambda x: x * 5) + specialization_grouped['skill_list'] + subject_grouped['skill_list'].apply(lambda x: x * 5)

In [44]:
field_1_skills = test_grouped[test_grouped['field_id'] == 1]['skill_list'].values[0] * 5 + specialization_grouped[specialization_grouped['field_id'] == 1]['skill_list'].values[0] + subject_grouped[subject_grouped['field_id'] == 1]['skill_list'].values[0] * 5
len(field_1_skills)

11895

In [45]:
field_skills

   field_id                                         skill_list
0         1                                                NaN
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [46]:
# assign field_1_skills to field_skills
field_skills['skill_list'][0] = field_1_skills
field_skills

C:\Users\aky\AppData\Local\Temp\ipykernel_17984\3148094681.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field_skills['skill_list'][0] = field_1_skills

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [47]:
field_skills_copy = field_skills.copy()
field_skills_copy

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [29]:
# save to csv
field_skills_copy.to_csv('../../static/csv/field_skills_10.csv', index=False)

In [1]:
# load csv
import pandas as pd
field_skills_10 = pd.read_csv('../../static/csv/field_skills_10.csv')
field_skills_10

   field_id                                         skill_list
0         1  ['version control', 'source code management', ...
1         2  ['data cleaning', 'data preprocessing', 'data ...
2         3  ['design principles', 'consistency in design',...
3         4  ['product roadmap', 'product planning', 'produ...
4         5  ['regression testing', 'software testing', 'te...
5         6  ['identity verification', 'authentication', 'a...

# Sparse Matrix

In [2]:
import ast
# apply ast.literal_eval to convert string to list
field_skills_10['skill_list'] = field_skills_10['skill_list'].apply(ast.literal_eval)
field_skills_10

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [3]:
# combine skill_list to one list
all_skills = []
for i in range(len(field_skills_10)):
    all_skills += field_skills_10['skill_list'][i]

# unique
all_skills = list(set(all_skills))
len(all_skills)

3711

In [4]:
# sample list
all_skills[:10]

['powertrain',
 'sales enablement',
 'project engineering',
 'accounts payables',
 'ui/ux design software',
 'scaling',
 'selenium testing',
 'management trainee',
 'gwt',
 'color schemes']

In [5]:
# create a dataframe where columns are field_id and all_skills
field_skills_df = pd.DataFrame(columns=['field_id'] + all_skills)
field_skills_df

Empty DataFrame
Columns: [field_id, powertrain, sales enablement, project engineering, accounts payables, ui/ux design software, scaling, selenium testing, management trainee, gwt, color schemes, peoplesoft finance, liaising, warehouse management, software installation, integrations, macros, security management, it service delivery, php, english, sports, sp3d, it applications development, eclipse, oaf, coding, ble, confluence, bloomberg, social marketing, business solutions, ms project, econometrics, french, defect tracking tool, social networking, groovy, ofbiz, project accounting, holiday packages, environment management, security analyst, project scheduling, user experience optimization, edifact, technical lead, php mysql ajax, sales automation, games, social media, financial analyst, j query, mysql database administration, liaison, it services, sqlite, customer handling, statistical methods, feature prioritization, performance monitoring, product service, web performance optimization, freelancer, tam, modeling, fscm, data analysis, node js, eai, rfx, market analysis, production support, marketing support, data mining, symphony, hypervisors, architect, project evaluation, insurance, adc, linear algebra and calculus, hp fortify, stakeholder management, abinitio, database development, communication management, continuous improvement, cli, testing fresher, analog, assets, health care services, budgets, fresher, saml, field testing, retail, scalability, estimation, ...]
Index: []

[0 rows x 3712 columns]

In [6]:
# Your existing code
for i in range(len(field_skills_10)):
    field_id = field_skills_10['field_id'][i]
    skill_list = field_skills_10['skill_list'][i]
    # create a dictionary with all_skills as keys and 0 as values
    skill_dict = dict.fromkeys(all_skills, 0)
    # update skill_dict with skill_list
    for skill in skill_list:
        skill_dict[skill] += 1
    # append skill_dict to field_skills_df
    temp_df = pd.DataFrame({'field_id': [field_id], **skill_dict})
    field_skills_df = pd.concat([field_skills_df, temp_df], ignore_index=True)

field_skills_df

,field_id,powertrain,sales enablement,project engineering,accounts payables,ui/ux design software,scaling,selenium testing,management trainee,gwt,...,principal director,m,risk,network executive,client coordinator,nhibernate,preventive maintenance,configurator,technical architect,sales
0,1,1,0,0,0,0,5,0,0,1,...,0,1,0,0,0,2,0,0,1,1
1,2,1,0,0,0,0,5,0,0,1,...,0,1,0,0,0,2,0,0,1,1
2,3,0,0,0,0,5,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,1,1,1,0,0,0,0,2,...,1,0,1,1,0,0,1,1,5,9
5,6,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0

The choice of normalization or scaling method depends on the context and the specific requirements of your data analysis or machine learning task.

1. MinMaxScaler: This method scales the data to a fixed range, usually 0 to 1. It's a good choice when you need to maintain the relative distances between the data points, and it's less affected by outliers.

2. Dividing by the sum: This method can be useful when you want to convert counts into proportions or probabilities. However, it doesn't handle differences in scale between different features.

3. TF-IDF: This method is typically used in text analysis to weigh the importance of different words in a document. It's not usually used for general numeric data scaling.

4. StandardScaler (Z-score normalization): This method standardizes features by removing the mean and scaling to unit variance. It's a good choice when your data has a Gaussian (normal) distribution.

In an Ontology-Based Recommendation system, the data often includes categorical variables (like tags, categories, etc.) and sometimes numerical variables (like ratings, timestamps, etc.). The choice of normalization technique depends on the nature of these variables.

1. For categorical variables: One-hot encoding or Binary encoding can be useful. One-hot encoding creates a binary column for each category and is suitable when the categorical variable has a limited number of distinct values. Binary encoding, on the other hand, converts each integer to binary digits where each binary digit gets one column. It's suitable when the categorical variable has a large number of distinct values.
2. For numerical variables: MinMaxScaler or StandardScaler from sklearn.preprocessing can be used. MinMaxScaler scales the data to a fixed range (0 to 1), which is useful when you need to maintain the relative distances between data points. StandardScaler standardizes features by removing the mean and scaling to unit variance, which is useful when your data has a Gaussian (normal) distribution.
3. TF-IDF: If your system involves text data (like tags, descriptions, etc.), you might want to consider using TF-IDF (Term Frequency-Inverse Document Frequency). This technique can highlight the words that are more interesting, i.e., frequent in a document but not across documents.

Remember, the choice of normalization technique depends on your specific use case and the nature of your data.

Next steps:

Analyze the nature of your data.
Choose the appropriate normalization technique based on these considerations.
Implement the normalization technique in your recommendation system.

In [50]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.3.2-cp38-cp38-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\aky\appdata\local\programs\python\python38\datasci\lib\site-packages (from scikit-learn) (1.24.4)
Collecting scipy>=1.5.0 (from scikit-learn)
  Downloading scipy-1.10.1-cp38-cp38-win_amd64.whl (42.2 MB)
     ---------------------------------------- 0.0/42.2 MB ? eta -:--:--
     - -------------------------------------- 1.1/42.2 MB 16.7 MB/s eta 0:00:03
     -- ------------------------------------- 2.8/42.2 MB 25.0 MB/s eta 0:00:02
     --- ------------------------------------ 4.2/42.2 MB 24.3 MB/s eta 0:00:02
     --- ------------------------------------ 4.2/42.2 MB 24.3 MB/s eta 0:00:02
     ---- ----------------------------------- 4.2/42.2 MB 14.2 MB/s eta 0:00:03
     ----- ---------------------------------- 5.5/42.2 MB 16.0 MB/s eta 0:00:03
     ----- ---------------------------------- 6.3/42.2 MB 17.4 MB/s eta 0:00:03
     ----- ---------------------------------- 6.3/42.2 MB 17.4 MB/s eta 0:00:03
     ----- ---------------------------------- 6.3/42.2 MB 17.4 MB/s eta 0:00:03
     ------ --------------------------------- 6.9/42.2 MB 11.3 MB/s eta 0:00:04
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     ------- -------------------------------- 8.4/42.2 MB 12.5 MB/s eta 0:00:03
     -------- ------------------------------- 8.4/42.2 MB 5.8 MB/s eta 0:00:06
     -------- ------------------------------- 9.4/42.2 MB 6.3 MB/s eta 0:00:06
     -------- ------------------------------- 9.4/42.2 MB 6.3 MB/s eta 0:00:06
     -------- ------------------------------- 9.4/42.2 MB 6.3 MB/s eta 0:00:06
     -------- ------------------------------- 9.4/42.2 MB 6.3 MB/s eta 0:00:06
     --------- ------------------------------ 9.6/42.2 MB 5.6 MB/s eta 0:00:06
     ---------- ----------------------------- 11.2/42.2 MB 6.0 MB/s eta 0:00:06
     ----------- ---------------------------- 12.5/42.2 MB 5.8 MB/s eta 0:00:06
     ------------ --------------------------- 13.6/42.2 MB 6.0 MB/s eta 0:00:05
     ------------ --------------------------- 13.6/42.2 MB 6.0 MB/s eta 0:00:05
     ------------ --------------------------- 13.6/42.2 MB 6.0 MB/s eta 0:00:05
     ------------ --------------------------- 13.6/42.2 MB 6.0 MB/s eta 0:00:05
     -------------- ------------------------- 14.9/42.2 MB 5.8 MB/s eta 0:00:05
     --------------- ------------------------ 16.0/42.2 MB 5.7 MB/s eta 0:00:05
     ----------------- ---------------------- 18.1/42.2 MB 6.5 MB/s eta 0:00:04
     ----------------- --------------------- 18.8/42.2 MB 12.4 MB/s eta 0:00:02
     ------------------ --------------------- 19.2/42.2 MB 8.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------ --------------------- 19.9/42.2 MB 9.5 MB/s eta 0:00:03
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 3.5 MB/s eta 0:00:07
     ------------------- -------------------- 21.0/42.2 MB 2.7 MB/s eta 0:00:09
     -------------------- ------------------- 21.6/42.2 MB 2.7 MB/s eta 0:00:08
     --------------------- ------------------ 22.7/42.2 MB 2.6 MB/s eta 0:00:08
     --------------------- ------------------ 23.1/42.2 MB 2.6 MB/s eta 0:00:08
     --------------------- ------------------ 23.1/42.2 MB 2.6 MB/s eta 0:00:08
     --------------------- ------------------ 23.1/42.2 MB 2.6 MB/s eta 0:00:08
     ---------------------- ----------------- 24.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 25.8/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------ --------------- 26.2/42.2 MB 2.6 MB/s eta 0:00:07
     ------------------------- -------------- 26.8/42.2 MB 1.9 MB/s eta 0:00:09
     -------------------------- ------------- 28.3/42.2 MB 1.9 MB/s eta 0:00:08
     --------------------------- ------------ 28.9/42.2 MB 1.9 MB/s eta 0:00:07
     ---------------------------- ----------- 30.3/42.2 MB 3.3 MB/s eta 0:00:04
     ---------------------------- ----------- 30.4/42.2 MB 3.1 MB/s eta 0:00:04
     ----------------------------- ---------- 31.4/42.2 MB 4.2 MB/s eta 0:00:03
     ------------------------------- -------- 33.0/42.2 MB 4.2 MB/s eta 0:00:03
     --------------------------------- ------ 34.8/42.2 MB 4.4 MB/s eta 0:00:02
     ---------------------------------- ----- 36.4/42.2 MB 4.3 MB/s eta 0:00:02
     ----------------------------------- --- 38.5/42.2 MB 11.3 MB/s eta 0:00:01
     ------------------------------------ -- 40.0/42.2 MB 11.9 MB/s eta 0:00:01
     --------------------------------------  41.6/42.2 MB 21.1 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------  42.2/42.2 MB 20.5 MB/s eta 0:00:01
     --------------------------------------- 42.2/42.2 MB 10.1 MB/s eta 0:00:00
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.3.2-cp38-cp38-win_amd64.whl (9.3 MB)
   ---------------------------------------- 0.0/9.3 MB ? eta -:--:--
   --- ------------------------------------ 0.9/9.3 MB 19.0 MB/s eta 0:00:01
   ---- ----------------------------------- 1.0/9.3 MB 16.1 MB/s eta 0:00:01
   ---- ----------------------------------- 1.0/9.3 MB 16.1 MB/s eta 0:00:01
   ---------- ----------------------------- 2.5/9.3 MB 11.2 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.8 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.6 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.6 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.6 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.6 MB/s eta 0:00:01
   ------------- -------------------------- 3.1/9.3 MB 10.6 MB/s eta 0:00:01
   ------------------ --------------------- 4.2/9.3 MB 6.7 MB/s eta 0:00:01
   ------------------------ --------------- 5.6/9.3 MB 8.4 MB/s eta 0:00:01
   ----------------------------- ---------- 6.9/9.3 MB 9.9 MB/s eta 0:00:01
   ------------------------------------ --- 8.4/9.3 MB 10.9 MB/s eta 0:00:01
   ---------------------------------------  9.3/9.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------  9.3/9.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------  9.3/9.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------- 9.3/9.3 MB 10.2 MB/s eta 0:00:00
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   ---------------------------------------- 302.2/302.2 kB 9.4 MB/s eta 0:00:00
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 scipy-1.10.1 threadpoolctl-3.2.0

In [51]:
from sklearn.preprocessing import MinMaxScaler

# Assuming field_skills_df is your DataFrame and 'field_id' is not to be normalized
features_to_normalize = [column for column in field_skills_df.columns if column != 'field_id']

scaler = MinMaxScaler()
minmax_field_df = field_skills_df.copy()
minmax_field_df[features_to_normalize] = scaler.fit_transform(minmax_field_df[features_to_normalize])
minmax_field_df

,field_id,ethical data use,defect tracking tool,sanity testing,quantitative analysis,c++,integration testing,ip,object oriented programming,sap mdm,...,ivr,ms excel,resource planning,system analyst,git,international clients,smsc,quality engineering,sap ewm,database design
0,1,0.0,0.0,0.000000,0.0,1.000000,0.2,0.25,1.0,0.0,...,0.0,0.0,0.0,0.0,1.000000,1.0,0.0,1.0,0.0,1.000000
1,2,1.0,0.0,0.000000,1.0,1.000000,0.2,0.25,1.0,0.0,...,0.0,0.0,0.0,0.0,0.841270,1.0,0.0,1.0,0.0,1.000000
2,3,0.0,0.0,0.333333,0.2,0.086957,0.0,0.00,0.0,0.0,...,0.5,0.0,0.0,1.0,0.000000,0.0,1.0,0.0,0.0,0.846154
3,4,0.0,0.0,0.000000,0.0,0.000000,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.047619,0.0,0.0,0.0,0.0,0.000000
4,5,0.0,0.0,0.000000,0.0,0.413043,0.6,1.00,0.0,1.0,...,1.0,1.0,1.0,0.0,0.142857,1.0,0.0,0.0,1.0,0.615385
5,6,0.0,1.0,1.000000,0.0,0.021739,1.0,0.50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.015873,0.0,0.0,1.0,0.0,0.000000

In [41]:
# save to csv
field_skills_df.to_csv('../../static/csv/normalized_field_skills.csv', index=False)

NameError: name 'field_skills_df' is not defined

In [7]:
normalized_field_df = field_skills_df.copy()

In [14]:
field_skills_df

,field_id,powertrain,sales enablement,project engineering,accounts payables,ui/ux design software,scaling,selenium testing,management trainee,gwt,...,principal director,m,risk,network executive,client coordinator,nhibernate,preventive maintenance,configurator,technical architect,sales
0,1,1,0,0,0,0,5,0,0,1,...,0,1,0,0,0,2,0,0,1,1
1,2,1,0,0,0,0,5,0,0,1,...,0,1,0,0,0,2,0,0,1,1
2,3,0,0,0,0,5,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,1,1,1,0,0,0,0,2,...,1,0,1,1,0,0,1,1,5,9
5,6,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# make skill_list column into one list 
all_skills = []
for i in range(len(normalized_field_df)):
    all_skills += normalized_field_df.iloc[i, 1:].sort_values(ascending=False).index[:10].tolist()

In [11]:
# sample random string from list
import random
random.sample(all_skills, 10)

['selenium',
 'pmp',
 'wordpress',
 'jquery',
 'ui',
 'html',
 'data analysis',
 'testing',
 'css3',
 'html']

In [6]:
# using TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# load csv
field_skills = pd.read_csv('../../static/csv/field_skills.csv')

In [70]:
field_skills

,field,Skills
0,Business and Strategy,"product marketing,analytical,google analytics,..."
1,Data and Analytics,"weblogic,oracle rac,installation,mysql,trouble..."
2,Design and UX/UI,"software development,application,ajax,technica..."
3,Emerging and Specialized,"unix operating system,netbackup,windows os,ver..."
4,Networking and Infrastructure,"c#,ms sql,data integration,power bi,visual bas..."
5,Product Management,"cisco call manager,offshore,java,communication..."
6,Project Management,"wan,capacity management,computer science,exter..."
7,Security,"assurance,computer science,information securit..."
8,Software Development,"google analytics,case studies,social media,tra..."
9,Testing and Quality Assurance,"test cases,manual testing,web testing,web tech..."

In [71]:
field_list_to_use = ['Software Development', 'Data and Analytics', 'Design and UX/UI', 'Product Management', 'Security', 'Testing and Quality Assurance']

# filter field with field_list_to_use
field_skills = field_skills[field_skills['field'].isin(field_list_to_use)]
field_skills

,field,Skills
1,Data and Analytics,"weblogic,oracle rac,installation,mysql,trouble..."
2,Design and UX/UI,"software development,application,ajax,technica..."
5,Product Management,"cisco call manager,offshore,java,communication..."
7,Security,"assurance,computer science,information securit..."
8,Software Development,"google analytics,case studies,social media,tra..."
9,Testing and Quality Assurance,"test cases,manual testing,web testing,web tech..."

In [72]:
field_dict = {
    'Software Development': 1,
    'Data and Analytics': 2,
    'Design and UX/UI': 3,
    'Product Management': 4,
    'Testing and Quality Assurance': 5,
    'Security': 6
}

In [73]:
# map field to field_id
field_skills['field_id'] = field_skills['field'].map(field_dict)
field_skills

C:\Users\aky\AppData\Local\Temp\ipykernel_1904\3530060164.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field_skills['field_id'] = field_skills['field'].map(field_dict)

,field,Skills,field_id
1,Data and Analytics,"weblogic,oracle rac,installation,mysql,trouble...",2
2,Design and UX/UI,"software development,application,ajax,technica...",3
5,Product Management,"cisco call manager,offshore,java,communication...",4
7,Security,"assurance,computer science,information securit...",6
8,Software Development,"google analytics,case studies,social media,tra...",1
9,Testing and Quality Assurance,"test cases,manual testing,web testing,web tech...",5

In [2]:
# load csv
import pandas as pd
#field_skills_2 = pd.read_csv('../../static/csv/field_skills_10.csv')
field_skills_2 = pd.read_csv('../../static/csv/z_group_all3.csv')
# this have shorter skills but more precise
field_skills_2

   field_id                                         skill_list
0         1  ['problem solving', 'programming', 'algorithms...
1         2  ['formal languages', 'automata theory', 'langu...
2         3  ['user experience', 'interface design', 'usabi...
3         4  ['data management', 'information organization'...
4         5  ['information security', 'cybersecurity', 'dat...
5         6  ['operating systems', 'system administration',...

In [3]:
# apply ast
import ast
field_skills_2['Skills'] = field_skills_2['skill_list'].apply(ast.literal_eval)

In [4]:
field_skills_2

,field_id,skill_list,Skills
0,1,"['problem solving', 'programming', 'algorithms...","[problem solving, programming, algorithms, pro..."
1,2,"['formal languages', 'automata theory', 'langu...","[formal languages, automata theory, language t..."
2,3,"['user experience', 'interface design', 'usabi...","[user experience, interface design, usability,..."
3,4,"['data management', 'information organization'...","[data management, information organization, da..."
4,5,"['information security', 'cybersecurity', 'dat...","[information security, cybersecurity, data pro..."
5,6,"['operating systems', 'system administration',...","[operating systems, system administration, com..."

In [5]:
field_skills

NameError: name 'field_skills' is not defined

In [78]:
# reset index
field_skills = field_skills.reset_index(drop=True)

In [79]:
field_skills1 = field_skills.copy()

In [81]:
field_skills['Skills'] = field_skills1['Skills']

In [82]:
field_skills

,field,Skills,field_id
0,Data and Analytics,"weblogic,oracle rac,installation,mysql,trouble...",2
1,Design and UX/UI,"software development,application,ajax,technica...",3
2,Product Management,"cisco call manager,offshore,java,communication...",4
3,Security,"assurance,computer science,information securit...",6
4,Software Development,"google analytics,case studies,social media,tra...",1
5,Testing and Quality Assurance,"test cases,manual testing,web testing,web tech...",5

In [83]:
# separate Skills by comma so it can be come a list
field_skills['Skills'] = field_skills['Skills'].apply(lambda x: x.split(','))
field_skills

,field,Skills,field_id
0,Data and Analytics,"[weblogic, oracle rac, installation, mysql, tr...",2
1,Design and UX/UI,"[software development, application, ajax, tech...",3
2,Product Management,"[cisco call manager, offshore, java, communica...",4
3,Security,"[assurance, computer science, information secu...",6
4,Software Development,"[google analytics, case studies, social media,...",1
5,Testing and Quality Assurance,"[test cases, manual testing, web testing, web ...",5

In [84]:
field_skills_3 = field_skills[['field_id', 'Skills']]

In [52]:
# multiply field_skills_2 with 5
field_skills_2['Skills'] = field_skills_2['Skills'].apply(lambda x: x * 5)

In [85]:
field_skills_2

,field_id,skill_list,Skills
0,1,"['version control', 'source code management', ...","[version control, source code management, coll..."
1,2,"['data cleaning', 'data preprocessing', 'data ...","[data cleaning, data preprocessing, data analy..."
2,3,"['design principles', 'consistency in design',...","[design principles, consistency in design, use..."
3,4,"['product roadmap', 'product planning', 'produ...","[product roadmap, product planning, product st..."
4,5,"['regression testing', 'software testing', 'te...","[regression testing, software testing, testing..."
5,6,"['identity verification', 'authentication', 'a...","[identity verification, authentication, access..."

In [86]:
# combine field_skills column Skills and field_skills_2 column Skills if field_id is the same
field_skills_3['Skills'] = field_skills_3.apply(lambda x: x['Skills'] + field_skills_2[field_skills_2['field_id'] == x['field_id']]['Skills'].values[0], axis=1)
field_skills_3

C:\Users\aky\AppData\Local\Temp\ipykernel_1904\484542278.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field_skills_3['Skills'] = field_skills_3.apply(lambda x: x['Skills'] + field_skills_2[field_skills_2['field_id'] == x['field_id']]['Skills'].values[0], axis=1)

   field_id                                             Skills
0         2  [weblogic, oracle rac, installation, mysql, tr...
1         3  [software development, application, ajax, tech...
2         4  [cisco call manager, offshore, java, communica...
3         6  [assurance, computer science, information secu...
4         1  [google analytics, case studies, social media,...
5         5  [test cases, manual testing, web testing, web ...

In [26]:
# get index and field_id to a dict
field_id_dict = dict(zip(field_skills_3.index, field_skills_3['field_id']))
field_id_dict

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [87]:
# reset index
field_skills_3 = field_skills_3.reset_index(drop=True)
field_skills_3

   field_id                                             Skills
0         2  [weblogic, oracle rac, installation, mysql, tr...
1         3  [software development, application, ajax, tech...
2         4  [cisco call manager, offshore, java, communica...
3         6  [assurance, computer science, information secu...
4         1  [google analytics, case studies, social media,...
5         5  [test cases, manual testing, web testing, web ...

In [89]:
# get the type of column SKills
type(field_skills_3['Skills'][0])

list

In [16]:
# convert string to list by ,
field_skills['Skills'] = field_skills['Skills'].apply(lambda x: x.split(','))
field_skills

C:\Users\aky\AppData\Local\Temp\ipykernel_1904\1063845481.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field_skills['Skills'] = field_skills['Skills'].apply(lambda x: x.split(','))

,field,Skills,field_id
1,Data and Analytics,"[weblogic, oracle rac, installation, mysql, tr...",2
2,Design and UX/UI,"[software development, application, ajax, tech...",3
5,Product Management,"[cisco call manager, offshore, java, communica...",4
7,Security,"[assurance, computer science, information secu...",6
8,Software Development,"[google analytics, case studies, social media,...",1
9,Testing and Quality Assurance,"[test cases, manual testing, web testing, web ...",5

In [7]:
field_skills_2

,field_id,skill_list,Skills
0,1,"['problem solving', 'programming', 'algorithms...","[problem solving, programming, algorithms, pro..."
1,2,"['formal languages', 'automata theory', 'langu...","[formal languages, automata theory, language t..."
2,3,"['user experience', 'interface design', 'usabi...","[user experience, interface design, usability,..."
3,4,"['data management', 'information organization'...","[data management, information organization, da..."
4,5,"['information security', 'cybersecurity', 'dat...","[information security, cybersecurity, data pro..."
5,6,"['operating systems', 'system administration',...","[operating systems, system administration, com..."

In [11]:
# print the length of each field_id
for i in range(1, 7):
    print(len(field_skills_2[field_skills_2['field_id'] == i]['Skills'].values[0]))

17370
16884
8385
14622
5786
6114

In [15]:
field_skills_3 = field_skills_2.copy()

In [8]:
# combine skill_list to one list
all_skills = []
for row in field_skills_2['Skills']:
    all_skills += row

In [9]:
len(all_skills)

69161

In [76]:
# use TF-IDF 
# tfidf = TfidfVectorizer()
# tfidf_matrix = tfidf.fit_transform(field_skills_3['Skills'].apply(lambda x: ','.join(x)))
# tfidf_matrix.shape

(6, 2310)

In [16]:
field_skills_3

,field_id,skill_list,Skills
0,1,"['problem solving', 'programming', 'algorithms...","[problem solving, programming, algorithms, pro..."
1,2,"['formal languages', 'automata theory', 'langu...","[formal languages, automata theory, language t..."
2,3,"['user experience', 'interface design', 'usabi...","[user experience, interface design, usability,..."
3,4,"['data management', 'information organization'...","[data management, information organization, da..."
4,5,"['information security', 'cybersecurity', 'dat...","[information security, cybersecurity, data pro..."
5,6,"['operating systems', 'system administration',...","[operating systems, system administration, com..."

In [27]:
# get index and field_id to a dict
field_id_dict = dict(zip(field_skills_3.index, field_skills_3['field_id']))
field_id_dict

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [31]:
# Create a feature matrix
field_skills_3['skills_str'] = field_skills_3['Skills'].apply(lambda x: ' '.join(x))
vectorizer = TfidfVectorizer(
    #max_features=1000, # keep top 1000 terms 
    min_df=3, # Minimum Document Frequency of 5 # skill should appear in at least 5 documents
    #max_df=0.85,  # ignore terms that appear in more than 80% of the documents
    #ngram_range=(1,2) # unigram, bigram, and trigram
)
feature_matrix = vectorizer.fit_transform(field_skills_3['skills_str'])

# Convert the feature matrix to a DataFrame
feature_df = pd.DataFrame(feature_matrix.toarray(), columns=vectorizer.get_feature_names_out())

In [32]:
feature_df

,14,1hour,20,2hour,365,3d,ab,abap,ability,able,...,xp,xslt,years,yet,you,youll,your,yourself,youve,zend
0,0.000808,0.001196,0.001385,0.000000,0.000808,0.006466,0.000000,0.003233,0.002991,0.008292,...,0.000808,0.002770,0.001385,0.000808,0.046642,0.005182,0.010365,0.000000,0.000000,0.031861
1,0.000000,0.003021,0.001749,0.002624,0.002041,0.001021,0.001021,0.004083,0.003021,0.015706,...,0.001021,0.003498,0.002624,0.001021,0.142009,0.015706,0.043192,0.002041,0.000875,0.001749
2,0.000000,0.002693,0.001559,0.001559,0.000000,0.018195,0.000000,0.000000,0.000000,0.008166,...,0.000000,0.006237,0.001559,0.000000,0.120164,0.021000,0.044332,0.000000,0.001559,0.003118
3,0.001102,0.000000,0.000945,0.000000,0.001102,0.000000,0.001102,0.025354,0.000816,0.007068,...,0.001102,0.004723,0.005668,0.001102,0.063613,0.003534,0.027566,0.001102,0.000000,0.001889
4,0.000000,0.007497,0.000000,0.001447,0.000000,0.000000,0.001689,0.000000,0.006248,0.002165,...,0.000000,0.000000,0.000000,0.000000,0.043307,0.006496,0.018405,0.000000,0.002894,0.000000
5,0.002394,0.001771,0.000000,0.002051,0.000000,0.000000,0.000000,0.000000,0.001771,0.012279,...,0.000000,0.000000,0.000000,0.000000,0.151954,0.001535,0.036837,0.002394,0.004103,0.000000

In [33]:
# apply field_id_dict to feature_df
feature_df['field_id'] = feature_df.index.map(field_id_dict)
feature_df

,14,1hour,20,2hour,365,3d,ab,abap,ability,able,...,xslt,years,yet,you,youll,your,yourself,youve,zend,field_id
0,0.000808,0.001196,0.001385,0.000000,0.000808,0.006466,0.000000,0.003233,0.002991,0.008292,...,0.002770,0.001385,0.000808,0.046642,0.005182,0.010365,0.000000,0.000000,0.031861,1
1,0.000000,0.003021,0.001749,0.002624,0.002041,0.001021,0.001021,0.004083,0.003021,0.015706,...,0.003498,0.002624,0.001021,0.142009,0.015706,0.043192,0.002041,0.000875,0.001749,2
2,0.000000,0.002693,0.001559,0.001559,0.000000,0.018195,0.000000,0.000000,0.000000,0.008166,...,0.006237,0.001559,0.000000,0.120164,0.021000,0.044332,0.000000,0.001559,0.003118,3
3,0.001102,0.000000,0.000945,0.000000,0.001102,0.000000,0.001102,0.025354,0.000816,0.007068,...,0.004723,0.005668,0.001102,0.063613,0.003534,0.027566,0.001102,0.000000,0.001889,4
4,0.000000,0.007497,0.000000,0.001447,0.000000,0.000000,0.001689,0.000000,0.006248,0.002165,...,0.000000,0.000000,0.000000,0.043307,0.006496,0.018405,0.000000,0.002894,0.000000,5
5,0.002394,0.001771,0.000000,0.002051,0.000000,0.000000,0.000000,0.000000,0.001771,0.012279,...,0.000000,0.000000,0.000000,0.151954,0.001535,0.036837,0.002394,0.004103,0.000000,6

In [34]:
# move field_id to the first column
cols = feature_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
feature_df = feature_df[cols]
feature_df

,field_id,14,1hour,20,2hour,365,3d,ab,abap,ability,...,xp,xslt,years,yet,you,youll,your,yourself,youve,zend
0,1,0.000808,0.001196,0.001385,0.000000,0.000808,0.006466,0.000000,0.003233,0.002991,...,0.000808,0.002770,0.001385,0.000808,0.046642,0.005182,0.010365,0.000000,0.000000,0.031861
1,2,0.000000,0.003021,0.001749,0.002624,0.002041,0.001021,0.001021,0.004083,0.003021,...,0.001021,0.003498,0.002624,0.001021,0.142009,0.015706,0.043192,0.002041,0.000875,0.001749
2,3,0.000000,0.002693,0.001559,0.001559,0.000000,0.018195,0.000000,0.000000,0.000000,...,0.000000,0.006237,0.001559,0.000000,0.120164,0.021000,0.044332,0.000000,0.001559,0.003118
3,4,0.001102,0.000000,0.000945,0.000000,0.001102,0.000000,0.001102,0.025354,0.000816,...,0.001102,0.004723,0.005668,0.001102,0.063613,0.003534,0.027566,0.001102,0.000000,0.001889
4,5,0.000000,0.007497,0.000000,0.001447,0.000000,0.000000,0.001689,0.000000,0.006248,...,0.000000,0.000000,0.000000,0.000000,0.043307,0.006496,0.018405,0.000000,0.002894,0.000000
5,6,0.002394,0.001771,0.000000,0.002051,0.000000,0.000000,0.000000,0.000000,0.001771,...,0.000000,0.000000,0.000000,0.000000,0.151954,0.001535,0.036837,0.002394,0.004103,0.000000

In [36]:
# save csv
feature_df.to_csv('../../static/csv/field_skills_tfidf_3.csv', index=False)

# smal tfidf

In [46]:
# load csv field_skills_mini.csv
import pandas as pd
field_skills_10 = pd.read_csv('../../static/csv/field_skills_mini.csv')

In [47]:
field_skills_10

   field_id                                         skill_list
0         1  ['version control', 'source code management', ...
1         2  ['data cleaning', 'data preprocessing', 'data ...
2         3  ['design principles', 'consistency in design',...
3         4  ['product management', 'product manager', 'fea...
4         5  ['software testing', 'quality assurance', 'def...
5         6  ['data security', 'encryption', 'data masking'...

In [48]:
# use ast
import ast
field_skills_10['skill_list'] = field_skills_10['skill_list'].apply(ast.literal_eval)
field_skills_10

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product management, product manager, feature ...
4         5  [software testing, quality assurance, defect d...
5         6  [data security, encryption, data masking, mask...

In [49]:
# combine skill_list to one list
all_skills = []
for i in range(len(field_skills_10)):
    all_skills += field_skills_10['skill_list'][i]

# unique
all_skills = list(set(all_skills))
len(all_skills)

368

In [50]:
# create a dataframe where columns are field_id and all_skills
field_skills_df = pd.DataFrame(columns=['field_id'] + all_skills)
field_skills_df

Empty DataFrame
Columns: [field_id, mvp, authentication, insights, advanced software engineering, code review, documentation, design tools, device protection, account security, ai foundations, assembly language, computer architecture, processing, usability, compliance, stress testing, software development principles, defect detection, data science, algorithm design, product documentation, restful api, technical writer, multimedia content creation, data dictionary, code maintainability, organizational management, usability testing, agile principles, privacy, web design, software development, user feedback, presentation, big data, security controls, data management, test automation tools, lean startup, information architecture, maintenance, data quality, fail cheap, color schemes, user interface design, distributed version control, information manipulation, product goals, learning culture, encryption, user interfaces, user navigation, testing methods, dashboard, user verification, language design, ui/ux design, git workflow, information organization, nosql, software quality assurance, animation, data masking, testing metrics, smoke testing, risk taking, endpoint security, scrum, development, research methods, ci/cd, fail fast, product development, color psychology, analytics, ui/ux design software, security assessment, test comprehensiveness, information security, product strategy, solid principles, dry principle, masking, object oriented design, simulation, defect identification, security principles, network perimeter protection, pattern recognition, computer science, two factor authentication, responsive design, cross platform testing, content organization, user experience optimization, metadata, ethical data use, scrum roles, typography, ...]
Index: []

[0 rows x 369 columns]

In [51]:
# Your existing code
for i in range(len(field_skills_10)):
    field_id = field_skills_10['field_id'][i]
    skill_list = field_skills_10['skill_list'][i]
    # create a dictionary with all_skills as keys and 0 as values
    skill_dict = dict.fromkeys(all_skills, 0)
    # update skill_dict with skill_list
    for skill in skill_list:
        skill_dict[skill] += 1
    # append skill_dict to field_skills_df
    temp_df = pd.DataFrame({'field_id': [field_id], **skill_dict})
    field_skills_df = pd.concat([field_skills_df, temp_df], ignore_index=True)

field_skills_df

,field_id,mvp,authentication,insights,advanced software engineering,code review,documentation,design tools,device protection,account security,...,source code management,sql,it support,"consistency,gestalt principles",continuous improvement,project management,professional development,back end,agile manifesto,testing techniques
0,1,0,0,0,1,1,0,0,0,0,...,3,0,0,0,0,1,0,0,1,0
1,2,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
3,4,2,0,0,0,0,2,0,0,0,...,0,0,0,0,1,1,2,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,6,0,1,0,0,0,0,0,1,1,...,0,1,1,0,0,0,0,0,0,0

In [52]:
from sklearn.preprocessing import MinMaxScaler

# Assuming field_skills_df is your DataFrame and 'field_id' is not to be normalized
features_to_normalize = [column for column in field_skills_df.columns if column != 'field_id']

scaler = MinMaxScaler()
minmax_field_df = field_skills_df.copy()
minmax_field_df[features_to_normalize] = scaler.fit_transform(minmax_field_df[features_to_normalize])
minmax_field_df

,field_id,mvp,authentication,insights,advanced software engineering,code review,documentation,design tools,device protection,account security,...,source code management,sql,it support,"consistency,gestalt principles",continuous improvement,project management,professional development,back end,agile manifesto,testing techniques
0,1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
field_skills_3 = field_skills_10.copy()

In [67]:
# print the length of each field_id
for i in range(1, 7):
    print(len(field_skills_3[field_skills_3['field_id'] == i]['skill_list'].values[0]))

120
92
72
93
65
81

In [68]:
# combine skill_list to one list
all_skills = []
for row in field_skills_3['skill_list']:
    all_skills += row

In [69]:
len(all_skills)

523

In [70]:
field_skills_3

,field_id,skill_list,skills_str
0,1,"[version control, source code management, coll...",version control source code management collabo...
1,2,"[data cleaning, data preprocessing, data analy...",data cleaning data preprocessing data analysis...
2,3,"[design principles, consistency in design, use...",design principles consistency in design user i...
3,4,"[product management, product manager, feature ...",product management product manager feature pri...
4,5,"[software testing, quality assurance, defect d...",software testing quality assurance defect dete...
5,6,"[data security, encryption, data masking, mask...",data security encryption data masking masking ...

In [71]:
# create dict with index as key and field_id as value
field_id_dict = dict(zip(field_skills_3.index, field_skills_3['field_id']))

In [72]:
# import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [87]:
# Create a feature matrix
field_skills_3['skills_str'] = field_skills_3['skill_list'].apply(lambda x: ' '.join(x))
vectorizer = TfidfVectorizer(
    #max_features=1000, # keep top 1000 terms 
    #min_df=3, # Minimum Document Frequency of 5 # skill should appear in at least 5 documents
    #max_df=0.85,  # ignore terms that appear in more than 80% of the documents
    ngram_range=(1,3) # unigram, bigram, and trigram
)
feature_matrix = vectorizer.fit_transform(field_skills_3['skills_str'])

# Convert the feature matrix to a DataFrame
feature_df = pd.DataFrame(feature_matrix.toarray(), columns=vectorizer.get_feature_names_out())

In [88]:
feature_df

,acceptance,acceptance criteria,acceptance criteria test,acceptance testing,acceptance testing software,access,access control,access control least,access control security,accessibility,...,workflow code,workflow code review,workflow version,workflow version control,writer,writer documentation,writer documentation software,writing,writing thesis,writing thesis development
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.027103,0.027103,0.027103,0.027103,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.034909,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.031378,0.031378,0.031378,0.062756,0.062756,0.062756
4,0.062788,0.031394,0.031394,0.031394,0.031394,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.065849,0.065849,0.032925,0.032925,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [89]:
# apply field_id_dict to feature_df
feature_df['field_id'] = feature_df.index.map(field_id_dict)
feature_df

,acceptance,acceptance criteria,acceptance criteria test,acceptance testing,acceptance testing software,access,access control,access control least,access control security,accessibility,...,workflow code review,workflow version,workflow version control,writer,writer documentation,writer documentation software,writing,writing thesis,writing thesis development,field_id
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.027103,0.027103,0.027103,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.034909,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.031378,0.031378,0.031378,0.062756,0.062756,0.062756,4
4,0.062788,0.031394,0.031394,0.031394,0.031394,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.065849,0.065849,0.032925,0.032925,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6

In [90]:
# move field_id to the first column
cols = feature_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
feature_df = feature_df[cols]
feature_df

,field_id,acceptance,acceptance criteria,acceptance criteria test,acceptance testing,acceptance testing software,access,access control,access control least,access control security,...,workflow code,workflow code review,workflow version,workflow version control,writer,writer documentation,writer documentation software,writing,writing thesis,writing thesis development
0,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.027103,0.027103,0.027103,0.027103,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.031378,0.031378,0.031378,0.062756,0.062756,0.062756
4,5,0.062788,0.031394,0.031394,0.031394,0.031394,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.065849,0.065849,0.032925,0.032925,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [91]:
# save csv
feature_df.to_csv('../../static/csv/field_skills_tfidf_sml.csv', index=False)

In [92]:
columns = feature_df.columns.tolist()

In [93]:
# check if 'code review' is in columns
'code review' in columns

True