In [1]:
import pandas as pd
import ast

In [2]:
# load_csv
# load csv
test = pd.read_csv('../../static/csv/test_4.csv')
specialization = pd.read_csv('../../static/csv/specialization5_.csv')
subject = pd.read_csv('../../static/csv/subject_field.csv')

In [8]:
# rename skills_list to skill_list
test = test.rename(columns={'skills_list': 'skill_list'})
test.sample(1)

,question_id,question,description,options,correct_option,field_id,skill_list
32,33,"What is a code review, and why is it important...",Describe the process and significance of code ...,"[""Systematic examination of code by peers"", ""I...",0,1,"[""Code Review"",""Software Development"",""Collabo..."

In [9]:
def clean_df(df):
    df = df.dropna()
    df = df.reset_index(drop=True)
    # apply ast.literal_eval to convert string to list
    df['skill_list'] = df['skill_list'].apply(ast.literal_eval)
    # lower case all skills
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.lower() for y in x])
    # remove - 
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.replace('-', ' ') for y in x])
    # remove skill
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.replace('skill', '') for y in x])
    # remove skills
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.replace('skills', '') for y in x])
    # strip
    df['skill_list'] = df['skill_list'].apply(lambda x: [y.strip() for y in x])
    # remove empty ''
    df['skill_list'] = df['skill_list'].apply(lambda x: [y for y in x if y != ''])
    # remove blanks
    df['skill_list'] = df['skill_list'].apply(lambda x: [y for y in x if y != ' '])
    # remove nan
    df['skill_list'] = df['skill_list'].apply(lambda x: [y for y in x if y != 'nan'])

    return df

In [10]:
test = clean_df(test)
specialization = clean_df(specialization)
subject = clean_df(subject)

In [11]:
# create a dataframe with field_id 1-6, and skill_list of list
field_id = [1, 2, 3, 4, 5, 6]
field_skills = pd.DataFrame({'field_id': field_id,
                             'skill_list': [[] for _ in range(len(field_id))]})
field_skills

   field_id skill_list
0         1         []
1         2         []
2         3         []
3         4         []
4         5         []
5         6         []

In [17]:
# group by field_id
test_grouped = test.groupby('field_id')['skill_list'].agg(sum).reset_index()
print(test_grouped)
specialization_grouped = specialization.groupby('field_id')['skill_list'].agg(sum).reset_index()
specialization_grouped = specialization_grouped[specialization_grouped['field_id'] <= 6]
specialization_grouped = specialization_grouped[specialization_grouped['field_id'] >= 1]
print(specialization_grouped)
subject_grouped = subject.groupby('field_id')['skill_list'].agg(sum).reset_index()
print(subject_grouped)

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...
   field_id                                         skill_list
1         1  [html, css, javascript, web design, responsive...
2         2  [business intelligence tools, tableau, power b...
3         3  [user interface design, wireframing, prototypi...
4         4  [product management, roadmap planning, agile m...
5         5  [performance improvement, supply chain managem...
6         6  [cybersecurity principles, security tools, fir...
   field_id                                         skill_list
0         1  [problem solving, programming, algorithms, pro...
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [20]:
# combine all 3 dataframes to field_skills
field_skills['skill_list'] = test_grouped['skill_list'].apply(lambda x: x * 5) + specialization_grouped['skill_list'] + subject_grouped['skill_list'].apply(lambda x: x * 5)

In [22]:
field_1_skills = test_grouped[test_grouped['field_id'] == 1]['skill_list'].values[0] * 5 + specialization_grouped[specialization_grouped['field_id'] == 1]['skill_list'].values[0] + subject_grouped[subject_grouped['field_id'] == 1]['skill_list'].values[0] * 5
len(field_1_skills)

11888

In [25]:
field_skills

   field_id                                         skill_list
0         1                                                NaN
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [27]:
# assign field_1_skills to field_skills
field_skills['skill_list'][0] = field_1_skills
field_skills

C:\Users\aky\AppData\Local\Temp\ipykernel_4692\3148094681.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field_skills['skill_list'][0] = field_1_skills

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [28]:
field_skills_copy = field_skills.copy()
field_skills_copy

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [29]:
# save to csv
field_skills_copy.to_csv('../../static/csv/field_skills_10.csv', index=False)

In [30]:
# load csv
field_skills_10 = pd.read_csv('../../static/csv/field_skills_10.csv')
field_skills_10

   field_id                                         skill_list
0         1  ['version control', 'source code management', ...
1         2  ['data cleaning', 'data preprocessing', 'data ...
2         3  ['design principles', 'consistency in design',...
3         4  ['product roadmap', 'product planning', 'produ...
4         5  ['regression testing', 'software testing', 'te...
5         6  ['identity verification', 'authentication', 'a...