In [1]:
import pandas as pd
import numpy as np

In [73]:
specialization = pd.read_csv('../../static/csv/specialization2.csv')
specialization.tail()

,specialization_id,field_id,title,description,roadmap_id,skill_list
36,37,10,blockchain developer,Technology Strategists develop long-term plans...,37,"[Blockchain Development, Smart Contracts, Cryp..."
37,38,10,quantum computing scientist,Quantum Computing Scientists research and deve...,38,"[Quantum Computing, Quantum Algorithms, Quantu..."
38,39,10,virtual reality (vr) developer,VR Developers create immersive virtual reality...,39,"[Virtual Reality Development, 3D Modeling, VR ..."
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,"[Augmented Reality Development, AR Frameworks,..."
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[Edge Computing, IoT (Internet of Things), Dis..."

In [9]:
# check if skill_list is a list
skill_list_0 = specialization['skill_list'][0]
print(type(skill_list_0))
print(skill_list_0)

<class 'str'>
[HTML, CSS, JavaScript, Web Design, Responsive Design, React, Angular, Vue.js, Cross-Browser Compatibility]

In [74]:
def convert_to_list(s):
    # Assuming your string is like "[HTML, CSS, JavaScript]"
    return [skill.strip() for skill in s[1:-1].split(',')]

# Apply the custom function to the 'skill_list' column
specialization['skill_list'] = specialization['skill_list'].apply(convert_to_list)

In [75]:
specialization['skill_list'] = specialization['skill_list'].apply(lambda skills: [skill.lower() for skill in skills])

In [80]:
specialization.sample(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
7,8,1,Game Developer,"Game Developers create interactive, immersive ...",8,"[game development engines, unity, unreal engin..."
37,38,10,quantum computing scientist,Quantum Computing Scientists research and deve...,38,"[quantum computing, quantum algorithms, quantu..."
5,6,1,Mobile App Developer,Mobile App Developers specialize in creating a...,6,"[mobile app development, ios and android platf..."

In [81]:
skill_list_0 = specialization['skill_list'][0]
print(type(skill_list_0))
print(skill_list_0)

<class 'list'>
['html', 'css', 'javascript', 'web design', 'responsive design', 'react', 'angular', 'vue.js', 'cross-browser compatibility']

In [22]:
# Explode the lists into separate rows
specialization_exploded = specialization.explode('skill_list')
specialization_exploded

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,html
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,css
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,javascript
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,web design
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,responsive design
...,...,...,...,...,...,...
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,markerless tracking
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,edge computing
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,iot (internet of things)
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,distributed computing
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,low latency

In [23]:
# Group by 'field_id' and aggregate unique skills into a list
specialization_grouped = specialization_exploded.groupby('field_id')['skill_list'].unique().reset_index()
specialization_grouped

   field_id                                         skill_list
0         1  [html, css, javascript, web design, responsive...
1         2  [data analysis, machine learning, statistics, ...
2         3  [user interface design, wireframing, prototypi...
3         4  [product management, roadmap planning, agile m...
4         5  [software testing, test automation, quality as...
5         6  [cybersecurity principles, security tools, fir...
6         7  [network design, routing and switching, networ...
7         8  [it project management, project planning, reso...
8         9  [business analysis, requirements gathering, pr...
9        10  [blockchain development, smart contracts, cryp...

In [27]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skill_list in specialization_grouped['skill_list'] for skill in skill_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

['html', 'css', 'javascript', 'web design', 'responsive design', 'react', 'angular', 'vue.js', 'cross-browser compatibility', 'node.js', 'python', 'ruby', 'java', 'database management', 'api development', 'server security', 'express', 'flask', 'django', 'front-end', 'back-end', 'full stack frameworks', 'web application development', 'software development', 'algorithm design', 'software architecture', 'object-oriented programming (oop)', 'version control', 'debugging', 'c++', 'software design', 'code optimization', 'software testing', 'mobile app development', 'ios and android platforms', 'mobile ui/ux design', 'app store guidelines', 'mobile frameworks', 'flutter', 'react native', 'devops practices', 'continuous integration/continuous deployment (ci/cd)', 'cloud services', 'aws', 'azure', 'automation', 'scripting', 'containerization', 'docker', 'game development engines', 'unity', 'unreal engine', '3d modeling', 'physics', 'animation', 'ai', 'embedded systems programming', 'microcontrollers', 'firmware development', 'iot (internet of things)', 'real-time operating systems', 'data analysis', 'machine learning', 'statistics', 'data visualization', 'big data technologies', 'hadoop', 'spark', 'sql', 'excel', 'statistical analysis', 'reporting', 'business intelligence tools', 'tableau', 'power bi', 'data warehousing', 'etl (extract', 'transform', 'load) processes', 'machine learning algorithms', 'deep learning', 'neural networks', 'data preprocessing', 'model deployment', 'artificial intelligence', 'natural language processing', 'computer vision', 'ai frameworks', 'tensorflow', 'pytorch', 'data pipeline development', 'data integration', 'database management', 'etl processes', 'user interface design', 'wireframing', 'prototyping', 'visual design', 'usability', 'design tools', 'adobe xd', 'sketch', 'user experience design', 'user research', 'information architecture', 'interaction design', 'usability testing', 'interaction design principles', 'user-centered design', 'interface prototyping', 'user testing', 'graphic design', 'typography', 'color theory', 'layout design', 'branding', 'product management', 'roadmap planning', 'agile methodologies', 'stakeholder communication', 'technical understanding', 'product development', 'cross-functional team leadership', 'market analysis', 'software testing', 'test automation', 'quality assurance', 'bug tracking', 'test planning', 'test automation frameworks (e.g.', 'selenium', 'appium)', 'scripting', 'continuous testing', 'cybersecurity principles', 'security tools', 'firewalls', 'ids/ips', 'threat detection', 'security incident response', 'security engineering', 'network security', 'security protocols', 'encryption', 'vulnerability assessment', 'penetration testing', 'vulnerability scanning', 'exploitation techniques', 'metasploit', 'security consultancy', 'risk assessment', 'security auditing', 'compliance standards', 'gdpr', 'hipaa', 'network design', 'routing and switching', 'network protocols', 'cisco technologies', 'network troubleshooting', 'system administration', 'server management', 'operating systems', 'scripting', 'user access control', 'cloud computing', 'aws', 'azure', 'gcp', 'virtualization', 'containerization', 'cloud security', 'site reliability engineering', 'devops practices', 'monitoring and alerting', 'service level objectives (slos)', 'it project management', 'project planning', 'resource management', 'agile and waterfall methodologies', 'scrum methodology', 'agile principles', 'team facilitation', 'agile tools', 'jira', 'business analysis', 'requirements gathering', 'process improvement', 'data analysis', 'it consulting', 'client communication', 'it strategy', 'problem solving', 'technology strategy', 'innovation', 'emerging technologies', 'market analysis', 'blockchain development', 'smart contracts', 'cryptocurrency', 'decentralized applications (dapps)', 'quantum computing', 'quantum algorithms', 'quantum hardware', 'quantum programming languages', 'virtual reality development', '3d modeling', 'vr frameworks', 'unity', 'user interaction in vr', 'augmented reality development', 'ar frameworks', 'arkit', 'arcore', 'markerless tracking', 'edge computing', 'iot (internet of things)', 'distributed computing', 'low latency']

In [28]:
# remove duplicates
all_skills = list(set(all_skills))

In [38]:
# count
specialization_skill_count = len(all_skills)
specialization_skill_count

206

In [53]:
nakuri_skill = pd.read_csv('../../static/csv/nakuri_skill_list.csv')
nakuri_skill.sample(10)

                                 skill_name
3558  embedded software systems development
2817                            db security
3342                   requirement analysis
3753                                    vss
3857            interpersonal communication
3969                       trouble shooting
4221                     online advertising
661                         cssd technician
125                  continuous integration
1774                      corrective action

In [54]:
nakuri_skill_list = nakuri_skill['skill_name'].tolist()

In [55]:
nakuri_skill_count = len(nakuri_skill_list)
nakuri_skill_count

4452

In [56]:
# get website_skill where it is not in nakuri_skill
specialization_skill_not_in_nakuri = [skill for skill in all_skills if skill not in nakuri_skill_list]
# get nakuri_skill where it is not in website_skill
nakuri_skill_not_in_specialization = [skill for skill in nakuri_skill_list if skill not in all_skills]

In [57]:
# count
print(len(specialization_skill_not_in_nakuri))
print(len(nakuri_skill_not_in_specialization))

103
4349

In [78]:
specialization.head()

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,"[html, css, javascript, web design, responsive..."
1,2,1,Back-End,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."
2,3,1,Full Stack,Full Stack Developers have expertise in both F...,3,"[front-end, back-end, full stack frameworks, w..."
3,4,1,Software Engineer,Software Engineers design and develop software...,4,"[software development, algorithm design, softw..."
4,5,1,Software Developer,"Software Developers write, test, and maintain ...",5,"[java, python, c++, software design, code opti..."

In [64]:
IT = pd.read_csv('../../static/csv/IT_2.csv')
IT.sample(5)

,Job Title,Job Salary,Job Experience Required,Key Skills,role_job,field,Skills
214,UI Developer - React.js/javascript,Not Disclosed by Recruiter,2 - 7 yrs,jQuery| UX| UI| Javascript| React.js,ui/ux developer,Design and UX/UI,"['react.js', 'ux', 'ui', 'javascript', 'jquery']"
5459,Java Developer-Insurance,Not Disclosed by Recruiter,2 - 7 yrs,continuous integration| rest| Hibernate| tech...,application developer,Software Development,"['developer', 'rest', 'api', 'technical', 'jav..."
3948,Java Enterprise Edition- -,Not Disclosed by Recruiter,6 - 11 yrs,Java Enterprise Edition| Maven| JBoss| Eclips...,application developer,Software Development,"['eclipse', 'java web services', 'ant', 'ajax'..."
3039,Core Java Developer,"8,00,000 - 18,00,000 PA.",4 - 8 yrs,Spring Boot| Core Java| Multithreading| Web S...,application developer,Software Development,"['multithreading', 'web technologies', 'data s..."
40,Python Developer,Not Disclosed by Recruiter,0 - 1 yrs,Debugging| Troubleshooting| Python| Interpers...,python developer,Software Development,"['programming', 'developer', 'troubleshooting'..."

In [79]:
type(IT['Skills'][0])

str

In [65]:
IT = IT[['Job Title','role_job','field','Skills']]
IT.sample(5)

,Job Title,role_job,field,Skills
4783,"Testing Engineer, Manager",quality assurance engineer,Testing and Quality Assurance,"['manager', 'testing engineer']"
2185,PHP Developer,php developer,Software Development,"['lead developers', 'architects', 'six sigma',..."
2758,"Sucess Factor, SAP MM Functional Consultant, ...",team/technical lead,Product Management,"['sap mm module', 'successfactors', 'sap mm co..."
4615,PHP Developer,php developer,Software Development,"['software', 'ajax', 'developer', 'tools', 'co..."
3392,.NET Developer,application developer,Software Development,"['c#', 'asp.net', 'sql', 'mvc', 'web technolog..."

In [67]:
IT.size

22448

In [70]:
field_mapping = {
    'Software Development' : 1,
    'Data and Analytics' : 2,
    'Design and UX/UI' : 3,
    'Product Management' : 4,
    'Testing and Quality Assurance' : 5,
    'Security' : 6,
    'Networking and Infrastructure' : 7,
    'Project Management' : 8,
    'Business and Strategy' : 9,
    'Emerging and Specialized' : 10,
}

In [71]:
# Map the 'field' column to the 'field_id' column
IT['field_id'] = IT['field'].map(field_mapping)
IT.sample(3)

,Job Title,role_job,field,Skills,field_id
2839,Salesforce Developer - Apex/force.com,salesforce developer,Business and Strategy,"['webservices', 'apex', 'visual force', 'proje...",9
1072,Mulesoft Developer / Mulesoft Tech Lead / Mul...,lead,Product Management,"['technical analyst', 'maven']",4
3215,Software Engineer/ Lead/ Architect - Java/ J2EE,software engineer,Software Development,"['devops', 'java', 'webservices', 'aws', 'mysq...",1

In [84]:
IT['role_job'].value_counts()

role_job
application developer            1164
software engineer                 708
consultant                        452
team/technical lead               332
business analyst                  323
php developer                     318
web developer                     262
quality assurance engineer        250
software developer                174
project manager                   157
ui/ux developer                   155
manager                           139
python developer                  128
full stack developer              124
frontend developer                100
product manager                    82
data engineer                      71
devops engineer                    70
program manager                    59
backend developer                  45
salesforce developer               43
network administrator              40
network manager                    31
solution architect                 31
database architect/designer        25
solution/enterprise architect      25
system security                    24
project lead                       21
technical content developer        20
lead                               19
database administrator             18
c++ developer                      18
data scientist                     16
trainee                            16
support engineer                   14
developer                          14
system administrator               12
technical architect                11
network engineer                   11
head/vp/gm-technology/cto          11
javascript developer               10
technical support engineer          9
release manager                     8
senior programmer                   7
trainer/faculty                     6
servicenow developer                6
reactjs developer                   6
hadoop developer                    5
support engineer/technician         5
graphic designer                    5
systems engineer                    4
hardware engineer                   2
technical lead                      2
subject matter expert               2
functional test planning            1
instructional designer              1
Name: count, dtype: int64

In [82]:
IT_sub = IT[['role_job','field_id','Skills']]

In [83]:
# add new column
IT_sub['skill_list'] = IT_sub['Skills'].apply(convert_to_list)

C:\Users\aky\AppData\Local\Temp\ipykernel_16860\2687254436.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IT_sub['skill_list'] = IT_sub['Skills'].apply(convert_to_list)

In [ ]:
# add description column