In [2]:
import pandas as pd
import numpy as np

In [3]:
specialization = pd.read_csv('../../static/csv/specialization5_.csv')
specialization.tail()

,specialization_id,title,field_id,description,roadmap_id,skill_list
67,83,Systems Engineer,10,systems engineer,83,"['sql', 'python', 'oracle', 'html', 'javascrip..."
68,85,Technical Architect,10,technical architect,85,"['automation testing', 'sql', 'crm', 'apex', '..."
69,86,Technical Content Developer,10,technical content developer,86,"['time management', 'analytical skills', 'goog..."
70,88,Technical Support Engineer,10,technical support engineer,88,"['unix operating system', 'netbackup', 'window..."
71,90,Trainer/Faculty,10,trainer/faculty,90,"['data science', 'statistics', 'deep learning'..."

In [4]:
specialization.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   specialization_id  72 non-null     int64
 1   title              72 non-null     object
 2   field_id           72 non-null     int64
 3   description        72 non-null     object
 4   roadmap_id         72 non-null     int64
 5   skill_list         72 non-null     object
dtypes: int64(3), object(3)
memory usage: 3.5+ KB

In [5]:
specialization['field_id'].value_counts()

field_id
10    18
1     10
2      9
4      8
7      7
3      6
6      6
5      3
0      3
9      2
Name: count, dtype: int64

In [6]:
# check if skill_list is a list
skill_list_0 = specialization['skill_list'][0]
print(type(skill_list_0))
print(skill_list_0)

<class 'str'>
['html', 'css', 'javascript', 'web design', 'responsive design', 'react', 'angular', 'vue.js','html', 'css', 'javascript', 'web design', 'responsive design', 'react', 'angular', 'vue.js', 'cross-browser compatibility','html','css','javascript','ui/ux design','user interface design','user experience design','interaction design','information architecture','visual design','prototyping','usability testing','responsive design','mobile-first design','adaptive design','react','vue','angular','svelte','ember','react','vue','angular','svelte','ember','react','vue','angular','svelte','ember','cross-browser compatibility','cross-browser testing','browser quirks','browser support','web performance','page load speed','performance optimization techniques','code optimization','image optimization','asset optimization','performance testing tools','git','version control','repository management','branching and merging','conflict resolution','unit testing','integration testing','end-to-end testing','debugging techniques','developer tools','web accessibility','wcag standards','inclusive design','accessibility testing tools','javascript frameworks','css preprocessors','task runners','build tools','package managers','deployment tools','content management systems','e-commerce platforms','api development','data visualization','real-time applications','ajax', 'php', 'wordpress', 'mysql', 'html', 'css', 'seo', 'javascript', 'jquery', 'hosting', 'css3', 'image processing', 'react.js', 'ajax', 'ui', 'javascript', 'photoshop', 'html5', 'angularjs', 'react.js', 'ajax', 'mysql', 'heroku', 'json', 'bootstrap', 'css', 'javascript', 'jquery', 'html5', 'spring boot', 'front end', 'sketch', 'adobe photoshop', 'ui designer', 'ui developer', 'adobe illustrator', 'front end', 'web technologies', 'server', 'front end', 'application', 'css3', 'developer', 'ajax', 'technical', 'tools', 'it', 'design', 'web', 'scripting', 'ux', 'css', 'seo', 'photoshop', 'javascript', 'jquery', 'angularjs', 'html', 'ux', 'css', 'ui', 'javascript', 'front end', 'programming', 'business executive', 'angularjs', 'html', 'bootstrap', 'css', 'jquery', 'backend', 'web development', 'front end', 'product development', 'mongodb', 'solutions', 'angularjs', 'git', 'design', 'user experience', 'usability', 'javascript', 'mean stack', 'mvc framework', 'css3', 'ms sql', 'j query', 'frontend', 'oop', 'html', 'css', 'javascript', 'html5', 'front end', 'angularjs', 'e-commerce', 'javascript', 'internet technologies', 'software development', 'react.js', 'programming', 'sql', 'software engineer', 'json', 'design development', 'senior software engineer', 'html', 'javascript', 'angularjs', 'html', 'bootstrap', 'css', 'cms', 'photoshop', 'javascript', 'jquery', 'front end', 'finance', 'engineering services', 'financial services', 'html', 'css', 'software engineering', 'front end', 'react.js', 'web application development', 'ux', 'css', 'bootstrap', 'javascript', 'web technologies', 'html5', 'backend', 'react.js', 'ajax', 'angularjs', 'aws', 'html', 'bootstrap', 'css', 'javascript', 'jquery', 'react.js', 'sql azure', 'angularjs', 'oracle service bus', '.net framework', 'asp.net mvc', 'design development', 'c#.net', 'product development', 'web technologies', 'cd', 'web development', 'ci', 'technical leadership', 'front end', 'ui development', 'reliability testing', 'ux', 'node.js', 'javascript', 'front end', 'developer', 'bootstrap', 'javascript', 'jquery', 'css3', 'ux', 'bootstrap', 'ui', 'javascript', 'jquery', 'html5', 'mysql', 'design', 'c++', 'html', 'javascript', 'c', 'java', 'angularjs', 'node.js', 'javascript', 'jquery', '.net', 'front end', 'react.js', 'software developer', 'user interface developer', 'senior engineer', 'software engineer', 'senior software engineer', 'ui developer', 'front end', 'mvvm', 'coding', 'sql database', 'pdf', 'licensing', 'business applications', 'debugging', 'css3', 'front end', 'dbms', 'subversion', 'stored procedures', 'sql', 'coding', 'python', 'web services', 'debugging', 'front end', 'asp.net mvc', 'mvc', 'css', 'javascript', 'react.js', 'data structure', 'frontend', 'algorithm', 'html', 'css', 'javascript', 'ruby rails', 'cassandra', 'phonegap', 'api', 'java', 'ror', 'mvc', 'javascript', 'objective c', 'php', 'python', 'html5', 'mongodb', 'scala', 'agile', 'c#', 'erlang', 'tdd', 'angularjs', 'couchdb', 'css', 'angularjs', 'react.js', 'ux', 'ui', 'angularjs', 'jquery', 'extjs', 'javascript', 'front end', 'tdd', 'angularjs', 'grunt', 'dom', 'html', 'css', 'web services', 'javascript', 'html5', 'css3', 'front end', 'application', 'facebook', 'developer', 'technical', 'wordpress', 'design', 'web', 'development', 'html', 'pdf', 'css', 'email', 'web designing', 'javascript', 'jquery', 'html5', 'css3', 'ajax', 'scripting', 'bootstrap', 'javascript', 'jquery', 'html5', 'css3', 'front end', 'programming', 'web technologies', 'optimization', 'performance optimization', 'ux', 'bootstrap', 'ui', 'javascript', 'jquery', 'html5', 'css3', 'bootstrap', 'javascript', 'jquery', 'html5', 'ajax', 'mysql', 'database', 'claims', 'json', 'javascript', 'core java', 'jquery', 'css3', 'front end', 'agile methodology', 'rework', 'business executive', 'unit testing', 'scrum', 'mvc', 'javascript', 'html5', 'front end', 'scalability', 'software', 'api', 'architect', 'mvc', 'javascript', 'jquery', 'user interface designing', 'html5', 'css3', 'it', 'web', 'ui', 'web technologies', 'developer', 'tools', 'angularjs', 'design', 'css3', 'front end', 'support', 'developer', 'usage', 'social media', 'design development', 'web', 'development', 'technical process', 'bootstrap', 'pdf', 'website', 'javascript', 'web designing', 'jquery', 'html5', 'front end', 'developer', 'front end', 'angularjs', 'javascript', 'web technologies', 'html5', 'front end', 'web technologies', 'html', 'css', 'javascript', 'jquery', 'front end', 'version control', 'php', 'wordpress', 'git', 'html', 'css', 'windows', 'javascript', 'jquery', 'sketch', 'html', 'ux', 'css', 'node.js', 'ui', 'javascript', 'photoshop', 'illustrator', 'ideas', 'front end', 'technical', 'java', 'testing', 'javascript', 'applications', 'wellness', 'healthcare', 'nosql', 'development', 'html', 'mobile', 'data modeling', 'rest', 'agile', 'android', 'english', 'json', 'css', 'css3', 'react.js', 'git', 'javascript', 'html5', 'oops', 'html', 'css', 'javascript', 'jquery', 'front end', 'ajax', 'grunt', 'git', 'accessibility', 'bootstrap', 'javascript', 'jquery', 'html5', 'angularjs', 'github', 'ui developer', 'css3', 'front end', 'scalability', 'psd', 'linux', 'bootstrap', 'css', 'javascript', 'web technologies', 'html5', 'application', 'front end', 'computer science', 'scrum', 'mysql', 'html', 'javascript', 'jquery', 'backend', 'debugging', 'front end', 'react.js', 'angularjs', 'user interface developer', 'html', 'css', 'ui developer', 'javascript', 'user interface designing', 'angularjs', 'web application development', 'responsive web design', 'html', 'bootstrap', 'css', 'web designing', 'javascript', 'html5', 'front end', 'react.js', 'open source', 'usability', 'ux', 'css', 'javascript', 'web technologies', 'web development', 'software engineering', 'customization', 'front end', 'css3', 'analytical', 'coding', 'audio', 'css', 'transitions', 'javascript', 'jquery', 'html5', 'front end', 'ajax', 'rest', 'bootstrap', 'css', 'photoshop', 'javascript', 'jquery', 'html5', 'web development', 'ajax', 'apache server', 'api', 'php', 'mysql', 'json', 'html', 'bootstrap', 'github', 'css', 'jquery', 'soap', 'xml', 'angularjs', 'react.js', 'javascript', 'front end', 'written communication', 'web technologies', 'computer science', 'angularjs', 'user interaction', 'html', 'information architecture', 'css', 'ui', 'javascript', 'jquery', 'front end', 'product quality', 'e-commerce', 'testing', 'javascript', 'applications', 'saas', 'application', 'programming', 'development', 'logistics', 'quality', 'rest', 'git', 'it', 'web', 'operations', 'configuration', 'web technologies', 'developer', 'tools', 'json', 'design', 'customer experience', 'developing', 'react.js', 'technical architect', 'node.js', 'agile', 'application designing', 'front end', 'git', 'machine learning', 'python', 'html', 'javascript', 'jquery', 'backend', 'digital strategy', 'android', 'front end', 'ideas', 'drupal', 'php', 'wordpress', 'grid', 'cms', 'web designing', 'photoshop', 'management consulting', 'front end', 'mongodb', 'web application', 'flex', 'sqlite', 'html', 'data visualization', 'javascript', 'agile', 'product management', 'front end', 'frontend', 'english language', 'responsive web design', 'jquery', 'bootstrap', 'css', 'javascript', 'web technologies', 'html5', 'control system', 'ajax', 'tdd', 'version control', 'http', 'git', 'jira', 'html', 'javascript', 'debugging', 'front end', 'html', 'photoshop', 'javascript', 'tool design', 'user interface designing', 'angularjs', 'web application development', 'responsive web design', 'html', 'bootstrap', 'css', 'web designing', 'javascript', 'html5', 'front end', 'rest', 'java', 'angularjs', 'unit testing', 'html', 'css', 'web services', 'javascript', 'web technologies', 'front end', 'react.js', 'angularjs', 'it services', 'bootstrap', 'node.js', 'backbone.js', 'javascript', 'product development', 'html5', 'markup languages', 'front end', 'browser testing', 'usability', 'html', 'css', 'javascript', 'web technologies', 'jquery', 'web development', 'front end', 'angularjs', 'html', 'bootstrap', 'css', 'javascript', 'jquery', 'css3', 'react.js', 'design patterns', 'ui', 'javascript', 'jquery', 'html5', 'software development', 'front end', 'psd', 'core php', 'ui development', 'html', 'css', 'javascript', 'jquery', 'html5', 'css3', 'html', 'javascript', 'asp', 'telecom', 'automation', 'linux', 'mysql', 'python', 'hibernate', 'html', 'javascript', 'xml', 'front end', 'information technology management', 'analytical', 'angularjs', 'php', 'automation tools', 'management', 'html', 'html5', 'backend', 'sql', 'six sigma', 'pmp', 'python', 'oracle', 'html', 'javascript', 'c', '.net', 'assembly language', 'android sdk', 'android development', 'j2me', 'eclipse', 'ios', 'java', 'mysql', 'sqlite', 'j2ee', 'project management', 'front end', 'angularjs', 'operations', 'manager technology', 'scripting', 'javascript', 'business process', 'outsourcing', 'ajax', 'angularjs', 'html', 'bootstrap', 'css', 'node.js', 'javascript', 'jquery', 'html5', 'web development', 'google adwords', 'front end', 'social media', 'credit analysis', 'information technology', 'javascript', 'jquery', 'debugging', 'css3', 'business executive', 'ajax', 'photoshop', 'javascript', 'jquery', 'java', 'hibernate', 'j2ee', 'javascript', 'agile', 'jquery', 'spring', 'css3', 'react.js', 'developer', 'bootstrap', 'javascript', 'jquery', 'html5', 'react.js', 'ui designer development', 'rwd', 'ajax', 'rest', 'angularjs', 'ui development', 'responsive web design', 'html', 'css', 'user interface development', 'web design', 'javascript', 'web design engineer', 'jquery', 'soap', 'web development', 'rest', 'computer science', 'api', 'bootstrap', 'javascript', 'algorithms', 'web technologies', 'react.js', 'excel', 'dom', 'it', 'html', 'node.js', 'javascript', 'front end', 'react.js', 'javascript', 'web technologies', 'web development', 'front end', 'react.js', 'developer', 'java', 'troubleshooting', 'ui development', 'html', 'css', 'javascript', 'debugging', 'front end', 'react js', 'javascript', 'codeigniter', 'html', 'css', 'javascript', 'jquery', 'front end', 'react.js', 'git', 'aws', 'javascript', 'primary skills', 'front end', 'aws', 'css3', 'written communication', 'agile', 'computer science', 'git', 'data structures', 'bootstrap', 'javascript', 'algorithms', 'jquery', 'front end', 'performance improvement', 'automation testing', 'financial management', 'orchestration', 'supply chain management', 'html', 'javascript', 'analytics', 'outsourcing', 'prototyping', 'html', 'frontend', 'css', 'front end', 'css', 'game development', 'game', 'games', 'css3', 'front end', 'angularjs', 'javascript', 'html5']

In [7]:
def convert_to_list(s):
    # Assuming your string is like "[HTML, CSS, JavaScript]"
    return [skill.strip() for skill in s[1:-1].split(',')]

# Apply the custom function to the 'skill_list' column
specialization['skill_list'] = specialization['skill_list'].apply(convert_to_list)
specialization.sample(2)

,specialization_id,title,field_id,description,roadmap_id,skill_list
45,28,Network Engineer,7,"Network Engineers design, implement, and manag...",28,"['network design', 'routing and switching', 'n..."
22,34,IT Business Analyst,3,IT Business Analysts bridge the gap between bu...,34,"['business analysis', 'requirements gathering'..."

In [8]:
specialization['skill_list'] = specialization['skill_list'].apply(lambda skills: [skill.lower() for skill in skills])

In [9]:
specialization.sample(3)

,specialization_id,title,field_id,description,roadmap_id,skill_list
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"['node.js', 'python', 'ruby', 'java', 'databas..."
15,48,Database Architect/Designer,2,A database architect is a specialized IT profe...,48,"['real time operating systems', 'sql', 'six si..."
56,9,Embedded Systems Developer,10,Embedded Systems Developers work on software t...,9,"['embedded systems programming', 'microcontrol..."

In [10]:
skill_list_0 = specialization['skill_list'][0]
print(type(skill_list_0))
print(skill_list_0)

<class 'list'>
["'html'", "'css'", "'javascript'", "'web design'", "'responsive design'", "'react'", "'angular'", "'vue.js'", "'html'", "'css'", "'javascript'", "'web design'", "'responsive design'", "'react'", "'angular'", "'vue.js'", "'cross-browser compatibility'", "'html'", "'css'", "'javascript'", "'ui/ux design'", "'user interface design'", "'user experience design'", "'interaction design'", "'information architecture'", "'visual design'", "'prototyping'", "'usability testing'", "'responsive design'", "'mobile-first design'", "'adaptive design'", "'react'", "'vue'", "'angular'", "'svelte'", "'ember'", "'react'", "'vue'", "'angular'", "'svelte'", "'ember'", "'react'", "'vue'", "'angular'", "'svelte'", "'ember'", "'cross-browser compatibility'", "'cross-browser testing'", "'browser quirks'", "'browser support'", "'web performance'", "'page load speed'", "'performance optimization techniques'", "'code optimization'", "'image optimization'", "'asset optimization'", "'performance testing tools'", "'git'", "'version control'", "'repository management'", "'branching and merging'", "'conflict resolution'", "'unit testing'", "'integration testing'", "'end-to-end testing'", "'debugging techniques'", "'developer tools'", "'web accessibility'", "'wcag standards'", "'inclusive design'", "'accessibility testing tools'", "'javascript frameworks'", "'css preprocessors'", "'task runners'", "'build tools'", "'package managers'", "'deployment tools'", "'content management systems'", "'e-commerce platforms'", "'api development'", "'data visualization'", "'real-time applications'", "'ajax'", "'php'", "'wordpress'", "'mysql'", "'html'", "'css'", "'seo'", "'javascript'", "'jquery'", "'hosting'", "'css3'", "'image processing'", "'react.js'", "'ajax'", "'ui'", "'javascript'", "'photoshop'", "'html5'", "'angularjs'", "'react.js'", "'ajax'", "'mysql'", "'heroku'", "'json'", "'bootstrap'", "'css'", "'javascript'", "'jquery'", "'html5'", "'spring boot'", "'front end'", "'sketch'", "'adobe photoshop'", "'ui designer'", "'ui developer'", "'adobe illustrator'", "'front end'", "'web technologies'", "'server'", "'front end'", "'application'", "'css3'", "'developer'", "'ajax'", "'technical'", "'tools'", "'it'", "'design'", "'web'", "'scripting'", "'ux'", "'css'", "'seo'", "'photoshop'", "'javascript'", "'jquery'", "'angularjs'", "'html'", "'ux'", "'css'", "'ui'", "'javascript'", "'front end'", "'programming'", "'business executive'", "'angularjs'", "'html'", "'bootstrap'", "'css'", "'jquery'", "'backend'", "'web development'", "'front end'", "'product development'", "'mongodb'", "'solutions'", "'angularjs'", "'git'", "'design'", "'user experience'", "'usability'", "'javascript'", "'mean stack'", "'mvc framework'", "'css3'", "'ms sql'", "'j query'", "'frontend'", "'oop'", "'html'", "'css'", "'javascript'", "'html5'", "'front end'", "'angularjs'", "'e-commerce'", "'javascript'", "'internet technologies'", "'software development'", "'react.js'", "'programming'", "'sql'", "'software engineer'", "'json'", "'design development'", "'senior software engineer'", "'html'", "'javascript'", "'angularjs'", "'html'", "'bootstrap'", "'css'", "'cms'", "'photoshop'", "'javascript'", "'jquery'", "'front end'", "'finance'", "'engineering services'", "'financial services'", "'html'", "'css'", "'software engineering'", "'front end'", "'react.js'", "'web application development'", "'ux'", "'css'", "'bootstrap'", "'javascript'", "'web technologies'", "'html5'", "'backend'", "'react.js'", "'ajax'", "'angularjs'", "'aws'", "'html'", "'bootstrap'", "'css'", "'javascript'", "'jquery'", "'react.js'", "'sql azure'", "'angularjs'", "'oracle service bus'", "'.net framework'", "'asp.net mvc'", "'design development'", "'c#.net'", "'product development'", "'web technologies'", "'cd'", "'web development'", "'ci'", "'technical leadership'", "'front end'", "'ui development'", "'reliability testing'", "'ux'", "'node.js'", "'javascript'", "'front end'", "'developer'", "'bootstrap'", "'javascript'", "'jquery'", "'css3'", "'ux'", "'bootstrap'", "'ui'", "'javascript'", "'jquery'", "'html5'", "'mysql'", "'design'", "'c++'", "'html'", "'javascript'", "'c'", "'java'", "'angularjs'", "'node.js'", "'javascript'", "'jquery'", "'.net'", "'front end'", "'react.js'", "'software developer'", "'user interface developer'", "'senior engineer'", "'software engineer'", "'senior software engineer'", "'ui developer'", "'front end'", "'mvvm'", "'coding'", "'sql database'", "'pdf'", "'licensing'", "'business applications'", "'debugging'", "'css3'", "'front end'", "'dbms'", "'subversion'", "'stored procedures'", "'sql'", "'coding'", "'python'", "'web services'", "'debugging'", "'front end'", "'asp.net mvc'", "'mvc'", "'css'", "'javascript'", "'react.js'", "'data structure'", "'frontend'", "'algorithm'", "'html'", "'css'", "'javascript'", "'ruby rails'", "'cassandra'", "'phonegap'", "'api'", "'java'", "'ror'", "'mvc'", "'javascript'", "'objective c'", "'php'", "'python'", "'html5'", "'mongodb'", "'scala'", "'agile'", "'c#'", "'erlang'", "'tdd'", "'angularjs'", "'couchdb'", "'css'", "'angularjs'", "'react.js'", "'ux'", "'ui'", "'angularjs'", "'jquery'", "'extjs'", "'javascript'", "'front end'", "'tdd'", "'angularjs'", "'grunt'", "'dom'", "'html'", "'css'", "'web services'", "'javascript'", "'html5'", "'css3'", "'front end'", "'application'", "'facebook'", "'developer'", "'technical'", "'wordpress'", "'design'", "'web'", "'development'", "'html'", "'pdf'", "'css'", "'email'", "'web designing'", "'javascript'", "'jquery'", "'html5'", "'css3'", "'ajax'", "'scripting'", "'bootstrap'", "'javascript'", "'jquery'", "'html5'", "'css3'", "'front end'", "'programming'", "'web technologies'", "'optimization'", "'performance optimization'", "'ux'", "'bootstrap'", "'ui'", "'javascript'", "'jquery'", "'html5'", "'css3'", "'bootstrap'", "'javascript'", "'jquery'", "'html5'", "'ajax'", "'mysql'", "'database'", "'claims'", "'json'", "'javascript'", "'core java'", "'jquery'", "'css3'", "'front end'", "'agile methodology'", "'rework'", "'business executive'", "'unit testing'", "'scrum'", "'mvc'", "'javascript'", "'html5'", "'front end'", "'scalability'", "'software'", "'api'", "'architect'", "'mvc'", "'javascript'", "'jquery'", "'user interface designing'", "'html5'", "'css3'", "'it'", "'web'", "'ui'", "'web technologies'", "'developer'", "'tools'", "'angularjs'", "'design'", "'css3'", "'front end'", "'support'", "'developer'", "'usage'", "'social media'", "'design development'", "'web'", "'development'", "'technical process'", "'bootstrap'", "'pdf'", "'website'", "'javascript'", "'web designing'", "'jquery'", "'html5'", "'front end'", "'developer'", "'front end'", "'angularjs'", "'javascript'", "'web technologies'", "'html5'", "'front end'", "'web technologies'", "'html'", "'css'", "'javascript'", "'jquery'", "'front end'", "'version control'", "'php'", "'wordpress'", "'git'", "'html'", "'css'", "'windows'", "'javascript'", "'jquery'", "'sketch'", "'html'", "'ux'", "'css'", "'node.js'", "'ui'", "'javascript'", "'photoshop'", "'illustrator'", "'ideas'", "'front end'", "'technical'", "'java'", "'testing'", "'javascript'", "'applications'", "'wellness'", "'healthcare'", "'nosql'", "'development'", "'html'", "'mobile'", "'data modeling'", "'rest'", "'agile'", "'android'", "'english'", "'json'", "'css'", "'css3'", "'react.js'", "'git'", "'javascript'", "'html5'", "'oops'", "'html'", "'css'", "'javascript'", "'jquery'", "'front end'", "'ajax'", "'grunt'", "'git'", "'accessibility'", "'bootstrap'", "'javascript'", "'jquery'", "'html5'", "'angularjs'", "'github'", "'ui developer'", "'css3'", "'front end'", "'scalability'", "'psd'", "'linux'", "'bootstrap'", "'css'", "'javascript'", "'web technologies'", "'html5'", "'application'", "'front end'", "'computer science'", "'scrum'", "'mysql'", "'html'", "'javascript'", "'jquery'", "'backend'", "'debugging'", "'front end'", "'react.js'", "'angularjs'", "'user interface developer'", "'html'", "'css'", "'ui developer'", "'javascript'", "'user interface designing'", "'angularjs'", "'web application development'", "'responsive web design'", "'html'", "'bootstrap'", "'css'", "'web designing'", "'javascript'", "'html5'", "'front end'", "'react.js'", "'open source'", "'usability'", "'ux'", "'css'", "'javascript'", "'web technologies'", "'web development'", "'software engineering'", "'customization'", "'front end'", "'css3'", "'analytical'", "'coding'", "'audio'", "'css'", "'transitions'", "'javascript'", "'jquery'", "'html5'", "'front end'", "'ajax'", "'rest'", "'bootstrap'", "'css'", "'photoshop'", "'javascript'", "'jquery'", "'html5'", "'web development'", "'ajax'", "'apache server'", "'api'", "'php'", "'mysql'", "'json'", "'html'", "'bootstrap'", "'github'", "'css'", "'jquery'", "'soap'", "'xml'", "'angularjs'", "'react.js'", "'javascript'", "'front end'", "'written communication'", "'web technologies'", "'computer science'", "'angularjs'", "'user interaction'", "'html'", "'information architecture'", "'css'", "'ui'", "'javascript'", "'jquery'", "'front end'", "'product quality'", "'e-commerce'", "'testing'", "'javascript'", "'applications'", "'saas'", "'application'", "'programming'", "'development'", "'logistics'", "'quality'", "'rest'", "'git'", "'it'", "'web'", "'operations'", "'configuration'", "'web technologies'", "'developer'", "'tools'", "'json'", "'design'", "'customer experience'", "'developing'", "'react.js'", "'technical architect'", "'node.js'", "'agile'", "'application designing'", "'front end'", "'git'", "'machine learning'", "'python'", "'html'", "'javascript'", "'jquery'", "'backend'", "'digital strategy'", "'android'", "'front end'", "'ideas'", "'drupal'", "'php'", "'wordpress'", "'grid'", "'cms'", "'web designing'", "'photoshop'", "'management consulting'", "'front end'", "'mongodb'", "'web application'", "'flex'", "'sqlite'", "'html'", "'data visualization'", "'javascript'", "'agile'", "'product management'", "'front end'", "'frontend'", "'english language'", "'responsive web design'", "'jquery'", "'bootstrap'", "'css'", "'javascript'", "'web technologies'", "'html5'", "'control system'", "'ajax'", "'tdd'", "'version control'", "'http'", "'git'", "'jira'", "'html'", "'javascript'", "'debugging'", "'front end'", "'html'", "'photoshop'", "'javascript'", "'tool design'", "'user interface designing'", "'angularjs'", "'web application development'", "'responsive web design'", "'html'", "'bootstrap'", "'css'", "'web designing'", "'javascript'", "'html5'", "'front end'", "'rest'", "'java'", "'angularjs'", "'unit testing'", "'html'", "'css'", "'web services'", "'javascript'", "'web technologies'", "'front end'", "'react.js'", "'angularjs'", "'it services'", "'bootstrap'", "'node.js'", "'backbone.js'", "'javascript'", "'product development'", "'html5'", "'markup languages'", "'front end'", "'browser testing'", "'usability'", "'html'", "'css'", "'javascript'", "'web technologies'", "'jquery'", "'web development'", "'front end'", "'angularjs'", "'html'", "'bootstrap'", "'css'", "'javascript'", "'jquery'", "'css3'", "'react.js'", "'design patterns'", "'ui'", "'javascript'", "'jquery'", "'html5'", "'software development'", "'front end'", "'psd'", "'core php'", "'ui development'", "'html'", "'css'", "'javascript'", "'jquery'", "'html5'", "'css3'", "'html'", "'javascript'", "'asp'", "'telecom'", "'automation'", "'linux'", "'mysql'", "'python'", "'hibernate'", "'html'", "'javascript'", "'xml'", "'front end'", "'information technology management'", "'analytical'", "'angularjs'", "'php'", "'automation tools'", "'management'", "'html'", "'html5'", "'backend'", "'sql'", "'six sigma'", "'pmp'", "'python'", "'oracle'", "'html'", "'javascript'", "'c'", "'.net'", "'assembly language'", "'android sdk'", "'android development'", "'j2me'", "'eclipse'", "'ios'", "'java'", "'mysql'", "'sqlite'", "'j2ee'", "'project management'", "'front end'", "'angularjs'", "'operations'", "'manager technology'", "'scripting'", "'javascript'", "'business process'", "'outsourcing'", "'ajax'", "'angularjs'", "'html'", "'bootstrap'", "'css'", "'node.js'", "'javascript'", "'jquery'", "'html5'", "'web development'", "'google adwords'", "'front end'", "'social media'", "'credit analysis'", "'information technology'", "'javascript'", "'jquery'", "'debugging'", "'css3'", "'business executive'", "'ajax'", "'photoshop'", "'javascript'", "'jquery'", "'java'", "'hibernate'", "'j2ee'", "'javascript'", "'agile'", "'jquery'", "'spring'", "'css3'", "'react.js'", "'developer'", "'bootstrap'", "'javascript'", "'jquery'", "'html5'", "'react.js'", "'ui designer development'", "'rwd'", "'ajax'", "'rest'", "'angularjs'", "'ui development'", "'responsive web design'", "'html'", "'css'", "'user interface development'", "'web design'", "'javascript'", "'web design engineer'", "'jquery'", "'soap'", "'web development'", "'rest'", "'computer science'", "'api'", "'bootstrap'", "'javascript'", "'algorithms'", "'web technologies'", "'react.js'", "'excel'", "'dom'", "'it'", "'html'", "'node.js'", "'javascript'", "'front end'", "'react.js'", "'javascript'", "'web technologies'", "'web development'", "'front end'", "'react.js'", "'developer'", "'java'", "'troubleshooting'", "'ui development'", "'html'", "'css'", "'javascript'", "'debugging'", "'front end'", "'react js'", "'javascript'", "'codeigniter'", "'html'", "'css'", "'javascript'", "'jquery'", "'front end'", "'react.js'", "'git'", "'aws'", "'javascript'", "'primary skills'", "'front end'", "'aws'", "'css3'", "'written communication'", "'agile'", "'computer science'", "'git'", "'data structures'", "'bootstrap'", "'javascript'", "'algorithms'", "'jquery'", "'front end'", "'performance improvement'", "'automation testing'", "'financial management'", "'orchestration'", "'supply chain management'", "'html'", "'javascript'", "'analytics'", "'outsourcing'", "'prototyping'", "'html'", "'frontend'", "'css'", "'front end'", "'css'", "'game development'", "'game'", "'games'", "'css3'", "'front end'", "'angularjs'", "'javascript'", "'html5'"]

In [11]:
# Explode the lists into separate rows
specialization_exploded = specialization.explode('skill_list')
specialization_exploded

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,'html'
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,'css'
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,'javascript'
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,'web design'
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,'responsive design'
...,...,...,...,...,...,...
71,90,Trainer/Faculty,10,trainer/faculty,90,'query'
71,90,Trainer/Faculty,10,trainer/faculty,90,'social media marketing'
71,90,Trainer/Faculty,10,trainer/faculty,90,'keyword analysis'
71,90,Trainer/Faculty,10,trainer/faculty,90,'press release'
71,90,Trainer/Faculty,10,trainer/faculty,90,'xml'

In [1]:
# Group by 'field_id' and aggregate unique skills into a list
specialization_grouped = specialization_exploded.groupby('field_id')['skill_list'].unique().reset_index()
WRONG DON'T USE UNIQUE
specialization_grouped

NameError: name 'specialization_exploded' is not defined

In [13]:
# Group by 'field_id' and combine but keep duplicates
specialization_grouped = specialization_exploded.groupby('field_id')['skill_list'].apply(list).reset_index()
specialization_grouped

   field_id                                         skill_list
0         0  ['programmer', 'developer', 'tcp', 'c++', 'ip'...
1         1  ['html', 'css', 'javascript', 'web design', 'r...
2         2  ['business intelligence tools', 'tableau', 'po...
3         3  ['user interface design', 'wireframing', 'prot...
4         4  ['product management', 'roadmap planning', 'ag...
5         5  ['performance improvement', 'supply chain mana...
6         6  ['cybersecurity principles', 'security tools',...
7         7  ['network design', 'routing and switching', 'n...
8         9  ['technology strategy', 'innovation', 'emergin...
9        10  ['instructional design', 'devops practices', '...

In [12]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skill_list in specialization_grouped['skill_list'] for skill in skill_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

NameError: name 'specialization_grouped' is not defined

In [12]:
# remove duplicates
all_skills = list(set(all_skills))

In [13]:
# count
specialization_skill_count = len(all_skills)
specialization_skill_count

206

In [14]:
nakuri_skill = pd.read_csv('../../static/csv/nakuri_skill_list.csv')
nakuri_skill.sample(10)

                          skill_name
3753                             vss
3400                        printnet
2563                  neural network
4208                          proven
4184  place & static timing analysis
2440                     sap mm - wm
3730                             ecr
2786                             cxo
3548              aix administration
547                              ips

In [15]:
nakuri_skill_list = nakuri_skill['skill_name'].tolist()

In [16]:
nakuri_skill_count = len(nakuri_skill_list)
nakuri_skill_count

4452

In [17]:
# get website_skill where it is not in nakuri_skill
specialization_skill_not_in_nakuri = [skill for skill in all_skills if skill not in nakuri_skill_list]
# get nakuri_skill where it is not in website_skill
nakuri_skill_not_in_specialization = [skill for skill in nakuri_skill_list if skill not in all_skills]

In [18]:
# count
print(len(specialization_skill_not_in_nakuri))
print(len(nakuri_skill_not_in_specialization))

103
4349

In [19]:
specialization.head()

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,"[html, css, javascript, web design, responsive..."
1,2,1,Back-End,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."
2,3,1,Full Stack,Full Stack Developers have expertise in both F...,3,"[front-end, back-end, full stack frameworks, w..."
3,4,1,Software Engineer,Software Engineers design and develop software...,4,"[software development, algorithm design, softw..."
4,5,1,Software Developer,"Software Developers write, test, and maintain ...",5,"[java, python, c++, software design, code opti..."

In [20]:
IT = pd.read_csv('../../static/csv/role_job_skills.csv')
IT.sample(5)

,role_job,Skills,field
6,data scientist,"software development,java,machine learning,pyt...",Data and Analytics
50,technical lead,"wan,tools,linux,solaris,aix,system software,wi...",Emerging and Specialized
55,web developer,"google analytics,case studies,social media,tra...",Software Development
13,functional test planning,"performance improvement,supply chain managemen...",Testing and Quality Assurance
18,instructional designer,instructional design,Design and UX/UI

In [21]:
type(IT['Skills'][0])

str

In [22]:
IT.size

168

In [23]:
field_mapping = {
    'Software Development' : 1,
    'Data and Analytics' : 2,
    'Design and UX/UI' : 3,
    'Product Management' : 4,
    'Testing and Quality Assurance' : 5,
    'Security' : 6,
    'Networking and Infrastructure' : 7,
    'Project Management' : 8,
    'Business and Strategy' : 9,
    'Emerging and Specialized' : 10,
}

In [24]:
# Map the 'field' column to the 'field_id' column
IT['field_id'] = IT['field'].map(field_mapping)
IT.sample(3)

,role_job,Skills,field,field_id
11,frontend developer,"ajax,php,wordpress,mysql,html,css,seo,javascri...",Software Development,1
28,project lead,"report writing,proposal writing,project planni...",Product Management,4
42,support engineer,"networking,information technology management,n...",Emerging and Specialized,10

In [25]:
IT_sub = IT[['role_job','field_id','Skills']]
IT_sub.sample(3)

,role_job,field_id,Skills
30,python developer,1,"python,programming,developer,troubleshooting,i..."
42,support engineer,10,"networking,information technology management,n..."
32,reactjs developer,1,"front end,usage,git,dom,json,translation,javas..."

In [26]:
def convert_to_list(skill_string):
    return [skill.strip() for skill in skill_string.split(',')]

# Example usage
# original_string = "programmer,developer,tcp,c++,ip,life sciences"
# converted_list = convert_to_list(original_string)
# print(converted_list)

In [27]:
# # add new column
# IT_sub['Skills'] = IT_sub['Skills'].apply(convert_to_list)
IT_sub['Skills'] = IT_sub['Skills'].apply(lambda x: convert_to_list(x) if pd.notna(x) else [])
IT_sub.head()

C:\Users\aky\AppData\Local\Temp\ipykernel_13328\2603695032.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IT_sub['Skills'] = IT_sub['Skills'].apply(lambda x: convert_to_list(x) if pd.notna(x) else [])

,role_job,field_id,Skills
0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j..."
1,backend developer,1,"[computer science, http, php, data structures,..."
2,business analyst,9,"[product marketing, analytical, google analyti..."
3,c++ developer,1,"[programmer, developer, tcp, c++, ip, life sci..."
4,consultant,9,"[customization, open, cvs, rest, technical, e-..."

In [405]:
# get skills list of these fields data engineer, data scientist, product manager, software developer, software engineer
data_engineer = IT[IT['role_job'] == 'data engineer']['Skills'].tolist()[0].split(',')
data_scientist = IT[IT['role_job'] == 'data scientist']['Skills'].tolist()[0].split(',')
product_manager = IT[IT['role_job'] == 'product manager']['Skills'].tolist()[0].split(',')
software_developer = IT[IT['role_job'] == 'software developer']['Skills'].tolist()[0].split(',')
software_engineer = IT[IT['role_job'] == 'software engineer']['Skills'].tolist()[0].split(',')

# then drop these list
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'data engineer'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'data scientist'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'product manager'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'software developer'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'software engineer'].index)

In [264]:
specialization.sample(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[edge computing, iot (internet of things), dis..."
1,2,1,Back-End,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."
5,6,1,Mobile App Developer,Mobile App Developers specialize in creating a...,6,"[mobile app development, ios and android platf..."

In [299]:
# Get the current skill_list for the target role
# data engineer, data scientist, product manager, software developer, software engineer
data_engineer_current_skill_list = specialization.loc[specialization['title'] == 'Data Engineer', 'skill_list'].iloc[0]
data_scientist_current_skill_list = specialization.loc[specialization['title'] == 'Data Scientist', 'skill_list'].iloc[0]
product_manager_current_skill_list = specialization.loc[specialization['title'] == 'Product Manager', 'skill_list'].iloc[0]
software_developer_current_skill_list = specialization.loc[specialization['title'] == 'Software Developer', 'skill_list'].iloc[0]
software_engineer_current_skill_list = specialization.loc[specialization['title'] == 'Software Engineer', 'skill_list'].iloc[0]

In [336]:
# Append the new_skill_list to the current_skill_list
updated_data_engineer_skill_list = data_engineer_current_skill_list + data_engineer
updated_data_scientist_skill_list = data_scientist_current_skill_list + data_scientist
updated_product_manager_skill_list = product_manager_current_skill_list + product_manager
updated_software_developer_skill_list = software_developer_current_skill_list + software_developer
updated_software_engineer_skill_list = software_engineer_current_skill_list + software_engineer

In [355]:
replace_1 = lambda x: updated_data_engineer_skill_list if x['title'] == 'Data Engineer' else x['skill_list']
replace_2 = lambda x: updated_data_scientist_skill_list if x['title'] == 'Data Scientist' else x['skill_list']
replace_3 = lambda x: updated_product_manager_skill_list if x['title'] == 'Product Manager' else x['skill_list']
replace_4 = lambda x: updated_software_developer_skill_list if x['title'] == 'Software Developer' else x['skill_list']
replace_5 = lambda x: updated_software_engineer_skill_list if x['title'] == 'Software Engineer' else x['skill_list']

In [401]:
specialization = specialization.assign(skill_list=specialization.apply(replace_1, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_2, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_3, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_4, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_5, axis=1))

In [359]:
specialization.loc[specialization['title'] == 'Data Engineer']['skill_list']

14    [data pipeline development, data integration, ...
Name: skill_list, dtype: object

In [271]:
# # Update the DataFrame with the modified skill_list for the target role
# specialization.loc[specialization['title'] == 'Data Engineer']
# specialization.loc[specialization['title'] == 'Data Scientist']
# specialization.loc[specialization['title'] == 'Product Manager']
# specialization.loc[specialization['title'] == 'Software Developer']
# specialization.loc[specialization['title'] == 'Software Engineer']

,specialization_id,field_id,title,description,roadmap_id,skill_list
3,4,1,Software Engineer,Software Engineers design and develop software...,4,object-oriented programming (oop)

In [406]:
# rename skills to skill_list
IT_sub = IT_sub.rename(columns={'Skills':'skill_list'})

In [407]:
type(IT_sub['skill_list'][0])

list

In [408]:
IT_sub.sample(1)

,role_job,field_id,skill_list
12,full stack developer,1,"[rest, java, jpa, spring mvc, html, css, web s..."

In [409]:
IT_sub['description'] = IT_sub['role_job']

In [410]:
# get last id of specialization
last_id = specialization['specialization_id'].iloc[-1]
last_id

41

In [411]:
# reset index of IT_sub
IT_sub.reset_index(inplace=True)

In [412]:
IT_sub.head(3)

,index,role_job,field_id,skill_list,description
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst

In [413]:
# check for duplicate role_job
IT_sub[IT_sub.duplicated(['role_job'])]

Empty DataFrame
Columns: [index, role_job, field_id, skill_list, description]
Index: []

In [414]:
# add new id for IT_sub
IT_sub['specialization_id'] = IT_sub.index + last_id + 1

In [415]:
IT_sub.head(3)

,index,role_job,field_id,skill_list,description,specialization_id
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer,42
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer,43
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst,44

In [416]:
IT_sub['roadmap_id'] = IT_sub['specialization_id']
IT_sub.head(3)

,index,role_job,field_id,skill_list,description,specialization_id,roadmap_id
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer,42,42
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer,43,43
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst,44,44

In [417]:
# rename role_job to specialization_name
IT_sub = IT_sub.rename(columns={'role_job':'title'})

In [418]:
# make first letter of each word capital
IT_sub['title'] = IT_sub['title'].str.title()

In [419]:
IT_sub = IT_sub[['specialization_id', 'field_id', 'title', 'description', 'roadmap_id', 'skill_list']]

In [420]:
IT_sub.head(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
1,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
2,44,9,Business Analyst,business analyst,44,"[product marketing, analytical, google analyti..."

In [421]:
specialization.reset_index(drop=True, inplace=True)
IT_sub.reset_index(drop=True, inplace=True)

In [422]:
specialization.tail(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
38,39,10,virtual reality (vr) developer,VR Developers create immersive virtual reality...,39,"[virtual reality development, 3d modeling, vr ..."
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,"[augmented reality development, ar frameworks,..."
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[edge computing, iot (internet of things), dis..."

In [423]:
# start index from last index of specialization
IT_sub.index = IT_sub.index + specialization.index[-1] + 1
IT_sub.head(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
41,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
42,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
43,44,9,Business Analyst,business analyst,44,"[product marketing, analytical, google analyti..."

In [424]:
IT_sub.tail()

,specialization_id,field_id,title,description,roadmap_id,skill_list
87,88,10,Technical Support Engineer,technical support engineer,88,"[unix operating system, netbackup, windows os,..."
88,89,10,Trainee,trainee,89,"[guest, keyword research, writing, search engi..."
89,90,10,Trainer/Faculty,trainer/faculty,90,"[data science, statistics, deep learning, r, p..."
90,91,3,Ui/Ux Developer,ui/ux developer,91,"[software development, application, ajax, tech..."
91,92,1,Web Developer,web developer,92,"[google analytics, case studies, social media,..."

In [425]:
# add IT_sub to specialization
specialization_2 = pd.concat([specialization, IT_sub])

In [426]:
specialization_2.shape

(92, 6)

In [427]:
specialization_2['title'].nunique()

92

In [428]:
# get duplicate title and 
duplicate_specialization = specialization_2[specialization_2.duplicated(['title'])]
duplicate_specialization

Empty DataFrame
Columns: [specialization_id, field_id, title, description, roadmap_id, skill_list]
Index: []

In [429]:
specialization_2[specialization_2['title'] == 'Data Engineer']

,specialization_id,field_id,title,description,roadmap_id,skill_list
14,15,2,Data Engineer,Data Engineers build and maintain the data inf...,15,"[data pipeline development, data integration, ..."

In [440]:
specialization_2.sample(15)

,specialization_id,field_id,title,description,roadmap_id,skill_list
87,88,10,Technical Support Engineer,technical support engineer,88,"[unix operating system, netbackup, windows os,..."
18,19,3,Visual Designer,"Visual Designers create graphics, illustration...",19,"[graphic design, typography, color theory, lay..."
86,87,10,Technical Lead,technical lead,87,"[wan, tools, linux, solaris, aix, system softw..."
17,18,3,Interaction Designer,Interaction Designers specialize in designing ...,18,"[interaction design principles, user-centered ..."
37,38,10,Quantum Computing Scientist,Quantum Computing Scientists research and deve...,38,"[quantum computing, quantum algorithms, quantu..."
74,75,10,Servicenow Developer,servicenow developer,75,"[vulnerability management, rest, ajax, java, s..."
25,26,6,Ethical Hacker (Penetration Tester),"Penetration Testing, Vulnerability Scanning, E...",26,"[penetration testing, vulnerability scanning, ..."
69,70,5,Quality Assurance Engineer,quality assurance engineer,70,"[test cases, manual testing, web testing, web ..."
41,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
2,3,1,Full Stack,Full Stack Developers have expertise in both F...,3,"[front-end, back-end, full stack frameworks, w..."
42,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
78,79,10,Support Engineer,support engineer,79,"[networking, information technology management..."
71,72,8,Release Manager,release manager,72,"[wan, capacity management, computer science, e..."
83,84,4,Team/Technical Lead,team/technical lead,84,"[cisco call manager, offshore, java, communica..."
46,47,2,Database Administrator,database administrator,47,"[weblogic, oracle rac, installation, mysql, tr..."

In [437]:
# make first letter of each word capital
specialization_2['title'] = specialization_2['title'].str.title()

In [3]:
specialization_3 = specialization3_skills[['specialization_id','title','description','roadmap_id','field_id']]
specialization_3.sample(5)

,specialization_id,title,description,roadmap_id,field_id
34,35,It Consultant,IT Consultants provide expert advice on IT str...,35,9
18,19,Visual Designer,"Visual Designers create graphics, illustration...",19,3
55,56,Hardware Engineer,hardware engineer,56,10
70,71,Reactjs Developer,reactjs developer,71,1
37,38,Quantum Computing Scientist,Quantum Computing Scientists research and deve...,38,10

In [4]:
# save csv
specialization_3.to_csv('../../static/csv/specialization3.csv', index=False)

In [ ]:
#specialization_id,title,description,roadmap_id,field_id

In [444]:
specialization_2 = specialization_2[['specialization_id','title','description','roadmap_id','field_id','skill_list']]

In [445]:
# save csv
specialization_2.to_csv('../../static/csv/specialization3_skills.csv', index=False)

In [1]:
# load specialization3_skills.csv
import pandas as pd
specialization3_skills = pd.read_csv('../../static/csv/specialization3_skills.csv')

# Apending Specialization3_Skills to skill_list

In [1]:
import numpy as np
import pandas as pd

In [15]:
#specialization3_skills = pd.read_csv('../../static/csv/specialization3_skills.csv')
specialization3_skills = pd.read_csv('../../static/csv/specialization5_1.csv')
specialization3_skills.tail(3)

,specialization_id,title,field_id,description,roadmap_id,skill_list
69,86,Technical Content Developer,10,technical content developer,86,"['time management', 'analytical skills', 'goog..."
70,88,Technical Support Engineer,10,technical support engineer,88,"['unix operating system', 'netbackup', 'window..."
71,90,Trainer/Faculty,10,trainer/faculty,90,"['data science', 'statistics', 'deep learning'..."

In [16]:
# for each row, get the skill_list and combine them into one list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: x[1:-1].split(','))
specialization3_skills.head()

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,"['html', 'css', 'javascript', 'web design',..."
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"['node.js', 'python', 'ruby', 'java', 'dat..."
2,3,Full Stack Developer,1,Full Stack Developers have expertise in both F...,3,"['front-end', 'back-end', 'full stack framew..."
3,4,Software Engineer,1,Software Engineers design and develop software...,4,"['software development', 'algorithm design', ..."
4,5,Software Developer,1,"Software Developers write, test, and maintain ...",5,"['java', 'python', 'c++', 'software design'..."

In [17]:
# remove '-' from skill_list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip().replace('-', ' ') for skill in x])

In [18]:
# remove skills and skill
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip().replace('skills', '') for skill in x])

In [19]:
# remove skill in skill_list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip().replace('skill', '') for skill in x])

In [20]:
# strip
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip() for skill in x])

In [21]:
# lower case all skills
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.lower() for skill in x])

In [22]:
# remove empyt string
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill for skill in x if skill != ''])

In [23]:
# get only field_id 1-6
specialization3_skills = specialization3_skills[specialization3_skills['field_id'] <= 6]
specialization3_skills = specialization3_skills[specialization3_skills['field_id'] >= 1]
specialization3_skills

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,"['html', 'css', 'javascript', 'web design', 'r..."
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"['node.js', 'python', 'ruby', 'java', 'databas..."
2,3,Full Stack Developer,1,Full Stack Developers have expertise in both F...,3,"['front end', 'back end', 'full stack framewor..."
3,4,Software Engineer,1,Software Engineers design and develop software...,4,"['software development', 'algorithm design', '..."
4,5,Software Developer,1,"Software Developers write, test, and maintain ...",5,"['java', 'python', 'c++', 'software design', '..."
5,6,Mobile App Developer,1,Mobile App Developers specialize in creating a...,6,"['mobile app development', 'ios and android pl..."
6,92,Web Developer,1,A web developerâ€™s job is to create websites. W...,92,"['google analytics', 'case studies', 'social m..."
7,65,Php Developer,1,A PHP developer works as part of a team in pro...,65,"['css3', 'facebook', 'open source', 'customer ..."
8,71,Reactjs Developer,1,A React Developer is responsible for developin...,71,"['front end', 'usage', 'git', 'dom', 'json', '..."
9,42,Application Developer,1,An Application Developer is a professional res...,42,"['weblogic', 'junit', 'jpa', 'sql', 'json', 'h..."
10,12,Business Intelligence (BI) Developer,2,BI Developers create data dashboards and repor...,12,"['business intelligence tools', 'tableau', 'po..."
11,13,Machine Learning Engineer,2,Machine Learning Engineers develop and deploy ...,13,"['machine learning algorithms', 'deep learning..."
12,14,AI Engineer,2,"AI Engineers work on AI projects, including sp...",14,"['artificial intelligence', 'natural language ..."
13,44,Business Analyst,2,A business analyst (BA) is a person who proces...,44,"['product marketing', 'analytical', 'google an..."
14,47,Database Administrator,2,"A database administrator, or DBA, is responsib...",47,"['weblogic', 'oracle rac', 'installation', 'my..."
15,48,Database Architect/Designer,2,A database architect is a specialized IT profe...,48,"['real time operating systems', 'sql', 'six si..."
16,10,Data Scientist,2,"Data Scientists collect, analyze, and interpre...",10,"['data analysis', 'machine learning', 'statist..."
17,11,Data Analyst,2,Data Analysts focus on examining data to ident...,11,"['data analysis', 'data visualization', 'sql',..."
18,15,Data Engineer,2,Data Engineers build and maintain the data inf...,15,"['data pipeline development', 'data integratio..."
19,16,UI/UX Designer,3,UI Designers focus on creating visually appeal...,16,"['user interface design', 'wireframing', 'prot..."
20,54,Graphic Designer,3,"A graphic designer creates visual concepts, us...",54,"['graphic designing', 'web designing', 'graphi..."
21,31,Site Reliability Engineer (SE),3,SREs focus on maintaining the reliability and ...,31,"['site reliability engineering', 'devops pract..."
22,34,IT Business Analyst,3,IT Business Analysts bridge the gap between bu...,34,"['business analysis', 'requirements gathering'..."
23,18,Interaction Designer,3,Interaction Designers specialize in designing ...,18,"['interaction design principles', 'user center..."
24,19,Visual Designer,3,"Visual Designers create graphics, illustration...",19,"['graphic design', 'typography', 'color theory..."
25,20,Product Manager,4,Product Managers are responsible for defining ...,20,"['product management', 'roadmap planning', 'ag..."
26,35,IT Consultant,4,IT Consultants provide expert advice on IT str...,35,"['it consulting', 'client communication', 'it ..."
27,64,Network Manager,4,Network manager provides technical expertise i...,64,"['c#', 'ms sql', 'data integration', 'power bi..."
28,33,Scrum Master,4,Scrum Masters guide Agile teams through the Sc...,33,"['scrum methodology', 'agile principles', 'tea..."
29,32,IT Project Mananger,4,"IT Project Managers oversee the planning, exec...",32,"['it project management', 'project planning', ..."
30,61,Manager,4,An information technology (IT) manager supervi...,61,"['fortigate', 'networking', 'switching', 'hype..."
31,60,Lead,4,An information technology (IT) manager supervi...,60,"['linkedin', 'facebook', 'usage', 'php', 'arch..."
32,57,Head/Vp/Gm-Technology/Cto,4,Support to various businesses in their expansi...,57,"['service level management', 'delivery managem..."
33,53,Functional Test Planning,5,A functional tester is responsible for validat...,53,"['performance improvement', 'supply chain mana..."
34,22,Quality Assurance Engineer,5,QA Engineers test software to ensure its funct...,22,"['software testing', 'test automation', 'quali..."
35,23,Test Automation Engineer,5,Test Automation Engineers automate test cases ...,23,"['test automation frameworks (e.g.', 'selenium..."
36,24,Cybersecurity Analyst,6,Cybersecurity Analysts protect an organization...,24,"['cybersecurity principles', 'security tools',..."
37,25,Security Engineer,6,Security Engineers design and implement securi...,25,"['security engineering', 'network security', '..."
38,26,Ethical Hacker (Penetration Tester),6,"Penetration Testing, Vulnerability Scanning, E...",26,"['penetration testing', 'vulnerability scannin..."
39,27,Security Consultant,6,Security Consultants advise organizations on s...,27,"['security consultancy', 'risk assessment', 's..."
43,81,System Administrator,6,system administrator,81,"['software', 'technical', 'mysql', 'research',..."
44,82,System Security,6,system security,82,"['assurance', 'computer science', 'information..."

In [24]:
# Create a list of skills by combining all the skills from the 'skills_list' column
specialization_skills = [skill for skill_list in specialization3_skills['skill_list'] for skill in skill_list]

len(specialization_skills)

27793

In [26]:
# sample skills from all_skills
import numpy as np
sample_skills = np.random.choice(specialization_skills, 10)
sample_skills

array(["'linux'", "'xml'", "'oracle'", "'semiconductor'", "'devops'",
       "'software development'", "'isms'", "'big data'", "'ajax'",
       "'sdlc'"], dtype='<U95')

In [27]:
# remove ' and space at front from each string in list
specialization_skills = [skill.strip("' ") for skill in specialization_skills]

In [28]:
# sample skills from all_skills
sample_skills = np.random.choice(specialization_skills, 10)
sample_skills

array(['xml', 'javascript', 'web technologies', 'backend',
       'verbal communication', 'c#.net', 'it   software', 'jpa', 'php',
       'data management'], dtype='<U93')

In [29]:
# replace '-' with ' '
specialization_skills = [skill.replace('-', ' ') for skill in specialization_skills]

In [30]:
# remove empty string
specialization_skills = [skill for skill in specialization_skills if skill != '']

In [31]:
# remove duplicates
specialization_skills = list(set(specialization_skills))

In [32]:
len(specialization_skills)

3573

In [34]:
# load skill_3.csv
skill_3 = pd.read_csv('../../static/csv/skill_3.csv')
skill_3.head(3)

   id               skill
0   1  regression testing
1   2             android
2   3          statistics

In [35]:
skill_3.tail()

      id                  skill
405  406      social organizing
406  407  relationship building
407  408     strategic thinking
408  409     outdoor activities
409  410             counseling

In [36]:
# check duplicacte id
skill_3[skill_3.duplicated(['id'])]

Empty DataFrame
Columns: [id, skill]
Index: []

In [37]:
# print where id is equal to 286
skill_3[skill_3['id'] == 286]

      id                    skill
285  286  multimedia technologies

In [38]:
skill_3.shape

(410, 2)

In [39]:
# on skill_3, get the skill_name and save it to skill_3_list
skill_3_list = skill_3['skill'].tolist()
len(skill_3_list)

410

In [40]:
# sample skills from skill_3_list
sample_skills = np.random.choice(skill_3_list, 10)
sample_skills

array(['automation', 'brand identity', 'user interface', 'social issues',
       'strategic planning', 'pattern recognition',
       'vulnerability identification', 'user verification',
       'creative writing', 'data ethics'], dtype='<U44')

In [42]:
# remove skills fromm specialization_skills that are in skill_3_list
skills_not_in_3 = [skill for skill in specialization_skills if skill not in skill_3_list]
len(skills_not_in_3)

3402

In [43]:
# # remove skills on all_skills that are in skill_3_list
# all_skills = [skill for skill in all_skills if skill not in skill_3_list]
# len(all_skills)

In [44]:
len(skill_3_list)

410

In [46]:
# combine skill_3_list and all_skills
ALL1 = skills_not_in_3 + skill_3_list
len(ALL1)

3812

In [47]:
print(len(skills_not_in_3)+ len(skill_3_list))

3812

In [48]:
# show duplicate skills
duplicate_skills = [skill for skill in skills_not_in_3 if skills_not_in_3.count(skill) > 1]
duplicate_skills

[]

In [49]:
# remove skills from skill_3_list if its on all_skills
skill_3_not_in_all_skill = [skill for skill in skill_3_list if skill not in all_skills]
len(skill_3_not_in_all_skill)

NameError: name 'all_skills' is not defined

In [50]:
# on skill_3 get last id
last_id = skill_3['id'].iloc[-1]
last_id

410

In [51]:
# make skills_not_in_3 to dataframe
skills_not_in_3 = pd.DataFrame(skills_not_in_3, columns=['skill'])
skills_not_in_3.head()

                 skill
0                  bpo
1  category management
2          adobe flash
3                  zte
4          server side

In [52]:
skills_not_in_3.tail()

                  skill
3397       process flow
3398             target
3399                six
3400  senior management
3401              leave

In [53]:
# add id to skills_not_in_3
skills_not_in_3['id'] = skills_not_in_3.index + last_id + 1
skills_not_in_3.head()

                 skill   id
0                  bpo  411
1  category management  412
2          adobe flash  413
3                  zte  414
4          server side  415

In [54]:
skills_not_in_3.tail(3)

                  skill    id
3399                six  3810
3400  senior management  3811
3401              leave  3812

In [55]:
skill_3.head(3)

   id               skill
0   1  regression testing
1   2             android
2   3          statistics

In [56]:
# combine skill_3 and skills_not_in_3
skill_3 = pd.concat([skill_3, skills_not_in_3])
skill_3.head(3)

   id               skill
0   1  regression testing
1   2             android
2   3          statistics

In [57]:
skill_3.tail(3)

        id              skill
3399  3810                six
3400  3811  senior management
3401  3812              leave

In [58]:
# rset index
skill_3.reset_index(drop=True, inplace=True)
skill_3.tail(3)

        id              skill
3809  3810                six
3810  3811  senior management
3811  3812              leave

In [59]:
# check if there are duplicate id
skill_3[skill_3.duplicated(['id'])]

Empty DataFrame
Columns: [id, skill]
Index: []

In [60]:
skill_3.head(3)

   id               skill
0   1  regression testing
1   2             android
2   3          statistics

In [61]:
# save skills_not_in_3 to csv
skill_3.to_csv('../../static/csv/skill_4.csv', index=False)

# Skill mapping for Specialization3_Skills

In [346]:
import numpy as np
import pandas as pd
import ast

In [62]:
# get skill_4.csv
website_skill = pd.read_csv('../../static/csv/skill_4.csv')
website_skill.head(2)

   id               skill
0   1  regression testing
1   2             android

In [87]:
# get specialization3_skills.csv
specialization3_skills = pd.read_csv('../../static/csv/specialization5_1.csv')
specialization3_skills.head(2)

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,"['html', 'css', 'javascript', 'web design', 'r..."
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"['node.js', 'python', 'ruby', 'java', 'databas..."

In [88]:
# filter field id 1 - 6
specialization3_skills = specialization3_skills[specialization3_skills['field_id'] <= 6]
specialization3_skills = specialization3_skills[specialization3_skills['field_id'] >= 1]

In [89]:
# use ast to convert string to list on specialization3_skills
import ast
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: ast.literal_eval(x))
specialization3_skills.head(2)

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,"[html, css, javascript, web design, responsive..."
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."

In [90]:
# remove ' ' and space at front and back of each string in list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip("' ") for skill in x])
specialization3_skills.head(2)

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,"[html, css, javascript, web design, responsive..."
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."

In [91]:
# remove empty list or '' from skill_list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill for skill in x if skill != ''])
specialization3_skills.head(2)

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,"[html, css, javascript, web design, responsive..."
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."

In [92]:
# replace '-' with ' '
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.replace('-', ' ') for skill in x])

In [93]:
# remove 'skills' and 'skill'
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.replace('skills', '') for skill in x])
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.replace('skill', '') for skill in x])

In [94]:
# strip
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip() for skill in x])

In [95]:
# remove empty string
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill for skill in x if skill != ''])

In [96]:
skill_mapping = website_skill.set_index('skill')['id'].to_dict()

In [97]:
skill_mapping

{'regression testing': 1,
 'android': 2,
 'statistics': 3,
 'scrum framework': 4,
 'test': 5,
 'security principles': 6,
 'big data': 7,
 'lean startup': 8,
 'svn': 9,
 'math': 10,
 'product success': 11,
 'motion design': 12,
 'compatibility testing': 13,
 'security incident handling': 14,
 'lean product development': 15,
 'usability testing': 16,
 'product management': 17,
 'database': 18,
 'object oriented design': 19,
 'typography': 20,
 'web design': 21,
 'animation': 22,
 'responsible ai': 23,
 'machine learning': 24,
 'quality': 25,
 'penetration testing': 26,
 'software architecture': 27,
 'prototyping': 28,
 'product launch': 29,
 'continuous integration': 30,
 'database management': 31,
 'penetration': 32,
 'security controls': 33,
 'predictive modeling': 34,
 'db': 35,
 'black box testing': 36,
 'programming': 37,
 'firewall': 38,
 'privacy': 39,
 'identity verification': 40,
 'data masking': 41,
 'solid principles': 42,
 'design principles': 43,
 'agile practices': 44,
 'ux design': 45,
 'software development life cycle': 46,
 'dashboards': 47,
 'code review': 48,
 'performance testing': 49,
 'software testing': 50,
 'software development process': 51,
 'testing': 52,
 'pattern recognition': 53,
 'product backlog': 54,
 'collaboration': 55,
 'performance evaluation': 56,
 'mobile': 57,
 'automated testing': 58,
 'user acceptance testing': 59,
 'innovation': 60,
 'cybersecurity threats': 61,
 'design guidelines': 62,
 'testing techniques': 63,
 'test automation tools': 64,
 'software development principles': 65,
 'color theory': 66,
 'dry': 67,
 'product documentation': 68,
 'app': 69,
 'phishing attacks': 70,
 'feature prioritization': 71,
 'environment compatibility': 72,
 'device protection': 73,
 'code coverage': 74,
 'security measures': 75,
 'inclusive design': 76,
 'brand identity': 77,
 'assessment': 78,
 'agile development': 79,
 'experimentation': 80,
 'visual communication': 81,
 'empathy in design': 82,
 'vcs': 83,
 'emotional design': 84,
 'restful api': 85,
 'scrum master': 86,
 'iterative development': 87,
 'testing methods': 88,
 'security incident response plan': 89,
 'network security': 90,
 'risk taking': 91,
 'identity management': 92,
 'smoke testing': 93,
 'quality assurance': 94,
 'wireframing': 95,
 'product planning': 96,
 'vulnerability identification': 97,
 'user testing': 98,
 'unit': 99,
 'incident': 100,
 'insights': 101,
 'design tools': 102,
 'lean thinking': 103,
 'consistency in design': 104,
 'user experience': 105,
 'fail fast': 106,
 'product manager': 107,
 'color': 108,
 'data dictionary': 109,
 'incident management': 110,
 'mvp': 111,
 'user interface': 112,
 'exploratory testing': 113,
 'security policy': 114,
 'threat mitigation': 115,
 'authentication methods': 116,
 'network': 117,
 'git': 118,
 'biometric authentication': 119,
 'product roadmap': 120,
 'devops': 121,
 'masking': 122,
 'user interfaces': 123,
 'accessibility': 124,
 'java programming': 125,
 'content organization': 126,
 'sql': 127,
 'feature engineering': 128,
 'product development': 129,
 'version control': 130,
 'information manipulation': 131,
 'testing existing functionality': 132,
 'data management': 133,
 'user experience testing': 134,
 'usability': 135,
 'tableau': 136,
 'agile principles': 137,
 'agile methodology': 138,
 'protection': 139,
 'analytics': 140,
 'product goals': 141,
 'user personas': 142,
 'ui/ux design': 143,
 'adaptability in development': 144,
 'endpoint security': 145,
 'role of a software architect': 146,
 'network perimeter protection': 147,
 'user': 148,
 'product strategy': 149,
 'ethical data use': 150,
 'distributed version control': 151,
 'test engineer': 152,
 'interface': 153,
 'color psychology': 154,
 'testing phases': 155,
 'collaborative development': 156,
 'patterns': 157,
 'continuous improvement': 158,
 'api': 159,
 'data preprocessing': 160,
 'unit testing': 161,
 'data governance': 162,
 'security': 163,
 'data scientist': 164,
 'interactive design': 165,
 'automation': 166,
 'stress testing': 167,
 'visualization': 168,
 'defect detection': 169,
 'iterative design': 170,
 'data science': 171,
 'source code management': 172,
 'usability principles': 173,
 'security assessment': 174,
 'api design': 175,
 'product owner': 176,
 'ui/ux design software': 177,
 'software development practices': 178,
 'design ethics': 179,
 'information architecture': 180,
 'data security': 181,
 'authentication': 182,
 'user verification': 183,
 'authorization': 184,
 'scrum': 185,
 'cleaning': 186,
 'test comprehensiveness': 187,
 'scrum roles': 188,
 'design': 189,
 'social engineering': 190,
 'agile manifesto': 191,
 'testing efficiency': 192,
 'two factor authentication': 193,
 'nosql': 194,
 'user centered design': 195,
 'data driven decision making': 196,
 'agile software development': 197,
 'software development lifecycle': 198,
 'data dashboards': 199,
 'access control': 200,
 'stakeholder collaboration': 201,
 'processing': 202,
 'mobile app development': 203,
 'responsive design': 204,
 'feature evaluation': 205,
 'testing changes': 206,
 'software integration': 207,
 'dry principle': 208,
 'visual perception': 209,
 'acceptance criteria': 210,
 'documentation': 211,
 'security analyst': 212,
 'statistical analysis': 213,
 'account security': 214,
 'web services': 215,
 'vulnerability assessment': 216,
 'structured query language': 217,
 'development': 218,
 'data analytics': 219,
 'visual design': 220,
 'software development': 221,
 'vulnerability management': 222,
 'dashboard': 223,
 'complementary colors': 224,
 'least privilege,principle of least privilege': 225,
 'exploratory data analysis': 226,
 'cybersecurity': 227,
 'application programming interface': 228,
 'data': 229,
 'testing processes': 230,
 'user interface design': 231,
 'code reusability': 232,
 'multi factor authentication': 233,
 'user feedback': 234,
 'design process': 235,
 'learning culture': 236,
 'information hierarchy': 237,
 'technical writer': 238,
 'build stability': 239,
 'compliance': 240,
 'model performance': 241,
 'cross platform testing': 242,
 'user navigation': 243,
 'data cleaning': 244,
 'data ethics': 245,
 'data protection': 246,
 'graphic design': 247,
 'database querying': 248,
 'information security compliance': 249,
 'data processing': 250,
 'principles': 251,
 'a/b testing': 252,
 'information security': 253,
 'defect identification': 254,
 'consistency,gestalt principles': 255,
 'vulnerability': 256,
 'data quality': 257,
 'color schemes': 258,
 'ci/cd': 259,
 'software quality assurance': 260,
 'git workflow': 261,
 'fail cheap': 262,
 'median': 263,
 'code quality': 264,
 'knowledge transfer': 265,
 'organizational security': 266,
 'elements': 267,
 'spear phishing': 268,
 'testing extremes': 269,
 'centralized version control': 270,
 'java': 271,
 'interaction design': 272,
 'user experience optimization': 273,
 'data analysis': 274,
 'testing metrics': 275,
 'code maintainability': 276,
 'encryption': 277,
 'usability evaluation': 278,
 'customer feedback': 279,
 'android development': 280,
 'mysql': 281,
 'mobile responsiveness': 282,
 'metadata': 283,
 'load testing': 284,
 'data visualization': 285,
 'multimedia technologies': 286,
 'digital circuits': 287,
 'it industry': 288,
 'network protocols': 289,
 'research writing': 290,
 'simulation': 291,
 'interface design': 292,
 'web development': 293,
 'it infrastructure': 294,
 'technology integration': 295,
 'management principles': 296,
 'computer science': 297,
 'assembly language': 298,
 'mathematics': 299,
 'information organization': 300,
 'advanced mathematics': 301,
 'system integration': 302,
 'formal languages': 303,
 'computer architecture': 304,
 'engineering': 305,
 'technical communication': 306,
 'problem solving': 307,
 'maintenance': 308,
 'artificial intelligence': 309,
 'automata theory': 310,
 'systems analysis': 311,
 'coding': 312,
 'presentation ': 313,
 'advanced programming': 314,
 'structured programming': 315,
 'ethical decision making': 316,
 'network management': 317,
 'professional ethics': 318,
 'computing ethics': 319,
 'research methodology': 320,
 'organizational management': 321,
 'algorithms': 322,
 'software design': 323,
 'electronics': 324,
 'architecture design': 325,
 'research planning': 326,
 'analysis': 327,
 'leadership': 328,
 'language design': 329,
 'networking': 330,
 'complexity analysis': 331,
 'advanced software engineering': 332,
 'application development': 333,
 'data communication': 334,
 'optimization': 335,
 'modeling': 336,
 'data structures': 337,
 'logic design': 338,
 'system administration': 339,
 'application design': 340,
 'administration': 341,
 'thesis development': 342,
 'software engineering': 343,
 'advanced information security': 344,
 'entrepreneurship': 345,
 'programming languages': 346,
 'professional development': 347,
 'language theory': 348,
 'emerging technologies': 349,
 'social issues': 350,
 'hardware': 351,
 'operating systems': 352,
 'it support': 353,
 'front end': 354,
 'multimedia content creation': 355,
 'research methods': 356,
 'project management': 357,
 'quantitative analysis': 358,
 'technology business': 359,
 'syntax': 360,
 'system architecture': 361,
 'back end': 362,
 'ai foundations': 363,
 'network administration': 364,
 'solution design': 365,
 'algorithm design': 366,
 'databases': 367,
 'integrative programming': 368,
 'creative problem solving': 369,
 'emotional expression': 370,
 'troubleshooting': 371,
 'process improvement': 372,
 'empathy': 373,
 'event planning': 374,
 'spontaneous decision making': 375,
 'attention to detail': 376,
 'creativity': 377,
 'critical thinking': 378,
 'entertaining': 379,
 'management': 380,
 'advocacy': 381,
 'mechanical': 382,
 'physical activities': 383,
 'scientific inquiry': 384,
 'social interactions': 385,
 'active listening': 386,
 'idea generation': 387,
 'time management': 388,
 'logic': 389,
 'organization': 390,
 'research': 391,
 'emotional intelligence': 392,
 'mentorship': 393,
 'reliability': 394,
 'strategic planning': 395,
 'spontaneity': 396,
 'decision making': 397,
 'community building': 398,
 'adaptability': 399,
 'public speaking': 400,
 'creative writing': 401,
 'creative brainstorming': 402,
 'caregiving': 403,
 'individualism': 404,
 'artistic expression': 405,
 'social organizing': 406,
 'relationship building': 407,
 'strategic thinking': 408,
 'outdoor activities': 409,
 'counseling': 410,
 'bpo': 411,
 'category management': 412,
 'adobe flash': 413,
 'zte': 414,
 'server side': 415,
 'r12': 416,
 'manager': 417,
 'equipment design': 418,
 'sonicwall': 419,
 'embedded software development': 420,
 'quality documentation': 421,
 'solution management': 422,
 'websphere message broker': 423,
 'smsc': 424,
 'admin studio': 425,
 'grails': 426,
 'webapp': 427,
 'open source technologies': 428,
 'identity access management': 429,
 'liaison': 430,
 'liaising': 431,
 'sap b1': 432,
 'repository management': 433,
 'vray': 434,
 'education': 435,
 'oracle forms': 436,
 'breakdown': 437,
 'sefas': 438,
 'pla': 439,
 'wellness': 440,
 'technology leadership': 441,
 'advanced java': 442,
 'telugu': 443,
 'dreamweaver': 444,
 'health care services': 445,
 'ideas': 446,
 'gdpr': 447,
 'memory management': 448,
 'oracle service bus': 449,
 'manager quality assurance': 450,
 'product life cycle management': 451,
 'sap business one': 452,
 'sap ehs': 453,
 'developerphp developer': 454,
 'software project management': 455,
 'erp': 456,
 'marketing strategy': 457,
 'sfdc': 458,
 'r': 459,
 'ad': 460,
 'technical staff': 461,
 'adfs': 462,
 'xslt': 463,
 'cfd': 464,
 'credit risk': 465,
 'storage management': 466,
 'ilm': 467,
 'investment banking': 468,
 'postgres': 469,
 'ip': 470,
 '.net programmer': 471,
 'redhat': 472,
 'telecom': 473,
 'relationship': 474,
 'six sigma': 475,
 'web standards': 476,
 'project implementation': 477,
 'react': 478,
 'powerpoint': 479,
 'salesforce crm': 480,
 'application software': 481,
 'fixed income': 482,
 'oracle 10g': 483,
 'defect prevention': 484,
 'go': 485,
 'corporate banking': 486,
 'woocommerce': 487,
 'workflows': 488,
 'good communication': 489,
 'adobe cq': 490,
 'software product management': 491,
 'gl': 492,
 'sigma': 493,
 'senior php developer': 494,
 'professional services': 495,
 'web analysis': 496,
 'agile and waterfall methodologies': 497,
 'linux installation': 498,
 'birt': 499,
 'private cloud': 500,
 'resource management': 501,
 'joomla': 502,
 'filenet': 503,
 'tivoli': 504,
 'classification': 505,
 'jaipur': 506,
 'mfc': 507,
 'global delivery': 508,
 'gis': 509,
 'zonal': 510,
 'quality implementation': 511,
 'extension': 512,
 'it services': 513,
 'prime': 514,
 'smarty': 515,
 'soc': 516,
 'fresher': 517,
 'proposal writing': 518,
 'place & timing closure': 519,
 'appraisal': 520,
 'delivery manager': 521,
 'mobile testing': 522,
 'oracle cloud ppm implementations': 523,
 'resource deployment': 524,
 'automation testing': 525,
 'credit analysis': 526,
 'tutor': 527,
 'mobile application development': 528,
 'online advertising': 529,
 'junit': 530,
 'revit': 531,
 'teamwork': 532,
 'fico': 533,
 'oracle dba': 534,
 'commercial contracts': 535,
 'selling': 536,
 'trade finance operations': 537,
 'virtualbox': 538,
 'uml': 539,
 'nunit': 540,
 'project tracking': 541,
 'senior manager it': 542,
 'genset': 543,
 'etl tool': 544,
 'browser quirks': 545,
 'gui': 546,
 'oracle apps technical': 547,
 'oracle manufacturing': 548,
 'tpm': 549,
 'client interaction': 550,
 'video conference': 551,
 'it   software': 552,
 'sap mdm': 553,
 'functional analysis': 554,
 'coach': 555,
 'redmine': 556,
 'jira': 557,
 'jasper reports': 558,
 'back office support': 559,
 'technology consulting': 560,
 'microsoft dynamics nav': 561,
 'stored procedures': 562,
 'project accounting': 563,
 'product mapping': 564,
 'data analysis and exploration': 565,
 'puppet': 566,
 'jsp': 567,
 'adobe flex': 568,
 'internet explorer': 569,
 'retail': 570,
 'idoc': 571,
 'proposal development': 572,
 'procedures': 573,
 'design reviews': 574,
 'staffing': 575,
 'physical education': 576,
 'green field projects': 577,
 'query optimization': 578,
 'information security consulting': 579,
 'inside sales': 580,
 'ionic framework': 581,
 'network support': 582,
 'bitbucket': 583,
 'opengl': 584,
 'codeignitor': 585,
 'interactive reports': 586,
 'om': 587,
 'technology lead': 588,
 'ms visio': 589,
 'audit': 590,
 'bonds': 591,
 'case studies': 592,
 'component design': 593,
 'problem resolution': 594,
 'consumer insights': 595,
 'it service delivery': 596,
 'e': 597,
 'jodhpur': 598,
 'eco': 599,
 'project costing': 600,
 'promotion': 601,
 'hadoop administration': 602,
 'digital': 603,
 'implementations': 604,
 'technical product configuration': 605,
 'invoice processing': 606,
 'corporate actions': 607,
 'instrumentation': 608,
 'force.com': 609,
 'proposals': 610,
 'document review': 611,
 'economics': 612,
 'resource planning': 613,
 'stakeholder management': 614,
 'front end development': 615,
 'jse': 616,
 'pmp 2': 617,
 'mpls vpn': 618,
 'performance optimization': 619,
 'transmission': 620,
 'bash': 621,
 'hpqc': 622,
 'linear regression': 623,
 'x86': 624,
 'content management system': 625,
 'build tools': 626,
 'options': 627,
 'lte tester': 628,
 'migration': 629,
 'project scheduling': 630,
 'karma': 631,
 'dmx': 632,
 'jdbc': 633,
 'matrix': 634,
 'vendor evaluation': 635,
 'business communication': 636,
 'life sciences': 637,
 'equity': 638,
 'google': 639,
 'winrunner': 640,
 'transition': 641,
 'customer experience': 642,
 'project control': 643,
 'ionic': 644,
 'dec': 645,
 'protocols': 646,
 'ieee': 647,
 'ccnp': 648,
 'inventory management': 649,
 'sr. product manager': 650,
 'outbound process': 651,
 'adobe cs5': 652,
 'security best practices': 653,
 'games': 654,
 'design and development': 655,
 'windows services': 656,
 'white box testing': 657,
 'cross functional team leadership': 658,
 'international': 659,
 'legal': 660,
 'product innovation': 661,
 'vista': 662,
 'it procurement': 663,
 'sap pp': 664,
 'social media analytics': 665,
 'controlling': 666,
 'requirements management': 667,
 'ethical hacking': 668,
 'lte': 669,
 'nginx': 670,
 'linear algebra and calculus': 671,
 'web developement': 672,
 'performance tuning': 673,
 'cordova': 674,
 'wintel': 675,
 'xml publisher': 676,
 'o2c': 677,
 'application': 678,
 'ingenium': 679,
 'nexus': 680,
 'sailpoint': 681,
 'sme': 682,
 'cloud computing': 683,
 'vb.net': 684,
 'layout': 685,
 'customer satisfaction': 686,
 'grade': 687,
 '.net core': 688,
 'tam': 689,
 'installation': 690,
 'agile process': 691,
 'fa': 692,
 'shell.': 693,
 'management accounting': 694,
 'industry research': 695,
 'js': 696,
 'risk compliance': 697,
 'trams': 698,
 'angular': 699,
 'infrastructure': 700,
 'wamp': 701,
 'hadoop administrator': 702,
 'audit compliance': 703,
 'jsp servlets': 704,
 'computational fluid dynamics': 705,
 'cursor': 706,
 'windows server 2003': 707,
 'multithreading': 708,
 'net asp': 709,
 'communicator': 710,
 'front end frameworks': 711,
 'user interface designer': 712,
 'system software': 713,
 'ticketing tools': 714,
 'task runners': 715,
 'jaxb': 716,
 'co ordination': 717,
 'clojure': 718,
 'oss': 719,
 'bss testing': 720,
 'maven': 721,
 'gis software': 722,
 'order   to   cash': 723,
 'j query': 724,
 'amdocs': 725,
 'security compliance': 726,
 'risk evaluation': 727,
 'b2b sales': 728,
 'appium)': 729,
 'react js': 730,
 'production support': 731,
 'prpc': 732,
 'framework': 733,
 'devops practices': 734,
 'oracle bi': 735,
 'pci dss': 736,
 'hybris': 737,
 'financial forecasting': 738,
 'hyper   v': 739,
 'siemens': 740,
 'manage': 741,
 'quality processes': 742,
 'website': 743,
 'technical': 744,
 'trade finance': 745,
 'indesign': 746,
 'system engineer': 747,
 'velocity': 748,
 'copyright': 749,
 'version control (git)': 750,
 'project lead': 751,
 'development process': 752,
 'netsuite': 753,
 'hotel': 754,
 'strong work ethic and dedication': 755,
 'human capital': 756,
 'acceptance testing': 757,
 'web': 758,
 'java api': 759,
 'vss': 760,
 'oscp': 761,
 'manager quality control': 762,
 'dynamo db': 763,
 'cognos bi': 764,
 'triggers': 765,
 'intrusion detection': 766,
 'server management': 767,
 'pm': 768,
 'com': 769,
 'productivity enhancement': 770,
 'citrix xenapp': 771,
 'wordpress cms': 772,
 'html 5': 773,
 'java script': 774,
 'customer relationship management': 775,
 'foreign exchange': 776,
 'plugins': 777,
 'oracle e business suite': 778,
 'sap fico': 779,
 'sap wm': 780,
 'new product': 781,
 'sql development': 782,
 'capability building': 783,
 'side': 784,
 'fas': 785,
 'report generation': 786,
 'ms excel': 787,
 'information retrieval': 788,
 'security operations': 789,
 'cloudformation': 790,
 'project': 791,
 'sap mm consultant': 792,
 'place & floorplanning': 793,
 'solid': 794,
 'saving': 795,
 'jasmine': 796,
 'object oriented programming': 797,
 'jd edwards': 798,
 'functional testing': 799,
 'sap basis': 800,
 'mca': 801,
 'ansys': 802,
 'vision plus': 803,
 'cad cam': 804,
 'web application security': 805,
 'process': 806,
 'activex': 807,
 'sql queries': 808,
 'workday': 809,
 'cissp': 810,
 'healthcare': 811,
 'follow ups': 812,
 'cics': 813,
 'plant engineering': 814,
 'pacs': 815,
 'data ex': 816,
 'ui designing': 817,
 'moss': 818,
 'index': 819,
 'financial statements': 820,
 'script writing': 821,
 'risk analysis': 822,
 'wm': 823,
 'analytical': 824,
 'sql database': 825,
 'telecom bss': 826,
 'crm': 827,
 'effective communication': 828,
 'tracking': 829,
 'ca': 830,
 'its': 831,
 'javascript.': 832,
 'service excellence': 833,
 'cost benefit analysis': 834,
 'solution manager': 835,
 'helpdesk management': 836,
 'installshield': 837,
 'strong interpersonal': 838,
 'invoice verification': 839,
 'ember': 840,
 'software configuration management': 841,
 'closing': 842,
 'couchbase': 843,

In [98]:
specialization3_skills.head()

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,"[html, css, javascript, web design, responsive..."
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."
2,3,Full Stack Developer,1,Full Stack Developers have expertise in both F...,3,"[front end, back end, full stack frameworks, f..."
3,4,Software Engineer,1,Software Engineers design and develop software...,4,"[software development, algorithm design, softw..."
4,5,Software Developer,1,"Software Developers write, test, and maintain ...",5,"[java, python, c++, software design, code opti..."

In [100]:
# lower case all skills
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.lower() for skill in x])

In [101]:
# apply skill_mapping to specialization3_skills
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill_mapping[skill] for skill in x])
specialization3_skills.head(2)

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,"[1616, 1396, 1741, 21, 204, 478, 699, 1487, 16..."
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"[1675, 2256, 1300, 271, 31, 1489, 1536, 1642, ..."

In [102]:
# explode skill_list
specialization3_skills = specialization3_skills.explode('skill_list')
specialization3_skills.head(2)

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,1616
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,1396

In [103]:
# filter columns
specialization3_skills = specialization3_skills[['specialization_id','skill_list']]
specialization3_skills.head(2)

   specialization_id skill_list
0                  1       1616
0                  1       1396

In [104]:
# check if there are duplicates meaning one specialization_id has the same skill_list
specialization3_skills[specialization3_skills.duplicated(['specialization_id','skill_list'])]

    specialization_id skill_list
0                   1       1616
0                   1       1396
0                   1       1741
0                   1         21
0                   1        204
..                ...        ...
44                 82        761
44                 82        216
44                 82        253
44                 82       2079
44                 82       2146

[17859 rows x 2 columns]

In [105]:
# create new column, called level with value 1
specialization3_skills['level'] = 1
specialization3_skills.head(2)

   specialization_id skill_list  level
0                  1       1616      1
0                  1       1396      1

In [106]:
# for each duplicate specialization_id and skill_list, add 1 to level
specialization3_skills = specialization3_skills.groupby(['specialization_id','skill_list']).sum().reset_index()
specialization3_skills.head(2)

   specialization_id  skill_list  level
0                  1           2      2
1                  1          16      1

In [107]:
# get rows with level > 1
specialization3_skills[specialization3_skills['level'] > 1]

      specialization_id  skill_list  level
0                     1           2      2
4                     1          21      3
7                     1          28      2
8                     1          37      4
9                     1          52      2
...                 ...         ...    ...
9917                 92        3719      2
9918                 92        3727      2
9922                 92        3767      9
9924                 92        3775      7
9928                 92        3800      2

[3695 rows x 3 columns]

In [108]:
# rename skill_list to skill_id
specialization3_skills = specialization3_skills.rename(columns={'skill_list':'skill_id'})
specialization3_skills.head(2)

   specialization_id  skill_id  level
0                  1         2      2
1                  1        16      1

In [109]:
# add id
specialization3_skills['id'] = specialization3_skills.index + 1
specialization3_skills.head(2)

   specialization_id  skill_id  level  id
0                  1         2      2   1
1                  1        16      1   2

In [110]:
# save to csv
specialization3_skills.to_csv('../../static/csv/website_specialization_skills.csv', index=False)

In [111]:
# load website_specialization_skills.csv
website_specialization_skills = pd.read_csv('../../static/csv/website_specialization_skills.csv')
website_specialization_skills.head(2)

   specialization_id  skill_id  level  id
0                  1         2      2   1
1                  1        16      1   2

In [112]:
# reorder columns
website_specialization_skills = website_specialization_skills[['id','level','skill_id','specialization_id']]

In [113]:
website_specialization_skills

        id  level  skill_id  specialization_id
0        1      2         2                  1
1        2      1        16                  1
2        3      1        17                  1
3        4      1        18                  1
4        5      3        21                  1
...    ...    ...       ...                ...
9926  9927      1      3788                 92
9927  9928      1      3790                 92
9928  9929      2      3800                 92
9929  9930      1      3806                 92
9930  9931      1      3809                 92

[9931 rows x 4 columns]

In [114]:
# save to csv
website_specialization_skills.to_csv('../../static/csv/website_specialization_skills.csv', index=False)

In [115]:
# check if there are same skill_id and specialization_id
website_specialization_skills[website_specialization_skills.duplicated(['skill_id','specialization_id'])]

Empty DataFrame
Columns: [id, level, skill_id, specialization_id]
Index: []

In [75]:
import pandas as pd
import ast

In [76]:
# load website_specialization_skills.csv
website_specialization_skills = pd.read_csv('../../static/csv/specialization4_skills1.csv')
website_specialization_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Frontend Developer,Front-End Developers are responsible for creat...,1,1,"['html', 'css', 'javascript', 'web design', 'r..."
1,2,Backend Developer,Back-End Developers work on the server-side of...,2,1,"['node.js', 'python', 'ruby', 'java', 'databas..."

In [77]:

# aplly ast to convert string to list
website_specialization_skills['skill_list'] = website_specialization_skills['skill_list'].apply(lambda x: ast.literal_eval(x))
website_specialization_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Frontend Developer,Front-End Developers are responsible for creat...,1,1,"[html, css, javascript, web design, responsive..."
1,2,Backend Developer,Back-End Developers work on the server-side of...,2,1,"[node.js, python, ruby, java, database managem..."

# other

In [78]:
import pandas as pd
# load website_specialization5_1.csv
website_specialization = pd.read_csv('../../static/csv/specialization5_1.csv')
website_specialization

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,"['html', 'css', 'javascript', 'web design', 'r..."
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"['node.js', 'python', 'ruby', 'java', 'databas..."
2,3,Full Stack Developer,1,Full Stack Developers have expertise in both F...,3,"['front-end', 'back-end', 'full stack framewor..."
3,4,Software Engineer,1,Software Engineers design and develop software...,4,"['software development', 'algorithm design', '..."
4,5,Software Developer,1,"Software Developers write, test, and maintain ...",5,"['java', 'python', 'c++', 'software design', '..."
...,...,...,...,...,...,...
67,83,Systems Engineer,10,systems engineer,83,"['sql', 'python', 'oracle', 'html', 'javascrip..."
68,85,Technical Architect,10,technical architect,85,"['automation testing', 'sql', 'crm', 'apex', '..."
69,86,Technical Content Developer,10,technical content developer,86,"['time management', 'analytical skills', 'goog..."
70,88,Technical Support Engineer,10,technical support engineer,88,"['unix operating system', 'netbackup', 'window..."
71,90,Trainer/Faculty,10,trainer/faculty,90,"['data science', 'statistics', 'deep learning'..."

In [79]:
# filter field_id 1-6
website_specialization = website_specialization[website_specialization['field_id'] <= 6]
website_specialization = website_specialization[website_specialization['field_id'] >= 1]
website_specialization.sample(3)

,specialization_id,title,field_id,description,roadmap_id,skill_list
37,25,Security Engineer,6,Security Engineers design and implement securi...,25,"['security engineering', 'network security', '..."
4,5,Software Developer,1,"Software Developers write, test, and maintain ...",5,"['java', 'python', 'c++', 'software design', '..."
6,92,Web Developer,1,A web developerâ€™s job is to create websites. W...,92,"['google analytics', 'case studies', 'social m..."

In [80]:
# remove skill_list
website_specialization = website_specialization.drop(columns=['skill_list'])
website_specialization.sample(3)

,specialization_id,title,field_id,description,roadmap_id
6,92,Web Developer,1,A web developerâ€™s job is to create websites. W...,92
23,18,Interaction Designer,3,Interaction Designers specialize in designing ...,18
36,24,Cybersecurity Analyst,6,Cybersecurity Analysts protect an organization...,24

In [81]:
# reset index
website_specialization.reset_index(drop=True, inplace=True)
website_specialization.sample(3)

,specialization_id,title,field_id,description,roadmap_id
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1
3,4,Software Engineer,1,Software Engineers design and develop software...,4
22,34,IT Business Analyst,3,IT Business Analysts bridge the gap between bu...,34

In [82]:
# save to csv
website_specialization.to_csv('../../static/csv/website_specialization.csv', index=False)

# skill_4

In [83]:
# load skill_4.csv
import pandas as pd
skill_4 = pd.read_csv('../../static/csv/skill_4.csv')
skill_4.head(2)

   id               skill
0   1  regression testing
1   2             android

In [84]:
# save as website_skill.csv
skill_4.to_csv('../../static/csv/website_skill.csv', index=False)

In [11]:
# check if have duplicate id
skill_4[skill_4.duplicated(['id'])]

Empty DataFrame
Columns: [id, skill]
Index: []

In [12]:
# check if have duplicate skill
skill_4[skill_4.duplicated(['skill'])]

Empty DataFrame
Columns: [id, skill]
Index: []

In [14]:
# skill = visual studio
skill_4[skill_4['skill'] == 'visual studio']

        id          skill
1016  1017  visual studio