In [1]:
import pandas as pd
import numpy as np

In [2]:
specialization = pd.read_csv('../../static/csv/specialization2.csv')
specialization.tail()

,specialization_id,field_id,title,description,roadmap_id,skill_list
36,37,10,blockchain developer,Technology Strategists develop long-term plans...,37,"[Blockchain Development, Smart Contracts, Cryp..."
37,38,10,quantum computing scientist,Quantum Computing Scientists research and deve...,38,"[Quantum Computing, Quantum Algorithms, Quantu..."
38,39,10,virtual reality (vr) developer,VR Developers create immersive virtual reality...,39,"[Virtual Reality Development, 3D Modeling, VR ..."
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,"[Augmented Reality Development, AR Frameworks,..."
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[Edge Computing, IoT (Internet of Things), Dis..."

In [3]:
specialization.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   specialization_id  41 non-null     int64
 1   field_id           41 non-null     int64
 2   title              41 non-null     object
 3   description        41 non-null     object
 4   roadmap_id         41 non-null     int64
 5   skill_list         41 non-null     object
dtypes: int64(3), object(3)
memory usage: 2.0+ KB

In [4]:
# check if skill_list is a list
skill_list_0 = specialization['skill_list'][0]
print(type(skill_list_0))
print(skill_list_0)

<class 'str'>
[HTML, CSS, JavaScript, Web Design, Responsive Design, React, Angular, Vue.js, Cross-Browser Compatibility]

In [5]:
def convert_to_list(s):
    # Assuming your string is like "[HTML, CSS, JavaScript]"
    return [skill.strip() for skill in s[1:-1].split(',')]

# Apply the custom function to the 'skill_list' column
specialization['skill_list'] = specialization['skill_list'].apply(convert_to_list)
specialization.sample(2)

,specialization_id,field_id,title,description,roadmap_id,skill_list
6,7,1,DevOps Engineer,DevOps Engineers bridge the gap between develo...,7,"[DevOps Practices, Continuous Integration/Cont..."
17,18,3,Interaction Designer,Interaction Designers specialize in designing ...,18,"[Interaction Design Principles, User-Centered ..."

In [6]:
specialization['skill_list'] = specialization['skill_list'].apply(lambda skills: [skill.lower() for skill in skills])

In [7]:
specialization.sample(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
30,31,7,site reliability engineer (se),SREs focus on maintaining the reliability and ...,31,"[site reliability engineering, devops practice..."
17,18,3,Interaction Designer,Interaction Designers specialize in designing ...,18,"[interaction design principles, user-centered ..."
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,"[augmented reality development, ar frameworks,..."

In [8]:
skill_list_0 = specialization['skill_list'][0]
print(type(skill_list_0))
print(skill_list_0)

<class 'list'>
['html', 'css', 'javascript', 'web design', 'responsive design', 'react', 'angular', 'vue.js', 'cross-browser compatibility']

In [9]:
# Explode the lists into separate rows
specialization_exploded = specialization.explode('skill_list')
specialization_exploded

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,html
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,css
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,javascript
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,web design
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,responsive design
...,...,...,...,...,...,...
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,markerless tracking
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,edge computing
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,iot (internet of things)
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,distributed computing
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,low latency

In [10]:
# Group by 'field_id' and aggregate unique skills into a list
specialization_grouped = specialization_exploded.groupby('field_id')['skill_list'].unique().reset_index()
specialization_grouped

   field_id                                         skill_list
0         1  [html, css, javascript, web design, responsive...
1         2  [data analysis, machine learning, statistics, ...
2         3  [user interface design, wireframing, prototypi...
3         4  [product management, roadmap planning, agile m...
4         5  [software testing, test automation, quality as...
5         6  [cybersecurity principles, security tools, fir...
6         7  [network design, routing and switching, networ...
7         8  [it project management, project planning, reso...
8         9  [business analysis, requirements gathering, pr...
9        10  [blockchain development, smart contracts, cryp...

In [11]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skill_list in specialization_grouped['skill_list'] for skill in skill_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

['html', 'css', 'javascript', 'web design', 'responsive design', 'react', 'angular', 'vue.js', 'cross-browser compatibility', 'node.js', 'python', 'ruby', 'java', 'database management', 'api development', 'server security', 'express', 'flask', 'django', 'front-end', 'back-end', 'full stack frameworks', 'web application development', 'software development', 'algorithm design', 'software architecture', 'object-oriented programming (oop)', 'version control', 'debugging', 'c++', 'software design', 'code optimization', 'software testing', 'mobile app development', 'ios and android platforms', 'mobile ui/ux design', 'app store guidelines', 'mobile frameworks', 'flutter', 'react native', 'devops practices', 'continuous integration/continuous deployment (ci/cd)', 'cloud services', 'aws', 'azure', 'automation', 'scripting', 'containerization', 'docker', 'game development engines', 'unity', 'unreal engine', '3d modeling', 'physics', 'animation', 'ai', 'embedded systems programming', 'microcontrollers', 'firmware development', 'iot (internet of things)', 'real-time operating systems', 'data analysis', 'machine learning', 'statistics', 'data visualization', 'big data technologies', 'hadoop', 'spark', 'sql', 'excel', 'statistical analysis', 'reporting', 'business intelligence tools', 'tableau', 'power bi', 'data warehousing', 'etl (extract', 'transform', 'load) processes', 'machine learning algorithms', 'deep learning', 'neural networks', 'data preprocessing', 'model deployment', 'artificial intelligence', 'natural language processing', 'computer vision', 'ai frameworks', 'tensorflow', 'pytorch', 'data pipeline development', 'data integration', 'database management', 'etl processes', 'user interface design', 'wireframing', 'prototyping', 'visual design', 'usability', 'design tools', 'adobe xd', 'sketch', 'user experience design', 'user research', 'information architecture', 'interaction design', 'usability testing', 'interaction design principles', 'user-centered design', 'interface prototyping', 'user testing', 'graphic design', 'typography', 'color theory', 'layout design', 'branding', 'product management', 'roadmap planning', 'agile methodologies', 'stakeholder communication', 'technical understanding', 'product development', 'cross-functional team leadership', 'market analysis', 'software testing', 'test automation', 'quality assurance', 'bug tracking', 'test planning', 'test automation frameworks (e.g.', 'selenium', 'appium)', 'scripting', 'continuous testing', 'cybersecurity principles', 'security tools', 'firewalls', 'ids/ips', 'threat detection', 'security incident response', 'security engineering', 'network security', 'security protocols', 'encryption', 'vulnerability assessment', 'penetration testing', 'vulnerability scanning', 'exploitation techniques', 'metasploit', 'security consultancy', 'risk assessment', 'security auditing', 'compliance standards', 'gdpr', 'hipaa', 'network design', 'routing and switching', 'network protocols', 'cisco technologies', 'network troubleshooting', 'system administration', 'server management', 'operating systems', 'scripting', 'user access control', 'cloud computing', 'aws', 'azure', 'gcp', 'virtualization', 'containerization', 'cloud security', 'site reliability engineering', 'devops practices', 'monitoring and alerting', 'service level objectives (slos)', 'it project management', 'project planning', 'resource management', 'agile and waterfall methodologies', 'scrum methodology', 'agile principles', 'team facilitation', 'agile tools', 'jira', 'business analysis', 'requirements gathering', 'process improvement', 'data analysis', 'it consulting', 'client communication', 'it strategy', 'problem solving', 'technology strategy', 'innovation', 'emerging technologies', 'market analysis', 'blockchain development', 'smart contracts', 'cryptocurrency', 'decentralized applications (dapps)', 'quantum computing', 'quantum algorithms', 'quantum hardware', 'quantum programming languages', 'virtual reality development', '3d modeling', 'vr frameworks', 'unity', 'user interaction in vr', 'augmented reality development', 'ar frameworks', 'arkit', 'arcore', 'markerless tracking', 'edge computing', 'iot (internet of things)', 'distributed computing', 'low latency']

In [12]:
# remove duplicates
all_skills = list(set(all_skills))

In [13]:
# count
specialization_skill_count = len(all_skills)
specialization_skill_count

206

In [14]:
nakuri_skill = pd.read_csv('../../static/csv/nakuri_skill_list.csv')
nakuri_skill.sample(10)

                          skill_name
3753                             vss
3400                        printnet
2563                  neural network
4208                          proven
4184  place & static timing analysis
2440                     sap mm - wm
3730                             ecr
2786                             cxo
3548              aix administration
547                              ips

In [15]:
nakuri_skill_list = nakuri_skill['skill_name'].tolist()

In [16]:
nakuri_skill_count = len(nakuri_skill_list)
nakuri_skill_count

4452

In [17]:
# get website_skill where it is not in nakuri_skill
specialization_skill_not_in_nakuri = [skill for skill in all_skills if skill not in nakuri_skill_list]
# get nakuri_skill where it is not in website_skill
nakuri_skill_not_in_specialization = [skill for skill in nakuri_skill_list if skill not in all_skills]

In [18]:
# count
print(len(specialization_skill_not_in_nakuri))
print(len(nakuri_skill_not_in_specialization))

103
4349

In [19]:
specialization.head()

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,"[html, css, javascript, web design, responsive..."
1,2,1,Back-End,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."
2,3,1,Full Stack,Full Stack Developers have expertise in both F...,3,"[front-end, back-end, full stack frameworks, w..."
3,4,1,Software Engineer,Software Engineers design and develop software...,4,"[software development, algorithm design, softw..."
4,5,1,Software Developer,"Software Developers write, test, and maintain ...",5,"[java, python, c++, software design, code opti..."

In [20]:
IT = pd.read_csv('../../static/csv/role_job_skills.csv')
IT.sample(5)

,role_job,Skills,field
6,data scientist,"software development,java,machine learning,pyt...",Data and Analytics
50,technical lead,"wan,tools,linux,solaris,aix,system software,wi...",Emerging and Specialized
55,web developer,"google analytics,case studies,social media,tra...",Software Development
13,functional test planning,"performance improvement,supply chain managemen...",Testing and Quality Assurance
18,instructional designer,instructional design,Design and UX/UI

In [21]:
type(IT['Skills'][0])

str

In [22]:
IT.size

168

In [23]:
field_mapping = {
    'Software Development' : 1,
    'Data and Analytics' : 2,
    'Design and UX/UI' : 3,
    'Product Management' : 4,
    'Testing and Quality Assurance' : 5,
    'Security' : 6,
    'Networking and Infrastructure' : 7,
    'Project Management' : 8,
    'Business and Strategy' : 9,
    'Emerging and Specialized' : 10,
}

In [24]:
# Map the 'field' column to the 'field_id' column
IT['field_id'] = IT['field'].map(field_mapping)
IT.sample(3)

,role_job,Skills,field,field_id
11,frontend developer,"ajax,php,wordpress,mysql,html,css,seo,javascri...",Software Development,1
28,project lead,"report writing,proposal writing,project planni...",Product Management,4
42,support engineer,"networking,information technology management,n...",Emerging and Specialized,10

In [25]:
IT_sub = IT[['role_job','field_id','Skills']]
IT_sub.sample(3)

,role_job,field_id,Skills
30,python developer,1,"python,programming,developer,troubleshooting,i..."
42,support engineer,10,"networking,information technology management,n..."
32,reactjs developer,1,"front end,usage,git,dom,json,translation,javas..."

In [26]:
def convert_to_list(skill_string):
    return [skill.strip() for skill in skill_string.split(',')]

# Example usage
# original_string = "programmer,developer,tcp,c++,ip,life sciences"
# converted_list = convert_to_list(original_string)
# print(converted_list)

In [27]:
# # add new column
# IT_sub['Skills'] = IT_sub['Skills'].apply(convert_to_list)
IT_sub['Skills'] = IT_sub['Skills'].apply(lambda x: convert_to_list(x) if pd.notna(x) else [])
IT_sub.head()

C:\Users\aky\AppData\Local\Temp\ipykernel_13328\2603695032.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IT_sub['Skills'] = IT_sub['Skills'].apply(lambda x: convert_to_list(x) if pd.notna(x) else [])

,role_job,field_id,Skills
0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j..."
1,backend developer,1,"[computer science, http, php, data structures,..."
2,business analyst,9,"[product marketing, analytical, google analyti..."
3,c++ developer,1,"[programmer, developer, tcp, c++, ip, life sci..."
4,consultant,9,"[customization, open, cvs, rest, technical, e-..."

In [405]:
# get skills list of these fields data engineer, data scientist, product manager, software developer, software engineer
data_engineer = IT[IT['role_job'] == 'data engineer']['Skills'].tolist()[0].split(',')
data_scientist = IT[IT['role_job'] == 'data scientist']['Skills'].tolist()[0].split(',')
product_manager = IT[IT['role_job'] == 'product manager']['Skills'].tolist()[0].split(',')
software_developer = IT[IT['role_job'] == 'software developer']['Skills'].tolist()[0].split(',')
software_engineer = IT[IT['role_job'] == 'software engineer']['Skills'].tolist()[0].split(',')

# then drop these list
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'data engineer'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'data scientist'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'product manager'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'software developer'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'software engineer'].index)

In [264]:
specialization.sample(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[edge computing, iot (internet of things), dis..."
1,2,1,Back-End,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."
5,6,1,Mobile App Developer,Mobile App Developers specialize in creating a...,6,"[mobile app development, ios and android platf..."

In [299]:
# Get the current skill_list for the target role
# data engineer, data scientist, product manager, software developer, software engineer
data_engineer_current_skill_list = specialization.loc[specialization['title'] == 'Data Engineer', 'skill_list'].iloc[0]
data_scientist_current_skill_list = specialization.loc[specialization['title'] == 'Data Scientist', 'skill_list'].iloc[0]
product_manager_current_skill_list = specialization.loc[specialization['title'] == 'Product Manager', 'skill_list'].iloc[0]
software_developer_current_skill_list = specialization.loc[specialization['title'] == 'Software Developer', 'skill_list'].iloc[0]
software_engineer_current_skill_list = specialization.loc[specialization['title'] == 'Software Engineer', 'skill_list'].iloc[0]

In [336]:
# Append the new_skill_list to the current_skill_list
updated_data_engineer_skill_list = data_engineer_current_skill_list + data_engineer
updated_data_scientist_skill_list = data_scientist_current_skill_list + data_scientist
updated_product_manager_skill_list = product_manager_current_skill_list + product_manager
updated_software_developer_skill_list = software_developer_current_skill_list + software_developer
updated_software_engineer_skill_list = software_engineer_current_skill_list + software_engineer

In [355]:
replace_1 = lambda x: updated_data_engineer_skill_list if x['title'] == 'Data Engineer' else x['skill_list']
replace_2 = lambda x: updated_data_scientist_skill_list if x['title'] == 'Data Scientist' else x['skill_list']
replace_3 = lambda x: updated_product_manager_skill_list if x['title'] == 'Product Manager' else x['skill_list']
replace_4 = lambda x: updated_software_developer_skill_list if x['title'] == 'Software Developer' else x['skill_list']
replace_5 = lambda x: updated_software_engineer_skill_list if x['title'] == 'Software Engineer' else x['skill_list']

In [401]:
specialization = specialization.assign(skill_list=specialization.apply(replace_1, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_2, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_3, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_4, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_5, axis=1))

In [359]:
specialization.loc[specialization['title'] == 'Data Engineer']['skill_list']

14    [data pipeline development, data integration, ...
Name: skill_list, dtype: object

In [271]:
# # Update the DataFrame with the modified skill_list for the target role
# specialization.loc[specialization['title'] == 'Data Engineer']
# specialization.loc[specialization['title'] == 'Data Scientist']
# specialization.loc[specialization['title'] == 'Product Manager']
# specialization.loc[specialization['title'] == 'Software Developer']
# specialization.loc[specialization['title'] == 'Software Engineer']

,specialization_id,field_id,title,description,roadmap_id,skill_list
3,4,1,Software Engineer,Software Engineers design and develop software...,4,object-oriented programming (oop)

In [406]:
# rename skills to skill_list
IT_sub = IT_sub.rename(columns={'Skills':'skill_list'})

In [407]:
type(IT_sub['skill_list'][0])

list

In [408]:
IT_sub.sample(1)

,role_job,field_id,skill_list
12,full stack developer,1,"[rest, java, jpa, spring mvc, html, css, web s..."

In [409]:
IT_sub['description'] = IT_sub['role_job']

In [410]:
# get last id of specialization
last_id = specialization['specialization_id'].iloc[-1]
last_id

41

In [411]:
# reset index of IT_sub
IT_sub.reset_index(inplace=True)

In [412]:
IT_sub.head(3)

,index,role_job,field_id,skill_list,description
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst

In [413]:
# check for duplicate role_job
IT_sub[IT_sub.duplicated(['role_job'])]

Empty DataFrame
Columns: [index, role_job, field_id, skill_list, description]
Index: []

In [414]:
# add new id for IT_sub
IT_sub['specialization_id'] = IT_sub.index + last_id + 1

In [415]:
IT_sub.head(3)

,index,role_job,field_id,skill_list,description,specialization_id
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer,42
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer,43
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst,44

In [416]:
IT_sub['roadmap_id'] = IT_sub['specialization_id']
IT_sub.head(3)

,index,role_job,field_id,skill_list,description,specialization_id,roadmap_id
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer,42,42
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer,43,43
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst,44,44

In [417]:
# rename role_job to specialization_name
IT_sub = IT_sub.rename(columns={'role_job':'title'})

In [418]:
# make first letter of each word capital
IT_sub['title'] = IT_sub['title'].str.title()

In [419]:
IT_sub = IT_sub[['specialization_id', 'field_id', 'title', 'description', 'roadmap_id', 'skill_list']]

In [420]:
IT_sub.head(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
1,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
2,44,9,Business Analyst,business analyst,44,"[product marketing, analytical, google analyti..."

In [421]:
specialization.reset_index(drop=True, inplace=True)
IT_sub.reset_index(drop=True, inplace=True)

In [422]:
specialization.tail(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
38,39,10,virtual reality (vr) developer,VR Developers create immersive virtual reality...,39,"[virtual reality development, 3d modeling, vr ..."
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,"[augmented reality development, ar frameworks,..."
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[edge computing, iot (internet of things), dis..."

In [423]:
# start index from last index of specialization
IT_sub.index = IT_sub.index + specialization.index[-1] + 1
IT_sub.head(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
41,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
42,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
43,44,9,Business Analyst,business analyst,44,"[product marketing, analytical, google analyti..."

In [424]:
IT_sub.tail()

,specialization_id,field_id,title,description,roadmap_id,skill_list
87,88,10,Technical Support Engineer,technical support engineer,88,"[unix operating system, netbackup, windows os,..."
88,89,10,Trainee,trainee,89,"[guest, keyword research, writing, search engi..."
89,90,10,Trainer/Faculty,trainer/faculty,90,"[data science, statistics, deep learning, r, p..."
90,91,3,Ui/Ux Developer,ui/ux developer,91,"[software development, application, ajax, tech..."
91,92,1,Web Developer,web developer,92,"[google analytics, case studies, social media,..."

In [425]:
# add IT_sub to specialization
specialization_2 = pd.concat([specialization, IT_sub])

In [426]:
specialization_2.shape

(92, 6)

In [427]:
specialization_2['title'].nunique()

92

In [428]:
# get duplicate title and 
duplicate_specialization = specialization_2[specialization_2.duplicated(['title'])]
duplicate_specialization

Empty DataFrame
Columns: [specialization_id, field_id, title, description, roadmap_id, skill_list]
Index: []

In [429]:
specialization_2[specialization_2['title'] == 'Data Engineer']

,specialization_id,field_id,title,description,roadmap_id,skill_list
14,15,2,Data Engineer,Data Engineers build and maintain the data inf...,15,"[data pipeline development, data integration, ..."

In [440]:
specialization_2.sample(15)

,specialization_id,field_id,title,description,roadmap_id,skill_list
87,88,10,Technical Support Engineer,technical support engineer,88,"[unix operating system, netbackup, windows os,..."
18,19,3,Visual Designer,"Visual Designers create graphics, illustration...",19,"[graphic design, typography, color theory, lay..."
86,87,10,Technical Lead,technical lead,87,"[wan, tools, linux, solaris, aix, system softw..."
17,18,3,Interaction Designer,Interaction Designers specialize in designing ...,18,"[interaction design principles, user-centered ..."
37,38,10,Quantum Computing Scientist,Quantum Computing Scientists research and deve...,38,"[quantum computing, quantum algorithms, quantu..."
74,75,10,Servicenow Developer,servicenow developer,75,"[vulnerability management, rest, ajax, java, s..."
25,26,6,Ethical Hacker (Penetration Tester),"Penetration Testing, Vulnerability Scanning, E...",26,"[penetration testing, vulnerability scanning, ..."
69,70,5,Quality Assurance Engineer,quality assurance engineer,70,"[test cases, manual testing, web testing, web ..."
41,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
2,3,1,Full Stack,Full Stack Developers have expertise in both F...,3,"[front-end, back-end, full stack frameworks, w..."
42,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
78,79,10,Support Engineer,support engineer,79,"[networking, information technology management..."
71,72,8,Release Manager,release manager,72,"[wan, capacity management, computer science, e..."
83,84,4,Team/Technical Lead,team/technical lead,84,"[cisco call manager, offshore, java, communica..."
46,47,2,Database Administrator,database administrator,47,"[weblogic, oracle rac, installation, mysql, tr..."

In [437]:
# make first letter of each word capital
specialization_2['title'] = specialization_2['title'].str.title()

In [442]:
specialization_3 = specialization_2[['specialization_id','title','description','roadmap_id','field_id']]

In [443]:
# save csv
specialization_2.to_csv('../../static/csv/specialization3.csv', index=False)

In [444]:
specialization_2 = specialization_2[['specialization_id','title','description','roadmap_id','field_id','skill_list']]

In [445]:
# save csv
specialization_2.to_csv('../../static/csv/specialization3_skills.csv', index=False)

# Apending Specialization3_Skills to skill_list

In [1]:
import numpy as np
import pandas as pd

In [14]:
specialization3_skills = pd.read_csv('../../static/csv/specialization3_skills.csv')
specialization3_skills.tail(3)

,specialization_id,title,description,roadmap_id,field_id,skill_list
89,90,Trainer/Faculty,trainer/faculty,90,10,"['data science', 'statistics', 'deep learning'..."
90,91,Ui/Ux Developer,ui/ux developer,91,3,"['software development', 'application', 'ajax'..."
91,92,Web Developer,web developer,92,1,"['google analytics', 'case studies', 'social m..."

In [15]:
# for each row, get the skill_list and combine them into one list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: x[1:-1].split(','))
specialization3_skills.head()

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"['html', 'css', 'javascript', 'web design',..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"['node.js', 'python', 'ruby', 'java', 'dat..."
2,3,Full Stack,Full Stack Developers have expertise in both F...,3,1,"['front-end', 'back-end', 'full stack framew..."
3,4,Software Engineer,Software Engineers design and develop software...,4,1,"['software development', 'algorithm design', ..."
4,5,Software Developer,"Software Developers write, test, and maintain ...",5,1,"['java', 'python', 'c++', 'software design'..."

In [16]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skill_list in specialization3_skills['skill_list'] for skill in skill_list]

len(all_skills)

51072

In [18]:
all_skills

["'html'",
 " 'css'",
 " 'javascript'",
 " 'web design'",
 " 'responsive design'",
 " 'react'",
 " 'angular'",
 " 'vue.js'",
 " 'cross-browser compatibility'",
 "'node.js'",
 " 'python'",
 " 'ruby'",
 " 'java'",
 " 'database management'",
 " 'api development'",
 " 'server security'",
 " 'express'",
 " 'flask'",
 " 'django'",
 "'front-end'",
 " 'back-end'",
 " 'full stack frameworks'",
 " 'web application development'",
 "'software development'",
 " 'algorithm design'",
 " 'software architecture'",
 " 'object-oriented programming (oop)'",
 " 'version control'",
 " 'debugging'",
 " 'c#'",
 " 'java'",
 " '.net'",
 " 'oops'",
 " 'oop'",
 " 'c++'",
 " 'uml'",
 " 'multithreading'",
 " 'ooad'",
 " 'debugging'",
 " 'software'",
 " 'branch'",
 " 'vice president'",
 " 'j2ee'",
 " 'national'",
 " 'consulting'",
 " 'mobile'",
 " 'front end'",
 " 'programming'",
 " 'software'",
 " 'usage'",
 " 'coding'",
 " 'open source'",
 " 'it'",
 " 'web'",
 " 'development'",
 " 'side'",
 " 'mentor'",
 " 'investment'",
 " 'web technologies'",
 " 'android'",
 " 'backend'",
 " 'software development'",
 " 'application'",
 " 'programming'",
 " 'ajax'",
 " 'application development'",
 " 'php'",
 " 'erp'",
 " 'mca'",
 " 'web'",
 " 'development'",
 " 'website'",
 " 'javascript'",
 " 'module'",
 " 'computer science'",
 " 'financial services'",
 " 'coding'",
 " 'linux'",
 " 'machine learning'",
 " 'asset management'",
 " 'python'",
 " 'fixed income'",
 " 'jira'",
 " 'agile'",
 " 'design patterns'",
 " 'angularjs'",
 " 'ui development'",
 " 'software development life cycle'",
 " 'css'",
 " 'javascript'",
 " 'html5'",
 " 'software engineering'",
 " 'svn'",
 " 'object oriented programming'",
 " 'lighting'",
 " 'automation testing'",
 " 'gui'",
 " 'computer science'",
 " 'product quality'",
 " 'asset management'",
 " 'design development'",
 " 'android'",
 " 'software engineering'",
 " 'backend'",
 " 'computer science'",
 " 'cloud'",
 " 'healthcare'",
 " 'analytics'",
 " 'jira'",
 " 'software design'",
 " 'monitoring'",
 " 'web development'",
 " 'inside sales'",
 " 'financial s'",
 " 'android'",
 " 'windows'",
 " 'mobile development'",
 " 'server'",
 " 'mobile'",
 " 'eclipse'",
 " 'programming'",
 " 'developer'",
 " 'java'",
 " 'technical'",
 " 'linux'",
 " 'design'",
 " 'development'",
 " 'eclipse ide'",
 " 'objective c'",
 " 'ui'",
 " 'usability'",
 " 'c'",
 " 'backend'",
 " 'applications'",
 " 'debugging'",
 " 'sql'",
 " 'coding'",
 " 'json'",
 " 'test cases'",
 " 'system testing'",
 " 'sqlite'",
 " 'uml'",
 " 'jquery'",
 " 'graphics'",
 " 'android'",
 " 'informatica'",
 " 'unix'",
 " 'troubleshooting'",
 " 'oracle'",
 " 'pdf'",
 " 'deployment'",
 " 'data warehousing'",
 " 'teradata'",
 " 'c#'",
 " 'application'",
 " 'net'",
 " 'asp.net'",
 " 'development'",
 " 'html'",
 " 'service'",
 " 'windows'",
 " 'multithreading'",
 " 'hyperion'",
 " 'business process outsourcing'",
 " 'payroll'",
 " 'obiee'",
 " 'oracle'",
 " 'project management'",
 " 'staffing'",
 " 'bpo'",
 " 'plsql'",
 " 'module'",
 " 'mongodb'",
 " 'data structures'",
 " 'mysql'",
 " 'postgresql'",
 " 'aws'",
 " 'redis'",
 " 'nosql'",
 " 'python'",
 " 'algorithms'",
 " 'django'",
 " 'ruby on rails'",
 " 'java'",
 " 'data structure'",
 " 'algorithm'",
 " 'python'",
 " 'c++'",
 " 'node.js'",
 " 'django'",
 " 'c'",
 " 'wan'",
 " 'network support'",
 " 'network infrastructure'",
 " 'solarwinds'",
 " 'wireless'",
 " 'qos'",
 " 'cisco networking'",
 " 'switching'",
 " 'call manager'",
 " 'vpn'",
 " 'sharepoint development'",
 " 'sharepoint'",
 " 'share point'",
 " 'moss'",
 " 'software'",
 " 'microsoft'",
 " 'technical'",
 " 'testing'",
 " 'dreamweaver'",
 " 'windows'",
 " 'javascript'",
 " 'jquery'",
 " 'specification'",
 " 'illustrator'",
 " 'soa'",
 " 'service'",
 " 'quality'",
 " 'server'",
 " 'mobile'",
 " 'adobe'",
 " 'ios'",
 " 'triggers'",
 " 'sql'",
 " 'excel'",
 " 'linq'",
 " 'wpf'",
 " 'web'",
 " 'ui'",
 " 'android'",
 " 'c#'",
 " 'developer'",
 " 'ajax'",
 " 'level'",
 " 'design'",
 " 'iis'",
 " 'c'",
 " 'xml'",
 " 'ms sql'",
 " 'front end'",
 " 'mongodb'",
 " 'entity framework'",
 " 'json'",
 " 'operations'",
 " 'html'",
 " 'mvc'",
 " 'jquery'",
 " 'office 365'",
 " '.net framework'",
 " 'ms project'",
 " 'css'",
 " 'project support'",
 " 'problem solving'",
 " 'jquery'",
 " 'html5'",
 " 'sharepoint'",
 " 'powershell'",
 " 'sharepoint development'",
 " 'automation testing'",
 " 'log analysis'",
 " 'deep learning'",
 " 'machine learning'",
 " 'python'",
 " 'individual contributor'",
 " 'agile'",
 " 'web technologies'",
 " 'debugging'",
 " 'application development'",
 " 'c++'",
 " 'qt'",
 " 'mysql'",
 " 'c#'",
 " 'com'",
 " 'programming'",
 " 'linq'",
 " 'software engineer'",
 " 'win32'",
 " 'c++'",
 " 'multithreading'",
 " 'technical lead'",
 " 'software engineering'",
 " 'artificial intelligence'",
 " 'automation'",
 " 'machine learning'",
 " 'computer science engineering'",
 " 'software engineering'",
 " 'technical leadership'",
 " 'statistics'",
 " 'roadm'",
 " 'automation'",
 " 'talent acquisition'",
 " 'ciena'",
 " 'simulation'",
 " 'transmission'",
 " 'networking'",
 " 'hardware'",
 " 'android sdk'",
 " 'software development'",
 " 'java'",
 " 'framework'",
 " 'core java'",
 " 'android'",
 " 'sdk'",
 " 'ajax'",
 " 'visual studio'",
 " 'database design'",
 " 'unit testing'",
 " 'coding'",
 " 'entity framework'",
 " 'uml'",
 " 'wcf'",
 " 'debugging'",
 " 'xml'",
 " 'hr'",
 " 'ajax'",
 " 'web application'",
 " 'management systems'",
 " 'configuration management'",
 " 'cti'",
 " 'root cause analysis'",
 " 'jquery'",
 " 'software project management'",
 " 'software project'",
 " 'front end'",
 " 'subject matter expertise'",
 " 'quantitative research'",
 " 'digital design'",
 " 'information architecture'",
 " 'interaction design'",
 " 'team leading'",
 " 'visual design'",
 " 'user research'",
 " 'ingenium'",
 " 'consultancy'",
 " 'recruitment'",
 " 'pdf'",
 " 'strategic hr'",
 " 'doc'",
 " 'customer experience management'",
 " 'email'",
 " 'javascript'",
 " 'emea'",
 " 'object oriented programming'",
 " 'java'",
 " 'linux'",
 " 'ruby'",
 " 'python'",
 " 'c++'",
 " 'cloud foundry'",
 " 'bash'",
 " 'software engineering'",
 " 'os'",
 " 'web technologies'",
 " 'rest'",
 " 'oracle sql'",
 " 'web services'",
 " 'core java'",
 " 'soap'",
 " 'software'",
 " 'api'",
 " 'unit testing'",
 " 'mvvm'",
 " 'spa'",
 " 'testing'",
 " 'mvc'",
 " 'javascript'",
 " 'jquery'",
 " 'specification'",
 " 'application'",
 " 'architecture'",
 " 'development'",
 " 'html'",
 " 'quality'",
 " 'css3'",
 " 'rest'",
 " 'web'",
 " 'developing'",
 " 'automation'",
 " 'application development'",
 " 'computer science'",
 " 'load balancing'",
 " 'coding'",
 " 'unix'",
 " 'linux'",
 " 'json'",
 " 'j2ee'",
 " 'spring'",
 " 'xml'",
 " 'rdbms'",
 " 'cloud'",
 " 'tdd'",
 " 'ios development'",
 " 'workflow'",
 " 'swift'",
 " 'continuous improvement'",
 " 'front end'",
 " 'apache'",
 " 'database design'",
 " 'scrum'",
 " 'php'",
 " 'mysql'",
 " 'data structures'",
 " 'agile'",
 " 'jquery'",
 " 'debugging'",
 " 'java'",
 " 'unix'",
 " 'oracle sql'",
 " 'python'",
 " 'c++'",
 " 'html'",
 " 'mvc'",
 " 'html5'",
 " 'spring'",
 " 'software engineering'",
 " 'react.js'",
 " 'angularjs'",
 " 'senior software engineer'",
 " 'backbone.js'",
 " 'javascript'",
 " 'jquery'",
 " 'sql'",
 " 'automation'",
 " 'healthcare'",
 " 'social media'",
 " 'json'",
 " 'project management'",
 " 'agile'",
 " 'monitoring'",
 " 'scheduling'",
 " 'test scripts'",
 " 'c#'",
 " 'asp.net'",
 " 'microsoft azure'",
 " 'mvc'",
 " 'web technologies'",
 " 'server'",
 " 'automation testing'",
 " 'api'",
 " 'automation'",
 " 'git'",
 " 'cisco'",
 " 'python'",
 " 'development'",
 " 'management'",
 " 'api testing'",
 " 'automation framework'",
 " 'testing'",
 " 'hana'",
 " 'sap bi'",
 " 'sap bo'",
 " 'ood'",
 " 'oo abap'",
 " 'data warehousing'",
 " 'software engineering'",
 " 'plsql'",
 " 'eclipse'",
 " 'visualforce'",
 " 'unit testing'",
 " 'coding'",
 " 'architecture'",
 " 'salesforce crm'",
 " 'salesforce.com'",
 " 'team development'",
 " 'debugging'",
 " 'cloud computing'",
 " 'software'",
 " 'microsoft'",
 " 'technical'",
 " 'java'",
 " 'api'",
 " 'aws'",
 " 'spring'",
 " 'application'",
 " 'programming'",
 " 'apache'",
 " 'python'",
 " 'development'",
 " 'microservices'",
 " 'metadata'",
 " 'rest'",
 " 'sql'",
 " 'data structures'",
 " 'git'",
 " 'agile'",
 " 'maven'",
 " 'computer science'",
 " 'design'",
 " 'c++'",
 " 'analytics'",
 " 'software development'",
 " 'visual studio'",
 " 'unit testing'",
 " 'application development'",
 " 'coding'",
 " 'vista'",
 " 'integration testing'",
 " 'analytics'",
 " 'windows server'",
 " 'debugging'",
 " 'java'",
 " 'data structures'",
 " 'oops'",
 " 'j2ee'",
 " 'algorithms'",
 " 'object oriented design'",
 " 'ajax'",
 " 'drupal'",
 " 'sql'",
 " 'crm'",
 " 'html'",
 " 'seo'",
 " 'javascript'",
 " 'jquery'",
 " 'android'",
 " 'xml'",
 " 'programming'",
 " 'computer science'",
 " 'financial services'",
 " 'linux'",
 " 'machine learning'",
 " 'investment banking'",
 " 'business analysis'",
 " 'career development'",
 " 'jquery'",
 " 'plsql'",
 " 'ts'",
 " 'software engineering'",
 " 'server'",
 " 'ado.net'",
 " 'visual studio'",
 " 'sql'",
 " 'coding'",
 " 'oracle 10g'",
 " 'optimization'",
 " 'applications'",
 " 'development'",
 " 'oracle'",
 " 'tuning'",
 " 'sql server'",
 " '.net'",
 " 'cards'",
 " 'soft skills'",
 " 'computer science'",
 " 'telecom'",
 " 'healthcare'",
 " 'public sector'",
 " 'visual basic'",
 " 'c++'",
 " 'information technology'",
 " 'core java'",
 " 'net'",
 " 'managing'",
 " 'production support'",
 " 'development'",
 " 'trouble shooting'",
 " 'query'",
 " 'handling'",
 " 'sharepoint'",
 " 'administration'",
 " 'db2'",
 " 'data migration'",
 " 'software services'",
 " 'microsoft sharepoint'",
 " 'jcl'",
 " 'crm'",
 " 'ims'",
 " 'agile'",
 " 'enterprise applications'",
 " 'cobol'",
 " 'software'",
 " 'java'",
 " 'programming'",
 " 'analytical'",
 " 'architecture'",
 " 'development'",
 " 'service'",
 " 'quality'",
 " 'rest'",
 " 'cloud'",
 " 'sql'",
 " 'data structures'",
 " 'web'",
 " 'hibernate'",
 " 'agile'",
 " 'object oriented design'",
 " 'maven'",
 " 'automation'",
 " 'dom'",
 " 'json'",
 " 'design'",
 " 'analytics'",
 " 'xml'",
 " 'productivity enhancement'",
 " 'data processing'",
 " 'software'",
 " 'layout'",
 " 'tools'",
 " 'design development'",
 " 'design'",
 " 'research'",
 " 'hardware'",
 " 'operating systems'",
 " 'ipc'",
 " 'c'",
 " 'linux'",
 " 'analytical skills'",
 " 'supervision'",
 " 'analytical'",
 " 'software services'",
 " 'quality'",
 " 'application'",
 " 'agile scrum'",
 " 'software'",
 " 'business executive'",
 " 'technical'",
 " 'tools'",
 " 'web application development'",
 " 'customer satisfaction'",
 " 'algorithms'",
 " 'application software'",
 " 'software development'",
 " 'adobe'",
 " 'ajax'",
 " 'design patterns'",
 " 'pre sales'",
 " 'linux'",
 " 'j2ee'",
 " 'product management'",
 " 'web development'",
 " 'hiring'",
 " 'software'",
 " 'testing'",
 " 'fpga'",
 " 'windows'",
 " 'programming'",
 " 'coding'",
 " 'wireless'",
 " 'troubleshooting'",
 " 'python'",
 " 'service'",
 " 'quality'",
 " 'support'",
 " 'performance tuning'",
 " 'linux'",
 " 'customer service'",
 " 'it'",
 " 'infrastructure'",
 " 'configuration'",
 " 'solid'",
 " 'devops'",
 " 'tools'",
 " 'level'",
 " 'design'",
 " 'scripting'",
 " 'networking'",
 " 'hardware'",
 " 'analytical skills'",
 " 'software'",
 " 'data modeling'",
 " 'computer science'",
 " 'sql'",
 " 'data structures'",
 " 'electrical engineering'",
 " 'it'",
 " 'design'",
 " 'software solutions'",
 " 'soa'",
 " 'object oriented design'",
 " 'sdlc'",
 " 'http'",
 " 'sql'",
 " 'php'",
 " 'linux'",
 " 'soa'",
 " 'ftp'",
 " 'dns'",
 " 'android'",
 " 'xml'",
 " 'system programming'",
 " 'unix'",
 " 'linux'",
 " 'disaster recovery'",
 " 'recruitment'",
 " 'python'",
 " 'c++'",
 " 'windows'",
 " 'networking'",
 " 'data management'",
 " 'agile methodology'",
 " 'mvc developer'",
 " 'c#.net'",
 " 'mvc'",
 " 'software engineering'",
 " 'code review'",
 " 'application programming'",
 " 'ms sql'",
 " 'web application'",
 " 'sql'",
 " 'asp.net mvc'",
 " 'mvc architecture'",
 " 'agile'",
 " 'web technologies'",
 " 'mvc framework'",
 " 'object oriented programming'",
 " 'c#'",
 " 'asp.net'",
 " 'oops'",
 " 'ims db'",
 " 'easytrieve'",
 " 'db2'",
 " 'technical design'",
 " 'test cases'",
 " 'jcl'",
 " 'test data'",
 " 'cobol'",
 " 'life cycle'",
 " 'client satisfaction'",
 " 'consulting'",
 " 'ios'",
 " 'cloud'",
 " 'aws'",
 " 'mobile application development'",
 " 'python'",
 " 'windows'",
 " 'big data'",
 " 'android'",
 " 'saas'",
 " 'front end'",
 " 'computer science'",
 " 'ibatis'",
 " 'json'",
 " 'struts'",
 " 'hibernate'",
 " 'mvc'",
 " 'networking'",
 " 'core java'",
 " 'xml'",
 " 'servlets'",
 " 'web applications'",
 " 'jboss'",
 " 'spring mvc'",
 " 'e commerce'",
 " 'struts'",
 " 'hibernate'",
 " 'j2ee'",
 " 'ooad'",
 " 'mvc framework'",
 " 'sdlc'",
 " 'linux'",
 " 'python'",
 " 'html'",
 " 'mvc'",
 " 'investment banking'",
 " 'risk management'",
 " 'javascript'",
 " 'jquery'",
 " 'web development'",
 " 'software'",
 " 'technical'",
 " 'javascript'",
 " 'jquery'",
 " 'programming'",
 " 'coding'",
 " 'php'",
 " 'python'",
 " 'development'",
 " 'service'",
 " 'mobile'",
 " 'sql'",
 " 'web'",
 " 'consulting'",
 " 'computer science'",
 " 'ruby'",
 " 'perl'",
 " 'c'",
 " 'analytics'",
 " 'microsoft'",
 " 'technical'",
 " 'api'",
 " 'deployment'",
 " 'cloud computing'",
 " 'architecture'",
 " 'soa'",
 " 'service'",
 " 'performance tuning'",
 " 'rest'",
 " 'cloud'",
 " 'web'",
 " 'agile'",
 " 'web technologies'",
 " 'monitoring'",
 " 'devops'",
 " 'json'",
 " 'github'",
 " 'powershell'",
 " 'developing'",
 " 'tftp'",
 " 'tools'",
 " 'linux'",
 " 'voip'",
 " 'design'",
 " 'tcp ip'",
 " 'standards'",
 " 'good communication skills'",
 " 'ftp'",
 " 'dns'",
 " 'unit testing'",
 " 'sql'",
 " 'coding'",
 " 'asset management'",
 " 'front office'",
 " 'packaging'",
 " 'wealth management'",
 " 'core java'",
 " 'analytics'",
 " 'risk management'",
 " 'functions'",
 " 'gaming'",
 " 'networking'",
 " 'programming'",
 " 'computer science'",
 " 'analytical'",
 " 'coding'",
 " 'data structures'",
 " 'aws'",
 " 'python'",
 " 'development'",
 " 'javascript'",
 " 'agile'",
 " 'c'",
 " 'debugging'",
 " 'ajax'",
 " 'apache'",
 " 'coding'",
 " 'php'",
 " 'mysql'",
 " 'scrum'",
 " 'python'",
 " 'oracle'",
 " 'j2ee'",
 " 'jquery'",
 " 'pdf'",
 " 'siebel'",
 " 'ajax'",
 " 'rest'",
 " 'angularjs'",
 " 'json'",
 " 'css'",
 " 'web services'",
 " 'javascript'",
 " 'jquery'",
 " 'html5'",
 " 'spring boot'",
 " 'c#'",
 " 'computer science'",
 " 'automation'",
 " 'open source'",
 " 'linux'",
 " 'git'",
 " 'cisco'",
 " 'python'",
 " 'vmware'",
 " 'virtualization'",
 " 'javascript'",
 " 'object oriented programming'",
 " 'software'",
 " 'ajax'",
 " 'ado.net'",
 " 'database design'",
 " 'sql'",
 " 'software development life cycle'",
 " 'mvc'",
 " 'sql server 2008'",
 " 'technical documentation'",
 " 'automation'",
 " 'coding'",
 " 'unix'",
 " 'linux'",
 " 'selenium'",
 " 'python'",
 " 'business analysis'",
 " 'javascript'",
 " 'agile'",
 " 'analytics'",
 " 'software development'",
 " 'cocoa touch'",
 " 'computer science'",
 " 'product quality'",
 " 'swift'",
 " 'problem solving'",
 " 'objective c'",
 " 'ios development'",
 " 'mobile technology'",
 " 'analytical'",
 " 'computer science'",
 " 'sql'",
 " 'financial services'",
 " 'linux'",
 " 'project planning'",
 " 'j2ee'",
 " 'career development'",
 " 'core java'",
 " 'xml'",
 " 'programming'",
 " 'solution design'",
 " 'python'",
 " 'c++'",
 " 'client acquisition'",
 " 'test execution'",
 " 'data management'",
 " 'service delivery'",
 " 'software engineering'",
 " 'technical'",
 " 'java'",
 " 'mysql'",
 " 'struts'",
 " 'j2ee'",
 " 'jquery'",
 " 'application'",
 " 'development'",
 " 'html'",
 " 'core java'",
 " 'jdbc'",
 " 'server'",
 " 'web'",
 " 'hibernate'",
 " 'ui'",
 " 'agile'",
 " 'tomcat'",
 " 'jsp'",
 " 'http'",
 " 'telecom'",
 " 'database'",
 " 'design'",
 " 'office 365'",
 " 'application development'",
 " 'sharepoint development'",
 " 'software development'",
 " 'c#'",
 " 'tfs'",
 " 'asp.net'",
 " 'visual studio'",
 " 'ado.net'",
 " 'sql'",
 " 'wcf'",
 " 'asp.net mvc'",
 " 'asp . net'",
 " 'web services'",
 " 'sql server'",
 " '.net'",
 " 'asp net'",
 " 'xml'",
 " 'application'",
 " 'software'",
 " 'quality'",
 " 'sql'",
 " 'audit'",
 " 'it'",
 " 'mca'",
 " 'hibernate'",
 " 'oracle'",
 " 'development'",
 " 'testing'",
 " 'btech'",
 " 'system testing'",
 " 'msc'",
 " 'uml'",
 " 'sql server'",
 " 'jsp'",
 " 'xml'",
 " 'analytical'",
 " 'computer science'",
 " 'healthcare'",
 " 'coding'",
 " 'microsoft'",
 " 'machine learning'",
 " 'compliance'",
 " 'tomcat'",
 " 'struts'",
 " 'hibernate'",
 " 'j2ee'",
 " 'multithreading'",
 " 'spring'",
 " 'core java'",
 " 'subject matter expertise'",
 " 'computer science'",
 " 'unix'",
 " 'linux'",
 " 'mysql'",
 " 'data structures'",
 " 'python'",
 " 'hbase'",
 " 'software design'",
 " 'software engineer'",
 " 'ajax'",
 " 'automation'",
 " 'coding'",
 " 'data structures'",
 " 'troubleshooting'",
 ...]

In [19]:
# remove ' and space at front from each string in list
all_skills = [skill.strip("' ") for skill in all_skills]

In [20]:
# sample skills from all_skills
sample_skills = np.random.choice(all_skills, 10)
sample_skills

array(['entity framework', 'html', 'oops', 'coding',
       'decentralized applications (dapps)', 'project costing',
       'test scenarios', 'html5', 'ruby', 'database'], dtype='<U93')

In [21]:
# load skill_3.csv
skill_3 = pd.read_csv('../../static/csv/skill_3.csv')
skill_3.head(3)

   id                            skill
0   1                quality assurance
1   2  software development principles
2   3  software development life cycle

In [22]:
skill_3.shape

(376, 2)

In [23]:
# on skill_3, get the skill_name and save it to skill_3_list
skill_3_list = skill_3['skill'].tolist()
len(skill_3_list)

376

In [24]:
# remove skills that are in skill_3_list
skills_not_in_3 = [skill for skill in all_skills if skill not in skill_3_list]
len(skills_not_in_3)

44128

In [25]:
# remove skills from skill_3_list if its on all_skills
skill_3_not_in_all_skill = [skill for skill in skill_3_list if skill not in all_skills]
len(skill_3_not_in_all_skill)

229

In [26]:
# on skill_3 get last id
last_id = skill_3['id'].iloc[-1]
last_id

376

In [27]:
# make skills_not_in_3 to dataframe
skills_not_in_3 = pd.DataFrame(skills_not_in_3, columns=['skill'])
skills_not_in_3.head()

        skill
0        html
1         css
2  javascript
3       react
4     angular

In [28]:
# add id to skills_not_in_3
skills_not_in_3['id'] = skills_not_in_3.index + last_id + 1
skills_not_in_3.head()

        skill   id
0        html  377
1         css  378
2  javascript  379
3       react  380
4     angular  381

In [29]:
skills_not_in_3.tail(3)

                 skill     id
44125        photoshop  44502
44126       javascript  44503
44127  cloud computing  44504

In [30]:
skill_3.head(3)

   id                            skill
0   1                quality assurance
1   2  software development principles
2   3  software development life cycle

In [31]:
# combine skill_3 and skills_not_in_3
skill_3 = pd.concat([skill_3, skills_not_in_3])
skill_3.head(3)

   id                            skill
0   1                quality assurance
1   2  software development principles
2   3  software development life cycle

In [32]:
skill_3.tail(3)

          id            skill
44125  44502        photoshop
44126  44503       javascript
44127  44504  cloud computing

In [33]:
# rset index
skill_3.reset_index(drop=True, inplace=True)
skill_3.tail(3)

          id            skill
44501  44502        photoshop
44502  44503       javascript
44503  44504  cloud computing

In [34]:
skill_3.head(3)

   id                            skill
0   1                quality assurance
1   2  software development principles
2   3  software development life cycle

In [35]:
# save skills_not_in_3 to csv
skill_3.to_csv('../../static/csv/skill_4.csv', index=False)

# Skill mapping for Specialization3_Skills

In [12]:
import numpy as np
import pandas as pd
import ast

In [5]:
# get skill_4.csv
website_skill = pd.read_csv('../../static/csv/skill_4.csv')
website_skill.head(2)

   id                            skill
0   1                quality assurance
1   2  software development principles

In [14]:
# get specialization3_skills.csv
specialization3_skills = pd.read_csv('../../static/csv/specialization3_skills.csv')
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"['html', 'css', 'javascript', 'web design', 'r..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"['node.js', 'python', 'ruby', 'java', 'databas..."

In [15]:
# use ast to convert string to list on specialization3_skills
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: ast.literal_eval(x))
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"[html, css, javascript, web design, responsive..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"[node.js, python, ruby, java, database managem..."

In [18]:
# remove ' ' and space at front and back of each string in list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip("' ") for skill in x])
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"[html, css, javascript, web design, responsive..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"[node.js, python, ruby, java, database managem..."

In [20]:
# remove empty list or '' from skill_list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill for skill in x if skill != ''])
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"[html, css, javascript, web design, responsive..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"[node.js, python, ruby, java, database managem..."

In [6]:
skill_mapping = website_skill.set_index('skill')['id'].to_dict()

In [8]:
skill_mapping

{'quality assurance': 1,
 'software development principles': 2,
 'software development life cycle': 3,
 'agile methodology': 4,
 'innovation': 5,
 'fail cheap': 6,
 'authentication methods': 7,
 'adaptability in development': 8,
 'inclusive design': 9,
 'product launch': 10,
 'svn': 11,
 'learning culture': 12,
 'ux design': 13,
 'ui/ux design software': 14,
 'software quality assurance': 15,
 'security incident handling': 16,
 'exploratory data analysis': 17,
 'source code management': 18,
 'risk-taking': 19,
 'knowledge transfer': 20,
 'mvp': 21,
 'regression testing': 22,
 'information security compliance': 23,
 'data analytics': 24,
 'statistics': 25,
 'prototyping': 26,
 'color theory': 27,
 'product goals': 28,
 'user-centered design': 29,
 'product management': 30,
 'lean thinking': 31,
 'product documentation': 32,
 'data security': 33,
 'software development process': 34,
 'product backlog': 35,
 'privacy': 36,
 'complementary colors': 37,
 'identity management': 38,
 'security policy': 39,
 'empathy in design': 40,
 'automated testing': 41,
 'feature prioritization': 42,
 'pattern recognition': 43,
 'product planning': 44,
 'wireframing': 45,
 'usability principles': 46,
 'design guidelines': 47,
 'data cleaning': 48,
 'organizational security': 49,
 'design process': 50,
 'tableau': 51,
 'unit testing': 52,
 'sql': 53,
 'cybersecurity': 54,
 'two-factor authentication': 55,
 'design ethics': 56,
 'security principles': 57,
 'data visualization': 58,
 'penetration testing': 59,
 'feature engineering': 60,
 'user verification': 61,
 'scrum master': 62,
 'model performance': 63,
 'consistency in design': 64,
 'database querying': 65,
 'color schemes': 66,
 'user experience testing': 67,
 'restful api': 68,
 'performance evaluation': 69,
 'data management': 70,
 'a/b testing': 71,
 'user experience': 72,
 'android development': 73,
 'user interface': 74,
 'accessibility': 75,
 'data science': 76,
 'smoke testing': 77,
 'data ethics': 78,
 'mobile responsiveness': 79,
 'machine learning': 80,
 'predictive modeling': 81,
 'ui/ux design': 82,
 'endpoint security': 83,
 'data analysis': 84,
 'acceptance criteria': 85,
 'testing metrics': 86,
 'api': 87,
 'defect detection': 88,
 'access control': 89,
 'user experience optimization': 90,
 'threat mitigation': 91,
 'user navigation': 92,
 'authentication': 93,
 'software integration': 94,
 'experimentation': 95,
 'stress testing': 96,
 'graphic design': 97,
 'motion design': 98,
 'testing techniques': 99,
 'software architecture': 100,
 'java programming': 101,
 'user feedback': 102,
 'code reusability': 103,
 'data governance': 104,
 'animation': 105,
 'typography': 106,
 'scrum': 107,
 'version control': 108,
 'agile software development': 109,
 'big data': 110,
 'code coverage': 111,
 'identity verification': 112,
 'security assessment': 113,
 'solid principles': 114,
 'database management': 115,
 'user personas': 116,
 'lean startup': 117,
 'security incident response plan': 118,
 'stakeholder collaboration': 119,
 'product owner': 120,
 'social engineering': 121,
 'product roadmap': 122,
 'customer feedback': 123,
 'cross-platform testing': 124,
 'documentation': 125,
 'product success': 126,
 'security measures': 127,
 'account security': 128,
 'test automation tools': 129,
 'information manipulation': 130,
 'data processing': 131,
 'content organization': 132,
 'usability': 133,
 'phishing attacks': 134,
 'code quality': 135,
 'information architecture': 136,
 'data preprocessing': 137,
 'device protection': 138,
 'incident management': 139,
 'emotional design': 140,
 'testing changes': 141,
 'git': 142,
 'feature evaluation': 143,
 'testing extremes': 144,
 'automation': 145,
 'role of a software architect': 146,
 'security controls': 147,
 'defect identification': 148,
 'testing methods': 149,
 'data-driven decision making': 150,
 'agile practices': 151,
 'build stability': 152,
 'ci/cd': 153,
 'testing efficiency': 154,
 'test comprehensiveness': 155,
 'product strategy': 156,
 'compliance': 157,
 'design principles': 158,
 'scrum roles': 159,
 'software development practices': 160,
 'data dashboards': 161,
 'performance testing': 162,
 'api design': 163,
 'load testing': 164,
 'user acceptance testing': 165,
 'user interfaces': 166,
 'code maintainability': 167,
 'technical writer': 168,
 'data scientist': 169,
 'agile manifesto': 170,
 'software development lifecycle': 171,
 'user testing': 172,
 'scrum framework': 173,
 'design tools': 174,
 'data quality': 175,
 'visual perception': 176,
 'data protection': 177,
 'testing processes': 178,
 'nosql': 179,
 'information security': 180,
 'median': 181,
 'ethical data use': 182,
 'vulnerability management': 183,
 'test engineer': 184,
 'agile development': 185,
 'network security': 186,
 'product development': 187,
 'responsible ai': 188,
 'fail fast': 189,
 'code review': 190,
 'mobile app development': 191,
 'vulnerability identification': 192,
 'biometric authentication': 193,
 'security analyst': 194,
 'statistical analysis': 195,
 'lean product development': 196,
 'object-oriented design': 197,
 'dry principle': 198,
 'collaborative development': 199,
 'software development': 200,
 'data dictionary': 201,
 'software testing': 202,
 'web services': 203,
 'visual communication': 204,
 'continuous improvement': 205,
 'authorization': 206,
 'responsive design': 207,
 'interactive design': 208,
 'exploratory testing': 209,
 'web design': 210,
 'product manager': 211,
 'iterative development': 212,
 'usability testing': 213,
 'agile principles': 214,
 'color psychology': 215,
 'testing phases': 216,
 'compatibility testing': 217,
 'user interface design': 218,
 'iterative design': 219,
 'environment compatibility': 220,
 'cybersecurity threats': 221,
 'devops': 222,
 'testing existing functionality': 223,
 'metadata': 224,
 'black box testing': 225,
 'collaboration': 226,
 'interaction design': 227,
 'continuous integration': 228,
 'brand identity': 229,
 'usability evaluation': 230,
 'information hierarchy': 231,
 'hardware': 232,
 'ai foundations': 233,
 'multimedia technologies': 234,
 'logic design': 235,
 'structured programming': 236,
 'technology business': 237,
 'coding': 238,
 'operating systems': 239,
 'software design': 240,
 'electronics': 241,
 'networking': 242,
 'back-end': 243,
 'leadership': 244,
 'computer science': 245,
 'advanced mathematics': 246,
 'simulation': 247,
 'formal languages': 248,
 'thesis development': 249,
 'application development': 250,
 'algorithm design': 251,
 'digital circuits': 252,
 'research writing': 253,
 'entrepreneurship': 254,
 'management principles': 255,
 'information organization': 256,
 'network management': 257,
 'programming': 258,
 'research planning': 259,
 'project management': 260,
 'social issues': 261,
 'language theory': 262,
 'front-end': 263,
 'technology integration': 264,
 'language design': 265,
 'presentation skills': 266,
 'software engineering': 267,
 'research methodology': 268,
 'it support': 269,
 'organizational management': 270,
 'network protocols': 271,
 'emerging technologies': 272,
 'solution design': 273,
 'databases': 274,
 'integrative programming': 275,
 'it infrastructure': 276,
 'advanced information security': 277,
 'algorithms': 278,
 'artificial intelligence': 279,
 'automata theory': 280,
 'mathematics': 281,
 'systems analysis': 282,
 'programming languages': 283,
 'quantitative analysis': 284,
 'advanced software engineering': 285,
 'optimization': 286,
 'research methods': 287,
 'administration': 288,
 'design': 289,
 'architecture design': 290,
 'application design': 291,
 'ethical decision-making': 292,
 'system integration': 293,
 'engineering': 294,
 'complexity analysis': 295,
 'network administration': 296,
 'system architecture': 297,
 'problem-solving': 298,
 'system administration': 299,
 'data structures': 300,
 'it industry': 301,
 'syntax': 302,
 'interface design': 303,
 'assembly language': 304,
 'advanced programming': 305,
 'web development': 306,
 'maintenance': 307,
 'computer architecture': 308,
 'professional development': 309,
 'data communication': 310,
 'computing ethics': 311,
 'multimedia content creation': 312,
 'technical communication': 313,
 'professional ethics': 314,
 'modeling': 315,
 'analysis': 316,
 'strategic planning': 317,
 ' critical thinking': 318,
 ' data analysis': 347,
 ' problem solving': 364,
 ' decision making': 352,
 ' management': 322,
 ' strategic thinking': 323,
 'research': 324,
 ' creative problem solving': 325,
 ' logic': 326,
 ' scientific inquiry': 327,
 'idea generation': 328,
 ' innovation': 329,
 ' adaptability': 375,
 'counseling': 332,
 ' empathy': 360,
 ' active listening': 354,
 ' emotional intelligence': 335,
 ' relationship building': 336,
 ' mentorship': 337,
 'creative writing': 339,
 ' artistic expression': 340,
 ' advocacy': 341,
 'creative brainstorming': 343,
 ' public speaking': 344,
 ' entrepreneurship': 345,
 ' organization': 348,
 ' reliability': 349,
 ' time management': 350,
 ' process improvement': 351,
 'caregiving': 353,
 ' attention to detail': 355,
 'social organizing': 357,
 ' event planning': 358,
 ' community building': 359,
 'troubleshooting': 361,
 ' mechanical skills': 362,
 ' outdoor activities': 363,
 'risk taking': 365,
 ' physical activities': 366,
 ' spontaneous decision making': 367,
 'artistic expression': 369,
 ' emotional expression': 370,
 ' individualism': 371,
 ' creativity': 372,
 'entertaining': 373,
 ' social interactions': 374,
 ' spontaneity': 376,
 'html': 44500,
 'css': 44493,
 'javascript': 44503,
 'react': 380,
 'angular': 43242,
 'vue.js': 26936,
 'cross-browser compatibility': 383,
 'node.js': 44083,
 'python': 44395,
 'ruby': 40280,
 'java': 44273,
 'api development': 32030,
 'server security': 37926,
 'express': 40276,
 'flask': 391,
 'django': 42925,
 'full stack frameworks': 393,
 'web application development': 43595,
 'object-oriented programming (oop)': 395,
 'debugging': 44026,
 'c#': 43768,
 '.net': 44402,
 'oops': 44371,
 'oop': 43869,
 'c++': 43986,
 'uml': 40602,
 'multithreading': 42184,
 'ooad': 39282,
 'software': 43928,
 'branch': 408,
 'vice president': 409,
 'j2ee': 44050,
 'national': 42804,
 'consulting': 44062,
 'mobile': 42727,
 'front end': 44429,
 'usage': 43817,
 'open source': 44212,
 'it': 43777,
 'web': 44447,
 'development': 44433,
 'side': 43492,
 'mentor': 40292,
 'investment': 20044,
 'web technologies': 44464,
 'android': 42761,
 'backend': 44435,
 'application': 43352,
 'ajax': 44497,
 'php': 44498,
 'erp': 39793,
 'mca': 41943,
 'website': 44434,
 'module': 40534,
 'financial services': 42131,
 'linux': 44391,
 'asset management': 39451,
 'fixed income': 38671,
 'jira': 43319,
 'agile': 43944,
 'design patterns': 42185,
 'angularjs': 44165,
 'ui development': 44155,
 'html5': 44465,
 'object oriented programming': 42836,
 'lighting': 451,
 'automation testing': 40624,
 'gui': 36348,
 'product quality': 35374,
 'design development': 44420,
 'cloud': 42741,
 'healthcare': 40537,
 'analytics': 43889,
 'monitoring': 43786,
 'inside sales': 40955,
 'financial s': 465,
 'windows': 43608,
 'mobile development': 39969,
 'server': 44244,
 'eclipse': 40614,
 'developer': 44445,
 'technical': 44295,
 'eclipse ide': 38718,
 'objective c': 40740,
 'ui': 44120,
 'c': 44401,
 'applications': 44253,
 'json': 44265,
 'test cases': 43961,
 'system testing': 39348,
 'sqlite': 26142,
 'jquery': 44496,
 'graphics': 44309,
 'informatica': 40254,
 'unix': 44022,
 'oracle': 44396,
 'pdf': 42250,
 'deployment': 42644,
 'data warehousing': 41770,
 'teradata': 39624,
 'net': 42586,
 'asp.net': 44436,
 'service': 43161,
 'hyperion': 39270,
 'business process outsourcing': 37479,
 'payroll': 38554,
 'obiee': 24401,
 'staffing': 37483,
 'bpo': 41752,
 'plsql': 40744,
 'mongodb': 43629,
 'mysql': 44469,
 'postgresql': 40356,
 'aws': 43544,
 'redis': 34910,
 'ruby on rails': 42495,
 'data structure': 41352,
 'algorithm': 41353,
 'wan': 40842,
 'network support': 41020,
 'network infrastructure': 37914,
 'solarwinds': 28440,
 'wireless': 37793,
 'qos': 39632,
 'cisco networking': 29100,
 'switching': 38347,
 'call manager': 541,
 'vpn': 38089,
 'sharepoint development': 16979,
 'sharepoint': 33922,
 'share point': 545,
 'moss': 2521,
 'microsoft': 43718,
 'testing': 43375,
 'dreamweaver': 44041,
 'specification': 41473,
 'illustrator': 44466,
 'soa': 43297,
 'quality': 43940,
 'adobe': 44448,
 'ios': 41242,
 'triggers': 38476,
 'excel': 44065,
 'linq': 40775,
 'wpf': 43779,
 'level': 44038,
 'iis': 43722,
 'xml': 44413,
 'ms sql': 40352,
 'entity framework': 40774,
 'operations': 41041,
 'mvc': 44443,
 'office 365': 28612,
 '.net framework': 40597,
 'ms project': 33994,
 'project support': 32831,
 'problem solving': 41208,
 'powershell': 39385,
 'log analysis': 38010,
 'deep learning': 41036,
 'individual contributor': 39866,
 'qt': 41261,
 'com': 43845,
 'software engineer': 40423,
 'win32': 6920,
 'technical lead': 40857,
 'computer science engineering': 617,
 'technical leadership': 40685,
 'roadm': 619,
 'talent acquisition': 23341,
 'ciena': 4619,
 'transmission': 43618,
 'android sdk': 40620,
 'framework': 27789,
 'core java': 44052,
 'sdk': 39413,
 'visual studio': 43719,
 'database design': 44296,
 'wcf': 43031,
 'hr': 43808,
 'web application': 42898,
 'management systems': 43126,
 'configuration management': 39767,
 'cti': 37039,
 'root cause analysis': 40339,
 'software project management': 33382,
 'software project': 22316,
 'subject matter expertise': 33405,
 'quantitative research': 19752,
 'digital design': 650,
 'team leading': 40839,
 'visual design': 44125,
 'user research': 42225,
 'ingenium': 19682,
 'consultancy': 41093,
 'recruitment': 43763,
 'strategic hr': 41097,
 'doc': 41100,
 'customer experience management': 23241,
 'email': 41903,
 'emea': 32569,
 'cloud foundry': 42175,
 'bash': 37945,
 'os': 34432,
 'rest': 44081,
 'oracle sql': 40576,
 'soap': 42493,
 'mvvm': 40622,
 'spa': 42769,
 'architecture': 43288,
 'css3': 44458,
 'developing': 44124,
 'load balancing': 37915,
 'spring': 43250,
 'rdbms': 41449,
 'tdd': 41924,
 'ios development': 43110,
 'workflow': 41517,
 'swift': 40742,
 'apache': 43935,
 'react.js': 43542,
 'senior software engineer': 40177,
 'backbone.js': 42699,
 'social media': 44485,
 'scheduling': 38951,
 'test scripts': 40550,
 'microsoft azure': 40918,
 'cisco': 38141,
 'management': 44298,
 'api testing': 40609,
 'automation framework': 39644,
 'hana': 37592,
 'sap bi': 23974,
 'sap bo': 21386,
 'ood': 37652,
 'oo abap': 38841,
 'visualforce': 38477,
 'salesforce crm': 36909,
 'salesforce.com': 40484,
 'team development': 42684,
 'cloud computing': 44504,
 'microservices': 41414,
 'maven': 41898,
 'vista': 784,
 'integration testing': 44084,
 'windows server': 40928,
 'object oriented design': 43807,
 'drupal': 44174,
 'crm': 40694,
 'seo': 44490,
 'investment banking': 38696,
 'business analysis': 40600,
 'career development': 40650,
 'ts': 35665,
 'ado.net': 39503,
 'oracle 10g': 24465,
 'tuning': 23022,
 'sql server': 43771,
 'cards': 820,
 'soft skills': 8187,
 'telecom': 41747,
 'public sector': 22064,
 'visual basic': 44499,
 'information technology': 43956,
 'managing': 830,
 'production support': 40913,
 'trouble shooting': 833,
 'query': 41074,
 'handling': 44320,
 'db2': 41446,
 'data migration': 40695,
 'software services': 43978,
 'microsoft sharepoint': 39381,
 'jcl': 38014,
 'ims': 40060,
 'enterprise applications': 40661,
 'cobol': 36165,
 'analytical': 44111,
 'hibernate': 43245,
 'dom': 43959,
 'productivity enhancement': 6038,
 'layout': 44072,
 'tools': 44486,
 'ipc': 21122,
 'analytical skills': 43313,
 'supervision': 37184,
 'agile scrum': 40442,
 'business executive': 44406,
 'customer satisfaction': 40922,
 'application software': 42647,
 'pre sales': 890,
 'hiring': 40030,
 'fpga': 896,
 'support': 41914,
 'performance tuning': 40297,
 'customer service': 42480,
 'infrastructure': 33864,
 'configuration': 40211,
 'solid': 43425,
 'scripting': 43420,
 'data modeling': 40701,
 'electrical engineering': 38652,
 'software solutions': 40915,
 'sdlc': 44315,
 'http': 44247,
 'ftp': 43796,
 'dns': 40910,
 'system programming': 43975,
 'disaster recovery': 43294,
 'mvc developer': 938,
 'c#.net': 43770,
 'application programming': 41179,
 'asp.net mvc': 44438,
 'mvc architecture': 41530,
 'mvc framework': 44426,
 'ims db': 953,
 'easytrieve': 954,
 'technical design': 40336,
 'test data': 39838,
 'life cycle': 40413,
 'client satisfaction': 41439,
 'mobile application development': 40467,
 'saas': 42743,
 'ibatis': 29473,
 'struts': 43690,
 'servlets': 43591,
 'web applications': 44326,
 'jboss': 43593,
 'spring mvc': 40302,
 'e commerce': 42568,
 'risk management': 41141,
 'perl': 40462,
 'github': 42145,
 'tftp': 2590,
 'voip': 40459,
 'tcp ip': 2593,
 'standards': 35051,
 'good communication skills': 11198,
 'front office': 27204,
 'packaging': 43573,
 'wealth management': 20853,
 'functions': 43602,
 'gaming': 36767,
 'siebel': 40567,
 'spring boot': 41631,
 'vmware': 40566,
 'virtualization': 42742,
 'sql server 2008': 44117,
 'technical documentation': 41899,
 'selenium': 41057,
 'cocoa touch': 17859,
 'mobile technology': 39144,
 'project planning': 44319,
 'client acquisition': 4372,
 'test execution': 40486,
 'service delivery': 32870,
 'jdbc': 40721,
 'tomcat': 44048,
 'jsp': 43774,
 'database': 44205,
 'tfs': 37712,
 'asp . net': 14026,
 'asp net': 44333,
 'audit': 18894,
 'btech': 40967,
 'msc': 41028,
 'hbase': 39521,
 'ror': 34409,
 'six sigma': 44392,
 'real time operating systems': 44389,
 'senior engineer': 25662,
 'pmp': 44394,
 'xhtml': 44471,
 'prism': 33221,
 'nunit': 43026,
 '3g': 35855,
 'rrc': 35857,
 'umts': 1236,
 'rnc': 1237,
 'sgsn': 1239,
 'edifact': 20401,
 'ssh': 31058,
 'webservices': 39936,
 'edi': 24405,
 'sterling integrator': 23786,
 'sencha': 1259,
 'dhtml': 44329,
 'yui': 1262,
 'embedded systems': 40415,
 'tcp': 37773,
 'sales account': 22962,
 'oo': 1286,
 'integration': 40228,
 'data': 29442,
 'structures': 1293,
 'resource management': 37312,
 'weblogic': 43590,
 'release management': 40518,
 'big data analytics': 32906,
 'solr': 39430,
 'lucene': 15559,
 'elastic search': 39539,
 'oracle database': 40712,
 'sql development': 39431,
 'client management': 39732,
 'software implementation': 36863,
 'fleet management': 1345,
 'otm': 1346,
 'transport management': 23755,
 'oracle transportation management': 22725,
 'procurement': 39831,
 'xml reports': 1355,
 'oracle support': 24358,
 'oracle e-business suite': 33441,
 'c sharp': 40121,
 'test strategy': 39740,
 'scala': 39076,
 'functional testing': 39689,
 'system software': 40847,
 'rfp': 40873,
 'manager quality control': 41367,
 'problem management': 40516,
 'offshore': 39457,
 'auditing': 42722,
 'sez': 21458,
 'software engineer product development': 1409,
 'crystal reports': 4344,
 'vb.net': 44115,
 'reporting tools': 38274,
 'operating system': 29192,
 'junit': 40572,
 'requirement gathering': 40599,
 'jsptware development': 1440,
 'jms': 38893,
 'investigation': 38288,
 'sql queries': 36781,
 'cms': 44494,
 'magento': 44191,
 'cloud technologies': 20127,
 'c / c++': 1477,
 'multi - threading': 1479,
 'imaging': 44252,
 'informatica power center': 1497,
 'software development engineer': 38471,
 'etl tool': 20125,
 'solaris': 40845,
 'messaging': 41441,
 'nmap': 38115,
 'appscan': 1525,
 'vulnerability': 38859,
 'ip networking': 37779,
 'nessus': 37753,
 'lpt': 22463,
 'owasp': 38067,
 'data mining': 39959,
 'system design': 41137,
 'xslt': 42790,
 'abap': 38215,
 'technical analysis': 42957,
 'systems engineering': 1552,
 'implements': 1555,
 'tests software': 1556,
 'ph d': 1557,
 'sharepoint developer': 5746,
 'middleware': 40895,
 'cics': 38016,
 'distribution system': 40306,
 'user management': 37882,
 'performance management': 41349,
 'pert': 1606,
 'mockito': 17844,
 'advanced java': 41063,
 'business analytics': 41348,

In [21]:
# apply skill_mapping to specialization3_skills
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill_mapping[skill] for skill in x])
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"[44500, 44493, 44503, 210, 207, 380, 43242, 26..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"[44083, 44395, 40280, 44273, 115, 32030, 37926..."

In [22]:
# explode skill_list
specialization3_skills = specialization3_skills.explode('skill_list')
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,44500
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,44493

In [23]:
# filter columns
specialization3_skills = specialization3_skills[['specialization_id','skill_list']]
specialization3_skills.head(2)

   specialization_id skill_list
0                  1      44500
0                  1      44493

In [25]:
# check if there are duplicates meaning one specialization_id has the same skill_list
specialization3_skills[specialization3_skills.duplicated(['specialization_id','skill_list'])]

    specialization_id skill_list
3                   4      44026
3                   4      43928
3                   4        200
3                   4        258
3                   4      44447
..                ...        ...
91                 92      44500
91                 92      44501
91                 92      44502
91                 92      44503
91                 92      44504

[35783 rows x 2 columns]

In [26]:
# create new column, called level with value 1
specialization3_skills['level'] = 1
specialization3_skills.head(2)

   specialization_id skill_list  level
0                  1      44500      1
0                  1      44493      1

In [27]:
# for each duplicate specialization_id and skill_list, add 1 to level
specialization3_skills = specialization3_skills.groupby(['specialization_id','skill_list']).sum().reset_index()
specialization3_skills.head(2)

   specialization_id  skill_list  level
0                  1         207      1
1                  1         210      1

In [28]:
# get rows with level > 1
specialization3_skills[specialization3_skills['level'] > 1]

       specialization_id  skill_list  level
23                     4           3     15
24                     4           4     13
25                     4          11      4
27                     4          22      5
28                     4          24      2
...                  ...         ...    ...
15281                 92       44500    123
15282                 92       44501      2
15283                 92       44502     46
15284                 92       44503    120
15285                 92       44504      4

[5614 rows x 3 columns]

In [29]:
# rename skill_list to skill_id
specialization3_skills = specialization3_skills.rename(columns={'skill_list':'skill_id'})
specialization3_skills.head(2)

   specialization_id  skill_id  level
0                  1       207      1
1                  1       210      1

In [30]:
# add id
specialization3_skills['id'] = specialization3_skills.index + 1
specialization3_skills.head(2)

   specialization_id  skill_id  level  id
0                  1       207      1   1
1                  1       210      1   2

In [31]:
# save to csv
specialization3_skills.to_csv('../../static/csv/website_specialization_skills.csv', index=False)