In [1]:
import pandas as pd
import numpy as np

In [344]:
specialization = pd.read_csv('../../static/csv/specialization2.csv')
specialization.tail()

,specialization_id,field_id,title,description,roadmap_id,skill_list
36,37,10,blockchain developer,Technology Strategists develop long-term plans...,37,"[Blockchain Development, Smart Contracts, Cryp..."
37,38,10,quantum computing scientist,Quantum Computing Scientists research and deve...,38,"[Quantum Computing, Quantum Algorithms, Quantu..."
38,39,10,virtual reality (vr) developer,VR Developers create immersive virtual reality...,39,"[Virtual Reality Development, 3D Modeling, VR ..."
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,"[Augmented Reality Development, AR Frameworks,..."
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[Edge Computing, IoT (Internet of Things), Dis..."

In [345]:
specialization.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   specialization_id  41 non-null     int64
 1   field_id           41 non-null     int64
 2   title              41 non-null     object
 3   description        41 non-null     object
 4   roadmap_id         41 non-null     int64
 5   skill_list         41 non-null     object
dtypes: int64(3), object(3)
memory usage: 2.0+ KB

In [286]:
# check if skill_list is a list
skill_list_0 = specialization['skill_list'][0]
print(type(skill_list_0))
print(skill_list_0)

<class 'str'>
[HTML, CSS, JavaScript, Web Design, Responsive Design, React, Angular, Vue.js, Cross-Browser Compatibility]

In [346]:
def convert_to_list(s):
    # Assuming your string is like "[HTML, CSS, JavaScript]"
    return [skill.strip() for skill in s[1:-1].split(',')]

# Apply the custom function to the 'skill_list' column
specialization['skill_list'] = specialization['skill_list'].apply(convert_to_list)

In [347]:
specialization['skill_list'] = specialization['skill_list'].apply(lambda skills: [skill.lower() for skill in skills])

In [348]:
specialization.sample(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
32,33,8,scrum master,Scrum Masters guide Agile teams through the Sc...,33,"[scrum methodology, agile principles, team fac..."
37,38,10,quantum computing scientist,Quantum Computing Scientists research and deve...,38,"[quantum computing, quantum algorithms, quantu..."
7,8,1,Game Developer,"Game Developers create interactive, immersive ...",8,"[game development engines, unity, unreal engin..."

In [349]:
skill_list_0 = specialization['skill_list'][0]
print(type(skill_list_0))
print(skill_list_0)

<class 'list'>
['html', 'css', 'javascript', 'web design', 'responsive design', 'react', 'angular', 'vue.js', 'cross-browser compatibility']

In [22]:
# Explode the lists into separate rows
specialization_exploded = specialization.explode('skill_list')
specialization_exploded

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,html
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,css
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,javascript
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,web design
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,responsive design
...,...,...,...,...,...,...
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,markerless tracking
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,edge computing
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,iot (internet of things)
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,distributed computing
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,low latency

In [23]:
# Group by 'field_id' and aggregate unique skills into a list
specialization_grouped = specialization_exploded.groupby('field_id')['skill_list'].unique().reset_index()
specialization_grouped

   field_id                                         skill_list
0         1  [html, css, javascript, web design, responsive...
1         2  [data analysis, machine learning, statistics, ...
2         3  [user interface design, wireframing, prototypi...
3         4  [product management, roadmap planning, agile m...
4         5  [software testing, test automation, quality as...
5         6  [cybersecurity principles, security tools, fir...
6         7  [network design, routing and switching, networ...
7         8  [it project management, project planning, reso...
8         9  [business analysis, requirements gathering, pr...
9        10  [blockchain development, smart contracts, cryp...

In [27]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skill_list in specialization_grouped['skill_list'] for skill in skill_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

['html', 'css', 'javascript', 'web design', 'responsive design', 'react', 'angular', 'vue.js', 'cross-browser compatibility', 'node.js', 'python', 'ruby', 'java', 'database management', 'api development', 'server security', 'express', 'flask', 'django', 'front-end', 'back-end', 'full stack frameworks', 'web application development', 'software development', 'algorithm design', 'software architecture', 'object-oriented programming (oop)', 'version control', 'debugging', 'c++', 'software design', 'code optimization', 'software testing', 'mobile app development', 'ios and android platforms', 'mobile ui/ux design', 'app store guidelines', 'mobile frameworks', 'flutter', 'react native', 'devops practices', 'continuous integration/continuous deployment (ci/cd)', 'cloud services', 'aws', 'azure', 'automation', 'scripting', 'containerization', 'docker', 'game development engines', 'unity', 'unreal engine', '3d modeling', 'physics', 'animation', 'ai', 'embedded systems programming', 'microcontrollers', 'firmware development', 'iot (internet of things)', 'real-time operating systems', 'data analysis', 'machine learning', 'statistics', 'data visualization', 'big data technologies', 'hadoop', 'spark', 'sql', 'excel', 'statistical analysis', 'reporting', 'business intelligence tools', 'tableau', 'power bi', 'data warehousing', 'etl (extract', 'transform', 'load) processes', 'machine learning algorithms', 'deep learning', 'neural networks', 'data preprocessing', 'model deployment', 'artificial intelligence', 'natural language processing', 'computer vision', 'ai frameworks', 'tensorflow', 'pytorch', 'data pipeline development', 'data integration', 'database management', 'etl processes', 'user interface design', 'wireframing', 'prototyping', 'visual design', 'usability', 'design tools', 'adobe xd', 'sketch', 'user experience design', 'user research', 'information architecture', 'interaction design', 'usability testing', 'interaction design principles', 'user-centered design', 'interface prototyping', 'user testing', 'graphic design', 'typography', 'color theory', 'layout design', 'branding', 'product management', 'roadmap planning', 'agile methodologies', 'stakeholder communication', 'technical understanding', 'product development', 'cross-functional team leadership', 'market analysis', 'software testing', 'test automation', 'quality assurance', 'bug tracking', 'test planning', 'test automation frameworks (e.g.', 'selenium', 'appium)', 'scripting', 'continuous testing', 'cybersecurity principles', 'security tools', 'firewalls', 'ids/ips', 'threat detection', 'security incident response', 'security engineering', 'network security', 'security protocols', 'encryption', 'vulnerability assessment', 'penetration testing', 'vulnerability scanning', 'exploitation techniques', 'metasploit', 'security consultancy', 'risk assessment', 'security auditing', 'compliance standards', 'gdpr', 'hipaa', 'network design', 'routing and switching', 'network protocols', 'cisco technologies', 'network troubleshooting', 'system administration', 'server management', 'operating systems', 'scripting', 'user access control', 'cloud computing', 'aws', 'azure', 'gcp', 'virtualization', 'containerization', 'cloud security', 'site reliability engineering', 'devops practices', 'monitoring and alerting', 'service level objectives (slos)', 'it project management', 'project planning', 'resource management', 'agile and waterfall methodologies', 'scrum methodology', 'agile principles', 'team facilitation', 'agile tools', 'jira', 'business analysis', 'requirements gathering', 'process improvement', 'data analysis', 'it consulting', 'client communication', 'it strategy', 'problem solving', 'technology strategy', 'innovation', 'emerging technologies', 'market analysis', 'blockchain development', 'smart contracts', 'cryptocurrency', 'decentralized applications (dapps)', 'quantum computing', 'quantum algorithms', 'quantum hardware', 'quantum programming languages', 'virtual reality development', '3d modeling', 'vr frameworks', 'unity', 'user interaction in vr', 'augmented reality development', 'ar frameworks', 'arkit', 'arcore', 'markerless tracking', 'edge computing', 'iot (internet of things)', 'distributed computing', 'low latency']

In [28]:
# remove duplicates
all_skills = list(set(all_skills))

In [38]:
# count
specialization_skill_count = len(all_skills)
specialization_skill_count

206

In [53]:
nakuri_skill = pd.read_csv('../../static/csv/nakuri_skill_list.csv')
nakuri_skill.sample(10)

                                 skill_name
3558  embedded software systems development
2817                            db security
3342                   requirement analysis
3753                                    vss
3857            interpersonal communication
3969                       trouble shooting
4221                     online advertising
661                         cssd technician
125                  continuous integration
1774                      corrective action

In [54]:
nakuri_skill_list = nakuri_skill['skill_name'].tolist()

In [55]:
nakuri_skill_count = len(nakuri_skill_list)
nakuri_skill_count

4452

In [56]:
# get website_skill where it is not in nakuri_skill
specialization_skill_not_in_nakuri = [skill for skill in all_skills if skill not in nakuri_skill_list]
# get nakuri_skill where it is not in website_skill
nakuri_skill_not_in_specialization = [skill for skill in nakuri_skill_list if skill not in all_skills]

In [57]:
# count
print(len(specialization_skill_not_in_nakuri))
print(len(nakuri_skill_not_in_specialization))

103
4349

In [350]:
specialization.head()

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,"[html, css, javascript, web design, responsive..."
1,2,1,Back-End,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."
2,3,1,Full Stack,Full Stack Developers have expertise in both F...,3,"[front-end, back-end, full stack frameworks, w..."
3,4,1,Software Engineer,Software Engineers design and develop software...,4,"[software development, algorithm design, softw..."
4,5,1,Software Developer,"Software Developers write, test, and maintain ...",5,"[java, python, c++, software design, code opti..."

In [251]:
IT = pd.read_csv('../../static/csv/role_job_skills.csv')
IT.sample(5)

,role_job,Skills,field
15,hadoop developer,"hadoop,unix,hive,hbase,sqoop,big data,core jav...",Emerging and Specialized
25,php developer,"css3,facebook,open source,customer service,cak...",Software Development
53,trainer/faculty,"data science,statistics,deep learning,r,python...",Emerging and Specialized
5,data engineer,"ms sql,stored procedures,ssrs,sql development,...",Data and Analytics
28,project lead,"report writing,proposal writing,project planni...",Product Management

In [252]:
type(IT['Skills'][0])

str

In [253]:
IT.size

168

In [254]:
field_mapping = {
    'Software Development' : 1,
    'Data and Analytics' : 2,
    'Design and UX/UI' : 3,
    'Product Management' : 4,
    'Testing and Quality Assurance' : 5,
    'Security' : 6,
    'Networking and Infrastructure' : 7,
    'Project Management' : 8,
    'Business and Strategy' : 9,
    'Emerging and Specialized' : 10,
}

In [255]:
# Map the 'field' column to the 'field_id' column
IT['field_id'] = IT['field'].map(field_mapping)
IT.sample(3)

,role_job,Skills,field,field_id
39,solution architect,"analytical skills,software architecture,operat...",Business and Strategy,9
29,project manager,"wan,telecom,wireless,bss,visio,vpn,telecommuni...",Product Management,4
54,ui/ux developer,"software development,application,ajax,technica...",Design and UX/UI,3

In [402]:
IT_sub = IT[['role_job','field_id','Skills']]
IT_sub.sample(3)

,role_job,field_id,Skills
3,c++ developer,1,"programmer,developer,tcp,c++,ip,life sciences,..."
14,graphic designer,3,"graphic designing,web designing,graphic design..."
25,php developer,1,"css3,facebook,open source,customer service,cak..."

In [403]:
def convert_to_list(skill_string):
    return [skill.strip() for skill in skill_string.split(',')]

# Example usage
original_string = "programmer,developer,tcp,c++,ip,life sciences"
converted_list = convert_to_list(original_string)
print(converted_list)

['programmer', 'developer', 'tcp', 'c++', 'ip', 'life sciences']

In [404]:
# # add new column
# IT_sub['Skills'] = IT_sub['Skills'].apply(convert_to_list)
IT_sub['Skills'] = IT_sub['Skills'].apply(lambda x: convert_to_list(x) if pd.notna(x) else [])
IT_sub.head()

C:\Users\aky\AppData\Local\Temp\ipykernel_16860\2603695032.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IT_sub['Skills'] = IT_sub['Skills'].apply(lambda x: convert_to_list(x) if pd.notna(x) else [])

,role_job,field_id,Skills
0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j..."
1,backend developer,1,"[computer science, http, php, data structures,..."
2,business analyst,9,"[product marketing, analytical, google analyti..."
3,c++ developer,1,"[programmer, developer, tcp, c++, ip, life sci..."
4,consultant,9,"[customization, open, cvs, rest, technical, e-..."

In [405]:
# get skills list of these fields data engineer, data scientist, product manager, software developer, software engineer
data_engineer = IT[IT['role_job'] == 'data engineer']['Skills'].tolist()[0].split(',')
data_scientist = IT[IT['role_job'] == 'data scientist']['Skills'].tolist()[0].split(',')
product_manager = IT[IT['role_job'] == 'product manager']['Skills'].tolist()[0].split(',')
software_developer = IT[IT['role_job'] == 'software developer']['Skills'].tolist()[0].split(',')
software_engineer = IT[IT['role_job'] == 'software engineer']['Skills'].tolist()[0].split(',')

# then drop these list
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'data engineer'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'data scientist'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'product manager'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'software developer'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'software engineer'].index)

In [264]:
specialization.sample(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[edge computing, iot (internet of things), dis..."
1,2,1,Back-End,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."
5,6,1,Mobile App Developer,Mobile App Developers specialize in creating a...,6,"[mobile app development, ios and android platf..."

In [299]:
# Get the current skill_list for the target role
# data engineer, data scientist, product manager, software developer, software engineer
data_engineer_current_skill_list = specialization.loc[specialization['title'] == 'Data Engineer', 'skill_list'].iloc[0]
data_scientist_current_skill_list = specialization.loc[specialization['title'] == 'Data Scientist', 'skill_list'].iloc[0]
product_manager_current_skill_list = specialization.loc[specialization['title'] == 'Product Manager', 'skill_list'].iloc[0]
software_developer_current_skill_list = specialization.loc[specialization['title'] == 'Software Developer', 'skill_list'].iloc[0]
software_engineer_current_skill_list = specialization.loc[specialization['title'] == 'Software Engineer', 'skill_list'].iloc[0]

In [336]:
# Append the new_skill_list to the current_skill_list
updated_data_engineer_skill_list = data_engineer_current_skill_list + data_engineer
updated_data_scientist_skill_list = data_scientist_current_skill_list + data_scientist
updated_product_manager_skill_list = product_manager_current_skill_list + product_manager
updated_software_developer_skill_list = software_developer_current_skill_list + software_developer
updated_software_engineer_skill_list = software_engineer_current_skill_list + software_engineer

In [355]:
replace_1 = lambda x: updated_data_engineer_skill_list if x['title'] == 'Data Engineer' else x['skill_list']
replace_2 = lambda x: updated_data_scientist_skill_list if x['title'] == 'Data Scientist' else x['skill_list']
replace_3 = lambda x: updated_product_manager_skill_list if x['title'] == 'Product Manager' else x['skill_list']
replace_4 = lambda x: updated_software_developer_skill_list if x['title'] == 'Software Developer' else x['skill_list']
replace_5 = lambda x: updated_software_engineer_skill_list if x['title'] == 'Software Engineer' else x['skill_list']

In [401]:
specialization = specialization.assign(skill_list=specialization.apply(replace_1, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_2, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_3, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_4, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_5, axis=1))

In [359]:
specialization.loc[specialization['title'] == 'Data Engineer']['skill_list']

14    [data pipeline development, data integration, ...
Name: skill_list, dtype: object

In [271]:
# # Update the DataFrame with the modified skill_list for the target role
# specialization.loc[specialization['title'] == 'Data Engineer']
# specialization.loc[specialization['title'] == 'Data Scientist']
# specialization.loc[specialization['title'] == 'Product Manager']
# specialization.loc[specialization['title'] == 'Software Developer']
# specialization.loc[specialization['title'] == 'Software Engineer']

,specialization_id,field_id,title,description,roadmap_id,skill_list
3,4,1,Software Engineer,Software Engineers design and develop software...,4,object-oriented programming (oop)

In [406]:
# rename skills to skill_list
IT_sub = IT_sub.rename(columns={'Skills':'skill_list'})

In [407]:
type(IT_sub['skill_list'][0])

list

In [408]:
IT_sub.sample(1)

,role_job,field_id,skill_list
12,full stack developer,1,"[rest, java, jpa, spring mvc, html, css, web s..."

In [409]:
IT_sub['description'] = IT_sub['role_job']

In [410]:
# get last id of specialization
last_id = specialization['specialization_id'].iloc[-1]
last_id

41

In [411]:
# reset index of IT_sub
IT_sub.reset_index(inplace=True)

In [412]:
IT_sub.head(3)

,index,role_job,field_id,skill_list,description
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst

In [413]:
# check for duplicate role_job
IT_sub[IT_sub.duplicated(['role_job'])]

Empty DataFrame
Columns: [index, role_job, field_id, skill_list, description]
Index: []

In [414]:
# add new id for IT_sub
IT_sub['specialization_id'] = IT_sub.index + last_id + 1

In [415]:
IT_sub.head(3)

,index,role_job,field_id,skill_list,description,specialization_id
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer,42
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer,43
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst,44

In [416]:
IT_sub['roadmap_id'] = IT_sub['specialization_id']
IT_sub.head(3)

,index,role_job,field_id,skill_list,description,specialization_id,roadmap_id
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer,42,42
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer,43,43
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst,44,44

In [417]:
# rename role_job to specialization_name
IT_sub = IT_sub.rename(columns={'role_job':'title'})

In [418]:
# make first letter of each word capital
IT_sub['title'] = IT_sub['title'].str.title()

In [419]:
IT_sub = IT_sub[['specialization_id', 'field_id', 'title', 'description', 'roadmap_id', 'skill_list']]

In [420]:
IT_sub.head(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
1,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
2,44,9,Business Analyst,business analyst,44,"[product marketing, analytical, google analyti..."

In [421]:
specialization.reset_index(drop=True, inplace=True)
IT_sub.reset_index(drop=True, inplace=True)

In [422]:
specialization.tail(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
38,39,10,virtual reality (vr) developer,VR Developers create immersive virtual reality...,39,"[virtual reality development, 3d modeling, vr ..."
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,"[augmented reality development, ar frameworks,..."
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[edge computing, iot (internet of things), dis..."

In [423]:
# start index from last index of specialization
IT_sub.index = IT_sub.index + specialization.index[-1] + 1
IT_sub.head(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
41,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
42,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
43,44,9,Business Analyst,business analyst,44,"[product marketing, analytical, google analyti..."

In [424]:
IT_sub.tail()

,specialization_id,field_id,title,description,roadmap_id,skill_list
87,88,10,Technical Support Engineer,technical support engineer,88,"[unix operating system, netbackup, windows os,..."
88,89,10,Trainee,trainee,89,"[guest, keyword research, writing, search engi..."
89,90,10,Trainer/Faculty,trainer/faculty,90,"[data science, statistics, deep learning, r, p..."
90,91,3,Ui/Ux Developer,ui/ux developer,91,"[software development, application, ajax, tech..."
91,92,1,Web Developer,web developer,92,"[google analytics, case studies, social media,..."

In [425]:
# add IT_sub to specialization
specialization_2 = pd.concat([specialization, IT_sub])

In [426]:
specialization_2.shape

(92, 6)

In [427]:
specialization_2['title'].nunique()

92

In [428]:
# get duplicate title and 
duplicate_specialization = specialization_2[specialization_2.duplicated(['title'])]
duplicate_specialization

Empty DataFrame
Columns: [specialization_id, field_id, title, description, roadmap_id, skill_list]
Index: []

In [429]:
specialization_2[specialization_2['title'] == 'Data Engineer']

,specialization_id,field_id,title,description,roadmap_id,skill_list
14,15,2,Data Engineer,Data Engineers build and maintain the data inf...,15,"[data pipeline development, data integration, ..."

In [440]:
specialization_2.sample(15)

,specialization_id,field_id,title,description,roadmap_id,skill_list
87,88,10,Technical Support Engineer,technical support engineer,88,"[unix operating system, netbackup, windows os,..."
18,19,3,Visual Designer,"Visual Designers create graphics, illustration...",19,"[graphic design, typography, color theory, lay..."
86,87,10,Technical Lead,technical lead,87,"[wan, tools, linux, solaris, aix, system softw..."
17,18,3,Interaction Designer,Interaction Designers specialize in designing ...,18,"[interaction design principles, user-centered ..."
37,38,10,Quantum Computing Scientist,Quantum Computing Scientists research and deve...,38,"[quantum computing, quantum algorithms, quantu..."
74,75,10,Servicenow Developer,servicenow developer,75,"[vulnerability management, rest, ajax, java, s..."
25,26,6,Ethical Hacker (Penetration Tester),"Penetration Testing, Vulnerability Scanning, E...",26,"[penetration testing, vulnerability scanning, ..."
69,70,5,Quality Assurance Engineer,quality assurance engineer,70,"[test cases, manual testing, web testing, web ..."
41,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
2,3,1,Full Stack,Full Stack Developers have expertise in both F...,3,"[front-end, back-end, full stack frameworks, w..."
42,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
78,79,10,Support Engineer,support engineer,79,"[networking, information technology management..."
71,72,8,Release Manager,release manager,72,"[wan, capacity management, computer science, e..."
83,84,4,Team/Technical Lead,team/technical lead,84,"[cisco call manager, offshore, java, communica..."
46,47,2,Database Administrator,database administrator,47,"[weblogic, oracle rac, installation, mysql, tr..."

In [437]:
# make first letter of each word capital
specialization_2['title'] = specialization_2['title'].str.title()

In [442]:
specialization_3 = specialization_2[['specialization_id','title','description','roadmap_id','field_id']]

In [443]:
# save csv
specialization_2.to_csv('../../static/csv/specialization3.csv', index=False)

In [444]:
specialization_2 = specialization_2[['specialization_id','title','description','roadmap_id','field_id','skill_list']]

In [445]:
# save csv
specialization_2.to_csv('../../static/csv/specialization3_skills.csv', index=False)

# Apending Specialization3_Skills to skill_list

In [7]:
specialization3_skills = pd.read_csv('../../static/csv/specialization3_skills.csv')
specialization3_skills.tail(3)

,specialization_id,title,description,roadmap_id,field_id,skill_list
89,90,Trainer/Faculty,trainer/faculty,90,10,"['data science', 'statistics', 'deep learning'..."
90,91,Ui/Ux Developer,ui/ux developer,91,3,"['software development', 'application', 'ajax'..."
91,92,Web Developer,web developer,92,1,"['google analytics', 'case studies', 'social m..."

In [8]:
# for each row, get the skill_list and combine them into one list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: x[1:-1].split(','))
specialization3_skills.head()

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"['html', 'css', 'javascript', 'web design',..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"['node.js', 'python', 'ruby', 'java', 'dat..."
2,3,Full Stack,Full Stack Developers have expertise in both F...,3,1,"['front-end', 'back-end', 'full stack framew..."
3,4,Software Engineer,Software Engineers design and develop software...,4,1,"['software development', 'algorithm design', ..."
4,5,Software Developer,"Software Developers write, test, and maintain ...",5,1,"['java', 'python', 'c++', 'software design'..."

In [19]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skill_list in specialization3_skills['skill_list'] for skill in skill_list]

len(all_skills)

51072

In [24]:
# remove ' and space at front from each string in list
all_skills = [skill.strip("' ") for skill in all_skills]

In [26]:
# sample skills from all_skills
sample_skills = np.random.choice(all_skills, 10)
sample_skills

array(['opengl', 'sql', 'management', 'mvc architecture', 'c++',
       'collection framework', 'core java', 'web services', 'design',
       'mongodb'], dtype='<U93')

In [27]:
# load skill_3.csv
skill_3 = pd.read_csv('../../static/csv/skill_3.csv')
skill_3.tail(3)

      id                skill
317  220  social interactions
318  221         adaptability
319  222          spontaneity

In [32]:
skill_3.shape

(320, 2)

In [28]:
# on skill_3, get the skill_name and save it to skill_3_list
skill_3_list = skill_3['skill'].tolist()
len(skill_3_list)

320

In [29]:
# remove skills that are in skill_3_list
skills_not_in_3 = [skill for skill in all_skills if skill not in skill_3_list]
len(skills_not_in_3)

45342

In [30]:
# remove skills from skill_3_list if its on all_skills
skill_3_not_in_all_skill = [skill for skill in skill_3_list if skill not in all_skills]
len(skill_3_not_in_all_skill)

157

In [31]:
# on skill_3 get last id
last_id = skill_3['id'].iloc[-1]
last_id

222