In [1]:
import pandas as pd
import numpy as np

In [2]:
specialization = pd.read_csv('../../static/csv/specialization2.csv')
specialization.tail()

,specialization_id,field_id,title,description,roadmap_id,skill_list
36,37,10,blockchain developer,Technology Strategists develop long-term plans...,37,"[Blockchain Development, Smart Contracts, Cryp..."
37,38,10,quantum computing scientist,Quantum Computing Scientists research and deve...,38,"[Quantum Computing, Quantum Algorithms, Quantu..."
38,39,10,virtual reality (vr) developer,VR Developers create immersive virtual reality...,39,"[Virtual Reality Development, 3D Modeling, VR ..."
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,"[Augmented Reality Development, AR Frameworks,..."
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[Edge Computing, IoT (Internet of Things), Dis..."

In [3]:
specialization.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   specialization_id  41 non-null     int64
 1   field_id           41 non-null     int64
 2   title              41 non-null     object
 3   description        41 non-null     object
 4   roadmap_id         41 non-null     int64
 5   skill_list         41 non-null     object
dtypes: int64(3), object(3)
memory usage: 2.0+ KB

In [4]:
# check if skill_list is a list
skill_list_0 = specialization['skill_list'][0]
print(type(skill_list_0))
print(skill_list_0)

<class 'str'>
[HTML, CSS, JavaScript, Web Design, Responsive Design, React, Angular, Vue.js, Cross-Browser Compatibility]

In [5]:
def convert_to_list(s):
    # Assuming your string is like "[HTML, CSS, JavaScript]"
    return [skill.strip() for skill in s[1:-1].split(',')]

# Apply the custom function to the 'skill_list' column
specialization['skill_list'] = specialization['skill_list'].apply(convert_to_list)
specialization.sample(2)

,specialization_id,field_id,title,description,roadmap_id,skill_list
6,7,1,DevOps Engineer,DevOps Engineers bridge the gap between develo...,7,"[DevOps Practices, Continuous Integration/Cont..."
17,18,3,Interaction Designer,Interaction Designers specialize in designing ...,18,"[Interaction Design Principles, User-Centered ..."

In [6]:
specialization['skill_list'] = specialization['skill_list'].apply(lambda skills: [skill.lower() for skill in skills])

In [7]:
specialization.sample(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
30,31,7,site reliability engineer (se),SREs focus on maintaining the reliability and ...,31,"[site reliability engineering, devops practice..."
17,18,3,Interaction Designer,Interaction Designers specialize in designing ...,18,"[interaction design principles, user-centered ..."
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,"[augmented reality development, ar frameworks,..."

In [8]:
skill_list_0 = specialization['skill_list'][0]
print(type(skill_list_0))
print(skill_list_0)

<class 'list'>
['html', 'css', 'javascript', 'web design', 'responsive design', 'react', 'angular', 'vue.js', 'cross-browser compatibility']

In [9]:
# Explode the lists into separate rows
specialization_exploded = specialization.explode('skill_list')
specialization_exploded

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,html
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,css
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,javascript
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,web design
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,responsive design
...,...,...,...,...,...,...
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,markerless tracking
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,edge computing
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,iot (internet of things)
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,distributed computing
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,low latency

In [10]:
# Group by 'field_id' and aggregate unique skills into a list
specialization_grouped = specialization_exploded.groupby('field_id')['skill_list'].unique().reset_index()
specialization_grouped

   field_id                                         skill_list
0         1  [html, css, javascript, web design, responsive...
1         2  [data analysis, machine learning, statistics, ...
2         3  [user interface design, wireframing, prototypi...
3         4  [product management, roadmap planning, agile m...
4         5  [software testing, test automation, quality as...
5         6  [cybersecurity principles, security tools, fir...
6         7  [network design, routing and switching, networ...
7         8  [it project management, project planning, reso...
8         9  [business analysis, requirements gathering, pr...
9        10  [blockchain development, smart contracts, cryp...

In [11]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skill_list in specialization_grouped['skill_list'] for skill in skill_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

['html', 'css', 'javascript', 'web design', 'responsive design', 'react', 'angular', 'vue.js', 'cross-browser compatibility', 'node.js', 'python', 'ruby', 'java', 'database management', 'api development', 'server security', 'express', 'flask', 'django', 'front-end', 'back-end', 'full stack frameworks', 'web application development', 'software development', 'algorithm design', 'software architecture', 'object-oriented programming (oop)', 'version control', 'debugging', 'c++', 'software design', 'code optimization', 'software testing', 'mobile app development', 'ios and android platforms', 'mobile ui/ux design', 'app store guidelines', 'mobile frameworks', 'flutter', 'react native', 'devops practices', 'continuous integration/continuous deployment (ci/cd)', 'cloud services', 'aws', 'azure', 'automation', 'scripting', 'containerization', 'docker', 'game development engines', 'unity', 'unreal engine', '3d modeling', 'physics', 'animation', 'ai', 'embedded systems programming', 'microcontrollers', 'firmware development', 'iot (internet of things)', 'real-time operating systems', 'data analysis', 'machine learning', 'statistics', 'data visualization', 'big data technologies', 'hadoop', 'spark', 'sql', 'excel', 'statistical analysis', 'reporting', 'business intelligence tools', 'tableau', 'power bi', 'data warehousing', 'etl (extract', 'transform', 'load) processes', 'machine learning algorithms', 'deep learning', 'neural networks', 'data preprocessing', 'model deployment', 'artificial intelligence', 'natural language processing', 'computer vision', 'ai frameworks', 'tensorflow', 'pytorch', 'data pipeline development', 'data integration', 'database management', 'etl processes', 'user interface design', 'wireframing', 'prototyping', 'visual design', 'usability', 'design tools', 'adobe xd', 'sketch', 'user experience design', 'user research', 'information architecture', 'interaction design', 'usability testing', 'interaction design principles', 'user-centered design', 'interface prototyping', 'user testing', 'graphic design', 'typography', 'color theory', 'layout design', 'branding', 'product management', 'roadmap planning', 'agile methodologies', 'stakeholder communication', 'technical understanding', 'product development', 'cross-functional team leadership', 'market analysis', 'software testing', 'test automation', 'quality assurance', 'bug tracking', 'test planning', 'test automation frameworks (e.g.', 'selenium', 'appium)', 'scripting', 'continuous testing', 'cybersecurity principles', 'security tools', 'firewalls', 'ids/ips', 'threat detection', 'security incident response', 'security engineering', 'network security', 'security protocols', 'encryption', 'vulnerability assessment', 'penetration testing', 'vulnerability scanning', 'exploitation techniques', 'metasploit', 'security consultancy', 'risk assessment', 'security auditing', 'compliance standards', 'gdpr', 'hipaa', 'network design', 'routing and switching', 'network protocols', 'cisco technologies', 'network troubleshooting', 'system administration', 'server management', 'operating systems', 'scripting', 'user access control', 'cloud computing', 'aws', 'azure', 'gcp', 'virtualization', 'containerization', 'cloud security', 'site reliability engineering', 'devops practices', 'monitoring and alerting', 'service level objectives (slos)', 'it project management', 'project planning', 'resource management', 'agile and waterfall methodologies', 'scrum methodology', 'agile principles', 'team facilitation', 'agile tools', 'jira', 'business analysis', 'requirements gathering', 'process improvement', 'data analysis', 'it consulting', 'client communication', 'it strategy', 'problem solving', 'technology strategy', 'innovation', 'emerging technologies', 'market analysis', 'blockchain development', 'smart contracts', 'cryptocurrency', 'decentralized applications (dapps)', 'quantum computing', 'quantum algorithms', 'quantum hardware', 'quantum programming languages', 'virtual reality development', '3d modeling', 'vr frameworks', 'unity', 'user interaction in vr', 'augmented reality development', 'ar frameworks', 'arkit', 'arcore', 'markerless tracking', 'edge computing', 'iot (internet of things)', 'distributed computing', 'low latency']

In [12]:
# remove duplicates
all_skills = list(set(all_skills))

In [13]:
# count
specialization_skill_count = len(all_skills)
specialization_skill_count

206

In [14]:
nakuri_skill = pd.read_csv('../../static/csv/nakuri_skill_list.csv')
nakuri_skill.sample(10)

                          skill_name
3753                             vss
3400                        printnet
2563                  neural network
4208                          proven
4184  place & static timing analysis
2440                     sap mm - wm
3730                             ecr
2786                             cxo
3548              aix administration
547                              ips

In [15]:
nakuri_skill_list = nakuri_skill['skill_name'].tolist()

In [16]:
nakuri_skill_count = len(nakuri_skill_list)
nakuri_skill_count

4452

In [17]:
# get website_skill where it is not in nakuri_skill
specialization_skill_not_in_nakuri = [skill for skill in all_skills if skill not in nakuri_skill_list]
# get nakuri_skill where it is not in website_skill
nakuri_skill_not_in_specialization = [skill for skill in nakuri_skill_list if skill not in all_skills]

In [18]:
# count
print(len(specialization_skill_not_in_nakuri))
print(len(nakuri_skill_not_in_specialization))

103
4349

In [19]:
specialization.head()

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,1,1,Front-End,Front-End Developers are responsible for creat...,1,"[html, css, javascript, web design, responsive..."
1,2,1,Back-End,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."
2,3,1,Full Stack,Full Stack Developers have expertise in both F...,3,"[front-end, back-end, full stack frameworks, w..."
3,4,1,Software Engineer,Software Engineers design and develop software...,4,"[software development, algorithm design, softw..."
4,5,1,Software Developer,"Software Developers write, test, and maintain ...",5,"[java, python, c++, software design, code opti..."

In [20]:
IT = pd.read_csv('../../static/csv/role_job_skills.csv')
IT.sample(5)

,role_job,Skills,field
6,data scientist,"software development,java,machine learning,pyt...",Data and Analytics
50,technical lead,"wan,tools,linux,solaris,aix,system software,wi...",Emerging and Specialized
55,web developer,"google analytics,case studies,social media,tra...",Software Development
13,functional test planning,"performance improvement,supply chain managemen...",Testing and Quality Assurance
18,instructional designer,instructional design,Design and UX/UI

In [21]:
type(IT['Skills'][0])

str

In [22]:
IT.size

168

In [23]:
field_mapping = {
    'Software Development' : 1,
    'Data and Analytics' : 2,
    'Design and UX/UI' : 3,
    'Product Management' : 4,
    'Testing and Quality Assurance' : 5,
    'Security' : 6,
    'Networking and Infrastructure' : 7,
    'Project Management' : 8,
    'Business and Strategy' : 9,
    'Emerging and Specialized' : 10,
}

In [24]:
# Map the 'field' column to the 'field_id' column
IT['field_id'] = IT['field'].map(field_mapping)
IT.sample(3)

,role_job,Skills,field,field_id
11,frontend developer,"ajax,php,wordpress,mysql,html,css,seo,javascri...",Software Development,1
28,project lead,"report writing,proposal writing,project planni...",Product Management,4
42,support engineer,"networking,information technology management,n...",Emerging and Specialized,10

In [25]:
IT_sub = IT[['role_job','field_id','Skills']]
IT_sub.sample(3)

,role_job,field_id,Skills
30,python developer,1,"python,programming,developer,troubleshooting,i..."
42,support engineer,10,"networking,information technology management,n..."
32,reactjs developer,1,"front end,usage,git,dom,json,translation,javas..."

In [26]:
def convert_to_list(skill_string):
    return [skill.strip() for skill in skill_string.split(',')]

# Example usage
# original_string = "programmer,developer,tcp,c++,ip,life sciences"
# converted_list = convert_to_list(original_string)
# print(converted_list)

In [27]:
# # add new column
# IT_sub['Skills'] = IT_sub['Skills'].apply(convert_to_list)
IT_sub['Skills'] = IT_sub['Skills'].apply(lambda x: convert_to_list(x) if pd.notna(x) else [])
IT_sub.head()

C:\Users\aky\AppData\Local\Temp\ipykernel_13328\2603695032.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IT_sub['Skills'] = IT_sub['Skills'].apply(lambda x: convert_to_list(x) if pd.notna(x) else [])

,role_job,field_id,Skills
0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j..."
1,backend developer,1,"[computer science, http, php, data structures,..."
2,business analyst,9,"[product marketing, analytical, google analyti..."
3,c++ developer,1,"[programmer, developer, tcp, c++, ip, life sci..."
4,consultant,9,"[customization, open, cvs, rest, technical, e-..."

In [405]:
# get skills list of these fields data engineer, data scientist, product manager, software developer, software engineer
data_engineer = IT[IT['role_job'] == 'data engineer']['Skills'].tolist()[0].split(',')
data_scientist = IT[IT['role_job'] == 'data scientist']['Skills'].tolist()[0].split(',')
product_manager = IT[IT['role_job'] == 'product manager']['Skills'].tolist()[0].split(',')
software_developer = IT[IT['role_job'] == 'software developer']['Skills'].tolist()[0].split(',')
software_engineer = IT[IT['role_job'] == 'software engineer']['Skills'].tolist()[0].split(',')

# then drop these list
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'data engineer'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'data scientist'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'product manager'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'software developer'].index)
IT_sub = IT_sub.drop(IT_sub[IT_sub['role_job'] == 'software engineer'].index)

In [264]:
specialization.sample(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[edge computing, iot (internet of things), dis..."
1,2,1,Back-End,Back-End Developers work on the server-side of...,2,"[node.js, python, ruby, java, database managem..."
5,6,1,Mobile App Developer,Mobile App Developers specialize in creating a...,6,"[mobile app development, ios and android platf..."

In [299]:
# Get the current skill_list for the target role
# data engineer, data scientist, product manager, software developer, software engineer
data_engineer_current_skill_list = specialization.loc[specialization['title'] == 'Data Engineer', 'skill_list'].iloc[0]
data_scientist_current_skill_list = specialization.loc[specialization['title'] == 'Data Scientist', 'skill_list'].iloc[0]
product_manager_current_skill_list = specialization.loc[specialization['title'] == 'Product Manager', 'skill_list'].iloc[0]
software_developer_current_skill_list = specialization.loc[specialization['title'] == 'Software Developer', 'skill_list'].iloc[0]
software_engineer_current_skill_list = specialization.loc[specialization['title'] == 'Software Engineer', 'skill_list'].iloc[0]

In [336]:
# Append the new_skill_list to the current_skill_list
updated_data_engineer_skill_list = data_engineer_current_skill_list + data_engineer
updated_data_scientist_skill_list = data_scientist_current_skill_list + data_scientist
updated_product_manager_skill_list = product_manager_current_skill_list + product_manager
updated_software_developer_skill_list = software_developer_current_skill_list + software_developer
updated_software_engineer_skill_list = software_engineer_current_skill_list + software_engineer

In [355]:
replace_1 = lambda x: updated_data_engineer_skill_list if x['title'] == 'Data Engineer' else x['skill_list']
replace_2 = lambda x: updated_data_scientist_skill_list if x['title'] == 'Data Scientist' else x['skill_list']
replace_3 = lambda x: updated_product_manager_skill_list if x['title'] == 'Product Manager' else x['skill_list']
replace_4 = lambda x: updated_software_developer_skill_list if x['title'] == 'Software Developer' else x['skill_list']
replace_5 = lambda x: updated_software_engineer_skill_list if x['title'] == 'Software Engineer' else x['skill_list']

In [401]:
specialization = specialization.assign(skill_list=specialization.apply(replace_1, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_2, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_3, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_4, axis=1))
specialization = specialization.assign(skill_list=specialization.apply(replace_5, axis=1))

In [359]:
specialization.loc[specialization['title'] == 'Data Engineer']['skill_list']

14    [data pipeline development, data integration, ...
Name: skill_list, dtype: object

In [271]:
# # Update the DataFrame with the modified skill_list for the target role
# specialization.loc[specialization['title'] == 'Data Engineer']
# specialization.loc[specialization['title'] == 'Data Scientist']
# specialization.loc[specialization['title'] == 'Product Manager']
# specialization.loc[specialization['title'] == 'Software Developer']
# specialization.loc[specialization['title'] == 'Software Engineer']

,specialization_id,field_id,title,description,roadmap_id,skill_list
3,4,1,Software Engineer,Software Engineers design and develop software...,4,object-oriented programming (oop)

In [406]:
# rename skills to skill_list
IT_sub = IT_sub.rename(columns={'Skills':'skill_list'})

In [407]:
type(IT_sub['skill_list'][0])

list

In [408]:
IT_sub.sample(1)

,role_job,field_id,skill_list
12,full stack developer,1,"[rest, java, jpa, spring mvc, html, css, web s..."

In [409]:
IT_sub['description'] = IT_sub['role_job']

In [410]:
# get last id of specialization
last_id = specialization['specialization_id'].iloc[-1]
last_id

41

In [411]:
# reset index of IT_sub
IT_sub.reset_index(inplace=True)

In [412]:
IT_sub.head(3)

,index,role_job,field_id,skill_list,description
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst

In [413]:
# check for duplicate role_job
IT_sub[IT_sub.duplicated(['role_job'])]

Empty DataFrame
Columns: [index, role_job, field_id, skill_list, description]
Index: []

In [414]:
# add new id for IT_sub
IT_sub['specialization_id'] = IT_sub.index + last_id + 1

In [415]:
IT_sub.head(3)

,index,role_job,field_id,skill_list,description,specialization_id
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer,42
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer,43
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst,44

In [416]:
IT_sub['roadmap_id'] = IT_sub['specialization_id']
IT_sub.head(3)

,index,role_job,field_id,skill_list,description,specialization_id,roadmap_id
0,0,application developer,1,"[weblogic, junit, jpa, sql, json, html, jms, j...",application developer,42,42
1,1,backend developer,1,"[computer science, http, php, data structures,...",backend developer,43,43
2,2,business analyst,9,"[product marketing, analytical, google analyti...",business analyst,44,44

In [417]:
# rename role_job to specialization_name
IT_sub = IT_sub.rename(columns={'role_job':'title'})

In [418]:
# make first letter of each word capital
IT_sub['title'] = IT_sub['title'].str.title()

In [419]:
IT_sub = IT_sub[['specialization_id', 'field_id', 'title', 'description', 'roadmap_id', 'skill_list']]

In [420]:
IT_sub.head(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
0,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
1,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
2,44,9,Business Analyst,business analyst,44,"[product marketing, analytical, google analyti..."

In [421]:
specialization.reset_index(drop=True, inplace=True)
IT_sub.reset_index(drop=True, inplace=True)

In [422]:
specialization.tail(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
38,39,10,virtual reality (vr) developer,VR Developers create immersive virtual reality...,39,"[virtual reality development, 3d modeling, vr ..."
39,40,10,augmented reality (ar) developer,AR Developers build applications that overlay ...,40,"[augmented reality development, ar frameworks,..."
40,41,10,edge computing engineer,Edge Computing Engineers design and implement ...,41,"[edge computing, iot (internet of things), dis..."

In [423]:
# start index from last index of specialization
IT_sub.index = IT_sub.index + specialization.index[-1] + 1
IT_sub.head(3)

,specialization_id,field_id,title,description,roadmap_id,skill_list
41,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
42,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
43,44,9,Business Analyst,business analyst,44,"[product marketing, analytical, google analyti..."

In [424]:
IT_sub.tail()

,specialization_id,field_id,title,description,roadmap_id,skill_list
87,88,10,Technical Support Engineer,technical support engineer,88,"[unix operating system, netbackup, windows os,..."
88,89,10,Trainee,trainee,89,"[guest, keyword research, writing, search engi..."
89,90,10,Trainer/Faculty,trainer/faculty,90,"[data science, statistics, deep learning, r, p..."
90,91,3,Ui/Ux Developer,ui/ux developer,91,"[software development, application, ajax, tech..."
91,92,1,Web Developer,web developer,92,"[google analytics, case studies, social media,..."

In [425]:
# add IT_sub to specialization
specialization_2 = pd.concat([specialization, IT_sub])

In [426]:
specialization_2.shape

(92, 6)

In [427]:
specialization_2['title'].nunique()

92

In [428]:
# get duplicate title and 
duplicate_specialization = specialization_2[specialization_2.duplicated(['title'])]
duplicate_specialization

Empty DataFrame
Columns: [specialization_id, field_id, title, description, roadmap_id, skill_list]
Index: []

In [429]:
specialization_2[specialization_2['title'] == 'Data Engineer']

,specialization_id,field_id,title,description,roadmap_id,skill_list
14,15,2,Data Engineer,Data Engineers build and maintain the data inf...,15,"[data pipeline development, data integration, ..."

In [440]:
specialization_2.sample(15)

,specialization_id,field_id,title,description,roadmap_id,skill_list
87,88,10,Technical Support Engineer,technical support engineer,88,"[unix operating system, netbackup, windows os,..."
18,19,3,Visual Designer,"Visual Designers create graphics, illustration...",19,"[graphic design, typography, color theory, lay..."
86,87,10,Technical Lead,technical lead,87,"[wan, tools, linux, solaris, aix, system softw..."
17,18,3,Interaction Designer,Interaction Designers specialize in designing ...,18,"[interaction design principles, user-centered ..."
37,38,10,Quantum Computing Scientist,Quantum Computing Scientists research and deve...,38,"[quantum computing, quantum algorithms, quantu..."
74,75,10,Servicenow Developer,servicenow developer,75,"[vulnerability management, rest, ajax, java, s..."
25,26,6,Ethical Hacker (Penetration Tester),"Penetration Testing, Vulnerability Scanning, E...",26,"[penetration testing, vulnerability scanning, ..."
69,70,5,Quality Assurance Engineer,quality assurance engineer,70,"[test cases, manual testing, web testing, web ..."
41,42,1,Application Developer,application developer,42,"[weblogic, junit, jpa, sql, json, html, jms, j..."
2,3,1,Full Stack,Full Stack Developers have expertise in both F...,3,"[front-end, back-end, full stack frameworks, w..."
42,43,1,Backend Developer,backend developer,43,"[computer science, http, php, data structures,..."
78,79,10,Support Engineer,support engineer,79,"[networking, information technology management..."
71,72,8,Release Manager,release manager,72,"[wan, capacity management, computer science, e..."
83,84,4,Team/Technical Lead,team/technical lead,84,"[cisco call manager, offshore, java, communica..."
46,47,2,Database Administrator,database administrator,47,"[weblogic, oracle rac, installation, mysql, tr..."

In [437]:
# make first letter of each word capital
specialization_2['title'] = specialization_2['title'].str.title()

In [3]:
specialization_3 = specialization3_skills[['specialization_id','title','description','roadmap_id','field_id']]
specialization_3.sample(5)

,specialization_id,title,description,roadmap_id,field_id
34,35,It Consultant,IT Consultants provide expert advice on IT str...,35,9
18,19,Visual Designer,"Visual Designers create graphics, illustration...",19,3
55,56,Hardware Engineer,hardware engineer,56,10
70,71,Reactjs Developer,reactjs developer,71,1
37,38,Quantum Computing Scientist,Quantum Computing Scientists research and deve...,38,10

In [4]:
# save csv
specialization_3.to_csv('../../static/csv/specialization3.csv', index=False)

In [ ]:
#specialization_id,title,description,roadmap_id,field_id

In [444]:
specialization_2 = specialization_2[['specialization_id','title','description','roadmap_id','field_id','skill_list']]

In [445]:
# save csv
specialization_2.to_csv('../../static/csv/specialization3_skills.csv', index=False)

In [1]:
# load specialization3_skills.csv
import pandas as pd
specialization3_skills = pd.read_csv('../../static/csv/specialization3_skills.csv')

# Apending Specialization3_Skills to skill_list

In [1]:
import numpy as np
import pandas as pd

In [2]:
specialization3_skills = pd.read_csv('../../static/csv/specialization3_skills.csv')
specialization3_skills.tail(3)

,specialization_id,title,description,roadmap_id,field_id,skill_list
89,90,Trainer/Faculty,trainer/faculty,90,10,"['data science', 'statistics', 'deep learning'..."
90,91,Ui/Ux Developer,ui/ux developer,91,3,"['software development', 'application', 'ajax'..."
91,92,Web Developer,web developer,92,1,"['google analytics', 'case studies', 'social m..."

In [3]:
# for each row, get the skill_list and combine them into one list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: x[1:-1].split(','))
specialization3_skills.head()

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"['html', 'css', 'javascript', 'web design',..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"['node.js', 'python', 'ruby', 'java', 'dat..."
2,3,Full Stack,Full Stack Developers have expertise in both F...,3,1,"['front-end', 'back-end', 'full stack framew..."
3,4,Software Engineer,Software Engineers design and develop software...,4,1,"['software development', 'algorithm design', ..."
4,5,Software Developer,"Software Developers write, test, and maintain ...",5,1,"['java', 'python', 'c++', 'software design'..."

In [4]:
# remove '-' from skill_list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip().replace('-', ' ') for skill in x])

In [5]:
# remove skills and skill
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip().replace('skills', '') for skill in x])

In [6]:
# remove skill in skill_list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip().replace('skill', '') for skill in x])

In [16]:
# strip
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip() for skill in x])

In [15]:
# remove empyt string
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill for skill in x if skill != ''])

In [17]:
# Create a list of skills by combining all the skills from the 'skills_list' column
specialization_skills = [skill for skill_list in specialization3_skills['skill_list'] for skill in skill_list]

len(specialization_skills)

51072

In [18]:
# sample skills from all_skills
sample_skills = np.random.choice(specialization_skills, 10)
sample_skills

array(["'mysql'", "'nosql'", "'computer science'", "'scrum'", "'vb.net'",
       "'windows mobile'", "'performance testing'", "'javascript'",
       "'debugging'", "'project management'"], dtype='<U95')

In [19]:
# remove ' and space at front from each string in list
specialization_skills = [skill.strip("' ") for skill in specialization_skills]

In [20]:
# sample skills from all_skills
sample_skills = np.random.choice(specialization_skills, 10)
sample_skills

array(['copyright', 'html5', 'mvc', 'unit testing', 'javascript', 'hci',
       'ajax', 'backend', 'security audit', 'user experience'],
      dtype='<U93')

In [21]:
# replace '-' with ' '
specialization_skills = [skill.replace('-', ' ') for skill in specialization_skills]

In [22]:
# remove empty string
specialization_skills = [skill for skill in specialization_skills if skill != '']

In [23]:
# remove duplicates
specialization_skills = list(set(specialization_skills))

In [24]:
len(specialization_skills)

4522

In [25]:
# load skill_3.csv
skill_3 = pd.read_csv('../../static/csv/skill_3.csv')
skill_3.head(3)

   id                  skill
0   1       security analyst
1   2         authentication
2   3  ui/ux design software

In [26]:
skill_3.shape

(358, 2)

In [27]:
# on skill_3, get the skill_name and save it to skill_3_list
skill_3_list = skill_3['skill'].tolist()
len(skill_3_list)

358

In [28]:
# sample skills from skill_3_list
sample_skills = np.random.choice(skill_3_list, 10)
sample_skills

array(['biometric authentication', 'responsible ai', 'design guidelines',
       'quality assurance', 'ethical decision making', 'counseling',
       'scrum roles', 'wireframing', 'multimedia technologies',
       'data processing'], dtype='<U31')

In [29]:
# remove skills fromm specialization_skills that are in skill_3_list
skills_not_in_3 = [skill for skill in specialization_skills if skill not in skill_3_list]
len(skills_not_in_3)

4365

In [17]:
# remove skills on all_skills that are in skill_3_list
all_skills = [skill for skill in all_skills if skill not in skill_3_list]
len(all_skills)

4391

In [30]:
# combine skill_3_list and all_skills
ALL1 = skills_not_in_3 + skill_3_list
len(ALL1)

4723

In [48]:
print(len(skills_not_in_3)+ len(skill_3_list))

4733

In [49]:
# show duplicate skills
duplicate_skills = [skill for skill in skills_not_in_3 if skills_not_in_3.count(skill) > 1]
duplicate_skills

[]

In [22]:
# remove skills from skill_3_list if its on all_skills
skill_3_not_in_all_skill = [skill for skill in skill_3_list if skill not in all_skills]
len(skill_3_not_in_all_skill)

376

In [31]:
# on skill_3 get last id
last_id = skill_3['id'].iloc[-1]
last_id

358

In [32]:
# make skills_not_in_3 to dataframe
skills_not_in_3 = pd.DataFrame(skills_not_in_3, columns=['skill'])
skills_not_in_3.head()

                           skill
0                           css2
1                           ieee
2  software development engineer
3                          react
4                         claims

In [33]:
skills_not_in_3.tail()

                   skill
4360                 yii
4361         configuring
4362  sap implementation
4363               istqb
4364     transition lead

In [34]:
# add id to skills_not_in_3
skills_not_in_3['id'] = skills_not_in_3.index + last_id + 1
skills_not_in_3.head()

                           skill   id
0                           css2  359
1                           ieee  360
2  software development engineer  361
3                          react  362
4                         claims  363

In [35]:
skills_not_in_3.tail(3)

                   skill    id
4362  sap implementation  4721
4363               istqb  4722
4364     transition lead  4723

In [36]:
skill_3.head(3)

   id                  skill
0   1       security analyst
1   2         authentication
2   3  ui/ux design software

In [37]:
# combine skill_3 and skills_not_in_3
skill_3 = pd.concat([skill_3, skills_not_in_3])
skill_3.head(3)

   id                  skill
0   1       security analyst
1   2         authentication
2   3  ui/ux design software

In [38]:
skill_3.tail(3)

        id               skill
4362  4721  sap implementation
4363  4722               istqb
4364  4723     transition lead

In [39]:
# rset index
skill_3.reset_index(drop=True, inplace=True)
skill_3.tail(3)

        id               skill
4720  4721  sap implementation
4721  4722               istqb
4722  4723     transition lead

In [40]:
skill_3.head(3)

   id                  skill
0   1       security analyst
1   2         authentication
2   3  ui/ux design software

In [41]:
# save skills_not_in_3 to csv
skill_3.to_csv('../../static/csv/skill_4.csv', index=False)

# Skill mapping for Specialization3_Skills

In [42]:
import numpy as np
import pandas as pd
import ast

In [43]:
# get skill_4.csv
website_skill = pd.read_csv('../../static/csv/skill_4.csv')
website_skill.head(2)

   id             skill
0   1  security analyst
1   2    authentication

In [60]:
# get specialization3_skills.csv
specialization3_skills = pd.read_csv('../../static/csv/specialization3_skills.csv')
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"['html', 'css', 'javascript', 'web design', 'r..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"['node.js', 'python', 'ruby', 'java', 'databas..."

In [61]:
# use ast to convert string to list on specialization3_skills
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: ast.literal_eval(x))
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"[html, css, javascript, web design, responsive..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"[node.js, python, ruby, java, database managem..."

In [62]:
# remove ' ' and space at front and back of each string in list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip("' ") for skill in x])
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"[html, css, javascript, web design, responsive..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"[node.js, python, ruby, java, database managem..."

In [63]:
# remove empty list or '' from skill_list
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill for skill in x if skill != ''])
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"[html, css, javascript, web design, responsive..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"[node.js, python, ruby, java, database managem..."

In [64]:
# replace '-' with ' '
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.replace('-', ' ') for skill in x])

In [65]:
# remove 'skills' and 'skill'
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.replace('skills', '') for skill in x])
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.replace('skill', '') for skill in x])

In [66]:
# strip
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill.strip() for skill in x])

In [67]:
# remove empty string
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill for skill in x if skill != ''])

In [68]:
skill_mapping = website_skill.set_index('skill')['id'].to_dict()

In [69]:
skill_mapping

{'security analyst': 1,
 'authentication': 2,
 'ui/ux design software': 3,
 'product manager': 4,
 'testing techniques': 5,
 'content organization': 6,
 'data analysis': 7,
 'authentication methods': 8,
 'user centered design': 9,
 'penetration testing': 10,
 'data protection': 11,
 'testing methods': 12,
 'mvp': 13,
 'sql': 14,
 'scrum master': 15,
 'lean startup': 16,
 'role of a software architect': 17,
 'design ethics': 18,
 'defect detection': 19,
 'black box testing': 20,
 'software development lifecycle': 21,
 'feature prioritization': 22,
 'statistical analysis': 23,
 'unit testing': 24,
 'security incident handling': 25,
 'acceptance criteria': 26,
 'android development': 27,
 'color psychology': 28,
 'devops': 29,
 'information hierarchy': 30,
 'data management': 31,
 'inclusive design': 32,
 'design guidelines': 33,
 'usability testing': 34,
 'software architecture': 35,
 'nosql': 36,
 'agile development': 37,
 'testing existing functionality': 38,
 'user feedback': 39,
 'visual perception': 40,
 'data visualization': 41,
 'database management': 42,
 'restful api': 43,
 'biometric authentication': 44,
 'quality assurance': 45,
 'testing changes': 46,
 'complementary colors': 47,
 'test automation tools': 48,
 'testing metrics': 49,
 'prototyping': 50,
 'user experience': 51,
 'risk taking': 52,
 'design tools': 53,
 'ethical data use': 54,
 'ui/ux design': 55,
 'code review': 56,
 'agile principles': 57,
 'cybersecurity': 58,
 'product launch': 59,
 'responsible ai': 60,
 'data cleaning': 61,
 'software development': 62,
 'stress testing': 63,
 'performance evaluation': 64,
 'product management': 65,
 'device protection': 66,
 'user interface': 67,
 'code coverage': 68,
 'user experience testing': 69,
 'cross platform testing': 70,
 'user acceptance testing': 71,
 'automation': 72,
 'product roadmap': 73,
 'identity verification': 74,
 'data quality': 75,
 'vulnerability identification': 76,
 'pattern recognition': 77,
 'testing phases': 78,
 'iterative development': 79,
 'learning culture': 80,
 'big data': 81,
 'information security': 82,
 'performance testing': 83,
 'lean product development': 84,
 'environment compatibility': 85,
 'product development': 86,
 'scrum framework': 87,
 'adaptability in development': 88,
 'svn': 89,
 'two factor authentication': 90,
 'statistics': 91,
 'color theory': 92,
 'wireframing': 93,
 'authorization': 94,
 'ci/cd': 95,
 'agile software development': 96,
 'data science': 97,
 'usability evaluation': 98,
 'information security compliance': 99,
 'data dashboards': 100,
 'vulnerability management': 101,
 'testing processes': 102,
 'web services': 103,
 'knowledge transfer': 104,
 'security principles': 105,
 'agile methodology': 106,
 'typography': 107,
 'stakeholder collaboration': 108,
 'technical writer': 109,
 'exploratory data analysis': 110,
 'software testing': 111,
 'user verification': 112,
 'organizational security': 113,
 'git': 114,
 'agile manifesto': 115,
 'code quality': 116,
 'data processing': 117,
 'information architecture': 118,
 'access control': 119,
 'load testing': 120,
 'lean thinking': 121,
 'social engineering': 122,
 'security assessment': 123,
 'data preprocessing': 124,
 'api design': 125,
 'collaborative development': 126,
 'api': 127,
 'iterative design': 128,
 'interaction design': 129,
 'version control': 130,
 'security controls': 131,
 'software quality assurance': 132,
 'model performance': 133,
 'software development life cycle': 134,
 'code reusability': 135,
 'tableau': 136,
 'machine learning': 137,
 'incident management': 138,
 'web design': 139,
 'empathy in design': 140,
 'collaboration': 141,
 'continuous integration': 142,
 'mobile responsiveness': 143,
 'endpoint security': 144,
 'data scientist': 145,
 'software integration': 146,
 'product owner': 147,
 'brand identity': 148,
 'data governance': 149,
 'java programming': 150,
 'data ethics': 151,
 'information manipulation': 152,
 'build stability': 153,
 'data analytics': 154,
 'software development practices': 155,
 'cybersecurity threats': 156,
 'compatibility testing': 157,
 'smoke testing': 158,
 'object oriented design': 159,
 'user navigation': 160,
 'user personas': 161,
 'automated testing': 162,
 'test comprehensiveness': 163,
 'emotional design': 164,
 'regression testing': 165,
 'product goals': 166,
 'a/b testing': 167,
 'fail cheap': 168,
 'security measures': 169,
 'graphic design': 170,
 'customer feedback': 171,
 'user interface design': 172,
 'usability principles': 173,
 'product success': 174,
 'median': 175,
 'documentation': 176,
 'solid principles': 177,
 'visual communication': 178,
 'consistency in design': 179,
 'code maintainability': 180,
 'security policy': 181,
 'interactive design': 182,
 'mobile app development': 183,
 'design principles': 184,
 'user experience optimization': 185,
 'data dictionary': 186,
 'data security': 187,
 'threat mitigation': 188,
 'feature evaluation': 189,
 'scrum': 190,
 'design process': 191,
 'dry principle': 192,
 'software development process': 193,
 'exploratory testing': 194,
 'privacy': 195,
 'experimentation': 196,
 'testing efficiency': 197,
 'software development principles': 198,
 'database querying': 199,
 'continuous improvement': 200,
 'network security': 201,
 'account security': 202,
 'user testing': 203,
 'phishing attacks': 204,
 'security incident response plan': 205,
 'identity management': 206,
 'accessibility': 207,
 'source code management': 208,
 'ux design': 209,
 'color schemes': 210,
 'product documentation': 211,
 'user interfaces': 212,
 'animation': 213,
 'feature engineering': 214,
 'metadata': 215,
 'scrum roles': 216,
 'defect identification': 217,
 'innovation': 218,
 'data driven decision making': 219,
 'compliance': 220,
 'predictive modeling': 221,
 'product backlog': 222,
 'fail fast': 223,
 'product strategy': 224,
 'usability': 225,
 'testing extremes': 226,
 'responsive design': 227,
 'product planning': 228,
 'agile practices': 229,
 'test engineer': 230,
 'motion design': 231,
 'multimedia content creation': 232,
 'advanced software engineering': 233,
 'technical communication': 234,
 'research methods': 235,
 'problem solving': 236,
 'professional ethics': 237,
 'artificial intelligence': 238,
 'software engineering': 239,
 'back end': 240,
 'data structures': 241,
 'entrepreneurship': 242,
 'algorithm design': 243,
 'modeling': 244,
 'advanced information security': 245,
 'ai foundations': 246,
 'administration': 247,
 'databases': 248,
 'complexity analysis': 249,
 'management principles': 250,
 'technology integration': 251,
 'technology business': 252,
 'assembly language': 253,
 'professional development': 254,
 'hardware': 255,
 'social issues': 256,
 'software design': 257,
 'advanced mathematics': 258,
 'application design': 259,
 'computer architecture': 260,
 'automata theory': 261,
 'network protocols': 262,
 'computing ethics': 263,
 'multimedia technologies': 264,
 'network management': 265,
 'networking': 266,
 'front end': 267,
 'system integration': 268,
 'solution design': 269,
 'web development': 270,
 'system administration': 271,
 'engineering': 272,
 'algorithms': 273,
 'it infrastructure': 274,
 'language design': 275,
 'simulation': 276,
 'logic design': 277,
 'ethical decision making': 278,
 'coding': 279,
 'it industry': 280,
 'network administration': 281,
 'information organization': 282,
 'research methodology': 283,
 'computer science': 284,
 'language theory': 285,
 'digital circuits': 286,
 'integrative programming': 287,
 'architecture design': 288,
 'emerging technologies': 289,
 'mathematics': 290,
 'system architecture': 291,
 'operating systems': 292,
 'programming languages': 293,
 'interface design': 294,
 'maintenance': 295,
 'quantitative analysis': 296,
 'formal languages': 297,
 'optimization': 298,
 'syntax': 299,
 'it support': 300,
 'systems analysis': 301,
 'presentation ': 302,
 'thesis development': 303,
 'research planning': 304,
 'project management': 305,
 'leadership': 306,
 'structured programming': 307,
 'design': 308,
 'data communication': 309,
 'application development': 310,
 'electronics': 311,
 'analysis': 312,
 'advanced programming': 313,
 'research writing': 314,
 'organizational management': 315,
 'programming': 316,
 'organization': 317,
 'creative writing': 318,
 'public speaking': 319,
 'outdoor activities': 320,
 'empathy': 321,
 'strategic thinking': 322,
 'entertaining': 323,
 'active listening': 324,
 'relationship building': 325,
 'strategic planning': 326,
 'management': 327,
 'mentorship': 328,
 'time management': 329,
 'adaptability': 330,
 'advocacy': 331,
 'community building': 332,
 'creativity': 333,
 'spontaneity': 334,
 'process improvement': 335,
 'troubleshooting': 336,
 'research': 337,
 'caregiving': 338,
 'emotional expression': 339,
 'scientific inquiry': 340,
 'creative problem solving': 341,
 'logic': 342,
 'idea generation': 343,
 'physical activities': 344,
 'critical thinking': 345,
 'attention to detail': 346,
 'mechanical': 347,
 'emotional intelligence': 348,
 'spontaneous decision making': 349,
 'creative brainstorming': 350,
 'social organizing': 351,
 'individualism': 352,
 'decision making': 353,
 'social interactions': 354,
 'event planning': 355,
 'reliability': 356,
 'counseling': 357,
 'artistic expression': 358,
 'css2': 359,
 'ieee': 360,
 'software development engineer': 361,
 'react': 362,
 'claims': 363,
 'fscm': 364,
 'ionic framework': 365,
 'core java developer': 366,
 'software support': 367,
 'mac os': 368,
 'structures': 369,
 'projects': 370,
 'functional safety': 371,
 'ipv4': 372,
 'proposals': 373,
 'customer relationship management': 374,
 'product sales': 375,
 'fa': 376,
 'aerospace': 377,
 'cisco networking': 378,
 'checkpoint firewall': 379,
 'oop': 380,
 'agile tools': 381,
 'wordpress developer': 382,
 'high level design': 383,
 'performance management': 384,
 'postgresql': 385,
 'product engineering': 386,
 'augmented reality development': 387,
 'sap retail': 388,
 'application monitoring': 389,
 'windows 8': 390,
 'hss': 391,
 'clinical research': 392,
 'pki': 393,
 'investment management': 394,
 'pstn': 395,
 'ebs business analysis': 396,
 'research analysis': 397,
 'creation': 398,
 'master planning': 399,
 'cisco technologies': 400,
 'esp': 401,
 'ms crm': 402,
 'microsoft dynamics ax': 403,
 'rhel': 404,
 'physical verification': 405,
 'sap security': 406,
 'vb': 407,
 'ecs': 408,
 'software project management': 409,
 'call center management': 410,
 'software configuration management': 411,
 'rfi': 412,
 'place & route': 413,
 'verint': 414,
 'process integration': 415,
 'virtualbox': 416,
 'business applications': 417,
 'prince 2': 418,
 'team facilitation': 419,
 'software programming': 420,
 'atg commerce': 421,
 'selling': 422,
 'mobile ui/ux design': 423,
 'js': 424,
 'mirroring': 425,
 'ux designer': 426,
 'mining': 427,
 'unreal engine': 428,
 'general management': 429,
 'arm': 430,
 'object oriented programming (oop)': 431,
 'analyst ii': 432,
 'wcf': 433,
 'team orientation': 434,
 'backup': 435,
 'infrastructure management': 436,
 'master data': 437,
 'payment processing': 438,
 'competitor analysis': 439,
 'consumer electronics': 440,
 'school': 441,
 'linq2sql': 442,
 'liaising': 443,
 'oracle data base': 444,
 'english': 445,
 'oracle reports': 446,
 'food processing': 447,
 'logicmonitor': 448,
 'tester': 449,
 'autosar': 450,
 'core banking': 451,
 'jda': 452,
 'dhcp': 453,
 'travel': 454,
 'shell.': 455,
 'redux': 456,
 'pl': 457,
 'asp .net': 458,
 'exploitation techniques': 459,
 'qa analysis': 460,
 'economics': 461,
 'teloco': 462,
 'machine learning algorithms': 463,
 'breakdown': 464,
 'industrial engineering': 465,
 'doe': 466,
 'tpm': 467,
 'internet technologies': 468,
 'lines': 469,
 'soql': 470,
 'sap sd': 471,
 'email marketing': 472,
 'ddr': 473,
 'captiva': 474,
 'compilers': 475,
 'browser compatibility': 476,
 'it procurement': 477,
 'manual tester': 478,
 'content development': 479,
 'web based applications': 480,
 'support services': 481,
 'couchbase': 482,
 'reviews': 483,
 'xsl': 484,
 'educational qualification': 485,
 'bbm': 486,
 'servicenow developer': 487,
 'oracle e business suite': 488,
 'sharepoint development': 489,
 'android sdk': 490,
 'data warehouse': 491,
 'windows applications': 492,
 'oscp': 493,
 'systems development': 494,
 'scratch': 495,
 'poc': 496,
 'jasper': 497,
 'web design engineer': 498,
 'quality analyst': 499,
 'c.r.m.': 500,
 'portfolio management': 501,
 'bidding': 502,
 'integration': 503,
 'toplink': 504,
 'sql server development': 505,
 'web developement': 506,
 'control m': 507,
 'rnate': 508,
 'murex test analyst': 509,
 'successfactors': 510,
 'go': 511,
 'phone': 512,
 'slp': 513,
 'jde': 514,
 'development': 515,
 'plesk': 516,
 'supply network planning': 517,
 'rest   assured': 518,
 'talent': 519,
 'd2k': 520,
 'proxy': 521,
 'sigma': 522,
 'saas': 523,
 'automation anywhere': 524,
 'creative': 525,
 'adobe forms': 526,
 'trouble shooting': 527,
 'business consulting': 528,
 'email': 529,
 'nessus': 530,
 'winforms': 531,
 'creative designing': 532,
 'excellent communication': 533,
 'exception handling': 534,
 'business studies': 535,
 'off page optimization': 536,
 'tools': 537,
 'java development': 538,
 'cisco switches': 539,
 'jscript': 540,
 'link exchange': 541,
 'visual studiosoftware development life cycle': 542,
 'business finance': 543,
 'cbs': 544,
 'hyper   v': 545,
 'ssas': 546,
 'customer analytics': 547,
 'configurator': 548,
 'sub': 549,
 'succession planning': 550,
 'oracle cloud ppm implementations': 551,
 'server': 552,
 'web site': 553,
 'order management': 554,
 'power management': 555,
 'ggsn': 556,
 'health care services': 557,
 'associate': 558,
 'zend': 559,
 'check': 560,
 'gui': 561,
 'odc': 562,
 'frd': 563,
 'yarn': 564,
 'dot net programmer': 565,
 'alliance management': 566,
 'module': 567,
 'lead software': 568,
 'competitive intelligence': 569,
 'sql scripting': 570,
 'user administration': 571,
 'transitions': 572,
 'web ui': 573,
 'restassured': 574,
 'profitability analysis': 575,
 'jstl': 576,
 'web application developer': 577,
 'sdlc': 578,
 'ehs': 579,
 'embedded software systems development': 580,
 'alfresco': 581,
 'dao': 582,
 'java script': 583,
 'flask': 584,
 'client reporting': 585,
 'snp': 586,
 'evaluation': 587,
 'robotics': 588,
 'crm': 589,
 'finite element analysis': 590,
 'wip': 591,
 'asset accounting': 592,
 'mobile phones': 593,
 'jtag': 594,
 'bug fixing': 595,
 'printing': 596,
 'sprint boot': 597,
 'checkpoint': 598,
 'interface builder': 599,
 'sap pre   sales': 600,
 'sctp': 601,
 'component design': 602,
 'enterprise content management': 603,
 'customer engagement': 604,
 'technology strategy': 605,
 'backend': 606,
 'sap abap development': 607,
 'analysis services': 608,
 'internal orders': 609,
 'django': 610,
 'digital analytics': 611,
 'ruby and redis': 612,
 'sql database': 613,
 'process management': 614,
 'erp': 615,
 'msbi': 616,
 'integrations': 617,
 'mvc developer': 618,
 'usage': 619,
 'data structure.': 620,
 'sqlserver': 621,
 't   sql': 622,
 'linux administration': 623,
 'zoology': 624,
 'ipv6': 625,
 'sap scm': 626,
 'factor analysis': 627,
 'query management': 628,
 'hosting': 629,
 'engineering design': 630,
 'adobe creative suite': 631,
 'requirements gathering': 632,
 'pem': 633,
 'omniture': 634,
 'bloomberg': 635,
 'post': 636,
 'performance engineering': 637,
 'qos': 638,
 'defined benefits': 639,
 'fire alarm system': 640,
 'bfsi': 641,
 'amazon ec2': 642,
 'eai': 643,
 'adsl': 644,
 'sailpoint': 645,
 'invoice processing': 646,
 'netbeans': 647,
 'base': 648,
 'contract management': 649,
 'memory management': 650,
 'datacenter': 651,
 'hcm extracts': 652,
 'bangalore': 653,
 'oss te': 654,
 'profibus': 655,
 'after sales support': 656,
 'fcoe': 657,
 'foreign exchange': 658,
 'security management': 659,
 'base sas': 660,
 't sql': 661,
 'maven': 662,
 'product positioning': 663,
 'intrusion detection': 664,
 'jenkins': 665,
 'puppet': 666,
 'sqlite': 667,
 'oil & gas': 668,
 'less': 669,
 'ms sql 2000': 670,
 'datapower': 671,
 'failover': 672,
 'ipsec': 673,
 'devops engineer': 674,
 'capital iq': 675,
 'software engineer 2': 676,
 'android framework': 677,
 'oracle payroll': 678,
 'sales force development': 679,
 'google api': 680,
 'awt': 681,
 'audit compliance': 682,
 'gatp': 683,
 'wan': 684,
 'srs': 685,
 'mobility': 686,
 'security tools': 687,
 'saint': 688,
 'forecasting': 689,
 'ecommerce development': 690,
 'struts': 691,
 'h1b': 692,
 'sap scripts': 693,
 'project review': 694,
 'internet': 695,
 'developers': 696,
 'identity access management': 697,
 'customer experience management': 698,
 'application programmer': 699,
 'j2ee architecture': 700,
 'grc': 701,
 'speech recognition': 702,
 'signalling': 703,
 'fortify': 704,
 'sap pp consultant': 705,
 'oracle rdbms': 706,
 'customer service delivery': 707,
 'esb': 708,
 'corba': 709,
 'process': 710,
 'mdm': 711,
 'lead business analyst': 712,
 'sshr': 713,
 'threat intelligence': 714,
 '.net development': 715,
 'flyers': 716,
 'cdh': 717,
 'patch management': 718,
 'mechanical engineering': 719,
 'html dhtml': 720,
 'in design': 721,
 'networking engineer': 722,
 'cost optimization': 723,
 'multicast': 724,
 'tech': 725,
 'graphics': 726,
 'requirements management': 727,
 'sql server 2005 2008': 728,
 'agile project management': 729,
 'refrigeration': 730,
 'mpls vpn': 731,
 'proposal management': 732,
 'cortex': 733,
 'project life cycle': 734,
 'sosl': 735,
 'sales support': 736,
 'user interaction in vr': 737,
 'sr. software engineer': 738,
 'test manager': 739,
 'acrobat': 740,
 'fraud analytics': 741,
 'scada': 742,
 'catalog management': 743,
 'facebook marketing': 744,
 'assets': 745,
 'security engineering': 746,
 'transition management': 747,
 'cube': 748,
 'quality tools': 749,
 'drive': 750,
 'ca7': 751,
 'analog': 752,
 'e   commerce': 753,
 'seo': 754,
 'financial risk management': 755,
 'support': 756,
 'credit collection': 757,
 'sitescope': 758,
 'document management systems': 759,
 'database management systems': 760,
 'cartons': 761,
 'third party': 762,
 'qualitative': 763,
 'ma': 764,
 'schedule': 765,
 'internship': 766,
 'game testing': 767,
 'trams': 768,
 'service desk management': 769,
 'weblogic server': 770,
 'b.e.': 771,
 'di': 772,
 'server configuration': 773,
 'decentralized applications (dapps)': 774,
 'enterprise architecture': 775,
 'adobe analytics': 776,
 'document review': 777,
 'scala': 778,
 'full stack developer sap conversational ai': 779,
 'system developer': 780,
 'ubuntu linux': 781,
 'intranet': 782,
 'pmp': 783,
 'asset liability management': 784,
 'hdl': 785,
 'encryption': 786,
 'peoplesoft hcm': 787,
 'server support': 788,
 'soa testing': 789,
 'junior staff': 790,
 'drilling': 791,
 'btech': 792,
 'it project management': 793,
 'client acquisition': 794,
 'ibm db2': 795,
 'ci/cd systems': 796,
 'compliance management': 797,
 'javascripting': 798,
 'helpdesk': 799,
 'dmx': 800,
 'good communication': 801,
 'fsi': 802,
 'oracle pl': 803,
 'bentley': 804,
 'search engine marketing': 805,
 'multi threading': 806,
 'control   m': 807,
 'workday': 808,
 'webex': 809,
 'reactjs': 810,
 'medical records': 811,
 'embedded development': 812,
 'mba finance': 813,
 'lean': 814,
 'sap finance': 815,
 'ansys': 816,
 'enterprise sales': 817,
 'process automation': 818,
 'oracle coherence': 819,
 'html css': 820,
 'product quality': 821,
 'strategic sourcing': 822,
 'motion graphics': 823,
 'voip': 824,
 'plsql': 825,
 'prism': 826,
 'purchase manager': 827,
 'file system': 828,
 'report studio': 829,
 'risk assessment': 830,
 'data': 831,
 'intern': 832,
 'murex': 833,
 'computer vision': 834,
 'redhat': 835,
 'fmcg': 836,
 'crucible': 837,
 'db': 838,
 'telephony support': 839,
 'sw test engineer': 840,
 'application software': 841,
 'linux kernel programming': 842,

In [70]:
# apply skill_mapping to specialization3_skills
specialization3_skills['skill_list'] = specialization3_skills['skill_list'].apply(lambda x: [skill_mapping[skill] for skill in x])
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"[3467, 2449, 2863, 139, 227, 362, 4157, 2296, ..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"[4230, 1135, 4339, 2507, 42, 1769, 4259, 2245,..."

In [71]:
# explode skill_list
specialization3_skills = specialization3_skills.explode('skill_list')
specialization3_skills.head(2)

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,3467
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,2449

In [72]:
# filter columns
specialization3_skills = specialization3_skills[['specialization_id','skill_list']]
specialization3_skills.head(2)

   specialization_id skill_list
0                  1       3467
0                  1       2449

In [73]:
# check if there are duplicates meaning one specialization_id has the same skill_list
specialization3_skills[specialization3_skills.duplicated(['specialization_id','skill_list'])]

    specialization_id skill_list
3                   4       2113
3                   4       1891
3                   4         62
3                   4        316
3                   4       4670
..                ...        ...
91                 92       3467
91                 92       2061
91                 92       3798
91                 92       2863
91                 92       3684

[35845 rows x 2 columns]

In [74]:
# create new column, called level with value 1
specialization3_skills['level'] = 1
specialization3_skills.head(2)

   specialization_id skill_list  level
0                  1       3467      1
0                  1       2449      1

In [75]:
# for each duplicate specialization_id and skill_list, add 1 to level
specialization3_skills = specialization3_skills.groupby(['specialization_id','skill_list']).sum().reset_index()
specialization3_skills.head(2)

   specialization_id  skill_list  level
0                  1         139      1
1                  1         227      1

In [76]:
# get rows with level > 1
specialization3_skills[specialization3_skills['level'] > 1]

       specialization_id  skill_list  level
23                     4           7      7
24                     4          14    124
26                     4          24     39
28                     4          29      9
29                     4          31      9
...                  ...         ...    ...
15207                 92        4544      5
15210                 92        4566     12
15213                 92        4618      2
15218                 92        4670     24
15219                 92        4676      3

[5606 rows x 3 columns]

In [77]:
# rename skill_list to skill_id
specialization3_skills = specialization3_skills.rename(columns={'skill_list':'skill_id'})
specialization3_skills.head(2)

   specialization_id  skill_id  level
0                  1       139      1
1                  1       227      1

In [78]:
# add id
specialization3_skills['id'] = specialization3_skills.index + 1
specialization3_skills.head(2)

   specialization_id  skill_id  level  id
0                  1       139      1   1
1                  1       227      1   2

In [79]:
# save to csv
specialization3_skills.to_csv('../../static/csv/website_specialization_skills.csv', index=False)

In [80]:
# load website_specialization_skills.csv
website_specialization_skills = pd.read_csv('../../static/csv/website_specialization_skills.csv')
website_specialization_skills.head(2)

   specialization_id  skill_id  level  id
0                  1       139      1   1
1                  1       227      1   2

In [81]:
# reorder columns
website_specialization_skills = website_specialization_skills[['id','level','skill_id','specialization_id']]

In [82]:
website_specialization_skills

          id  level  skill_id  specialization_id
0          1      1       139                  1
1          2      1       227                  1
2          3      1       362                  1
3          4      1      1475                  1
4          5      1      2296                  1
...      ...    ...       ...                ...
15216  15217      1      4654                 92
15217  15218      1      4663                 92
15218  15219     24      4670                 92
15219  15220      3      4676                 92
15220  15221      1      4706                 92

[15221 rows x 4 columns]

In [83]:
# save to csv
website_specialization_skills.to_csv('../../static/csv/website_specialization_skills.csv', index=False)