In [1]:
import pandas as pd
import numpy as np

In [2]:
acad_subject = pd.read_csv('../../static/csv/subject_.csv')
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"['problem-solving', 'programming', 'algorithms']"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"['programming', 'coding', 'software development']"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"['advanced programming', 'software development..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"['mathematics', 'data structures', 'computer s..."
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"['modeling', 'simulation', 'analysis']"

In [3]:
website_skill = pd.read_csv('../../static/csv/skill_1.csv')
website_skill.tail()

      id                   skill
226  227      interaction design
227  228  continuous integration
228  229          brand identity
229  230    usability evaluation
230  231   information hierarchy

In [4]:
import ast
# Convert the string representation of lists into actual lists
acad_subject['skill_list'] = acad_subject['skill_list'].apply(ast.literal_eval)
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]"

In [5]:
# on the column skill_list make it to lower case
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [y.lower() for y in x])
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]"

In [47]:
# save to csv
acad_subject.to_csv('../../static/csv/subject_.csv', index=False)

In [6]:
# Create a list of skills by combining all the skills from the 'skills_list' column
subject_skills = [skill for skill_list in acad_subject['skill_list'] for skill in skill_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(subject_skills)

['problem-solving', 'programming', 'algorithms', 'programming', 'coding', 'software development', 'advanced programming', 'software development', 'algorithms', 'mathematics', 'data structures', 'computer science', 'modeling', 'simulation', 'analysis', 'data structures', 'algorithms', 'optimization', 'advanced mathematics', 'computer science', 'data analysis', 'object-oriented design', 'software development', 'coding', 'digital circuits', 'logic design', 'electronics', 'algorithm design', 'problem-solving', 'complexity analysis', 'data management', 'information organization', 'databases', 'operating systems', 'system administration', 'computer architecture', 'technical communication', 'documentation', 'presentation skills', 'research methods', 'data analysis', 'research planning', 'software development', 'emerging technologies', 'application design', 'computer architecture', 'assembly language', 'hardware', 'formal languages', 'automata theory', 'language theory', 'programming languages', 'language design', 'syntax', 'user experience', 'interface design', 'usability', 'information security', 'cybersecurity', 'data protection', 'software engineering', 'project management', 'software development', 'web development', 'front-end', 'back-end', 'web design', 'research writing', 'thesis development', 'research methodology', 'artificial intelligence', 'machine learning', 'ai foundations', 'networking', 'data communication', 'network protocols', 'research writing', 'thesis development', 'research methodology', 'advanced software engineering', 'software development', 'project management', 'professional ethics', 'ethical decision-making', 'computing ethics', 'social issues', 'professional development', 'it industry', 'structured programming', 'problem-solving', 'coding', 'network administration', 'network management', 'it infrastructure', 'quantitative analysis', 'modeling', 'simulation', 'integrative programming', 'technology integration', 'coding', 'system integration', 'architecture design', 'engineering', 'multimedia technologies', 'design', 'multimedia content creation', 'database management', 'administration', 'sql', 'management principles', 'organizational management', 'leadership', 'entrepreneurship', 'technology business', 'innovation', 'systems analysis', 'solution design', 'system architecture', 'application development', 'emerging technologies', 'software design', 'advanced information security', 'cybersecurity', 'data protection', 'system administration', 'it support', 'maintenance', 'social issues', 'professional development', 'it industry']

In [7]:
# get unique skills
unique_subject_skills = list(set(subject_skills))
print(unique_subject_skills)
# count the number of unique skills
print(len(unique_subject_skills))

['hardware', 'ai foundations', 'multimedia technologies', 'logic design', 'structured programming', 'technology business', 'coding', 'operating systems', 'innovation', 'web design', 'software design', 'electronics', 'networking', 'back-end', 'object-oriented design', 'leadership', 'computer science', 'advanced mathematics', 'simulation', 'formal languages', 'thesis development', 'application development', 'algorithm design', 'usability', 'digital circuits', 'research writing', 'entrepreneurship', 'management principles', 'information organization', 'machine learning', 'network management', 'programming', 'research planning', 'project management', 'social issues', 'data management', 'language theory', 'front-end', 'technology integration', 'language design', 'presentation skills', 'software engineering', 'research methodology', 'data protection', 'it support', 'documentation', 'sql', 'organizational management', 'network protocols', 'emerging technologies', 'data analysis', 'solution design', 'databases', 'integrative programming', 'it infrastructure', 'advanced information security', 'algorithms', 'artificial intelligence', 'automata theory', 'mathematics', 'systems analysis', 'programming languages', 'quantitative analysis', 'advanced software engineering', 'optimization', 'research methods', 'administration', 'design', 'architecture design', 'software development', 'user experience', 'application design', 'ethical decision-making', 'system integration', 'engineering', 'complexity analysis', 'network administration', 'information security', 'system architecture', 'database management', 'problem-solving', 'system administration', 'data structures', 'it industry', 'syntax', 'interface design', 'assembly language', 'advanced programming', 'web development', 'maintenance', 'computer architecture', 'professional development', 'data communication', 'computing ethics', 'multimedia content creation', 'cybersecurity', 'technical communication', 'professional ethics', 'modeling', 'analysis']
100

the previous wrong not going to use anymore because it made the orders messed up

so instead i will be adding the new skills on the bottom, but also making sure that there are no duplicates

In [9]:
# on website_skill, contain the skill into a list
# get the skill value of all rows in the 'skill' column
website_skill_list = website_skill['skill'].values

In [10]:
# array to list
website_skill_list = website_skill_list.tolist()

In [11]:
website_skill_list

['quality assurance',
 'software development principles',
 'software development life cycle',
 'agile methodology',
 'innovation',
 'fail cheap',
 'authentication methods',
 'adaptability in development',
 'inclusive design',
 'product launch',
 'svn',
 'learning culture',
 'ux design',
 'ui/ux design software',
 'software quality assurance',
 'security incident handling',
 'exploratory data analysis',
 'source code management',
 'risk-taking',
 'knowledge transfer',
 'mvp',
 'regression testing',
 'information security compliance',
 'data analytics',
 'statistics',
 'prototyping',
 'color theory',
 'product goals',
 'user-centered design',
 'product management',
 'lean thinking',
 'product documentation',
 'data security',
 'software development process',
 'product backlog',
 'privacy',
 'complementary colors',
 'identity management',
 'security policy',
 'empathy in design',
 'automated testing',
 'feature prioritization',
 'pattern recognition',
 'product planning',
 'wireframing',
 'usability principles',
 'design guidelines',
 'data cleaning',
 'organizational security',
 'design process',
 'tableau',
 'unit testing',
 'sql',
 'cybersecurity',
 'two-factor authentication',
 'design ethics',
 'security principles',
 'data visualization',
 'penetration testing',
 'feature engineering',
 'user verification',
 'scrum master',
 'model performance',
 'consistency in design',
 'database querying',
 'color schemes',
 'user experience testing',
 'restful api',
 'performance evaluation',
 'data management',
 'a/b testing',
 'user experience',
 'android development',
 'user interface',
 'accessibility',
 'data science',
 'smoke testing',
 'data ethics',
 'mobile responsiveness',
 'machine learning',
 'predictive modeling',
 'ui/ux design',
 'endpoint security',
 'data analysis',
 'acceptance criteria',
 'testing metrics',
 'api',
 'defect detection',
 'access control',
 'user experience optimization',
 'threat mitigation',
 'user navigation',
 'authentication',
 'software integration',
 'experimentation',
 'stress testing',
 'graphic design',
 'motion design',
 'testing techniques',
 'software architecture',
 'java programming',
 'user feedback',
 'code reusability',
 'data governance',
 'animation',
 'typography',
 'scrum',
 'version control',
 'agile software development',
 'big data',
 'code coverage',
 'identity verification',
 'security assessment',
 'solid principles',
 'database management',
 'user personas',
 'lean startup',
 'security incident response plan',
 'stakeholder collaboration',
 'product owner',
 'social engineering',
 'product roadmap',
 'customer feedback',
 'cross-platform testing',
 'documentation',
 'product success',
 'security measures',
 'account security',
 'test automation tools',
 'information manipulation',
 'data processing',
 'content organization',
 'usability',
 'phishing attacks',
 'code quality',
 'information architecture',
 'data preprocessing',
 'device protection',
 'incident management',
 'emotional design',
 'testing changes',
 'git',
 'feature evaluation',
 'testing extremes',
 'automation',
 'role of a software architect',
 'security controls',
 'defect identification',
 'testing methods',
 'data-driven decision making',
 'agile practices',
 'build stability',
 'ci/cd',
 'testing efficiency',
 'test comprehensiveness',
 'product strategy',
 'compliance',
 'design principles',
 'scrum roles',
 'software development practices',
 'data dashboards',
 'performance testing',
 'api design',
 'load testing',
 'user acceptance testing',
 'user interfaces',
 'code maintainability',
 'technical writer',
 'data scientist',
 'agile manifesto',
 'software development lifecycle',
 'user testing',
 'scrum framework',
 'design tools',
 'data quality',
 'visual perception',
 'data protection',
 'testing processes',
 'nosql',
 'information security',
 'median',
 'ethical data use',
 'vulnerability management',
 'test engineer',
 'agile development',
 'network security',
 'product development',
 'responsible ai',
 'fail fast',
 'code review',
 'mobile app development',
 'vulnerability identification',
 'biometric authentication',
 'security analyst',
 'statistical analysis',
 'lean product development',
 'object-oriented design',
 'dry principle',
 'collaborative development',
 'software development',
 'data dictionary',
 'software testing',
 'web services',
 'visual communication',
 'continuous improvement',
 'authorization',
 'responsive design',
 'interactive design',
 'exploratory testing',
 'web design',
 'product manager',
 'iterative development',
 'usability testing',
 'agile principles',
 'color psychology',
 'testing phases',
 'compatibility testing',
 'user interface design',
 'iterative design',
 'environment compatibility',
 'cybersecurity threats',
 'devops',
 'testing existing functionality',
 'metadata',
 'black box testing',
 'collaboration',
 'interaction design',
 'continuous integration',
 'brand identity',
 'usability evaluation',
 'information hierarchy']

In [15]:
# # append unique skills to the list of existing skills
# all__existing_skills.extend(unique_skills)

# # count the number of unique skills
# print(len(all__existing_skills))

In [12]:
# remove skills from unique_subject_skills if its on website_skill_list
unique_skills = [skill for skill in unique_subject_skills if skill not in website_skill_list]

print(len(unique_skills))

85

In [13]:
# make the unique_skills into a dataframe
unique_skills = pd.DataFrame(unique_skills, columns=['skill'])
unique_skills.head()

                     skill
0                 hardware
1           ai foundations
2  multimedia technologies
3             logic design
4   structured programming

In [14]:
# from website_skill get last id
last_id = website_skill['id'].iloc[-1]
print(last_id)

231

In [15]:
website_skill.tail(3)

      id                  skill
228  229         brand identity
229  230   usability evaluation
230  231  information hierarchy

In [16]:
# add column id to unique_skills
unique_skills['id'] = unique_skills.index + last_id + 1
unique_skills.head()

                     skill   id
0                 hardware  232
1           ai foundations  233
2  multimedia technologies  234
3             logic design  235
4   structured programming  236

In [19]:
unique_skills.tail(3)

     id                skill
82  314  professional ethics
83  315             modeling
84  316             analysis

In [17]:
# reoder the columns
unique_skills = unique_skills[['id', 'skill']]

In [18]:
# add the new skills to the website_skill
website_skill = pd.concat([website_skill, unique_skills], axis=0)
website_skill.tail()

     id                        skill
80  312  multimedia content creation
81  313      technical communication
82  314          professional ethics
83  315                     modeling
84  316                     analysis

In [20]:
# save to csv
website_skill.to_csv('../../static/csv/skill_2.csv', index=False)

# Skill Mapping

In [21]:
skill_mapping = website_skill.set_index('skill')['id'].to_dict()

In [22]:
skill_mapping

{'quality assurance': 1,
 'software development principles': 2,
 'software development life cycle': 3,
 'agile methodology': 4,
 'innovation': 5,
 'fail cheap': 6,
 'authentication methods': 7,
 'adaptability in development': 8,
 'inclusive design': 9,
 'product launch': 10,
 'svn': 11,
 'learning culture': 12,
 'ux design': 13,
 'ui/ux design software': 14,
 'software quality assurance': 15,
 'security incident handling': 16,
 'exploratory data analysis': 17,
 'source code management': 18,
 'risk-taking': 19,
 'knowledge transfer': 20,
 'mvp': 21,
 'regression testing': 22,
 'information security compliance': 23,
 'data analytics': 24,
 'statistics': 25,
 'prototyping': 26,
 'color theory': 27,
 'product goals': 28,
 'user-centered design': 29,
 'product management': 30,
 'lean thinking': 31,
 'product documentation': 32,
 'data security': 33,
 'software development process': 34,
 'product backlog': 35,
 'privacy': 36,
 'complementary colors': 37,
 'identity management': 38,
 'security policy': 39,
 'empathy in design': 40,
 'automated testing': 41,
 'feature prioritization': 42,
 'pattern recognition': 43,
 'product planning': 44,
 'wireframing': 45,
 'usability principles': 46,
 'design guidelines': 47,
 'data cleaning': 48,
 'organizational security': 49,
 'design process': 50,
 'tableau': 51,
 'unit testing': 52,
 'sql': 53,
 'cybersecurity': 54,
 'two-factor authentication': 55,
 'design ethics': 56,
 'security principles': 57,
 'data visualization': 58,
 'penetration testing': 59,
 'feature engineering': 60,
 'user verification': 61,
 'scrum master': 62,
 'model performance': 63,
 'consistency in design': 64,
 'database querying': 65,
 'color schemes': 66,
 'user experience testing': 67,
 'restful api': 68,
 'performance evaluation': 69,
 'data management': 70,
 'a/b testing': 71,
 'user experience': 72,
 'android development': 73,
 'user interface': 74,
 'accessibility': 75,
 'data science': 76,
 'smoke testing': 77,
 'data ethics': 78,
 'mobile responsiveness': 79,
 'machine learning': 80,
 'predictive modeling': 81,
 'ui/ux design': 82,
 'endpoint security': 83,
 'data analysis': 84,
 'acceptance criteria': 85,
 'testing metrics': 86,
 'api': 87,
 'defect detection': 88,
 'access control': 89,
 'user experience optimization': 90,
 'threat mitigation': 91,
 'user navigation': 92,
 'authentication': 93,
 'software integration': 94,
 'experimentation': 95,
 'stress testing': 96,
 'graphic design': 97,
 'motion design': 98,
 'testing techniques': 99,
 'software architecture': 100,
 'java programming': 101,
 'user feedback': 102,
 'code reusability': 103,
 'data governance': 104,
 'animation': 105,
 'typography': 106,
 'scrum': 107,
 'version control': 108,
 'agile software development': 109,
 'big data': 110,
 'code coverage': 111,
 'identity verification': 112,
 'security assessment': 113,
 'solid principles': 114,
 'database management': 115,
 'user personas': 116,
 'lean startup': 117,
 'security incident response plan': 118,
 'stakeholder collaboration': 119,
 'product owner': 120,
 'social engineering': 121,
 'product roadmap': 122,
 'customer feedback': 123,
 'cross-platform testing': 124,
 'documentation': 125,
 'product success': 126,
 'security measures': 127,
 'account security': 128,
 'test automation tools': 129,
 'information manipulation': 130,
 'data processing': 131,
 'content organization': 132,
 'usability': 133,
 'phishing attacks': 134,
 'code quality': 135,
 'information architecture': 136,
 'data preprocessing': 137,
 'device protection': 138,
 'incident management': 139,
 'emotional design': 140,
 'testing changes': 141,
 'git': 142,
 'feature evaluation': 143,
 'testing extremes': 144,
 'automation': 145,
 'role of a software architect': 146,
 'security controls': 147,
 'defect identification': 148,
 'testing methods': 149,
 'data-driven decision making': 150,
 'agile practices': 151,
 'build stability': 152,
 'ci/cd': 153,
 'testing efficiency': 154,
 'test comprehensiveness': 155,
 'product strategy': 156,
 'compliance': 157,
 'design principles': 158,
 'scrum roles': 159,
 'software development practices': 160,
 'data dashboards': 161,
 'performance testing': 162,
 'api design': 163,
 'load testing': 164,
 'user acceptance testing': 165,
 'user interfaces': 166,
 'code maintainability': 167,
 'technical writer': 168,
 'data scientist': 169,
 'agile manifesto': 170,
 'software development lifecycle': 171,
 'user testing': 172,
 'scrum framework': 173,
 'design tools': 174,
 'data quality': 175,
 'visual perception': 176,
 'data protection': 177,
 'testing processes': 178,
 'nosql': 179,
 'information security': 180,
 'median': 181,
 'ethical data use': 182,
 'vulnerability management': 183,
 'test engineer': 184,
 'agile development': 185,
 'network security': 186,
 'product development': 187,
 'responsible ai': 188,
 'fail fast': 189,
 'code review': 190,
 'mobile app development': 191,
 'vulnerability identification': 192,
 'biometric authentication': 193,
 'security analyst': 194,
 'statistical analysis': 195,
 'lean product development': 196,
 'object-oriented design': 197,
 'dry principle': 198,
 'collaborative development': 199,
 'software development': 200,
 'data dictionary': 201,
 'software testing': 202,
 'web services': 203,
 'visual communication': 204,
 'continuous improvement': 205,
 'authorization': 206,
 'responsive design': 207,
 'interactive design': 208,
 'exploratory testing': 209,
 'web design': 210,
 'product manager': 211,
 'iterative development': 212,
 'usability testing': 213,
 'agile principles': 214,
 'color psychology': 215,
 'testing phases': 216,
 'compatibility testing': 217,
 'user interface design': 218,
 'iterative design': 219,
 'environment compatibility': 220,
 'cybersecurity threats': 221,
 'devops': 222,
 'testing existing functionality': 223,
 'metadata': 224,
 'black box testing': 225,
 'collaboration': 226,
 'interaction design': 227,
 'continuous integration': 228,
 'brand identity': 229,
 'usability evaluation': 230,
 'information hierarchy': 231,
 'hardware': 232,
 'ai foundations': 233,
 'multimedia technologies': 234,
 'logic design': 235,
 'structured programming': 236,
 'technology business': 237,
 'coding': 238,
 'operating systems': 239,
 'software design': 240,
 'electronics': 241,
 'networking': 242,
 'back-end': 243,
 'leadership': 244,
 'computer science': 245,
 'advanced mathematics': 246,
 'simulation': 247,
 'formal languages': 248,
 'thesis development': 249,
 'application development': 250,
 'algorithm design': 251,
 'digital circuits': 252,
 'research writing': 253,
 'entrepreneurship': 254,
 'management principles': 255,
 'information organization': 256,
 'network management': 257,
 'programming': 258,
 'research planning': 259,
 'project management': 260,
 'social issues': 261,
 'language theory': 262,
 'front-end': 263,
 'technology integration': 264,
 'language design': 265,
 'presentation skills': 266,
 'software engineering': 267,
 'research methodology': 268,
 'it support': 269,
 'organizational management': 270,
 'network protocols': 271,
 'emerging technologies': 272,
 'solution design': 273,
 'databases': 274,
 'integrative programming': 275,
 'it infrastructure': 276,
 'advanced information security': 277,
 'algorithms': 278,
 'artificial intelligence': 279,
 'automata theory': 280,
 'mathematics': 281,
 'systems analysis': 282,
 'programming languages': 283,
 'quantitative analysis': 284,
 'advanced software engineering': 285,
 'optimization': 286,
 'research methods': 287,
 'administration': 288,
 'design': 289,
 'architecture design': 290,
 'application design': 291,
 'ethical decision-making': 292,
 'system integration': 293,
 'engineering': 294,
 'complexity analysis': 295,
 'network administration': 296,
 'system architecture': 297,
 'problem-solving': 298,
 'system administration': 299,
 'data structures': 300,
 'it industry': 301,
 'syntax': 302,
 'interface design': 303,
 'assembly language': 304,
 'advanced programming': 305,
 'web development': 306,
 'maintenance': 307,
 'computer architecture': 308,
 'professional development': 309,
 'data communication': 310,
 'computing ethics': 311,
 'multimedia content creation': 312,
 'technical communication': 313,
 'professional ethics': 314,
 'modeling': 315,
 'analysis': 316}

In [23]:
# on acad_subject, "skill_list" column, make it all lower case
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [skill.lower() for skill in x])

In [24]:
# apply the skill mapping to acad_subject
acad_subject['skill_id'] = acad_subject['skill_list'].apply(lambda x: [skill_mapping[skill] for skill in x])
acad_subject.head()

,id,subject_name,description,skill_list,skill_id
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]","[298, 258, 278]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]","[258, 238, 200]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a...","[305, 200, 278]"
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]","[281, 300, 245]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]","[315, 247, 316]"

In [25]:
subject_skill = acad_subject.explode('skill_id')
# get only question_id and skills_list
subject_skill = subject_skill[['id', 'skill_id']]
subject_skill

    id skill_id
0    1      298
0    1      258
0    1      278
1    2      258
1    2      238
..  ..      ...
41  42      269
41  42      307
42  43      261
42  43      309
42  43      301

[130 rows x 2 columns]

In [26]:
subject_skill = subject_skill.rename(columns={'id': 'subject_id', 'skill_id': 'skill_id'})

# add id 
subject_skill['id'] = subject_skill.index + 1
# reoder the columns
subject_skill = subject_skill[['id', 'subject_id', 'skill_id']]
subject_skill.head()

   id  subject_id skill_id
0   1           1      298
0   1           1      258
0   1           1      278
1   2           2      258
1   2           2      238

In [27]:
# save to csv
subject_skill.to_csv('../../static/csv/acad_subject_skill.csv', index=False)

In [28]:
acad_subject.head()

,id,subject_name,description,skill_list,skill_id
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]","[298, 258, 278]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]","[258, 238, 200]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a...","[305, 200, 278]"
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]","[281, 300, 245]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]","[315, 247, 316]"

In [29]:
# get only the id, subject_name, and description columns
acad_subject = acad_subject[['id', 'subject_name', 'description']]

# save to csv
acad_subject.to_csv('../../static/csv/acad_subject.csv', index=False)

In [30]:
# save website_skill to csv
website_skill.to_csv('../../static/csv/website_skill.csv', index=False)

In [31]:
# load acad_subject_skills.csv
subject_skill = pd.read_csv('../../static/csv/acad_subject_skills.csv')
subject_skill.head()

   id  subject_id  skill_id
0   1           1       153
1   2           1       131
2   3           1        70
3   4           2       131
4   5           2       106

In [32]:
# delete column id
del subject_skill['id']
# create id column, starint from 1
subject_skill['id'] = subject_skill.index + 1
# reorder the columns
subject_skill = subject_skill[['id', 'subject_id', 'skill_id']]
subject_skill.head()

   id  subject_id  skill_id
0   1           1       153
1   2           1       131
2   3           1        70
3   4           2       131
4   5           2       106

In [33]:
# save csv
subject_skill.to_csv('../../static/csv/acad_subject_skills.csv', index=False)