In [2]:
import pandas as pd
import numpy as np

In [3]:
acad_subject = pd.read_csv('../../static/csv/subject_.csv')
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"['problem solving', 'programming', 'algorithms']"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"['programming', 'coding', 'software development']"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"['advanced programming', 'software development..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"['mathematics', 'data structures', 'computer s..."
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"['modeling', 'simulation', 'analysis']"

In [4]:
website_skill = pd.read_csv('../../static/csv/skill_1.csv')
website_skill.tail()

      id                  skill
280  281                  mysql
281  282  mobile responsiveness
282  283               metadata
283  284           load testing
284  285     data visualization

In [5]:
import ast
# Convert the string representation of lists into actual lists
acad_subject['skill_list'] = acad_subject['skill_list'].apply(ast.literal_eval)
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem solving, programming, algorithms]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]"

In [6]:
# on the column skill_list make it to lower case
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [y.lower() for y in x])
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem solving, programming, algorithms]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]"

In [7]:
# replace '-' with ' ' in the column skill_list
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [y.replace('-', ' ') for y in x])

In [8]:
# remove 'skills' and 'skill'
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [y.replace('skills', '') for y in x])

In [9]:
# save to csv
acad_subject.to_csv('../../static/csv/subject_.csv', index=False)

In [10]:
# Create a list of skills by combining all the skills from the 'skills_list' column
subject_skills = [skill for skill_list in acad_subject['skill_list'] for skill in skill_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(subject_skills)

['problem solving', 'programming', 'algorithms', 'programming', 'coding', 'software development', 'advanced programming', 'software development', 'algorithms', 'mathematics', 'data structures', 'computer science', 'modeling', 'simulation', 'analysis', 'data structures', 'algorithms', 'optimization', 'advanced mathematics', 'computer science', 'data analysis', 'object oriented design', 'software development', 'coding', 'digital circuits', 'logic design', 'electronics', 'algorithm design', 'problem solving', 'complexity analysis', 'data management', 'information organization', 'databases', 'operating systems', 'system administration', 'computer architecture', 'technical communication', 'documentation', 'presentation ', 'research methods', 'data analysis', 'research planning', 'software development', 'emerging technologies', 'application design', 'computer architecture', 'assembly language', 'hardware', 'formal languages', 'automata theory', 'language theory', 'programming languages', 'language design', 'syntax', 'user experience', 'interface design', 'usability', 'information security', 'cybersecurity', 'data protection', 'software engineering', 'project management', 'software development', 'web development', 'front end', 'back end', 'web design', 'research writing', 'thesis development', 'research methodology', 'artificial intelligence', 'machine learning', 'ai foundations', 'networking', 'data communication', 'network protocols', 'research writing', 'thesis development', 'research methodology', 'advanced software engineering', 'software development', 'project management', 'professional ethics', 'ethical decision making', 'computing ethics', 'social issues', 'professional development', 'it industry', 'structured programming', 'problem solving', 'coding', 'network administration', 'network management', 'it infrastructure', 'quantitative analysis', 'modeling', 'simulation', 'integrative programming', 'technology integration', 'coding', 'system integration', 'architecture design', 'engineering', 'multimedia technologies', 'design', 'multimedia content creation', 'database management', 'administration', 'sql', 'management principles', 'organizational management', 'leadership', 'entrepreneurship', 'technology business', 'innovation', 'systems analysis', 'solution design', 'system architecture', 'application development', 'emerging technologies', 'software design', 'advanced information security', 'cybersecurity', 'data protection', 'system administration', 'it support', 'maintenance', 'social issues', 'professional development', 'it industry']

In [11]:
# get unique skills
unique_subject_skills = list(set(subject_skills))
print(unique_subject_skills)
# count the number of unique skills
print(len(unique_subject_skills))

['multimedia technologies', 'digital circuits', 'it industry', 'network protocols', 'research writing', 'simulation', 'interface design', 'web development', 'usability', 'it infrastructure', 'data protection', 'technology integration', 'management principles', 'computer science', 'assembly language', 'software development', 'sql', 'mathematics', 'information organization', 'advanced mathematics', 'system integration', 'formal languages', 'computer architecture', 'engineering', 'technical communication', 'problem solving', 'maintenance', 'artificial intelligence', 'automata theory', 'data management', 'design', 'systems analysis', 'coding', 'presentation ', 'advanced programming', 'structured programming', 'cybersecurity', 'ethical decision making', 'network management', 'database management', 'professional ethics', 'computing ethics', 'research methodology', 'organizational management', 'algorithms', 'software design', 'electronics', 'architecture design', 'research planning', 'user experience', 'analysis', 'leadership', 'language design', 'networking', 'complexity analysis', 'advanced software engineering', 'application development', 'data communication', 'programming', 'optimization', 'modeling', 'data structures', 'innovation', 'logic design', 'machine learning', 'system administration', 'application design', 'administration', 'thesis development', 'information security', 'software engineering', 'advanced information security', 'entrepreneurship', 'programming languages', 'professional development', 'language theory', 'emerging technologies', 'social issues', 'hardware', 'operating systems', 'it support', 'front end', 'multimedia content creation', 'research methods', 'project management', 'quantitative analysis', 'technology business', 'syntax', 'system architecture', 'documentation', 'web design', 'data analysis', 'back end', 'ai foundations', 'network administration', 'solution design', 'algorithm design', 'databases', 'integrative programming', 'object oriented design']
100

the previous wrong not going to use anymore because it made the orders messed up

so instead i will be adding the new skills on the bottom, but also making sure that there are no duplicates

In [13]:
# on website_skill, contain the skill into a list
# get the skill value of all rows in the 'skill' column
website_skill_list = website_skill['skill'].values

In [14]:
# array to list
website_skill_list = website_skill_list.tolist()

In [15]:
website_skill_list

['regression testing',
 'android',
 'statistics',
 'scrum framework',
 'test',
 'security principles',
 'big data',
 'lean startup',
 'svn',
 'math',
 'product success',
 'motion design',
 'compatibility testing',
 'security incident handling',
 'lean product development',
 'usability testing',
 'product management',
 'database',
 'object oriented design',
 'typography',
 'web design',
 'animation',
 'responsible ai',
 'machine learning',
 'quality',
 'penetration testing',
 'software architecture',
 'prototyping',
 'product launch',
 'continuous integration',
 'database management',
 'penetration',
 'security controls',
 'predictive modeling',
 'db',
 'black box testing',
 'programming',
 'firewall',
 'privacy',
 'identity verification',
 'data masking',
 'solid principles',
 'design principles',
 'agile practices',
 'ux design',
 'software development life cycle',
 'dashboards',
 'code review',
 'performance testing',
 'software testing',
 'software development process',
 'testing',
 'pattern recognition',
 'product backlog',
 'collaboration',
 'performance evaluation',
 'mobile',
 'automated testing',
 'user acceptance testing',
 'innovation',
 'cybersecurity threats',
 'design guidelines',
 'testing techniques',
 'test automation tools',
 'software development principles',
 'color theory',
 'dry',
 'product documentation',
 'app',
 'phishing attacks',
 'feature prioritization',
 'environment compatibility',
 'device protection',
 'code coverage',
 'security measures',
 'inclusive design',
 'brand identity',
 'assessment',
 'agile development',
 'experimentation',
 'visual communication',
 'empathy in design',
 'vcs',
 'emotional design',
 'restful api',
 'scrum master',
 'iterative development',
 'testing methods',
 'security incident response plan',
 'network security',
 'risk taking',
 'identity management',
 'smoke testing',
 'quality assurance',
 'wireframing',
 'product planning',
 'vulnerability identification',
 'user testing',
 'unit',
 'incident',
 'insights',
 'design tools',
 'lean thinking',
 'consistency in design',
 'user experience',
 'fail fast',
 'product manager',
 'color',
 'data dictionary',
 'incident management',
 'mvp',
 'user interface',
 'exploratory testing',
 'security policy',
 'threat mitigation',
 'authentication methods',
 'network',
 'git',
 'biometric authentication',
 'product roadmap',
 'devops',
 'masking',
 'user interfaces',
 'accessibility',
 'java programming',
 'content organization',
 'sql',
 'feature engineering',
 'product development',
 'version control',
 'information manipulation',
 'testing existing functionality',
 'data management',
 'user experience testing',
 'usability',
 'tableau',
 'agile principles',
 'agile methodology',
 'protection',
 'analytics',
 'product goals',
 'user personas',
 'ui/ux design',
 'adaptability in development',
 'endpoint security',
 'role of a software architect',
 'network perimeter protection',
 'user',
 'product strategy',
 'ethical data use',
 'distributed version control',
 'test engineer',
 'interface',
 'color psychology',
 'testing phases',
 'collaborative development',
 'patterns',
 'continuous improvement',
 'api',
 'data preprocessing',
 'unit testing',
 'data governance',
 'security',
 'data scientist',
 'interactive design',
 'automation',
 'stress testing',
 'visualization',
 'defect detection',
 'iterative design',
 'data science',
 'source code management',
 'usability principles',
 'security assessment',
 'api design',
 'product owner',
 'ui/ux design software',
 'software development practices',
 'design ethics',
 'information architecture',
 'data security',
 'authentication',
 'user verification',
 'authorization',
 'scrum',
 'cleaning',
 'test comprehensiveness',
 'scrum roles',
 'design',
 'social engineering',
 'agile manifesto',
 'testing efficiency',
 'two factor authentication',
 'nosql',
 'user centered design',
 'data driven decision making',
 'agile software development',
 'software development lifecycle',
 'data dashboards',
 'access control',
 'stakeholder collaboration',
 'processing',
 'mobile app development',
 'responsive design',
 'feature evaluation',
 'testing changes',
 'software integration',
 'dry principle',
 'visual perception',
 'acceptance criteria',
 'documentation',
 'security analyst',
 'statistical analysis',
 'account security',
 'web services',
 'vulnerability assessment',
 'structured query language',
 'development',
 'data analytics',
 'visual design',
 'software development',
 'vulnerability management',
 'dashboard',
 'complementary colors',
 'least privilege,principle of least privilege',
 'exploratory data analysis',
 'cybersecurity',
 'application programming interface',
 'data',
 'testing processes',
 'user interface design',
 'code reusability',
 'multi factor authentication',
 'user feedback',
 'design process',
 'learning culture',
 'information hierarchy',
 'technical writer',
 'build stability',
 'compliance',
 'model performance',
 'cross platform testing',
 'user navigation',
 'data cleaning',
 'data ethics',
 'data protection',
 'graphic design',
 'database querying',
 'information security compliance',
 'data processing',
 'principles',
 'a/b testing',
 'information security',
 'defect identification',
 'consistency,gestalt principles',
 'vulnerability',
 'data quality',
 'color schemes',
 'ci/cd',
 'software quality assurance',
 'git workflow',
 'fail cheap',
 'median',
 'code quality',
 'knowledge transfer',
 'organizational security',
 'elements',
 'spear phishing',
 'testing extremes',
 'centralized version control',
 'java',
 'interaction design',
 'user experience optimization',
 'data analysis',
 'testing metrics',
 'code maintainability',
 'encryption',
 'usability evaluation',
 'customer feedback',
 'android development',
 'mysql',
 'mobile responsiveness',
 'metadata',
 'load testing',
 'data visualization']

In [16]:
# # append unique skills to the list of existing skills
# all__existing_skills.extend(unique_skills)

# # count the number of unique skills
# print(len(all__existing_skills))

In [17]:
unique_subject_skills

['multimedia technologies',
 'digital circuits',
 'it industry',
 'network protocols',
 'research writing',
 'simulation',
 'interface design',
 'web development',
 'usability',
 'it infrastructure',
 'data protection',
 'technology integration',
 'management principles',
 'computer science',
 'assembly language',
 'software development',
 'sql',
 'mathematics',
 'information organization',
 'advanced mathematics',
 'system integration',
 'formal languages',
 'computer architecture',
 'engineering',
 'technical communication',
 'problem solving',
 'maintenance',
 'artificial intelligence',
 'automata theory',
 'data management',
 'design',
 'systems analysis',
 'coding',
 'presentation ',
 'advanced programming',
 'structured programming',
 'cybersecurity',
 'ethical decision making',
 'network management',
 'database management',
 'professional ethics',
 'computing ethics',
 'research methodology',
 'organizational management',
 'algorithms',
 'software design',
 'electronics',
 'architecture design',
 'research planning',
 'user experience',
 'analysis',
 'leadership',
 'language design',
 'networking',
 'complexity analysis',
 'advanced software engineering',
 'application development',
 'data communication',
 'programming',
 'optimization',
 'modeling',
 'data structures',
 'innovation',
 'logic design',
 'machine learning',
 'system administration',
 'application design',
 'administration',
 'thesis development',
 'information security',
 'software engineering',
 'advanced information security',
 'entrepreneurship',
 'programming languages',
 'professional development',
 'language theory',
 'emerging technologies',
 'social issues',
 'hardware',
 'operating systems',
 'it support',
 'front end',
 'multimedia content creation',
 'research methods',
 'project management',
 'quantitative analysis',
 'technology business',
 'syntax',
 'system architecture',
 'documentation',
 'web design',
 'data analysis',
 'back end',
 'ai foundations',
 'network administration',
 'solution design',
 'algorithm design',
 'databases',
 'integrative programming',
 'object oriented design']

In [18]:
# remove skills from unique_subject_skills if its on website_skill_list
unique_skills = [skill for skill in unique_subject_skills if skill not in website_skill_list]

print(len(unique_skills))

83

In [19]:
# make the unique_skills into a dataframe
unique_skills = pd.DataFrame(unique_skills, columns=['skill'])
unique_skills.head()

                     skill
0  multimedia technologies
1         digital circuits
2              it industry
3        network protocols
4         research writing

In [20]:
# from website_skill get last id
last_id = website_skill['id'].iloc[-1]
print(last_id)

285

In [21]:
website_skill.tail(3)

      id               skill
282  283            metadata
283  284        load testing
284  285  data visualization

In [22]:
# add column id to unique_skills
unique_skills['id'] = unique_skills.index + last_id + 1
unique_skills.head()

                     skill   id
0  multimedia technologies  286
1         digital circuits  287
2              it industry  288
3        network protocols  289
4         research writing  290

In [23]:
unique_skills.tail(3)

                      skill   id
80         algorithm design  366
81                databases  367
82  integrative programming  368

In [24]:
# reoder the columns
unique_skills = unique_skills[['id', 'skill']]

In [25]:
# add the new skills to the website_skill
website_skill = pd.concat([website_skill, unique_skills], axis=0)
website_skill.tail()

     id                    skill
78  364   network administration
79  365          solution design
80  366         algorithm design
81  367                databases
82  368  integrative programming

In [26]:
# check if there are duplicates
website_skill.duplicated().sum()

0

In [27]:
# save to csv
website_skill.to_csv('../../static/csv/skill_2.csv', index=False)

In [2]:
# laod the csv
import pandas as pd
website_skill = pd.read_csv('../../static/csv/skill_2.csv')

In [3]:
website_skill[website_skill['id'] == 286]

      id                    skill
285  286  multimedia technologies

# Skill Mapping

In [25]:
skill_mapping = website_skill.set_index('skill')['id'].to_dict()

In [26]:
skill_mapping

{'regression testing': 1,
 'android': 2,
 'statistics': 3,
 'scrum framework': 4,
 'test': 5,
 'security principles': 6,
 'big data': 7,
 'lean startup': 8,
 'svn': 9,
 'math': 10,
 'product success': 11,
 'motion design': 12,
 'compatibility testing': 13,
 'security incident handling': 14,
 'lean product development': 15,
 'usability testing': 16,
 'product management': 17,
 'database': 18,
 'object oriented design': 19,
 'typography': 20,
 'web design': 21,
 'animation': 22,
 'responsible ai': 23,
 'machine learning': 24,
 'quality': 25,
 'penetration testing': 26,
 'software architecture': 27,
 'prototyping': 28,
 'product launch': 29,
 'continuous integration': 30,
 'database management': 31,
 'penetration': 32,
 'security controls': 33,
 'predictive modeling': 34,
 'db': 35,
 'black box testing': 36,
 'programming': 37,
 'firewall': 38,
 'privacy': 39,
 'identity verification': 40,
 'data masking': 41,
 'solid principles': 42,
 'design principles': 43,
 'agile practices': 44,
 'ux design': 45,
 'software development life cycle': 46,
 'dashboards': 47,
 'code review': 48,
 'performance testing': 49,
 'software testing': 50,
 'software development process': 51,
 'testing': 52,
 'pattern recognition': 53,
 'product backlog': 54,
 'collaboration': 55,
 'performance evaluation': 56,
 'mobile': 57,
 'automated testing': 58,
 'user acceptance testing': 59,
 'innovation': 60,
 'cybersecurity threats': 61,
 'design guidelines': 62,
 'testing techniques': 63,
 'test automation tools': 64,
 'software development principles': 65,
 'color theory': 66,
 'dry': 67,
 'product documentation': 68,
 'app': 69,
 'phishing attacks': 70,
 'feature prioritization': 71,
 'environment compatibility': 72,
 'device protection': 73,
 'code coverage': 74,
 'security measures': 75,
 'inclusive design': 76,
 'brand identity': 77,
 'assessment': 78,
 'agile development': 79,
 'experimentation': 80,
 'visual communication': 81,
 'empathy in design': 82,
 'vcs': 83,
 'emotional design': 84,
 'restful api': 85,
 'scrum master': 86,
 'iterative development': 87,
 'testing methods': 88,
 'security incident response plan': 89,
 'network security': 90,
 'risk taking': 91,
 'identity management': 92,
 'smoke testing': 93,
 'quality assurance': 94,
 'wireframing': 95,
 'product planning': 96,
 'vulnerability identification': 97,
 'user testing': 98,
 'unit': 99,
 'incident': 100,
 'insights': 101,
 'design tools': 102,
 'lean thinking': 103,
 'consistency in design': 104,
 'user experience': 105,
 'fail fast': 106,
 'product manager': 107,
 'color': 108,
 'data dictionary': 109,
 'incident management': 110,
 'mvp': 111,
 'user interface': 112,
 'exploratory testing': 113,
 'security policy': 114,
 'threat mitigation': 115,
 'authentication methods': 116,
 'network': 117,
 'git': 118,
 'biometric authentication': 119,
 'product roadmap': 120,
 'devops': 121,
 'masking': 122,
 'user interfaces': 123,
 'accessibility': 124,
 'java programming': 125,
 'content organization': 126,
 'sql': 127,
 'feature engineering': 128,
 'product development': 129,
 'version control': 130,
 'information manipulation': 131,
 'testing existing functionality': 132,
 'data management': 133,
 'user experience testing': 134,
 'usability': 135,
 'tableau': 136,
 'agile principles': 137,
 'agile methodology': 138,
 'protection': 139,
 'analytics': 140,
 'product goals': 141,
 'user personas': 142,
 'ui/ux design': 143,
 'adaptability in development': 144,
 'endpoint security': 145,
 'role of a software architect': 146,
 'network perimeter protection': 147,
 'user': 148,
 'product strategy': 149,
 'ethical data use': 150,
 'distributed version control': 151,
 'test engineer': 152,
 'interface': 153,
 'color psychology': 154,
 'testing phases': 155,
 'collaborative development': 156,
 'patterns': 157,
 'continuous improvement': 158,
 'api': 159,
 'data preprocessing': 160,
 'unit testing': 161,
 'data governance': 162,
 'security': 163,
 'data scientist': 164,
 'interactive design': 165,
 'automation': 166,
 'stress testing': 167,
 'visualization': 168,
 'defect detection': 169,
 'iterative design': 170,
 'data science': 171,
 'source code management': 172,
 'usability principles': 173,
 'security assessment': 174,
 'api design': 175,
 'product owner': 176,
 'ui/ux design software': 177,
 'software development practices': 178,
 'design ethics': 179,
 'information architecture': 180,
 'data security': 181,
 'authentication': 182,
 'user verification': 183,
 'authorization': 184,
 'scrum': 185,
 'cleaning': 186,
 'test comprehensiveness': 187,
 'scrum roles': 188,
 'design': 189,
 'social engineering': 190,
 'agile manifesto': 191,
 'testing efficiency': 192,
 'two factor authentication': 193,
 'nosql': 194,
 'user centered design': 195,
 'data driven decision making': 196,
 'agile software development': 197,
 'software development lifecycle': 198,
 'data dashboards': 199,
 'access control': 200,
 'stakeholder collaboration': 201,
 'processing': 202,
 'mobile app development': 203,
 'responsive design': 204,
 'feature evaluation': 205,
 'testing changes': 206,
 'software integration': 207,
 'dry principle': 208,
 'visual perception': 209,
 'acceptance criteria': 210,
 'documentation': 211,
 'security analyst': 212,
 'statistical analysis': 213,
 'account security': 214,
 'web services': 215,
 'vulnerability assessment': 216,
 'structured query language': 217,
 'development': 218,
 'data analytics': 219,
 'visual design': 220,
 'software development': 221,
 'vulnerability management': 222,
 'dashboard': 223,
 'complementary colors': 224,
 'least privilege,principle of least privilege': 225,
 'exploratory data analysis': 226,
 'cybersecurity': 227,
 'application programming interface': 228,
 'data': 229,
 'testing processes': 230,
 'user interface design': 231,
 'code reusability': 232,
 'multi factor authentication': 233,
 'user feedback': 234,
 'design process': 235,
 'learning culture': 236,
 'information hierarchy': 237,
 'technical writer': 238,
 'build stability': 239,
 'compliance': 240,
 'model performance': 241,
 'cross platform testing': 242,
 'user navigation': 243,
 'data cleaning': 244,
 'data ethics': 245,
 'data protection': 246,
 'graphic design': 247,
 'database querying': 248,
 'information security compliance': 249,
 'data processing': 250,
 'principles': 251,
 'a/b testing': 252,
 'information security': 253,
 'defect identification': 254,
 'consistency,gestalt principles': 255,
 'vulnerability': 256,
 'data quality': 257,
 'color schemes': 258,
 'ci/cd': 259,
 'software quality assurance': 260,
 'git workflow': 261,
 'fail cheap': 262,
 'median': 263,
 'code quality': 264,
 'knowledge transfer': 265,
 'organizational security': 266,
 'elements': 267,
 'spear phishing': 268,
 'testing extremes': 269,
 'centralized version control': 270,
 'java': 271,
 'interaction design': 272,
 'user experience optimization': 273,
 'data analysis': 274,
 'testing metrics': 275,
 'code maintainability': 276,
 'encryption': 277,
 'usability evaluation': 278,
 'customer feedback': 279,
 'android development': 280,
 'mysql': 281,
 'mobile responsiveness': 282,
 'metadata': 283,
 'load testing': 284,
 'data visualization': 285,
 'information organization': 286,
 'simulation': 287,
 'it infrastructure': 288,
 'entrepreneurship': 289,
 'assembly language': 290,
 'automata theory': 291,
 'multimedia content creation': 292,
 'network administration': 293,
 'advanced programming': 294,
 'computing ethics': 295,
 'research methods': 296,
 'electronics': 297,
 'professional ethics': 298,
 'advanced software engineering': 299,
 'networking': 300,
 'it support': 301,
 'structured programming': 302,
 'engineering': 303,
 'modeling': 304,
 'architecture design': 305,
 'advanced mathematics': 306,
 'solution design': 307,
 'advanced information security': 308,
 'language theory': 309,
 'application development': 310,
 'presentation ': 311,
 'analysis': 312,
 'optimization': 313,
 'web development': 314,
 'technical communication': 315,
 'language design': 316,
 'data structures': 317,
 'multimedia technologies': 318,
 'professional development': 319,
 'computer architecture': 320,
 'application design': 321,
 'back end': 322,
 'system architecture': 323,
 'organizational management': 324,
 'syntax': 325,
 'coding': 326,
 'problem solving': 327,
 'research planning': 328,
 'technology business': 329,
 'databases': 330,
 'interface design': 331,
 'management principles': 332,
 'hardware': 333,
 'social issues': 334,
 'network management': 335,
 'operating systems': 336,
 'maintenance': 337,
 'quantitative analysis': 338,
 'programming languages': 339,
 'data communication': 340,
 'systems analysis': 341,
 'algorithms': 342,
 'technology integration': 343,
 'system integration': 344,
 'digital circuits': 345,
 'computer science': 346,
 'artificial intelligence': 347,
 'it industry': 348,
 'thesis development': 349,
 'complexity analysis': 350,
 'software design': 351,
 'mathematics': 352,
 'research methodology': 353,
 'logic design': 354,
 'integrative programming': 355,
 'front end': 356,
 'emerging technologies': 357,
 'ai foundations': 358,
 'algorithm design': 359,
 'software engineering': 360,
 'network protocols': 361,
 'system administration': 362,
 'administration': 363,
 'formal languages': 364,
 'leadership': 365,
 'ethical decision making': 366,
 'project management': 367,
 'research writing': 368}

In [27]:
# on acad_subject, "skill_list" column, make it all lower case
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [skill.lower() for skill in x])

In [28]:
# apply the skill mapping to acad_subject
acad_subject['skill_id'] = acad_subject['skill_list'].apply(lambda x: [skill_mapping[skill] for skill in x])
acad_subject.head()

,id,subject_name,description,skill_list,skill_id
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem solving, programming, algorithms]","[327, 37, 342]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]","[37, 326, 221]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a...","[294, 221, 342]"
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]","[352, 317, 346]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]","[304, 287, 312]"

In [29]:
subject_skill = acad_subject.explode('skill_id')
# get only question_id and skills_list
subject_skill = subject_skill[['id', 'skill_id']]
subject_skill

    id skill_id
0    1      327
0    1       37
0    1      342
1    2       37
1    2      326
..  ..      ...
41  42      301
41  42      337
42  43      334
42  43      319
42  43      348

[130 rows x 2 columns]

In [30]:
subject_skill = subject_skill.rename(columns={'id': 'subject_id', 'skill_id': 'skill_id'})

# add id 
subject_skill['id'] = subject_skill.index + 1
# reoder the columns
subject_skill = subject_skill[['id', 'subject_id', 'skill_id']]
subject_skill.head()

   id  subject_id skill_id
0   1           1      327
0   1           1       37
0   1           1      342
1   2           2       37
1   2           2      326

In [31]:
# save to csv
subject_skill.to_csv('../../static/csv/acad_subject_skill.csv', index=False)

In [32]:
acad_subject.head()

,id,subject_name,description,skill_list,skill_id
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem solving, programming, algorithms]","[327, 37, 342]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]","[37, 326, 221]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a...","[294, 221, 342]"
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]","[352, 317, 346]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]","[304, 287, 312]"

In [33]:
# get only the id, subject_name, and description columns
acad_subject = acad_subject[['id', 'subject_name', 'description']]

# save to csv
acad_subject.to_csv('../../static/csv/acad_subject.csv', index=False)

In [34]:
# save website_skill to csv
website_skill.to_csv('../../static/csv/website_skill.csv', index=False)

In [36]:
# load acad_subject_skills.csv
subject_skill = pd.read_csv('../../static/csv/acad_subject_skills.csv')
subject_skill.head()

   id  subject_id  skill_id
0   1           1       153
1   2           1       131
2   3           1        70
3   4           2       131
4   5           2       106

In [37]:
# delete column id
del subject_skill['id']
# create id column, starint from 1
subject_skill['id'] = subject_skill.index + 1
# reorder the columns
subject_skill = subject_skill[['id', 'subject_id', 'skill_id']]
subject_skill.head()

   id  subject_id  skill_id
0   1           1       153
1   2           1       131
2   3           1        70
3   4           2       131
4   5           2       106

In [38]:
subject_skill.tail()

      id  subject_id  skill_id
125  126          42       138
126  127          42        73
127  128          43       140
128  129          43       125
129  130          43       152

In [39]:
# save csv
subject_skill.to_csv('../../static/csv/acad_subject_skills.csv', index=False)

# Fixing id

In [1]:
import numpy as np
import pandas as pd

In [2]:
# load csv acad_subject_skills
subject_skill = pd.read_csv('../../static/csv/acad_subject_skills.csv')
subject_skill.head()

   id  subject_id  skill_id
0   1           1       153
1   2           1       131
2   3           1        70
3   4           2       131
4   5           2       106

In [3]:
subject_skill.tail()

      id  subject_id  skill_id
125  126          42       138
126  127          42        73
127  128          43       140
128  129          43       125
129  130          43       152