In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
df = pd.read_csv('../../static/csv/test_2.csv')
df.head()

,question_id,question,description,options,correct_option,field_id,skills_list
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"['To track changes in code', 'To format text',...",0,1,"['Version Control','Source Code Management','C..."
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"['Don't Repeat Yourself', 'Design Reusable Yie...",0,1,"['Software Development Principles','DRY Princi..."
2,3,Which programming language is known for its us...,Identify the programming language commonly ass...,"['Java', 'Python', 'Ruby', 'C++']",0,1,"['Android Development','Java Programming','Mob..."
3,4,"What does the term ""API"" stand for in software...",Select one option you think is right.,"['Application Programming Interface','Advanced...",0,1,"['API','Software Integration','Web Services']"
4,5,What is the primary purpose of unit testing in...,Select the main objective of unit testing.,"['To test individual components or functions',...",0,1,"['Unit Testing','Software Testing','Code Quali..."

In [3]:
# Convert the string representation of lists into actual lists
df['skills_list'] = df['skills_list'].apply(ast.literal_eval)
df.head()

,question_id,question,description,options,correct_option,field_id,skills_list
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"['To track changes in code', 'To format text',...",0,1,"[Version Control, Source Code Management, Coll..."
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"['Don't Repeat Yourself', 'Design Reusable Yie...",0,1,"[Software Development Principles, DRY Principl..."
2,3,Which programming language is known for its us...,Identify the programming language commonly ass...,"['Java', 'Python', 'Ruby', 'C++']",0,1,"[Android Development, Java Programming, Mobile..."
3,4,"What does the term ""API"" stand for in software...",Select one option you think is right.,"['Application Programming Interface','Advanced...",0,1,"[API, Software Integration, Web Services]"
4,5,What is the primary purpose of unit testing in...,Select the main objective of unit testing.,"['To test individual components or functions',...",0,1,"[Unit Testing, Software Testing, Code Quality]"

In [4]:
# to lower case
df['skills_list'] = df['skills_list'].apply(lambda x: [y.lower() for y in x])
df.head()

,question_id,question,description,options,correct_option,field_id,skills_list
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"['To track changes in code', 'To format text',...",0,1,"[version control, source code management, coll..."
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"['Don't Repeat Yourself', 'Design Reusable Yie...",0,1,"[software development principles, dry principl..."
2,3,Which programming language is known for its us...,Identify the programming language commonly ass...,"['Java', 'Python', 'Ruby', 'C++']",0,1,"[android development, java programming, mobile..."
3,4,"What does the term ""API"" stand for in software...",Select one option you think is right.,"['Application Programming Interface','Advanced...",0,1,"[api, software integration, web services]"
4,5,What is the primary purpose of unit testing in...,Select the main objective of unit testing.,"['To test individual components or functions',...",0,1,"[unit testing, software testing, code quality]"

In [5]:
# # save to csv
df.to_csv('../../static/csv/test_3.csv', index=False)

In [6]:
# replace '-' with ' '
df['skills_list'] = df['skills_list'].apply(lambda x: [y.replace('-', ' ') for y in x])

In [7]:
# remove strings 'skills' and 'skill'
df['skills_list'] = df['skills_list'].apply(lambda x: [y.replace('skills', '') for y in x])

In [8]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skills_list in df['skills_list'] for skill in skills_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

['version control', 'source code management', 'collaborative development', 'software development principles', 'dry principle', 'code reusability', 'android development', 'java programming', 'mobile app development', 'api', 'software integration', 'web services', 'unit testing', 'software testing', 'code quality', 'data cleaning', 'data preprocessing', 'data analysis', 'data visualization', 'data analytics', 'data dashboards', 'tableau', 'data visualization', 'data analytics', 'data dashboards', 'tableau', 'sql', 'database querying', 'database management', 'statistics', 'median', 'data analysis', 'design principles', 'consistency in design', 'user interface design', 'color theory', 'complementary colors', 'color schemes', 'user testing', 'user experience testing', 'usability evaluation', 'design tools', 'wireframing', 'prototyping', 'ui/ux design software', 'product management', 'product manager', 'feature prioritization', 'product roadmap', 'product planning', 'product strategy', 'agile methodology', 'iterative development', 'customer feedback', 'scrum', 'product strategy', 'product documentation', 'product goals', 'mvp', 'product development', 'product launch', 'software testing', 'quality assurance', 'defect detection', 'regression testing', 'software testing', 'testing changes', 'load testing', 'software testing', 'performance testing', 'usability testing', 'user experience testing', 'user centered design', 'usability testing', 'user experience testing', 'user centered design', 'usability testing', 'user experience testing', 'user centered design', 'identity verification', 'authentication', 'access control', 'identity verification', 'authentication', 'access control', 'identity verification', 'authentication', 'access control', 'access control', 'security principles', 'authorization', 'access control', 'security principles', 'authorization', 'version control', 'git', 'svn', 'source code management', 'git', 'version control', 'collaborative development', 'code review', 'software development', 'collaborative development', 'continuous integration', 'ci/cd', 'software development practices', 'software architecture', 'software development', 'role of a software architect', 'devops', 'collaboration', 'continuous integration', 'software development practices', 'restful api', 'web services', 'api design', 'software development', 'agile software development', 'agile manifesto', 'scrum', 'software development principles', 'scrum framework', 'product owner', 'agile development', 'scrum roles', 'solid principles', 'object oriented design', 'software architecture', 'code maintainability', 'exploratory data analysis', 'data science', 'data analysis', 'statistical analysis', 'data preprocessing', 'machine learning', 'feature engineering', 'model performance', 'data dictionary', 'database management', 'metadata', 'data governance', 'big data', 'data processing', 'data analytics', 'nosql', 'data scientist', 'data analysis', 'predictive modeling', 'data driven decision making', 'data governance', 'data management', 'data quality', 'compliance', 'machine learning', 'data analysis', 'predictive modeling', 'pattern recognition', 'a/b testing', 'experimentation', 'data driven decision making', 'statistical analysis', 'data ethics', 'ethical data use', 'privacy', 'responsible ai', 'data security', 'data management', 'information security', 'cybersecurity', 'typography', 'graphic design', 'visual communication', 'brand identity', 'responsive design', 'user experience', 'web design', 'mobile responsiveness', 'information architecture', 'web design', 'user navigation', 'content organization', 'color psychology', 'design principles', 'emotional design', 'visual perception', 'motion design', 'user interfaces', 'interactive design', 'animation', 'user personas', 'user centered design', 'ux design', 'empathy in design', 'accessibility', 'inclusive design', 'usability', 'design ethics', 'prototyping', 'design process', 'user testing', 'iterative design', 'wireframing', 'ui/ux design', 'user interface', 'information hierarchy', 'interaction design', 'user interface design', 'usability principles', 'design guidelines', 'scrum framework', 'agile development', 'scrum master', 'agile practices', 'iterative development', 'product success', 'agile principles', 'adaptability in development', 'product owner', 'agile development', 'product backlog', 'stakeholder collaboration', 'user feedback', 'product development', 'usability testing', 'iterative design', 'lean product development', 'lean thinking', 'agile principles', 'continuous improvement', 'mvp', 'product development', 'product launch', 'lean startup', 'fail fast', 'fail cheap', 'innovation', 'risk taking', 'learning culture', 'technical writer', 'documentation', 'software development process', 'knowledge transfer', 'devops', 'software development lifecycle', 'continuous integration', 'automation', 'a/b testing', 'product development', 'user experience optimization', 'feature evaluation', 'two factor authentication', 'cybersecurity', 'account security', 'authentication methods', 'security analyst', 'cybersecurity', 'information security', 'security measures', 'endpoint security', 'cybersecurity', 'network security', 'device protection', 'social engineering', 'cybersecurity threats', 'information manipulation', 'phishing attacks', 'security policy', 'organizational security', 'information security compliance', 'security measures', 'penetration testing', 'cybersecurity', 'security assessment', 'vulnerability identification', 'information security', 'security principles', 'data protection', 'security controls', 'biometric authentication', 'user verification', 'cybersecurity', 'identity management', 'vulnerability management', 'cybersecurity', 'security assessment', 'threat mitigation', 'security incident response plan', 'cybersecurity', 'incident management', 'security incident handling', 'user acceptance testing', 'software testing', 'quality assurance', 'acceptance criteria', 'test engineer', 'software testing', 'quality assurance', 'testing processes', 'exploratory testing', 'software testing', 'defect identification', 'testing methods', 'stress testing', 'software quality assurance', 'performance evaluation', 'testing extremes', 'smoke testing', 'software testing', 'build stability', 'testing phases', 'black box testing', 'software quality assurance', 'defect identification', 'testing techniques', 'regression testing', 'software development life cycle', 'quality assurance', 'testing existing functionality', 'automated testing', 'software quality assurance', 'testing efficiency', 'test automation tools', 'code coverage', 'software testing', 'testing metrics', 'test comprehensiveness', 'compatibility testing', 'software quality assurance', 'cross platform testing', 'environment compatibility']

In [11]:
len(all_skills)

231

In [10]:
# remove duplicates
all_skills = list(set(all_skills))

In [12]:
# sample skills from all_skills
sample = np.random.choice(all_skills, 10)
print(sample)

['information architecture' 'data preprocessing' 'security policy'
 'lean startup' 'user navigation' 'security measures' 'data quality'
 'regression testing' 'color theory' 'role of a software architect']

In [13]:
# get unique skills
unique_skills = list(set(all_skills))
print(unique_skills)
# count the number of unique skills
print(len(unique_skills))

['code review', 'security incident response plan', 'software development process', 'data analytics', 'code maintainability', 'biometric authentication', 'defect detection', 'iterative development', 'cybersecurity', 'usability', 'information security', 'interactive design', 'incident management', 'data scientist', 'data driven decision making', 'automation', 'color schemes', 'statistical analysis', 'endpoint security', 'information architecture', 'security analyst', 'threat mitigation', 'automated testing', 'defect identification', 'agile manifesto', 'product documentation', 'usability evaluation', 'adaptability in development', 'lean thinking', 'risk taking', 'median', 'authentication methods', 'version control', 'code reusability', 'api', 'typography', 'machine learning', 'dry principle', 'user experience', 'acceptance criteria', 'empathy in design', 'prototyping', 'organizational security', 'database management', 'performance evaluation', 'data governance', 'feature prioritization', 'environment compatibility', 'security measures', 'account security', 'visual perception', 'web services', 'exploratory testing', 'color psychology', 'load testing', 'software development principles', 'user centered design', 'visual communication', 'technical writer', 'data protection', 'api design', 'user acceptance testing', 'software development lifecycle', 'customer feedback', 'user experience testing', 'privacy', 'role of a software architect', 'continuous improvement', 'mobile responsiveness', 'ux design', 'knowledge transfer', 'fail fast', 'identity management', 'data processing', 'data quality', 'collaborative development', 'product strategy', 'java programming', 'software development practices', 'lean product development', 'data dashboards', 'scrum roles', 'compatibility testing', 'continuous integration', 'experimentation', 'ui/ux design', 'product management', 'user interfaces', 'color theory', 'learning culture', 'black box testing', 'design process', 'software development life cycle', 'data cleaning', 'information manipulation', 'identity verification', 'big data', 'pattern recognition', 'usability principles', 'tableau', 'lean startup', 'software architecture', 'data management', 'product success', 'design ethics', 'data visualization', 'device protection', 'data security', 'graphic design', 'statistics', 'data dictionary', 'source code management', 'cybersecurity threats', 'solid principles', 'exploratory data analysis', 'testing extremes', 'predictive modeling', 'testing methods', 'design principles', 'sql', 'accessibility', 'smoke testing', 'stress testing', 'user personas', 'agile development', 'interaction design', 'authorization', 'content organization', 'ethical data use', 'git', 'responsive design', 'build stability', 'responsible ai', 'documentation', 'testing phases', 'testing efficiency', 'product development', 'collaboration', 'authentication', 'compliance', 'product owner', 'scrum framework', 'test comprehensiveness', 'android development', 'user testing', 'testing techniques', 'usability testing', 'mvp', 'product planning', 'regression testing', 'brand identity', 'web design', 'emotional design', 'feature evaluation', 'network security', 'security principles', 'model performance', 'cross platform testing', 'user interface design', 'scrum', 'product goals', 'user experience optimization', 'access control', 'inclusive design', 'software integration', 'agile software development', 'phishing attacks', 'security incident handling', 'agile methodology', 'security controls', 'software development', 'fail cheap', 'object oriented design', 'devops', 'complementary colors', 'testing changes', 'vulnerability management', 'ci/cd', 'vulnerability identification', 'database querying', 'agile practices', 'innovation', 'software testing', 'test automation tools', 'product manager', 'iterative design', 'code coverage', 'design tools', 'security assessment', 'data analysis', 'consistency in design', 'information hierarchy', 'design guidelines', 'nosql', 'data preprocessing', 'user interface', 'product roadmap', 'agile principles', 'unit testing', 'product launch', 'testing processes', 'mobile app development', 'ui/ux design software', 'restful api', 'a/b testing', 'user navigation', 'motion design', 'performance testing', 'feature engineering', 'animation', 'product backlog', 'data science', 'information security compliance', 'svn', 'testing existing functionality', 'user verification', 'stakeholder collaboration', 'quality assurance', 'two factor authentication', 'penetration testing', 'user feedback', 'security policy', 'social engineering', 'software quality assurance', 'test engineer', 'wireframing', 'metadata', 'scrum master', 'testing metrics', 'data ethics', 'code quality']
231

In [14]:
# make it a dataframe
unique_skills_df = pd.DataFrame(unique_skills, columns=['skill'])
# add id column, starting from 1
unique_skills_df['id'] = np.arange(len(unique_skills_df)) + 1
# reorder columns
unique_skills_df = unique_skills_df[['id', 'skill']]
unique_skills_df

      id                            skill
0      1                      code review
1      2  security incident response plan
2      3     software development process
3      4                   data analytics
4      5             code maintainability
..   ...                              ...
226  227                         metadata
227  228                     scrum master
228  229                  testing metrics
229  230                      data ethics
230  231                     code quality

[231 rows x 2 columns]

In [12]:
# save to csv
unique_skills_df.to_csv('../../static/csv/skill_1.csv', index=False)

In [13]:
# load the csv file
unique_skills_df = pd.read_csv('../../static/csv/skill_1.csv')

In [14]:
skill_mapping = unique_skills_df.set_index('skill')['id'].to_dict()

In [15]:
skill_mapping

{'security analyst': 1,
 'authentication': 2,
 'ui/ux design software': 3,
 'product manager': 4,
 'testing techniques': 5,
 'content organization': 6,
 'data analysis': 7,
 'authentication methods': 8,
 'user centered design': 9,
 'penetration testing': 10,
 'data protection': 11,
 'testing methods': 12,
 'mvp': 13,
 'sql': 14,
 'scrum master': 15,
 'lean startup': 16,
 'role of a software architect': 17,
 'design ethics': 18,
 'defect detection': 19,
 'black box testing': 20,
 'software development lifecycle': 21,
 'feature prioritization': 22,
 'statistical analysis': 23,
 'unit testing': 24,
 'security incident handling': 25,
 'acceptance criteria': 26,
 'android development': 27,
 'color psychology': 28,
 'devops': 29,
 'information hierarchy': 30,
 'data management': 31,
 'inclusive design': 32,
 'design guidelines': 33,
 'usability testing': 34,
 'software architecture': 35,
 'nosql': 36,
 'agile development': 37,
 'testing existing functionality': 38,
 'user feedback': 39,
 'visual perception': 40,
 'data visualization': 41,
 'database management': 42,
 'restful api': 43,
 'biometric authentication': 44,
 'quality assurance': 45,
 'testing changes': 46,
 'complementary colors': 47,
 'test automation tools': 48,
 'testing metrics': 49,
 'prototyping': 50,
 'user experience': 51,
 'risk taking': 52,
 'design tools': 53,
 'ethical data use': 54,
 'ui/ux design': 55,
 'code review': 56,
 'agile principles': 57,
 'cybersecurity': 58,
 'product launch': 59,
 'responsible ai': 60,
 'data cleaning': 61,
 'software development': 62,
 'stress testing': 63,
 'performance evaluation': 64,
 'product management': 65,
 'device protection': 66,
 'user interface': 67,
 'code coverage': 68,
 'user experience testing': 69,
 'cross platform testing': 70,
 'user acceptance testing': 71,
 'automation': 72,
 'product roadmap': 73,
 'identity verification': 74,
 'data quality': 75,
 'vulnerability identification': 76,
 'pattern recognition': 77,
 'testing phases': 78,
 'iterative development': 79,
 'learning culture': 80,
 'big data': 81,
 'information security': 82,
 'performance testing': 83,
 'lean product development': 84,
 'environment compatibility': 85,
 'product development': 86,
 'scrum framework': 87,
 'adaptability in development': 88,
 'svn': 89,
 'two factor authentication': 90,
 'statistics': 91,
 'color theory': 92,
 'wireframing': 93,
 'authorization': 94,
 'ci/cd': 95,
 'agile software development': 96,
 'data science': 97,
 'usability evaluation': 98,
 'information security compliance': 99,
 'data dashboards': 100,
 'vulnerability management': 101,
 'testing processes': 102,
 'web services': 103,
 'knowledge transfer': 104,
 'security principles': 105,
 'agile methodology': 106,
 'typography': 107,
 'stakeholder collaboration': 108,
 'technical writer': 109,
 'exploratory data analysis': 110,
 'software testing': 111,
 'user verification': 112,
 'organizational security': 113,
 'git': 114,
 'agile manifesto': 115,
 'code quality': 116,
 'data processing': 117,
 'information architecture': 118,
 'access control': 119,
 'load testing': 120,
 'lean thinking': 121,
 'social engineering': 122,
 'security assessment': 123,
 'data preprocessing': 124,
 'api design': 125,
 'collaborative development': 126,
 'api': 127,
 'iterative design': 128,
 'interaction design': 129,
 'version control': 130,
 'security controls': 131,
 'software quality assurance': 132,
 'model performance': 133,
 'software development life cycle': 134,
 'code reusability': 135,
 'tableau': 136,
 'machine learning': 137,
 'incident management': 138,
 'web design': 139,
 'empathy in design': 140,
 'collaboration': 141,
 'continuous integration': 142,
 'mobile responsiveness': 143,
 'endpoint security': 144,
 'data scientist': 145,
 'software integration': 146,
 'product owner': 147,
 'brand identity': 148,
 'data governance': 149,
 'java programming': 150,
 'data ethics': 151,
 'information manipulation': 152,
 'build stability': 153,
 'data analytics': 154,
 'software development practices': 155,
 'cybersecurity threats': 156,
 'compatibility testing': 157,
 'smoke testing': 158,
 'object oriented design': 159,
 'user navigation': 160,
 'user personas': 161,
 'automated testing': 162,
 'test comprehensiveness': 163,
 'emotional design': 164,
 'regression testing': 165,
 'product goals': 166,
 'a/b testing': 167,
 'fail cheap': 168,
 'security measures': 169,
 'graphic design': 170,
 'customer feedback': 171,
 'user interface design': 172,
 'usability principles': 173,
 'product success': 174,
 'median': 175,
 'documentation': 176,
 'solid principles': 177,
 'visual communication': 178,
 'consistency in design': 179,
 'code maintainability': 180,
 'security policy': 181,
 'interactive design': 182,
 'mobile app development': 183,
 'design principles': 184,
 'user experience optimization': 185,
 'data dictionary': 186,
 'data security': 187,
 'threat mitigation': 188,
 'feature evaluation': 189,
 'scrum': 190,
 'design process': 191,
 'dry principle': 192,
 'software development process': 193,
 'exploratory testing': 194,
 'privacy': 195,
 'experimentation': 196,
 'testing efficiency': 197,
 'software development principles': 198,
 'database querying': 199,
 'continuous improvement': 200,
 'network security': 201,
 'account security': 202,
 'user testing': 203,
 'phishing attacks': 204,
 'security incident response plan': 205,
 'identity management': 206,
 'accessibility': 207,
 'source code management': 208,
 'ux design': 209,
 'color schemes': 210,
 'product documentation': 211,
 'user interfaces': 212,
 'animation': 213,
 'feature engineering': 214,
 'metadata': 215,
 'scrum roles': 216,
 'defect identification': 217,
 'innovation': 218,
 'data driven decision making': 219,
 'compliance': 220,
 'predictive modeling': 221,
 'product backlog': 222,
 'fail fast': 223,
 'product strategy': 224,
 'usability': 225,
 'testing extremes': 226,
 'responsive design': 227,
 'product planning': 228,
 'agile practices': 229,
 'test engineer': 230,
 'motion design': 231}

In [16]:
df['skills_list'] = df['skills_list'].apply(lambda skills: [skill_mapping.get(skill) for skill in skills if skill in skill_mapping])
df.head()

,question_id,question,description,options,correct_option,field_id,skills_list
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"['To track changes in code', 'To format text',...",0,1,"[130, 208, 126]"
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"['Don't Repeat Yourself', 'Design Reusable Yie...",0,1,"[198, 192, 135]"
2,3,Which programming language is known for its us...,Identify the programming language commonly ass...,"['Java', 'Python', 'Ruby', 'C++']",0,1,"[27, 150, 183]"
3,4,"What does the term ""API"" stand for in software...",Select one option you think is right.,"['Application Programming Interface','Advanced...",0,1,"[127, 146, 103]"
4,5,What is the primary purpose of unit testing in...,Select the main objective of unit testing.,"['To test individual components or functions',...",0,1,"[24, 111, 116]"

In [17]:
test_df = df.explode('skills_list')
# get only question_id and skills_list
test_df = test_df[['question_id', 'skills_list']]
test_df

    question_id skills_list
0             1         130
0             1         208
0             1         126
1             2         198
1             2         192
..          ...         ...
88           89         163
89           90         157
89           90         132
89           90          70
89           90          85

[331 rows x 2 columns]

In [18]:
test_df = test_df.rename(columns={'skills_list': 'skill_id'})
test_df

    question_id skill_id
0             1      130
0             1      208
0             1      126
1             2      198
1             2      192
..          ...      ...
88           89      163
89           90      157
89           90      132
89           90       70
89           90       85

[331 rows x 2 columns]

In [19]:
# add test_skill_id column
test_df['id'] = np.arange(len(test_df)) + 1
test_df

    question_id skill_id   id
0             1      130    1
0             1      208    2
0             1      126    3
1             2      198    4
1             2      192    5
..          ...      ...  ...
88           89      163  327
89           90      157  328
89           90      132  329
89           90       70  330
89           90       85  331

[331 rows x 3 columns]

In [20]:
# reorder columns
test_df = test_df[['id', 'question_id', 'skill_id']]
test_df

     id  question_id skill_id
0     1            1      130
0     2            1      208
0     3            1      126
1     4            2      198
1     5            2      192
..  ...          ...      ...
88  327           89      163
89  328           90      157
89  329           90      132
89  330           90       70
89  331           90       85

[331 rows x 3 columns]

In [21]:
# save to csv
test_df.to_csv('../../static/csv/assessment_test_skills_2.csv', index=False)

In [22]:
df = pd.read_csv('../../static/csv/assessment_test_skills_2.csv')
df.head()

   id  question_id  skill_id
0   1            1       130
1   2            1       208
2   3            1       126
3   4            2       198
4   5            2       192

In [25]:
df.tail()

      id  test_id  skill_id
326  327       89       163
327  328       90       157
328  329       90       132
329  330       90        70
330  331       90        85

In [35]:
# # reodercolumns
# df = df[['id', 'skill_id','test_id' ]]
# df.head()

KeyError: "['test_id'] not in index"

In [23]:
# rename column question_id to test_id
df = df.rename(columns={'question_id': 'test_id'})

In [24]:
# save to csv
df.to_csv('../../static/csv/assessment_test_skills.csv', index=False)

# For Test_3, that have more test questions

In [35]:
import pandas as pd
import numpy as np
import ast

In [57]:
df = pd.read_csv('../../static/csv/test_3.csv')
df.head(2)

,question_id,question,description,options,correct_option,field_id,skills_list
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"['To track changes in code', 'To format text',...",0,1,"['version control', 'source code management', ..."
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"['Don't Repeat Yourself', 'Design Reusable Yie...",0,1,"['software development principles', 'dry princ..."

In [64]:
df2 = pd.read_csv('../../static/csv/test_4.csv')
df2.head(2)

,question_id,question,description,options,correct_option,field_id,skills_list
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"[""To track changes in code"", ""To format text"",...",0,1,"['Version Control','Source Code Management','C..."
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"[""Don""t Repeat Yourself"", ""Design Reusable Yie...",0,1,"[""Software Development Principles"",""DRY Princi..."

In [62]:
# on options column replace ' wtih ""
df2['options'] = df2['options'].apply(lambda x: x.replace("'", '"'))
df2.head(2)

,question_id,question,description,options,correct_option,field_id,skills_list
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"[""To track changes in code"", ""To format text"",...",0,1,"['Version Control','Source Code Management','C..."
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"[""Don""t Repeat Yourself"", ""Design Reusable Yie...",0,1,"['Software Development Principles','DRY Princi..."

In [63]:
# remove columns kills_list
df2 = df2.drop(columns=['skills_list'])

In [52]:
df2.head(2)

,question_id,question,description,options,correct_option,field_id
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"[""To track changes in code"", ""To format text"",...",0,1
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"[""Don""t Repeat Yourself"", ""Design Reusable Yie...",0,1

In [54]:
# convert options to JSON format
import json
# make to JSON string
df2['options'] = df2['options'].apply(lambda x: json.dumps(x))
df2.head(2)

,question_id,question,description,options,correct_option,field_id
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"""[\""To track changes in code\"", \""To format te...",0,1
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"""[\""Don\""t Repeat Yourself\"", \""Design Reusabl...",0,1

In [55]:
# save to csv
df2.to_csv('../../static/csv/assessment_test.csv', index=False)

In [6]:
# Convert the string representation of lists into actual lists
df['skills_list'] = df['skills_list'].apply(ast.literal_eval)
df.head(3)

,question_id,question,description,options,correct_option,field_id,skills_list
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"['To track changes in code', 'To format text',...",0,1,"[version control, source code management, coll..."
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"['Don't Repeat Yourself', 'Design Reusable Yie...",0,1,"[software development principles, dry principl..."
2,3,Which programming language is known for its us...,Identify the programming language commonly ass...,"['Java', 'Python', 'Ruby', 'C++']",0,1,"[android development, java programming, mobile..."

In [7]:
# to lower case
df['skills_list'] = df['skills_list'].apply(lambda x: [y.lower() for y in x])
df.head()

,question_id,question,description,options,correct_option,field_id,skills_list
0,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"['To track changes in code', 'To format text',...",0,1,"[version control, source code management, coll..."
1,2,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"['Don't Repeat Yourself', 'Design Reusable Yie...",0,1,"[software development principles, dry principl..."
2,3,Which programming language is known for its us...,Identify the programming language commonly ass...,"['Java', 'Python', 'Ruby', 'C++']",0,1,"[android development, java programming, mobile..."
3,4,"What does the term ""API"" stand for in software...",Select one option you think is right.,"['Application Programming Interface','Advanced...",0,1,"[api, software integration, web services]"
4,5,What is the primary purpose of unit testing in...,Select the main objective of unit testing.,"['To test individual components or functions',...",0,1,"[unit testing, software testing, code quality]"

In [8]:
# remove strings 'skills' and 'skill'
df['skills_list'] = df['skills_list'].apply(lambda x: [y.replace('skills', '') for y in x])
df['skills_list'] = df['skills_list'].apply(lambda x: [y.replace('skill', '') for y in x])

In [10]:
# strip
df['skills_list'] = df['skills_list'].apply(lambda x: [y.strip() for y in x])
# replace '-' to ' '
df['skills_list'] = df['skills_list'].apply(lambda x: [y.replace('-', ' ') for y in x])

In [11]:
# remove empty
df['skills_list'] = df['skills_list'].apply(lambda x: [y for y in x if y != ''])

In [12]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skills_list in df['skills_list'] for skill in skills_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

['version control', 'source code management', 'collaborative development', 'software development principles', 'dry principle', 'code reusability', 'android development', 'java programming', 'mobile app development', 'api', 'software integration', 'web services', 'unit testing', 'software testing', 'code quality', 'data cleaning', 'data preprocessing', 'data analysis', 'data visualization', 'data analytics', 'data dashboards', 'tableau', 'data visualization', 'data analytics', 'data dashboards', 'tableau', 'sql', 'database querying', 'database management', 'statistics', 'median', 'data analysis', 'design principles', 'consistency in design', 'user interface design', 'color theory', 'complementary colors', 'color schemes', 'user testing', 'user experience testing', 'usability evaluation', 'design tools', 'wireframing', 'prototyping', 'ui/ux design software', 'product management', 'product manager', 'feature prioritization', 'product roadmap', 'product planning', 'product strategy', 'agile methodology', 'iterative development', 'customer feedback', 'scrum', 'product strategy', 'product documentation', 'product goals', 'mvp', 'product development', 'product launch', 'software testing', 'quality assurance', 'defect detection', 'regression testing', 'software testing', 'testing changes', 'load testing', 'software testing', 'performance testing', 'usability testing', 'user experience testing', 'user centered design', 'usability testing', 'user experience testing', 'user centered design', 'usability testing', 'user experience testing', 'user centered design', 'identity verification', 'authentication', 'access control', 'identity verification', 'authentication', 'access control', 'identity verification', 'authentication', 'access control', 'access control', 'security principles', 'authorization', 'access control', 'security principles', 'authorization', 'version control', 'git', 'svn', 'source code management', 'git', 'version control', 'collaborative development', 'code review', 'software development', 'collaborative development', 'continuous integration', 'ci/cd', 'software development practices', 'software architecture', 'software development', 'role of a software architect', 'devops', 'collaboration', 'continuous integration', 'software development practices', 'restful api', 'web services', 'api design', 'software development', 'agile software development', 'agile manifesto', 'scrum', 'software development principles', 'scrum framework', 'product owner', 'agile development', 'scrum roles', 'solid principles', 'object oriented design', 'software architecture', 'code maintainability', 'exploratory data analysis', 'data science', 'data analysis', 'statistical analysis', 'data preprocessing', 'machine learning', 'feature engineering', 'model performance', 'data dictionary', 'database management', 'metadata', 'data governance', 'big data', 'data processing', 'data analytics', 'nosql', 'data scientist', 'data analysis', 'predictive modeling', 'data driven decision making', 'data governance', 'data management', 'data quality', 'compliance', 'machine learning', 'data analysis', 'predictive modeling', 'pattern recognition', 'a/b testing', 'experimentation', 'data driven decision making', 'statistical analysis', 'data ethics', 'ethical data use', 'privacy', 'responsible ai', 'data security', 'data management', 'information security', 'cybersecurity', 'typography', 'graphic design', 'visual communication', 'brand identity', 'responsive design', 'user experience', 'web design', 'mobile responsiveness', 'information architecture', 'web design', 'user navigation', 'content organization', 'color psychology', 'design principles', 'emotional design', 'visual perception', 'motion design', 'user interfaces', 'interactive design', 'animation', 'user personas', 'user centered design', 'ux design', 'empathy in design', 'accessibility', 'inclusive design', 'usability', 'design ethics', 'prototyping', 'design process', 'user testing', 'iterative design', 'wireframing', 'ui/ux design', 'user interface', 'information hierarchy', 'interaction design', 'user interface design', 'usability principles', 'design guidelines', 'scrum framework', 'agile development', 'scrum master', 'agile practices', 'iterative development', 'product success', 'agile principles', 'adaptability in development', 'product owner', 'agile development', 'product backlog', 'stakeholder collaboration', 'user feedback', 'product development', 'usability testing', 'iterative design', 'lean product development', 'lean thinking', 'agile principles', 'continuous improvement', 'mvp', 'product development', 'product launch', 'lean startup', 'fail fast', 'fail cheap', 'innovation', 'risk taking', 'learning culture', 'technical writer', 'documentation', 'software development process', 'knowledge transfer', 'devops', 'software development lifecycle', 'continuous integration', 'automation', 'a/b testing', 'product development', 'user experience optimization', 'feature evaluation', 'two factor authentication', 'cybersecurity', 'account security', 'authentication methods', 'security analyst', 'cybersecurity', 'information security', 'security measures', 'endpoint security', 'cybersecurity', 'network security', 'device protection', 'social engineering', 'cybersecurity threats', 'information manipulation', 'phishing attacks', 'security policy', 'organizational security', 'information security compliance', 'security measures', 'penetration testing', 'cybersecurity', 'security assessment', 'vulnerability identification', 'information security', 'security principles', 'data protection', 'security controls', 'biometric authentication', 'user verification', 'cybersecurity', 'identity management', 'vulnerability management', 'cybersecurity', 'security assessment', 'threat mitigation', 'security incident response plan', 'cybersecurity', 'incident management', 'security incident handling', 'user acceptance testing', 'software testing', 'quality assurance', 'acceptance criteria', 'test engineer', 'software testing', 'quality assurance', 'testing processes', 'exploratory testing', 'software testing', 'defect identification', 'testing methods', 'stress testing', 'software quality assurance', 'performance evaluation', 'testing extremes', 'smoke testing', 'software testing', 'build stability', 'testing phases', 'black box testing', 'software quality assurance', 'defect identification', 'testing techniques', 'regression testing', 'software development life cycle', 'quality assurance', 'testing existing functionality', 'automated testing', 'software quality assurance', 'testing efficiency', 'test automation tools', 'code coverage', 'software testing', 'testing metrics', 'test comprehensiveness', 'compatibility testing', 'software quality assurance', 'cross platform testing', 'environment compatibility']

In [15]:
len(all_skills)

231

In [14]:
# remove duplicates
all_skills = list(set(all_skills))

### Since all skils are similar to current skills from before, we don't need to add it on the skill list

lets check if there are any unique skills from this

In [24]:
# load skill_4.csv
skill_df = pd.read_csv('../../static/csv/skill_4.csv')

In [18]:
# into list
skill_list = skill_df['skill'].tolist()

In [19]:
# get sample 
sample = np.random.choice(skill_list, 10)
print(sample)

['data conversion' 'executive management' 'unix administration'
 'dreamweaver' 'ux' 'web application developer' 'communication' 'prime'
 'system admin' 'sap scripts']

In [20]:
# check if there are skills from all_skills that are not in skill_list
for skill in all_skills:
    if skill not in skill_list:
        print(skill)

In [23]:
# get unique skills that are not in skill_list
unique_skills = [skill for skill in all_skills if skill not in skill_list]
print(unique_skills)

[]

In [25]:
skill_mapping = skill_df.set_index('skill')['id'].to_dict()

In [26]:
df.sample(3)

,question_id,question,description,options,correct_option,field_id,skills_list
68,69,How does DevOps contribute to the software dev...,Explain the principles and benefits of integra...,['Facilitates collaboration between developmen...,0,4,"[devops, software development lifecycle, conti..."
40,41,What is the importance of exploratory data ana...,Explain the significance of exploratory data a...,['Gain insights into data distributions and pa...,0,2,"[exploratory data analysis, data science, data..."
83,84,Define the term 'Stress Testing' in the contex...,Explain what Stress Testing involves and its s...,['Assesses software behavior under extreme con...,0,5,"[stress testing, software quality assurance, p..."

In [27]:
# apply skill_mapping to skills_list
df['skills_list'] = df['skills_list'].apply(lambda skills: [skill_mapping.get(skill) for skill in skills if skill in skill_mapping])
df.sample(3)

In [29]:
# explode skills_list
df = df.explode('skills_list')

In [30]:
# get only question_id and skills_list
df = df[['question_id', 'skills_list']]
df.head()

   question_id skills_list
0            1         130
0            1         208
0            1         126
1            2         198
1            2         192

In [31]:
# rename
df = df.rename(columns={'skills_list': 'skill_id'})
df.head()

   question_id skill_id
0            1      130
0            1      208
0            1      126
1            2      198
1            2      192

In [32]:
# add skill_id column
df['id'] = np.arange(len(df)) + 1
df.head()

   question_id skill_id  id
0            1      130   1
0            1      208   2
0            1      126   3
1            2      198   4
1            2      192   5

In [33]:
# reorder columns
df = df[['id', 'question_id', 'skill_id']]
df.head()

   id  question_id skill_id
0   1            1      130
0   2            1      208
0   3            1      126
1   4            2      198
1   5            2      192

In [34]:
# sve to csv
df.to_csv('../../static/csv/assessment_test_skills.csv', index=False)

# Test Skills for Fields

In [1]:
import pandas as pd

In [102]:
# load csv
test = pd.read_csv('../../static/csv/test_4.csv')
test.sample()

,question_id,question,description,options,correct_option,field_id,skills_list
37,38,What are the key principles of agile software ...,Describe the core principles of agile methodol...,"[""Individuals and interactions over processes ...",0,1,"[""Agile Software Development"",""Agile Manifesto..."

In [103]:
import ast
# apply ast to skills
test['skills_list'] = test['skills_list'].apply(ast.literal_eval)
test.sample()

,question_id,question,description,options,correct_option,field_id,skills_list
21,22,"What does the term ""Regression Testing"" refer ...",Choose the correct definition of regression te...,"[""Testing to ensure new changes don""t break ex...",0,5,"[Load Testing, Software Testing, Performance T..."

In [104]:
# lower case
test['skills_list'] = test['skills_list'].apply(lambda x: [y.lower() for y in x])
# remove skill and skills
test['skills_list'] = test['skills_list'].apply(lambda x: [y.replace('skill', '') for y in x])
# remove '-'
test['skills_list'] = test['skills_list'].apply(lambda x: [y.replace('-', ' ') for y in x])
# stirp
test['skills_list'] = test['skills_list'].apply(lambda x: [y.strip() for y in x])
# remove empty stirngs ''
test['skills_list'] = test['skills_list'].apply(lambda x: [y for y in x if y != ''])

In [105]:
test.sample(5)

,question_id,question,description,options,correct_option,field_id,skills_list
79,80,How does a Security Incident Response Plan con...,Describe the purpose and components of a Secur...,"[""Provides a structured approach to managing s...",0,6,"[security incident response plan, cybersecurit..."
26,27,"What does ""Phishing"" refer to in the context o...","What does ""Phishing"" refer to in the context o...","[""A type of cyberattack aimed at tricking user...",0,6,"[identity verification, authentication, access..."
5,6,What is the process of cleaning and organizing...,Choose the correct term related to data prepar...,"[""Data Wrangling"", ""Data Elevation"", ""Data Shr...",0,2,"[data cleaning, data preprocessing, data analy..."
74,75,What is the purpose of a Security Policy in an...,Describe the role of a Security Policy in esta...,"[""Guides employees on acceptable security prac...",0,6,"[security policy, organizational security, inf..."
28,29,"What is a ""Firewall"" in the context of network...",Choose the correct definition of a firewall.,"[""A network security device that filters and m...",0,6,"[access control, security principles, authoriz..."

In [139]:
# Assuming df is your DataFrame
test['skill_list'] = test['skills_list'].apply(lambda x: eval(x) if isinstance(x, str) else x)
grouped_test = test.groupby('field_id')['skill_list'].agg(sum).reset_index()

In [140]:
grouped_test

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [108]:
# save to csv
grouped_test.to_csv('../../static/csv/field_skill.csv', index=False)

In [130]:
# load subject_field.csv
subject_field = pd.read_csv('../../static/csv/subject_field.csv')
subject_field.head(2)

,id,subject_name,description,field_id,skill1,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,1,"'problem solving', 'programming', 'algorithms'","['problem solving', 'programming', 'algorithms']"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,1,"'programming', 'coding', 'software development'","['programming', 'coding', 'software development']"

In [131]:
# used ast to convert string to list
subject_field['skill_list'] = subject_field['skill_list'].apply(ast.literal_eval)
subject_field.head(2)

,id,subject_name,description,field_id,skill1,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,1,"'problem solving', 'programming', 'algorithms'","[problem solving, programming, algorithms]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,1,"'programming', 'coding', 'software development'","[programming, coding, software development]"

In [132]:
# lover case
subject_field['skill_list'] = subject_field['skill_list'].apply(lambda x: [y.lower() for y in x])
# remove '-'
subject_field['skill_list'] = subject_field['skill_list'].apply(lambda x: [y.replace('-', ' ') for y in x])
# remove skill and skills
subject_field['skill_list'] = subject_field['skill_list'].apply(lambda x: [y.replace('skill', '') for y in x])
subject_field['skill_list'] = subject_field['skill_list'].apply(lambda x: [y.replace('skills', '') for y in x])
# strip
subject_field['skill_list'] = subject_field['skill_list'].apply(lambda x: [y.strip() for y in x])
# remove empty strings
subject_field['skill_list'] = subject_field['skill_list'].apply(lambda x: [y for y in x if y != ''])

In [133]:
# group to field_id, combine skill_list
subject_field['skill_list'] = subject_field['skill_list'].apply(lambda x: eval(x) if isinstance(x, str) else x)
grouped_subject = subject_field.groupby('field_id')['skill_list'].agg(sum).reset_index()

In [141]:
grouped_test['skill_list'] = grouped_test['skill_list'].apply(lambda d: d if isinstance(d, list) else [])
grouped_test
#grouped_specialization['skill_list'] = grouped_specialization['skill_list'].apply(lambda d: d if isinstance(d, list) else [])

   field_id                                         skill_list
0         1  [version control, source code management, coll...
1         2  [data cleaning, data preprocessing, data analy...
2         3  [design principles, consistency in design, use...
3         4  [product roadmap, product planning, product st...
4         5  [regression testing, software testing, testing...
5         6  [identity verification, authentication, access...

In [146]:
grouped_subject['skill_list'] = grouped_subject['skill_list'].apply(lambda d: d if isinstance(d, list) else [])
grouped_subject
#grouped_specialization['skill_list'] = grouped_specialization['skill_list'].apply(lambda d: d if isinstance(d, list) else [])

   field_id                                         skill_list
0         1  [problem solving, programming, algorithms, pro...
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [150]:
grouped_all = grouped_subject
grouped_all

   field_id                                         skill_list
0         1  [problem solving, programming, algorithms, pro...
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [151]:
# combine grouped_test and grouped_subject' skill_list
grouped_all['skill_list'] = grouped_subject['skill_list'] + grouped_test['skill_list']
grouped_all

   field_id                                         skill_list
0         1  [problem solving, programming, algorithms, pro...
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [152]:
# remove empty on skill_list
grouped_all['skill_list'] = grouped_all['skill_list'].apply(lambda x: [y for y in x if y != ''])
# remove NaN
grouped_all['skill_list'] = grouped_all['skill_list'].apply(lambda x: [y for y in x if str(y) != 'nan'])

In [153]:
# duplicate skill_list 5 times
grouped_all['skill_list'] = grouped_all['skill_list'].apply(lambda x: x * 5)

In [154]:
grouped_all

   field_id                                         skill_list
0         1  [problem solving, programming, algorithms, pro...
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [117]:
# grouped_subject = grouped_subject1

In [155]:
grouped_all['skill_list'] = grouped_all['skill_list'].apply(lambda d: d if isinstance(d, list) else [])
grouped_subject
#grouped_specialization['skill_list'] = grouped_specialization['skill_list'].apply(lambda d: d if isinstance(d, list) else [])

   field_id                                         skill_list
0         1  [problem solving, programming, algorithms, pro...
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [156]:
# load specialization5_.csv
specialization = pd.read_csv('../../static/csv/specialization5_.csv')
specialization.head(2)

,specialization_id,title,field_id,description,roadmap_id,skill_list
0,1,Frontend Developer,1,Front-End Developers are responsible for creat...,1,"['html', 'css', 'javascript', 'web design', 'r..."
1,2,Backend Developer,1,Back-End Developers work on the server-side of...,2,"['node.js', 'python', 'ruby', 'java', 'databas..."

In [157]:
# used ast to convert string to list
specialization['skill_list'] = specialization['skill_list'].apply(ast.literal_eval)
# lower case
specialization['skill_list'] = specialization['skill_list'].apply(lambda x: [y.lower() for y in x])
# remove '-'
specialization['skill_list'] = specialization['skill_list'].apply(lambda x: [y.replace('-', ' ') for y in x])
# remove skill and skills
specialization['skill_list'] = specialization['skill_list'].apply(lambda x: [y.replace('skill', '') for y in x])
specialization['skill_list'] = specialization['skill_list'].apply(lambda x: [y.replace('skills', '') for y in x])
# strip
specialization['skill_list'] = specialization['skill_list'].apply(lambda x: [y.strip() for y in x])
# remove empty strings
specialization['skill_list'] = specialization['skill_list'].apply(lambda x: [y for y in x if y != ''])

In [158]:
# group to field_id, combine skill_list
specialization['skill_list'] = specialization['skill_list'].apply(lambda x: eval(x) if isinstance(x, str) else x)
grouped_specialization = specialization.groupby('field_id')['skill_list'].agg(sum).reset_index()

In [159]:
# get only field id 1-6
grouped_specialization = grouped_specialization[grouped_specialization['field_id'] <= 6]
grouped_specialization = grouped_specialization[grouped_specialization['field_id'] >= 1]
grouped_specialization

   field_id                                         skill_list
1         1  [html, css, javascript, web design, responsive...
2         2  [business intelligence tools, tableau, power b...
3         3  [user interface design, wireframing, prototypi...
4         4  [product management, roadmap planning, agile m...
5         5  [performance improvement, supply chain managem...
6         6  [cybersecurity principles, security tools, fir...

In [160]:
# check if ther is NaN in skill_list
grouped_specialization[grouped_specialization['skill_list'].isna()]

Empty DataFrame
Columns: [field_id, skill_list]
Index: []

In [161]:
# remove emtpy on skill_list
grouped_specialization['skill_list'] = grouped_specialization['skill_list'].apply(lambda x: [y for y in x if y != ''])
# remove NaN
grouped_specialization['skill_list'] = grouped_specialization['skill_list'].apply(lambda x: [y for y in x if str(y) != 'nan'])
# remove ' '
grouped_specialization['skill_list'] = grouped_specialization['skill_list'].apply(lambda x: [y for y in x if y != ' '])

In [162]:
grouped_subject

   field_id                                         skill_list
0         1  [problem solving, programming, algorithms, pro...
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [168]:
grouped_all

   field_id                                         skill_list
0         1                                                NaN
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [164]:
grouped_specialization

   field_id                                         skill_list
1         1  [html, css, javascript, web design, responsive...
2         2  [business intelligence tools, tableau, power b...
3         3  [user interface design, wireframing, prototypi...
4         4  [product management, roadmap planning, agile m...
5         5  [performance improvement, supply chain managem...
6         6  [cybersecurity principles, security tools, fir...

In [167]:
grouped_all2 = grouped_all
grouped_all2

   field_id                                         skill_list
0         1                                                NaN
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...

In [166]:
grouped_all2['skill_list'] = grouped_all2['skill_list'] + grouped_specialization['skill_list']
grouped_all2

   field_id                                         skill_list
0         1                                                NaN
1         2  [formal languages, automata theory, language t...
2         3  [user experience, interface design, usability,...
3         4  [data management, information organization, da...
4         5  [information security, cybersecurity, data pro...
5         6  [operating systems, system administration, com...