In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../static/csv/test_.csv')
df.head()

,question_id,field_id,question,description,options,correct_option,skills_list
0,1,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"[""To track changes in code"", ""To format text"",...",0,"['Version Control', 'Source Code Management', ..."
1,2,1,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"[""Don't Repeat Yourself"", ""Design Reusable Yie...",0,"['Software Development Principles', ""DRY (Don'..."
2,3,1,Which programming language is known for its us...,Identify the programming language commonly ass...,"[""Java"", ""Python"", ""Ruby"", ""C++""]",0,"['Android Development', 'Java Programming', 'M..."
3,4,1,"What does the term ""API"" stand for in software...",Select one option you think is right.,"[""Application Programming Interface"", ""Advance...",0,"['API (Application Programming Interface)', 'S..."
4,5,1,What is the primary purpose of unit testing in...,Select the main objective of unit testing.,"[""To test individual components or functions"",...",0,"['Unit Testing', 'Software Testing', 'Code Qua..."

In [4]:
import ast
# Convert the string representation of lists into actual lists
df['skills_list'] = df['skills_list'].apply(ast.literal_eval)
df.head()

,question_id,field_id,question,description,options,correct_option,skills_list
0,1,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"[""To track changes in code"", ""To format text"",...",0,"[Version Control, Source Code Management, Coll..."
1,2,1,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"[""Don't Repeat Yourself"", ""Design Reusable Yie...",0,"[Software Development Principles, DRY (Don't R..."
2,3,1,Which programming language is known for its us...,Identify the programming language commonly ass...,"[""Java"", ""Python"", ""Ruby"", ""C++""]",0,"[Android Development, Java Programming, Mobile..."
3,4,1,"What does the term ""API"" stand for in software...",Select one option you think is right.,"[""Application Programming Interface"", ""Advance...",0,"[API (Application Programming Interface), Soft..."
4,5,1,What is the primary purpose of unit testing in...,Select the main objective of unit testing.,"[""To test individual components or functions"",...",0,"[Unit Testing, Software Testing, Code Quality]"

In [5]:
# to lower case
df['skills_list'] = df['skills_list'].apply(lambda x: [y.lower() for y in x])
df.head()

,question_id,field_id,question,description,options,correct_option,skills_list
0,1,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"[""To track changes in code"", ""To format text"",...",0,"[version control, source code management, coll..."
1,2,1,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"[""Don't Repeat Yourself"", ""Design Reusable Yie...",0,"[software development principles, dry (don't r..."
2,3,1,Which programming language is known for its us...,Identify the programming language commonly ass...,"[""Java"", ""Python"", ""Ruby"", ""C++""]",0,"[android development, java programming, mobile..."
3,4,1,"What does the term ""API"" stand for in software...",Select one option you think is right.,"[""Application Programming Interface"", ""Advance...",0,"[api (application programming interface), soft..."
4,5,1,What is the primary purpose of unit testing in...,Select the main objective of unit testing.,"[""To test individual components or functions"",...",0,"[unit testing, software testing, code quality]"

In [6]:
# save to csv
df.to_csv('../../static/csv/test_.csv', index=False)

In [7]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skills_list in df['skills_list'] for skill in skills_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

['Version Control', 'Source Code Management', 'Collaborative Development', 'Software Development Principles', "DRY (Don't Repeat Yourself) Principle", 'Code Reusability', 'Android Development', 'Java Programming', 'Mobile App Development', 'API (Application Programming Interface)', 'Software Integration', 'Web Services', 'Unit Testing', 'Software Testing', 'Code Quality', 'Data Cleaning', 'Data Preprocessing', 'Data Analysis', 'Data Visualization', 'Data Analytics', 'Data Dashboards', 'Tableau', 'Data Visualization', 'Data Analytics', 'Data Dashboards', 'Tableau', 'SQL (Structured Query Language)', 'Database Querying', 'Database Management', 'Statistics', 'Median', 'Data Analysis', 'Design Principles', 'Consistency in Design', 'User Interface Design', 'Color Theory', 'Complementary Colors', 'Color Schemes', 'User Testing', 'User Experience Testing', 'Usability Evaluation', 'Design Tools', 'Wireframing', 'Prototyping', 'UI/UX Design Software', 'Product Management', 'Product Manager', 'Feature Prioritization', 'Product Roadmap', 'Product Planning', 'Product Strategy', 'Agile Methodology', 'Iterative Development', 'Customer Feedback', 'Scrum', 'Product Strategy', 'Product Documentation', 'Product Goals', 'MVP (Minimum Viable Product)', 'Product Development', 'Product Launch', 'Software Testing', 'Quality Assurance', 'Defect Detection', 'Regression Testing', 'Software Testing', 'Testing Changes', 'Load Testing', 'Software Testing', 'Performance Testing', 'Usability Testing', 'User Experience Testing', 'User-Centered Design', 'Usability Testing', 'User Experience Testing', 'User-Centered Design', 'Usability Testing', 'User Experience Testing', 'User-Centered Design', 'Identity Verification', 'Authentication', 'Access Control', 'Identity Verification', 'Authentication', 'Access Control', 'Identity Verification', 'Authentication', 'Access Control', 'Access Control', 'Security Principles', 'Authorization', 'Access Control', 'Security Principles', 'Authorization']

In [12]:
# change to lower case
unique_skills = [skill.lower() for skill in all_skills]

In [13]:
# get unique skills
unique_skills = list(set(unique_skills))
print(unique_skills)
# count the number of unique skills
print(len(unique_skills))

['data analysis', 'usability evaluation', 'load testing', 'software integration', 'sql (structured query language)', 'color schemes', 'authorization', 'data preprocessing', 'usability testing', 'tableau', 'database management', 'data analytics', 'mobile app development', 'scrum', 'security principles', 'code reusability', 'performance testing', 'product development', 'version control', 'defect detection', 'user interface design', 'data cleaning', 'database querying', 'api (application programming interface)', 'product strategy', 'product goals', 'collaborative development', 'source code management', 'product management', 'java programming', 'design principles', 'testing changes', 'unit testing', 'product planning', 'product manager', 'statistics', 'data dashboards', 'product roadmap', 'quality assurance', 'product launch', 'identity verification', 'agile methodology', 'android development', 'access control', 'feature prioritization', 'design tools', 'customer feedback', 'mvp (minimum viable product)', 'web services', 'prototyping', 'ui/ux design software', 'software development principles', 'user experience testing', 'complementary colors', 'data visualization', 'user-centered design', 'software testing', 'code quality', 'iterative development', 'user testing', 'median', 'consistency in design', 'product documentation', 'regression testing', 'authentication', 'color theory', "dry (don't repeat yourself) principle", 'wireframing']
68

In [14]:
# change to lower case
unique_skills = [skill.lower() for skill in unique_skills]

In [15]:
# make it a dataframe
unique_skills_df = pd.DataFrame(unique_skills, columns=['skill'])
# add id column, starting from 1
unique_skills_df['id'] = np.arange(len(unique_skills_df)) + 1
# reorder columns
unique_skills_df = unique_skills_df[['id', 'skill']]
unique_skills_df

    id                                  skill
0    1                          data analysis
1    2                   usability evaluation
2    3                           load testing
3    4                   software integration
4    5        sql (structured query language)
..  ..                                    ...
63  64                     regression testing
64  65                         authentication
65  66                           color theory
66  67  dry (don't repeat yourself) principle
67  68                            wireframing

[68 rows x 2 columns]

In [16]:
# save to csv
unique_skills_df.to_csv('../../static/csv/skill_1.csv', index=False)

In [ ]:
# load the csv file
unique_skills_df = pd.read_csv('../../static/csv/skill_1.csv')

In [29]:
skill_mapping = unique_skills_df.set_index('skill')['id'].to_dict()

In [37]:
skill_mapping

{'Software Integration': 1,
 'Database Management': 2,
 "DRY (Don't Repeat Yourself) Principle": 3,
 'Mobile App Development': 4,
 'Usability Evaluation': 5,
 'Software Testing': 6,
 'Product Documentation': 7,
 'Web Services': 8,
 'Design Principles': 9,
 'Feature Prioritization': 10,
 'Authorization': 11,
 'User Testing': 12,
 'Data Visualization': 13,
 'Consistency in Design': 14,
 'Wireframing': 15,
 'Product Strategy': 16,
 'Customer Feedback': 17,
 'Data Preprocessing': 18,
 'Version Control': 19,
 'Code Quality': 20,
 'Color Theory': 21,
 'Access Control': 22,
 'Product Development': 23,
 'Software Development Principles': 24,
 'Scrum': 25,
 'Product Management': 26,
 'Product Roadmap': 27,
 'Color Schemes': 28,
 'Identity Verification': 29,
 'MVP (Minimum Viable Product)': 30,
 'Android Development': 31,
 'Median': 32,
 'Java Programming': 33,
 'Design Tools': 34,
 'Security Principles': 35,
 'Unit Testing': 36,
 'User Experience Testing': 37,
 'Complementary Colors': 38,
 'Data Analysis': 39,
 'Product Goals': 40,
 'Code Reusability': 41,
 'Statistics': 42,
 'Load Testing': 43,
 'User-Centered Design': 44,
 'Authentication': 45,
 'User Interface Design': 46,
 'Data Dashboards': 47,
 'Product Manager': 48,
 'Defect Detection': 49,
 'Performance Testing': 50,
 'SQL (Structured Query Language)': 51,
 'Usability Testing': 52,
 'Regression Testing': 53,
 'Source Code Management': 54,
 'API (Application Programming Interface)': 55,
 'Database Querying': 56,
 'Agile Methodology': 57,
 'Quality Assurance': 58,
 'Iterative Development': 59,
 'Data Cleaning': 60,
 'Prototyping': 61,
 'Product Launch': 62,
 'Tableau': 63,
 'Testing Changes': 64,
 'UI/UX Design Software': 65,
 'Product Planning': 66,
 'Collaborative Development': 67,
 'Data Analytics': 68}

In [41]:
df['skills_list'] = df['skills_list'].apply(lambda skills: [skill_mapping.get(skill) for skill in skills if skill in skill_mapping])
df.head()

,question_id,field_id,question,description,options,correct_option,skills_list
0,1,1,What is the purpose of a version control syste...,Select the most accurate answer related to ver...,"[""To track changes in code"", ""To format text"",...",0,"[19, 54, 67]"
1,2,1,What does DRY stand for in software development?,Choose the correct expansion of the acronym DRY.,"[""Don't Repeat Yourself"", ""Design Reusable Yie...",0,"[24, 3, 41]"
2,3,1,Which programming language is known for its us...,Identify the programming language commonly ass...,"[""Java"", ""Python"", ""Ruby"", ""C++""]",0,"[31, 33, 4]"
3,4,1,"What does the term ""API"" stand for in software...",Select one option you think is right.,"[""Application Programming Interface"", ""Advance...",0,"[55, 1, 8]"
4,5,1,What is the primary purpose of unit testing in...,Select the main objective of unit testing.,"[""To test individual components or functions"",...",0,"[36, 6, 20]"

In [43]:
test_df = df.explode('skills_list')
# get only question_id and skills_list
test_df = test_df[['question_id', 'skills_list']]
test_df

    question_id skills_list
0             1          19
0             1          54
0             1          67
1             2          24
1             2           3
..          ...         ...
28           29          35
28           29          11
29           30          22
29           30          35
29           30          11

[94 rows x 2 columns]

In [44]:
test_df = test_df.rename(columns={'skills_list': 'skill_id'})
test_df

    question_id skill_id
0             1       19
0             1       54
0             1       67
1             2       24
1             2        3
..          ...      ...
28           29       35
28           29       11
29           30       22
29           30       35
29           30       11

[94 rows x 2 columns]

In [48]:
# add test_skill_id column
test_df['id'] = np.arange(len(test_df)) + 1
test_df

C:\Users\aky\AppData\Local\Temp\ipykernel_19008\3030737366.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['id'] = np.arange(len(test_df)) + 1

    test_skill_id  question_id skill_id  id
0               1            1       19   1
0               2            1       54   2
0               3            1       67   3
1               4            2       24   4
1               5            2        3   5
..            ...          ...      ...  ..
28             90           29       35  90
28             91           29       11  91
29             92           30       22  92
29             93           30       35  93
29             94           30       11  94

[94 rows x 4 columns]

In [49]:
# reorder columns
test_df = test_df[['id', 'question_id', 'skill_id']]
test_df

    id  question_id skill_id
0    1            1       19
0    2            1       54
0    3            1       67
1    4            2       24
1    5            2        3
..  ..          ...      ...
28  90           29       35
28  91           29       11
29  92           30       22
29  93           30       35
29  94           30       11

[94 rows x 3 columns]

In [50]:
# save to csv
test_df.to_csv('../../static/csv/test_skill.csv', index=False)