In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../../static/csv/test_.csv')
df.head()

In [ ]:
import ast
# Convert the string representation of lists into actual lists
df['skills_list'] = df['skills_list'].apply(ast.literal_eval)
df.head()

In [ ]:
# to lower case
df['skills_list'] = df['skills_list'].apply(lambda x: [y.lower() for y in x])
df.head()

In [ ]:
# save to csv
df.to_csv('../../static/csv/test_.csv', index=False)

In [ ]:
# Create a list of skills by combining all the skills from the 'skills_list' column
all_skills = [skill for skills_list in df['skills_list'] for skill in skills_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(all_skills)

In [ ]:
# change to lower case
unique_skills = [skill.lower() for skill in all_skills]

In [ ]:
# get unique skills
unique_skills = list(set(unique_skills))
print(unique_skills)
# count the number of unique skills
print(len(unique_skills))

In [ ]:
# change to lower case
unique_skills = [skill.lower() for skill in unique_skills]

In [ ]:
# make it a dataframe
unique_skills_df = pd.DataFrame(unique_skills, columns=['skill'])
# add id column, starting from 1
unique_skills_df['id'] = np.arange(len(unique_skills_df)) + 1
# reorder columns
unique_skills_df = unique_skills_df[['id', 'skill']]
unique_skills_df

In [ ]:
# save to csv
unique_skills_df.to_csv('../../static/csv/skill_1.csv', index=False)

In [ ]:
# load the csv file
unique_skills_df = pd.read_csv('../../static/csv/skill_1.csv')

In [ ]:
skill_mapping = unique_skills_df.set_index('skill')['id'].to_dict()

In [ ]:
skill_mapping

In [ ]:
df['skills_list'] = df['skills_list'].apply(lambda skills: [skill_mapping.get(skill) for skill in skills if skill in skill_mapping])
df.head()

In [ ]:
test_df = df.explode('skills_list')
# get only question_id and skills_list
test_df = test_df[['question_id', 'skills_list']]
test_df

In [ ]:
test_df = test_df.rename(columns={'skills_list': 'skill_id'})
test_df

In [ ]:
# add test_skill_id column
test_df['id'] = np.arange(len(test_df)) + 1
test_df

In [ ]:
# reorder columns
test_df = test_df[['id', 'question_id', 'skill_id']]
test_df

In [ ]:
# save to csv
test_df.to_csv('../../static/csv/test_skill.csv', index=False)

In [ ]:
df = pd.read_csv('../../static/csv/assessment_test_skills.csv')
df.head()

In [5]:
# reodercolumns
df = df[['id', 'skill_id','test_id' ]]
df.head()

   id  skill_id  test_id
0   1        19        1
1   2        28        1
2   3        27        1
3   4        52        2
4   5        67        2

In [ ]:
# save to csv
df.to_csv('../../static/csv/assessment_test_skills.csv', index=False)